<template>
  <lay-page>
    <lay-header title="vlayui">

    </lay-header>
  </lay-page>
</template>

<script>
  import LayPage from '@/vlayui/Layout/page';
  import LayHeader from '@/vlayui/Layout/header';

  export default {
    components: {
      LayPage,
      LayHeader,
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

</style>
