<template>
  <div class="pageitem">
    <p class="money_p">
      <span class="img_span">
        <img src="../assets/base/zhuanzhang.png"
             class="img1"
             alt="">
        <span>转账金额</span>
      </span>

      <span class="amount">¥{{cashDetail.amount}}</span>
    </p>
    <p>请转账至下方银行卡</p>
    <div class="login"
         :class="cashDetail.type">
      <p>

        <img src="../assets/yinlian.png"
             alt>

        <span>银行卡转账</span>
      </p>
      <div style="flex-grow:1">
        <p class="p1">
          {{cashDetail.person}}
          <span @click="copyText(cashDetail.person)">复制</span>
        </p>
        <p>
          <small>{{cashDetail.account}}</small>
          <span @click="copyText(cashDetail.account)">复制</span>
        </p>
      </div>
    </div>

  </div>
</template>

<script type="text/ecmascript-6">
  import {Toast} from "mint-ui";
  import copy from "copy-to-clipboard";

  export default {
    props: ["cashDetail"],
    created() {

    },
    data() {
      return {};
    },
    methods: {
      copyText(e) {
        copy(e);
        Toast("复制成功");
      }
    },
    components: {}
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .pageitem {
    padding: 0 0.48rem;
    background: #fff;

    > p {
      text-align: center;
      font-size: 16px;
    }
  }

  .money_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.7rem 0 0.8rem;

    .img_span {
      > img {
        width: 0.43rem;
        height: 0.43rem;
        // border-radius: 50%;
        vertical-align: middle;
        margin-right: 0.1rem;
      }

      > span {
        vertical-align: middle;
      }
    }

    .amount {
      font-size: 28px;
      margin-top: 0.2rem;
      font-weight: bold;
    }
  }

  .login {
    height: 2.06rem;
    display: flex;
    flex-direction: column;
    margin: .2rem 0 1.668rem;
    padding: 0.3rem;
    border-radius: 5px;
    background: linear-gradient(to right, #ff6191, #ff3156); /* 标准的语法 */

    > div {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      color: #fff;

      span {
        border: 1px solid #fff;
        padding: 1px 5px;
        border-radius: 10px;
        margin-left: 5px;
        font-size: 12px;
        float: right;
      }

      > .p1 {
        margin: .4rem 0 .2rem;
      }
    }

    > p {
      img {
        width: 13%;
        vertical-align: middle;
      }

      span {
        color: #fff;
        vertical-align: middle;
      }
    }
  }

  .alipay {
    background: #00abee;
  }

  .wxpay {
    background: #05ba06;
  }

  .bank {
    background: #fb4b61;
  }
</style>
