<template>
<!--    <i style="background:red;z-index: 888888;width: 8rem;color:#fff;font-weight:900;height: 2.5rem;font-size:1.5rem;float: left">-->
<!--      supreme-->
<!--    </i>-->
  <div>
    <mt-cell title="标题文字" value="说明文字"></mt-cell>
    <mt-cell title="标题文字" value="说明文字"></mt-cell>
    <mt-cell title="标题文字" value="说明文字"></mt-cell>
    <mt-cell title="标题文字" value="说明文字"></mt-cell>
  </div>
</template>

<script type="text/ecmascript-6">
  import { Cell } from 'mint-ui';
  export default {
        name: "pop.levelup"
    }
</script>

<style scoped lang="less">

</style>
