<template>
  <div>
    <div class="lay-tabs">
      <a v-for="(tabItem, index) in tabItems"
         class="lay-tab-item"
         :class="{'active': activeIndex === index}"
         @click="tabClicked(index)" v-text="tabItem">
      </a>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      position: {
        type: String,
        default: 'top'
      },
      bgColor: {
        type: String,
        default: 'light'
      },
      tabColor: {
        type: String,
        default: 'positive'
      },
      tabItems: {
        type: Array,
        required: true
      },
      tabIndex: {
        type: Number,
        required: true,
        validator(value) {
          return value >= 0
        }
      },
      onTabClick: {
        type: Function
      }
    },

    computed: {
      activeIndex: function () {
        return this.tabIndex
      }
    },

    mounted() {
      let className = `lay-tabs-striped lay-tabs-${this.position} lay-tabs-background-${this.bgColor} lay-tabs-color-${this.tabColor}`;
      this.$el.className = className;
    },

    methods: {
      tabClicked(index) {
        this.onTabClick && this.onTabClick(index)
      }
    }
  }
</script>

<style scoped lang="less">
  @import "../variables";

  .lay-tabs-top .lay-tab-item {
    flex: 1;
    display: block;
    overflow: hidden;
    height: 34px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .lay-tabs-top > .lay-tabs {
    box-sizing: border-box;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    transform: translate3d(0, 0, 0);
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #444;
    bottom: 0;
    z-index: 5;
    width: 100%;
    padding: 0 36px;
    height: 36px;
    line-height: 36px;
    background-size: 0;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid #6C2DFE;
  }

  .active {
    border-width: 1px !important;
    border-style: solid;
    border-color: #6C2DFE #6C2DFE #fff #6C2DFE !important;
  }
</style>

