<template>
  <ul>
    <li class="activity-con">
      <div class="activity-con-item">
        <img :src="good.thumb" alt="">
        <div class="title">{{good.subject}}</div>
        <div class="price"><span>{{good.price}}</span>博币</div>
        <div class="time">本次购买应付款</div>
      </div>
    </li>
  </ul>
</template>

<script type="text/ecmascript-6">
  import {Indicator, Toast} from "mint-ui";
  import {get_goods} from "@/common/api";

  export default {
    props: ['good'],
    data() {
      return {};
    },
    created() {
      // this.ajax(this.page);
    },
    methods: {
      ajax(page) {
        get_goods({}, page).then(res => {
          this.goodsdata = res.goodsdata;
        });
      },
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .activity-con {
    margin-top: 10px;
    padding: 0 15px;

    .activity-con-item {
      width: 100%;
      position: relative;
      height: 106px;
      margin-bottom: 20px;

      > img {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        background: red;
        width: 106px;
        height: 106px;
      }

      .title {
        position: absolute;
        left: 120px;
        top: 0;
        right: 0;
        height: 42px;
        font-size: 15px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 21px;
        overflow: hidden;
      }

      .price {
        position: absolute;
        left: 120px;
        top: 68px;
        height: 32px;
        font-size: 15px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(255, 63, 30, 1);
        line-height: 32px;

        > span {
          font-size: 23px;
          padding-right: 10px;
        }
      }

      .time {
        position: absolute;
        top: 48px;
        left: 120px;
        height: 18px;
        font-size: 13px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 18px;
      }

      .pro-con {
        position: absolute;
        left: 120px;
        right: 0;
        bottom: -10px;
        height: 35px;

        .left {
          position: absolute;
          left: 0;
          height: 17px;
          font-size: 12px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 17px;
        }

        .right {
          position: absolute;
          right: 0;
          height: 17px;
          font-size: 12px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 17px;
        }

        .mt-progress {
          padding-top: 10px !important;
        }
      }
    }
  }
</style>
