<template>
  <ul v-infinite-scroll="loadMore"
      infinite-scroll-disabled="loading"
      infinite-scroll-distance="10">
    <li class="activity-con" v-for="(item,index) in goodsdata" :key="index">
      <div class="activity-con-item" @click="goLink(item)">
        <img :src="item.thumb" alt="">
        <div class="title">{{item.subject}}</div>
        <div class="price"><span>{{item.price}}</span>博币</div>
        <div class="time">{{item.endtime}}</div>
        <div class="pro-con">
          <div class="left">已抢购{{item.buycount}}件</div>
          <div class="right">剩余{{item.total}}件</div>
          <mt-progress :value="Number(item.pre)" :bar-height="5"></mt-progress>
        </div>
      </div>
    </li>
  </ul>
</template>

<script type="text/ecmascript-6">
  import {Indicator, Toast} from "mint-ui";
  import {get_goods} from "@/common/api";

  export default {
    data() {
      return {
        page: 1,
        listEnd: false,
        loading: false,
        goodsdata: [{
          "tid": "304995",
          "uid": "182538",
          "total": "8338",
          "aid": "124810",
          "price": "58",
          "mprice": "20.00",
          "jj": "0",
          "time": "1551947160",
          "endtime": "2020-03-07 16:26:00",
          "mod": "0",
          "type": "1",
          "state": "1",
          "subject": "【博天堂商城】+同升国际58博币兑换20元彩金",
          "xg": "0",
          "credit": "2",
          "buycount": "550",
          "pre": "93.811881188119",
          "thumb": "forum.php?mod=image&aid=124810&size=170x170&key=c41c341d90993128",
          "credis": "2",
          "creditname": "博币"
        }],
      };
    },
    created() {
      this.ajax(this.page);
    },
    methods: {
      goLink(item) {
        this.$router.push({
          path: '/welfareDetail',
          query: {
            good: JSON.stringify({
              tid: item.tid
            }),
          }
        });
      },
      ajax(page) {
        get_goods({}, page).then(res => {
          this.goodsdata = res.goodsdata;
        });
      },
      loadMore() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        this.page = this.page + 1;
        get_goods({}, this.page).then(res => {
          Indicator.close();
          this.loading = false;
          if (res.goodsdata && res.goodsdata.length > 0) {
            this.goodsdata = this.goodsdata.concat(res.goodsdata);
          } else {
            this.listEnd = true;
            Toast("没有更多数据了!");
          }
        });
      },
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .activity-con {
    margin-top: 10px;
    padding: 0 15px;

    .activity-con-item {
      width: 100%;
      position: relative;
      height: 106px;
      margin-bottom: 20px;

      > img {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        background: red;
        width: 106px;
        height: 106px;
      }

      .title {
        position: absolute;
        left: 120px;
        top: 0;
        right: 0;
        height: 42px;
        font-size: 15px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 21px;
        overflow: hidden;
      }

      .price {
        position: absolute;
        left: 120px;
        top: 48px;
        height: 32px;
        font-size: 15px;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(255, 63, 30, 1);
        line-height: 32px;

        > span {
          font-size: .35rem;
          padding-right: 5px;
        }
      }

      .time {
        position: absolute;
        top: 58px;
        right: 0;
        height: 18px;
        font-size: 13px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 18px;
      }

      .pro-con {
        position: absolute;
        left: 120px;
        right: 0;
        bottom: -10px;
        height: 35px;

        .left {
          position: absolute;
          left: 0;
          height: 17px;
          font-size: 12px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 17px;
        }

        .right {
          position: absolute;
          right: 0;
          height: 17px;
          font-size: 12px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 17px;
        }

        .mt-progress {
          padding-top: 10px !important;
        }
      }
    }
  }
</style>
