<template>
  <div class="page">
    <bottom-bar></bottom-bar>
    <div class="page-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import BottomBar from "@/components/homes/layout/bottomBar";

  export default {
    components: {
      BottomBar
    },
  }
</script>

<style scoped>
  .page {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
  }

  .page-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    height: auto;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 50px;
  }

</style>
