<template>
    <div>
        <div class="mask" @click="closeMark" ></div>
        <!-- <transition-group name="regPop"> -->
        <div class="bindCode" v-for="(item,i) in regMsg" :key="i" @click.stop="closeMark(item)">
          <i class="iconfont icon-guanbi" @click.stop="closeMark(item)"></i>
          <div>
            <h4>恭喜您获得</h4>
            <p>{{item.amount}}元</p>
            <span>体验金</span>
            <!--{{regMsg}}-->
          </div>
        </div>
        <!-- </transition-group> -->
        
    </div>
</template>

<script type="text/ecmascript-6">
  import {award_read_api} from "@/common/api"
export default {
  data() {
    return {
      gonggaoshow: false // 弹框控制
    }
  },
props:['regMsg'],
  methods: {
    closeMark(item) {
      award_read_api({id:item.id}).then(res=>{
      
      })
        this.regMsg.pop()
      if(this.regMsg.length==0){
        this.gonggaoshow = false
        document.body.style.overflow = "scroll"
        this.$emit("closereg", this.gonggaoshow);
      }
    },
    goto(item){
        location.href=item
    }
  },
  components: {},
  watch:{
      gonggaoshow(n){
          n? document.body.style.overflow = "hidden" :  document.body.style.overflow = "scroll";
      },
    // regMsg:{
    //   handler(n){
    //     console.log(n)
    //   },
    //   deep:true
    // }
  }
};
</script>

<style scoped>
.bindCode {
  width: 75%;
  height: 50%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(/static/regpop.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
  z-index: 11;
}
.bindCode i {
  font-size: 30px;
  position: absolute;
  right: -10%;
  top: -20%;
  color: #fff;
}
.bindCode>div{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.bindCode>div>h4{
  margin: 0;
}
.bindCode>div>p{
  color: #FE3959;
  font-size: 20px;
}
.bindCode>div>span{
  font-size: 12px;
}
.regPop-enter-active {
  transition: all .3s ease;
}
.regPop-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.regPop-enter, .regPop-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
