<template>
  <div>
    <div class="mask"></div>
    <div class="bindCode">
      <div>
        <p class="padded">请绑定您的手机号</p>
        <p class="userInput"
           v-show="!isMobile">
          <input type="number"
                 v-model="mobile"
                 :placeholder="phone"
                 @click="phoneHoder">
          <span v-if="colorre">请绑定您的手机号</span>
          <span v-else style="color:red">请绑定您的手机号</span>
        </p>
        <div class="userInput" v-show="!isMobile">
          <div>
            <input type="number"
                   v-model="vcode"
                   :placeholder="vcodeT"
                   style="width:50%;margin-right:.3rem"
                   @click="codeHoder">
            <span :class="active?'red':''"
                  @click="getCode"
                  style>{{prompt}}</span>
          </div>
          <span v-if="colorre">请输入验证码</span>
          <span v-else style="color:red">请输入验证码</span>
        </div>
        <p style="padding:0 .8rem">
          <mt-button type="danger"
                     size="large"
                     @click="ajax">确认
          </mt-button>
        </p>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {mobile_api, mobile_bind_api} from "@/common/api";
  import {Toast} from "mint-ui";
  import {mapMutations, mapGetters} from "vuex";

  export default {
    computed: {
      isMobile() {
        return this.initData.isMobile;
      },
      ...mapGetters(["initData"])
    },
    data() {
      return {
        place: "用户名",
        paddw: "密码",
        phone: "手机号码",
        vcodeT: "验证码",
        gonggaoshow: false, // 弹框控制
        usernamedata: "",
        password: "",
        mobile: "",
        number: 0,
        vcode: "",
        prompt: "获取验证码",
        active: false,
        colorre: true,
        reg: /^[a-zA-Z0-9]{4,10}$/,
        regPass: /^[a-zA-Z0-9]{6,18}$/,
        regMobile: /^[1][3,4,5,6,7,8,9][0-9]{9}$/
      };
    },
    props: ["gonggao"],
    methods: {
      ...mapMutations({
        initData_Mua: "INIT_DATA", // 将 `this.initData_Mua()` 映射为 `this.$store.commit('INIT_DATA')`
        updateData_Mua: "UPDATE_DATA"
      }),
      placeHoder() {
        this.place = "";
      },
      paddwHoder() {
        this.paddw = "";
      },
      phoneHoder() {
        this.phone = "";
      },
      codeHoder() {
        this.vcodeT = "";
      },
      goto(item) {
        location.href = item;
      },
      // 获取验证码
      getCode() {
        if (this.active && this.mobile && this.number === 0) {
          this.number = 60;
          this.active = false;
          this.prompt = "重新发送" + this.number;
          let timer = setInterval(() => {
            this.number--;
            this.prompt = "重新发送" + this.number;
            if (this.number < 1) {
              clearInterval(timer);
              this.active = true;
              this.prompt = "获取验证码";
            }
          }, 1000);
          mobile_api({type: "register", mobile: this.mobile}).then(res => {
            Toast(res.msg);
          });
          return;
        } else if (this.number !== 0) {
          // Toast("请不要重复发送");
          return;
        } else {
          Toast("请输入手机号码");
          return;
        }
      },
      ajax() {

        if (!this.regMobile.test(this.mobile)) {
          return Toast({
            message: "手机号码格式不正确"
          });
        }

        let data = {
          mobile: this.mobile,
          vcode: this.vcode
        };

        mobile_bind_api(data).then(res => {
          if (res.code === 200) {
            if (this.isMobile) {
              this.updateData_Mua({
                username: this.usernamedata,
              });
            } else {
              this.updateData_Mua({
                username: this.usernamedata,
                mobile: this.mobile,
                isMobile: this.mobile
              });
            }
            this.gonggaoshow = false;
            this.$emit("closeusername", this.gonggaoshow);
          } else {
            Toast(res.msg);
          }
        });

      }
    },
    watch: {
      mobile(n, o) {
        this.regMobile.test(n) ? (this.active = true) : (this.active = false);
      }
    }
  }
</script>

<style scoped>
  .mask {
    z-index: 9999;
  }

  .bindCode {
    width: 80%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    z-index: 10000;
  }

  .bindCode input {
    color: #666666;
  }

  .padded {
    font-size: 18px;
    color: #333;
    padding: 0.3rem 0;
  }

  .userInput {
    height: 1rem;
    background: #f2f2f2;
    font-size: 14px;
    margin: 0px 20px 35px 20px;
  }

  .userInput span {
    color: #c5c5c5;
  }

  .userInput .red {
    color: red;
  }

  input {
    width: 100%;
    height: 1rem;
    background: none;
    outline: none;
    border: 0;
    padding-left: 0.3rem;
    font-size: 15px;
  }

  input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #666666;
  }
</style>
