<template>
  <div class="lay-spinner-snake"></div>
</template>

<script>
  export default {}
</script>

<style scoped lang="less" rel="stylesheet/less">
  .lay-spinner-snake {
    display: inline-block;
    border: 4px solid transparent;
    border-top-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    height: 5px;
    width: 5px;
    -webkit-animation: lay-spinner-rotate 0.8s infinite linear;
    animation: lay-spinner-rotate 0.8s infinite linear;
    border-radius: 50%;
  }

  @keyframes lay-spinner-rotate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>
