<template>
  <div :class="classObject"></div>
</template>

<script>
  export default {
    props: {
      theme: String, //assertive,positive,balanced,energized,calm,royal,dark,light,violet,gray,orange,alink
      border: Boolean, // true or false
      size: {
        type: String, // middle large small
        default: 'middle',
      },
    },
    computed: {
      classObject: function () {
        let obj = {
          'lay-add': true,
        };

        if (this.border) {
          obj['lay-add-border'] = true;
        }

        if (this.size) {
          obj[`lay-add-${this.size}`] = true;
        }

        if (this.theme) {
          obj[`button-${this.theme}`] = true;
        }

        return obj;
      }
    },
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  //https://blog.csdn.net/Helloyongwei/article/details/83242871
  .lay-add {
    display: inline-block;
    color: #ccc;
    transition: color .25s;
    position: relative;
  }

  .lay-add-middle {
    @wh: 24px;
    width: @wh;
    height: @wh;

    //横线
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20px;
      transform: translate(-50%, -50%);
      border-top: 3px solid;
    }

    //竖线
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      height: 20px;
      transform: translate(-50%, -50%);
      border-left: 3px solid;
    }
  }

  .lay-add-border {
    border: 1px solid;
  }
</style>
