// =============================================
// @des:            zless
// @author:       	Busy
// @url:            www.aibusy.com
// @time:           2013-12-08
// @lastTime     	2014-03-08
// @version       	0.3 beta
// =============================================

// common reset use kissy reset
.reset() {
  * {
    margin: 0;
    padding: 0;
  }
  ul, ol {
    list-style: none;
  }
  img {
    border: none;
  }
  input, select, textarea {
    outline: none;
    border: none;
    background: none;
  }
  textarea {
    resize: none;
  }
  a {
    text-decoration: none;
  }
}

.reset-sina() {
  html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
  }
  fieldset, img {
    border: none;
  }
  img {
    display: block;
  }
  address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
  }
  ul, ol {
    list-style: none;
  }
  input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
  }
  input::-moz-focus-inner {
    border: none;
    padding: 0;
  }
  select, input {
    vertical-align: middle;
  }
  select, input, textarea {
    font-size: 12px;
    margin: 0;
  }
  input[type="text"], input[type="password"], textarea {
    outline-style: none;
    -webkit-appearance: none;
  }
  textarea {
    resize: none;
  }
  input, textarea {
    background: none;
    border: none;
  }
  table {
    border-collapse: collapse;
  }
  body {
    color: #333;
    font: 12px/20px "SimSun", "宋体", "Arial Narrow", HELVETICA;
    background: #fff;
  }
  a {
    color: #666;
    text-decoration: none;
  }
  a:visited {
    color: #666;
  }
  a:hover, a:active, a:focus {
    color: #ff8400;
    text-decoration: underline;
  }
}

//去除a和label的虚线
.remove_dotted() {
  a, label {
    blr: ~'expression(this.onFocus=this.blur())'
  }
  a, label {
    outline: none;
  }
}

//浮动
.fl(@f:left;) {
  float: @f;
  display: inline;
}

.fr(@f:right) {
  float: @f;
  display: inline;
}

//定位
.rel(@rel:relative) {
  position: @rel;
}

.abs(@abs:absolute) {
  position: @abs;
}

.fix(@fix:fixed) {
  position: @fix;
}

//全局定位
.pos (r) {
  position: relative;
}

.pos (a) {
  position: absolute;
}

.pos (f) {
  position: fixed;
}

.pos-box(@w:500px,@h:400px,@pos:absolute) {
  width: @w;
  height: @h;
  position: @pos;
  left: 0;
  top: 0;
}

//定位居中
.pos-box-cc(@w:600px,@h:360px,@pos:absolute) {
  width: @w;
  height: @h;
  position: @pos;
  left: 50%;
  top: 50%;
  margin-left: -@w / 2;
  margin-top: -@h / 2;
}

//布局
.bc() {
  margin-left: auto;
  margin-right: auto;
}

.bc-d(@w:500px) {
  width: @w;
  .bc();
}

.wh(@w) {
  width: @w;
  height: @w;
}

.w-be-h(@w) {
  width: @w;
  height: @w;
}

.z-index(@index:1) {
  z-index: @index;
}

//高度100%
.h100() {
  height: 100%;
}

//文字垂直居中
.txt-ver(@h) {
  height: @h;
  line-height: @h;
}

// 同.txt-ver
.l-h(@h) {
  height: @h;
  line-height: @h;
}

//display
.d-b() {
  display: block;
}

.d-i() {
  display: inline;
}

.d-ib() {
  display: inline-block;
}

.d-ib7() {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.d-t() {
  display: table;
}

.d-n() {
  display: none;
}

//font family
.font-fm() {
  font-family: "Microsoft Yahei", "微软雅黑";
}

.font-fs() {
  font-family: "SimSun", "宋体";
}

.font-fa() {
  font-family: "Arial";
}

.font-fv() {
  font-family: Verdana;
}

//font weight
.font-w700() {
  font-weight: 700;
}

.font-wb() {
  font-weight: bold;
}

.font-w400() {
  font-weight: 400;
}

.font-wn() {
  font-weight: normal;
}

//font size
.font-s(@p: 12px) {
  font-size: @p;
}

.font-s0() {
  font-size: 0px;
}

.font-s1() {
  font-size: 1px;
}

.font-s2() {
  font-size: 2px;
}

.font-s3() {
  font-size: 3px;
}

.font-s4() {
  font-size: 4px;
}

.font-s5() {
  font-size: 5px;
}

.font-s6() {
  font-size: 6px;
}

.font-s7() {
  font-size: 7px;
}

.font-s8() {
  font-size: 8px;
}

.font-s9() {
  font-size: 9px;
}

.font-s10() {
  font-size: 10px;
}

.font-s11() {
  font-size: 11px;
}

.font-s12() {
  font-size: 12px;
}

.font-s13() {
  font-size: 13px;
}

.font-s14() {
  font-size: 14px;
}

.font-s15() {
  font-size: 15px;
}

.font-s16() {
  font-size: 16px;
}

.font-s17() {
  font-size: 17px;
}

.font-s18() {
  font-size: 18px;
}

.font-s19() {
  font-size: 19px;
}

.font-s20() {
  font-size: 20px;
}

.font-s21() {
  font-size: 21px;
}

.font-s22() {
  font-size: 22px;
}

.font-s23() {
  font-size: 23px;
}

.font-s24() {
  font-size: 24px;
}

.font-s25() {
  font-size: 25px;
}

.font-s26() {
  font-size: 26px;
}

.font-s27() {
  font-size: 27px;
}

.font-s28() {
  font-size: 28px;
}

.font-s29() {
  font-size: 29px;
}

.font-s30() {
  font-size: 30px;
}

.font-s31() {
  font-size: 31px;
}

.font-s32() {
  font-size: 32px;
}

.font-s33() {
  font-size: 33px;
}

.font-s34() {
  font-size: 34px;
}

.font-s35() {
  font-size: 35px;
}

.font-s36() {
  font-size: 36px;
}

.font-s37() {
  font-size: 37px;
}

.font-s38() {
  font-size: 38px;
}

.font-s39() {
  font-size: 39px;
}

.font-s40() {
  font-size: 40px;
}

.font-s41() {
  font-size: 41px;
}

.font-s42() {
  font-size: 42px;
}

.font-s43() {
  font-size: 43px;
}

.font-s44() {
  font-size: 44px;
}

.font-s45() {
  font-size: 45px;
}

.font-s46() {
  font-size: 46px;
}

.font-s47() {
  font-size: 47px;
}

.font-s48() {
  font-size: 48px;
}

.font-s49() {
  font-size: 49px;
}

.font-s50() {
  font-size: 50px;
}

.font-s51() {
  font-size: 51px;
}

.font-s52() {
  font-size: 52px;
}

.font-s53() {
  font-size: 53px;
}

.font-s54() {
  font-size: 54px;
}

.font-s55() {
  font-size: 55px;
}

.font-s56() {
  font-size: 56px;
}

.font-s57() {
  font-size: 57px;
}

.font-s58() {
  font-size: 58px;
}

.font-s59() {
  font-size: 59px;
}

.font-s60() {
  font-size: 60px;
}

.font-s61() {
  font-size: 61px;
}

.font-s62() {
  font-size: 62px;
}

.font-s63() {
  font-size: 63px;
}

.font-s64() {
  font-size: 64px;
}

.font-s65() {
  font-size: 65px;
}

.font-s66() {
  font-size: 66px;
}

.font-s67() {
  font-size: 67px;
}

.font-s68() {
  font-size: 68px;
}

.font-s69() {
  font-size: 69px;
}

.font-s70() {
  font-size: 70px;
}

.font-s71() {
  font-size: 71px;
}

.font-s72() {
  font-size: 72px;
}

.font-s73() {
  font-size: 73px;
}

.font-s74() {
  font-size: 74px;
}

.font-s75() {
  font-size: 75px;
}

.font-s76() {
  font-size: 76px;
}

.font-s77() {
  font-size: 77px;
}

.font-s78() {
  font-size: 78px;
}

.font-s79() {
  font-size: 79px;
}

.font-s80() {
  font-size: 80px;
}

.font-s81() {
  font-size: 81px;
}

.font-s82() {
  font-size: 82px;
}

.font-s83() {
  font-size: 83px;
}

.font-s84() {
  font-size: 84px;
}

.font-s85() {
  font-size: 85px;
}

.font-s86() {
  font-size: 86px;
}

.font-s87() {
  font-size: 87px;
}

.font-s88() {
  font-size: 88px;
}

.font-s89() {
  font-size: 89px;
}

.font-s90() {
  font-size: 90px;
}

.font-s91() {
  font-size: 91px;
}

.font-s92() {
  font-size: 92px;
}

.font-s93() {
  font-size: 93px;
}

.font-s94() {
  font-size: 94px;
}

.font-s95() {
  font-size: 95px;
}

.font-s96() {
  font-size: 96px;
}

.font-s97() {
  font-size: 97px;
}

.font-s98() {
  font-size: 98px;
}

.font-s99() {
  font-size: 99px;
}

.font-s100() {
  font-size: 100px;
}

//background
.bg(@url) {
  background: url(@url) 0 0 repeat;
}

.bg-m(@url,@x:0,@y:0,@repeat:no-repeat) {
  background: url(@url) @x @y @repeat;
}

.bgi(@url) {
  background-image: url(@url);
}

.bgp(@x:0,@y:0) {
  background-position: @x @y;
}

.bgr-r() {
  background-repeat: repeat;
}

.bgr-x() {
  background-repeat: repeat-x;
}

.bgr-y() {
  background-repeat: repeat-y;
}

.bgr-no() {
  background-repeat: no-repeat;
}

.bga-fix() {
  background-attachment: fixed;
}

//lis
.list-sn() {
  list-style: none;
}

//text
.text-n(@p: none) {
  text-decoration: @p;
}

//添加下划线
.tu() {
  text-decoration: underline;
}

.tn() {
  text-decoration: none;
}

.tl() {
  text-align: left;
}

.text-l() {
  text-align: left;
}

.tc() {
  text-align: center;
}

.text-c() {
  text-align: center;
}

.tr() {
  text-align: right;
}

.text-r() {
  text-align: right;
}

//特殊需求
.min-width(@width) {
  min-width: @width;
  _width: @width;
}

.max-width(@width,@id) {
  max-width: @width;
  _width: ~'expression(document.getElementById("@{id}").offsetHeight>parseInt("@{width}")?"@{width}": "auto")';
  overflow: hidden;
}

.min-height(@height) {
  min-height: @height;
  _height: @height;
}

.max-height(@height,@id) {
  max-height: @height;
  _height: ~'expression(document.getElementById("@{id}").offsetHeight>parseInt("@{height}")?"@{height}": "auto")';
  overflow: hidden;
}

//三角
.triangle (top,@w:5px,@color:#ccc) {
  border-style: solid dashed dashed dashed;
  border-color: @color transparent transparent transparent;
  border-width: @w;
}

.triangle (right,@w:5px,@color:#ccc) {
  border-style: dashed solid dashed dashed;
  border-color: transparent @color transparent transparent;
  border-width: @w;
}

.triangle (bottom,@w:5px,@color:#ccc) {
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent @color transparent;
  border-width: @w;
}

.triangle (left,@w:5px,@color:#ccc) {
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent @color;
  border-width: @w;
}

.triangle (@_,@w:5px,@color:#ccc) {
  .triangle-compatible();
}

//边框附加内容
.triangle-compatible() {
  width: 0;
  height: 0;
  overflow: hidden;
}

//单独方向
.triangle-b(@w:5px,@color:#ccc) {
  border-style: solid dashed dashed dashed;
  border-color: @color transparent transparent transparent;
  border-width: @w;
  .triangle-compatible();
}

.triangle-l(@w:5px,@color:#ccc) {
  border-style: dashed solid dashed dashed;
  border-color: transparent @color transparent transparent;
  border-width: @w;
  .triangle-compatible();
}

.triangle-t(@w:5px,@color:#ccc) {
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent @color transparent;
  border-width: @w;
  .triangle-compatible();
}

.triangle-r(@w:5px,@color:#ccc) {
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent @color;
  border-width: @w;
  .triangle-compatible();
}

//透明度
.opa(@opacity: 80) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}

.rgba(@red, @green, @blue, @alpha:1) {
  @filtercolor: `(_f = function(d){ var v = (parseInt(d)|0).toString(16);return v.length<2 ? "0"+v : v;},
                                        '#'+_f(@{alpha}*255) + _f(@{red}) + _f(@{green})+ _f(@{blue}))`;

  background-color: ~'rgba(@{red},@{green},@{blue},@{alpha})';
  -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{filtercolor}',endColorstr='@{filtercolor}')";
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{filtercolor}',endColorstr='@{filtercolor}')";
}

.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

//文字省略号
// @substract单位为%
.ellipsis-basic() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .font-fa();
}

.ellipsis(@substract:0) {
  .ellipsis-basic();
  width: 100% - @substract;
}

// =============================================
// .jumbotron {
//   .retina-image("/img/bg-1x.png", "/img/bg-2x.png", 100px, 100px);
// }
// =============================================


.retina-image(@file-1x, @file-2x, @width-1x, @height-1x) {
  background-image: url("@{file-1x}");

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {
    background-image: url("@{file-2x}");
    background-size: @width-1x @height-1x;
  }
}

// =============================================
// 创建24列 自适应流式布局
// HTML结构:
// <div class="vl-fluid"> <div class="row-fluid"> <div class="span span6 first-child"></div> <div class="span span6"></div> <div class="span span6"></div> <div class="span span6"></div> </div> <div class="row-fluid"> <div class="span span8 first-child"></div> <div class="span span8"></div> <div class="span span8"></div> </div> <div class="row-fluid"> <div class="span span12 first-child"></div> <div class="span span12"></div> </div> </div>
// =============================================

.makeFluid(@colnum: 24, @colwidth: 30px, @margin: 10px) {
  @gridColumns: @colnum;
  @gridColumnWidth: @colwidth;
  @gridGutterWidth: @margin;
  @gridRowWidth: (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));
  @fluidGridColumnWidth: percentage(@gridColumnWidth/@gridRowWidth);
  @fluidGridGutterWidth: percentage(@gridGutterWidth/@gridRowWidth);
  .fluid (@fluidGridColumnWidth, @fluidGridGutterWidth) {

    .spanX (@index) when (@index > 0) {
      .span@{index} {
        .span(@index);
      }
      .spanX(@index - 1);
    }
    .spanX (0) {
    }

    .offsetX (@index) when (@index > 0) {
      .offset@{index} {
        .offset(@index);
      }
      .offset@{index}:first-child {
        .offsetFirstChild(@index);
      }
      .offsetX(@index - 1);
    }
    .offsetX (0) {
    }

    .offset (@columns) {
      margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) + (@fluidGridGutterWidth*2);
      *margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%) + (@fluidGridGutterWidth*2) - (.5 / @gridRowWidth * 100 * 1%);
    }

    .offsetFirstChild (@columns) {
      margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) + (@fluidGridGutterWidth);
      *margin-left: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%) + @fluidGridGutterWidth - (.5 / @gridRowWidth * 100 * 1%);
    }

    .span (@columns) {
      width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1));
      *width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%);
    }

    .row-fluid {
      width: 100%;
      .clearfix();

      .span {
        float: left;
        margin-left: @fluidGridGutterWidth;
        *margin-left: @fluidGridGutterWidth - (.5 / @gridRowWidth * 100 * 1%);
      }

      .first-child {
        margin-left: 0;
      }

      // Space grid-sized controls properly if multiple per line
      .controls-row [class*="span"] + [class*="span"] {
        margin-left: @fluidGridGutterWidth;
      }

      // generate .spanX and .offsetX
      .spanX (@gridColumns);
      .offsetX (@gridColumns);
    }
  }

  .vl-fluid {
    .fluid (@fluidGridColumnWidth, @fluidGridGutterWidth);
  }
}

// =============================================
// 创建栅格布局
// 默认950宽 24列 每列30px 间距10px
// html结构
// <div class="vl-grid"> <div class="row"> <div class="span span6"></div> <div class="span span6"></div> <div class="span span6"></div> <div class="span span6"></div> </div> <div class="row"> <div class="span span24"></div> </div> </div>
// =============================================
//栅格化

.makeGrid(@colnum: 24, @colwidth: 30, @margin: 10px) {

  //列数
  @gridColumns: @colnum;
  //每一列宽度
  @gridColumnWidth: @colwidth;
  //间距
  @gridGutterWidth: @margin;
  //行宽度 = (列数 * 每一列的宽度 ) + (margin * (列数-1));
  @gridRowWidth: (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

  //每一列的宽度 间距
  .gridX (@gridColumnWidth, @gridGutterWidth) {
    .spanX (@index) when (@index > 0) {
      .span@{index} {
        .span(@index);
      }
      .spanX(@index - 1);
    }
    .spanX (0) {
    }

    .offsetX (@index) when (@index > 0) {
      .offset@{index} {
        .offset(@index);
      }
      .offsetX(@index - 1);
    }
    .offsetX (0) {
    }

    .offset (@columns) {
      margin-left: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns + 1));
    }

    .span (@columns) {
      width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
    }

    .row {
      margin-left: @gridGutterWidth * -1;
      .clearfix();
    }

    .span {
      float: left;
      min-height: 1px; // prevent collapsing columns
      //background-color: #ccc; //this is a test - busy
      margin-left: @gridGutterWidth;
    }

    // generate .spanX and .offsetX
    .spanX (@gridColumns);
    .offsetX (@gridColumns);

  }
  .vl-grid {
    .gridX(@gridColumnWidth, @gridGutterWidth);
  }

}

// =============================================
// 创建Metro风格布局
// 默认950宽 6列 每列150px 间距10px
// html结构
//<div class="vl-metro"> <div class="row"> <div class="span span2"> <div class="row"> <div class="span span2 line2"></div> <div class="span span2 line1"></div> </div> </div> <div class="span span2"> <div class="row"> <div class="span span1 line2"></div> <div class="span span1"> <div class="row"> <div class="span span1 line1"></div> <div class="span span1 line1"></div> </div> </div> </div> <div class="row"> <div class="span span2 line1"></div> </div> </div> <div class="span span2"> <div class="row"> <div class="span span2 line1"></div> <div class="span span2 line2"></div> </div> </div> </div> </div>
// =============================================

.makeMetro(@colnum: 6, @colwidth: 150px, @margin: 10px) {

  @gridColumns: @colnum;
  @gridColumnWidth: @colwidth;
  @gridGutterWidth: @margin;
  @gridRowWidth: (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));


  .metroX (@gridColumnWidth, @gridGutterWidth) {
    .spanX (@index) when (@index > 0) {
      .span@{index} {
        .span(@index);
      }
      .spanX(@index - 1);
    }
    .spanX (0) {
    }
    .lineX (@index) when (@index > 0) {
      .line@{index} {
        .line(@index);
      }
      .lineX(@index - 1);
    }
    .lineX (0) {
    }

    .offsetX (@index) when (@index > 0) {
      .offset@{index} {
        .offset(@index);
      }
      .offsetX(@index - 1);
    }
    .offsetX (0) {
    }

    .offset (@columns) {
      margin-left: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns + 1));
    }

    .span (@columns) {
      width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
    }
    .line (@columns) {
      height: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
      margin-bottom: @margin;
    }

    .row {
      margin-left: @gridGutterWidth * -1;
      .clearfix();
    }

    .span {
      float: left;
      min-height: 1px; // prevent collapsing columns
      margin-left: @gridGutterWidth;
    }

    // generate .spanX and .offsetX
    .spanX (@gridColumns);
    .lineX (@gridColumns);
    .offsetX (@gridColumns);

  }
  .vl-metro {
    .metroX(@gridColumnWidth, @gridGutterWidth);
  }

}

//** css3部分
// * 部分带来来自原作者 飞长
// *


// * background-clip 背景覆盖的位置
// * @params  [ border-box || padding-box || content-box]
// */

.background-clip(@background-clip: border-box) {
  -moz-background-clip: @background-clip;
  -webkit-background-clip: @background-clip;
  background-clip: @background-clip;
}

//**
// * background-origin 背景开始的位置
// * @params        [padding-box | border-box | content-box][, [border-box | padding-box | content-box]]*
// */

.background-origin(@background-origin: padding-box) {
  -moz-background-origin: @background-origin;
  -webkit-background-origin: @background-origin;
  background-origin: @background-origin;
}

//**
// * background-rgba
// * @author tangoboy <zhulutangoboy@gmail.com>
// */

//背景色透明 rgba

.background-rgba(@red, @green, @blue, @alpha:1) {

  @filtercolor: `(_f = function(d){ var v = (parseInt(d)|0).toString(16);return v.length<2 ? "0"+v : v;},
                                                '#'+_f(@{alpha}*255) + _f(@{red}) + _f(@{green})+ _f(@{blue}))`;

  background-color: ~'rgba(@{red},@{green},@{blue},@{alpha})';
  -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{filtercolor}',endColorstr='@{filtercolor}')";
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{filtercolor}',endColorstr='@{filtercolor}')";
}

//**
// * background-size 背景尺寸
// * @params        [ [ <length> | <percentage> | auto ]{1,2} | cover | contain ]#
// */

.background-size(@background-size: auto) {
  -moz-background-size: @background-size;
  -webkit-background-size: @background-size;
  -o-background-size: @background-size;
  background-size: @background-size;
}

//**
// * border-image
// * @params <'border-image-source'> || <'border-image-slice'>
// * [ / <'border-image-width'> | / <'border-image-width'>? / <'border-image-outset'> ]? || <'border-image-repeat'>
// * 存在问题
// */

.border-image(@url, @width, @repeat) {
  border: '@{width} solid transparent';
  -moz-border-image: 'url(@{url}) @width @width @repeat';
  -webkit-border-image: 'url(@{url}) @width @width @repeat';
  -o-border-image: 'url(@{url}) @width @width @repeat';
  border-image: 'url(@{url}) @width @width @repeat';
}

//**
// * border-radius
// */

.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

//单角
.border-top-left-radius(@radius: 5px) {
  -webkit-border-top-left-radius: @radius;
  -moz-border-radius-topleft: @radius;
  border-top-left-radius: @radius;
}

.border-top-right-radius(@radius: 5px) {
  -webkit-border-top-right-radius: @radius;
  -moz-border-radius-topright: @radius;
  border-top-right-radius: @radius;
}

.border-bottom-right-radius(@radius: 5px) {
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-radius-bottomright: @radius;
  border-bottom-right-radius: @radius;
}

.border-bottom-left-radius(@radius: 5px) {
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-bottom-left-radius: @radius;
}

//单边
.border-top-radius(@radius: 5px) {
  .border-top-right-radius(@radius);
  .border-top-left-radius(@radius);
}

.border-right-radius(@radius: 5px) {
  .border-top-right-radius(@radius);
  .border-bottom-right-radius(@radius);
}

.border-bottom-radius(@radius: 5px) {
  .border-bottom-right-radius(@radius);
  .border-bottom-left-radius(@radius);
}

.border-left-radius(@radius: 5px) {
  .border-top-left-radius(@radius);
  .border-bottom-left-radius(@radius);
}

//**
// * border-shadow
// * @params        none | [inset? && [ <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>? ] ]#
// *          none | [内映射? && [横向平移 纵向平移 模糊? 扩散? 颜色?]]#
// */

.box-shadow(@shadow: 0px 0px 5px #ccc) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

//**
// * box-sizing 盒模型计算方式
// * @params        content-box padding-box border-box
// */

.box-sizing(@boxmodel: content-box) {
  -webkit-box-sizing: @boxmodel;
  -moz-box-sizing: @boxmodel;
  box-sizing: @boxmodel;
}

//**
// * column-count
// * @type {[type]}
// */
.content-columns(@columnCount, @columnGap: @gridGutterWidth) {
  -webkit-column-count: @columnCount;
  -moz-column-count: @columnCount;
  column-count: @columnCount;
  -webkit-column-gap: @columnGap;
  -moz-column-gap: @columnGap;
  column-gap: @columnGap;
}

//**
// * font-face 自定义字体
// * @params        @path: 字体路径; @font-name: 字体名字; 需要同时存在eot woff ttf svg
// */

.font-face(@path, @font-name) {
  @font-face {
    font-family: @font-name;
    src: url('@path/@{font-name}.eot'); /* IE9 Compat Modes */
    src: url('@path/@{font-name}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('@path/@{font-name}.woff') format('woff'), /* Modern Browsers */ url('@path/@{font-name}.ttf') format('truetype'), /* Safari, Android, iOS */ url('@path/@{font-name}.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
}

//**
// * hyphens
// * 可能存在问题
// */

.hyphens(@mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: @mode;
  -moz-hyphens: @mode;
  -ms-hyphens: @mode;
  -o-hyphens: @mode;
  hyphens: @mode;
}

.word-break(@word-break) {
  -ms-word-break: @word-break;
  word-break: @word-break;
}

.hyphenation() {
  .word-break(break-all);
  .hyphens();
}

.linear-gradient(@startColor,@endColor) {

  @argbStartColor: argb(@startColor);
  @argbEndColor: argb(@endColor);

  background-image: -moz-linear-gradient(top, @startColor, @endColor); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, @startColor, @endColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -ms-linear-gradient(top, @startColor, @endColor); /* IE10 */
  background-image: -o-linear-gradient(top, @startColor, @endColor); /* Opera 11.10+ */
  background-image: linear-gradient(top, @startColor, @endColor);
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{argbStartColor},endColors=@{argbEndColor})";

}

//**
// * opacity
// */

.opacity(@opacity: 80) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}

//**
// * resize
// * @params        horizontal, vertical, both
// */

.resizable(@direction: both) {
  resize: @direction;
  overflow: auto; // Safari fix
}

//**
// * text-shadow
// * @params        [ <color>? <offset-x> <offset-y> <blur-radius>? | <offset-x> <offset-y> <blur-radius>? <color>? ]
// * 支持多重阴影
//*/

.text-shadow(@shadow: 0px 0px 2px #333) {
  text-shadow: @shadow;
}

.text-shadow(@shadow: 5px 5px 5px #333, @rest...) {
  text-shadow: @shadow, @rest;
}

//**
// * transformation
// * @params
// */

//**
// * transform: none
// * transform: matrix(1.0, 2.0, 3.0, 4.0, 5.0, 6.0)
// * transform: translate(12px, 50%)
// * transform: translateX(2em)
// * transform: translateY(3in)
// * transform: scale(2, 0.5)
// * transform: scaleX(2)
// * transform: scaleY(0.5)
// * transform: rotate(0.5turn)
// * transform: skewX(30deg)
// * transform: skewY(1.07rad)
// * transform: matrix3d(1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0)
// * transform: translate3d(12px, 50%, 3em)
// * transform: translateZ(2px)
// * transform: scale3d(2.5, 1.2, 0.3)
// * transform: scaleZ(0.3)
// * transform: rotate3d(1, 2.0, 3.0, 10deg)
// * transform: rotateX(10deg)
// * transform: rotateY(10deg)
// * transform: rotateZ(10deg)
// * transform: perspective(17px)
// * transform: translateX(10px) rotate(10deg) translateY(5px)
// */

.rotate(@degrees: 0deg) {
  -webkit-transform: rotate(@degrees);
  -moz-transform: rotate(@degrees);
  -ms-transform: rotate(@degrees);
  -o-transform: rotate(@degrees);
  transform: rotate(@degrees);
}

.rotate3d(@x: 0, @y: 0, @z: 0, @degrees: 0deg) {
  -webkit-transform: rotate3d(@arguments);
  -moz-transform: rotate3d(@arguments);
  -ms-transform: rotate3d(@arguments);
  -o-transform: rotate3d(@arguments);
  transform: rotate3d(@arguments);
}

.rotateX(@degrees: 0deg) {
  -webkit-transform: rotateX(@arguments);
  -moz-transform: rotateX(@arguments);
  -ms-transform: rotateX(@arguments);
  -o-transform: rotateX(@arguments);
  transform: rotateX(@arguments);
}

.rotateY(@degrees: 0deg) {
  -webkit-transform: rotateY(@arguments);
  -moz-transform: rotateY(@arguments);
  -ms-transform: rotateY(@arguments);
  -o-transform: rotateY(@arguments);
  transform: rotateY(@arguments);
}

.rotateZ(@degrees: 0deg) {
  -webkit-transform: rotateZ(@arguments);
  -moz-transform: rotateZ(@arguments);
  -ms-transform: rotateZ(@arguments);
  -o-transform: rotateZ(@arguments);
  transform: rotateZ(@arguments);
}

//缩放
.scale(@x:0, @y:0) {
  -webkit-transform: scaleX(@x) scaleY(@y);
  -moz-transform: scaleX(@x) scaleY(@y);
  -ms-transform: scaleX(@x) scaleY(@y);
  -o-transform: scaleX(@x) scaleY(@y);
  transform: scaleX(@x) scaleY(@y);
}

.scaleX(@x: 0) {
  -webkit-transform: scaleX(@arguments);
  -moz-transform: scaleX(@arguments);
  -ms-transform: scaleX(@arguments);
  -o-transform: scaleX(@arguments);
  transform: scaleX(@arguments);
}

.scaleY(@y: 0) {
  -webkit-transform: scaleY(@arguments);
  -moz-transform: scaleY(@arguments);
  -ms-transform: scaleY(@arguments);
  -o-transform: scaleY(@arguments);
  transform: scaleY(@arguments);
}

//重定位元素
.translate(@x: 0px, @y: 0px) {
  -webkit-transform: translate(@arguments);
  -moz-transform: translate(@arguments);
  -ms-transform: translate(@arguments);
  -o-transform: translate(@arguments);
  transform: translate(@arguments);
}

.translate3d(@x: 0px, @y: 0px, @z: 0px) {
  -webkit-transform: translate3d(@arguments);
  -moz-transform: translate3d(@arguments);
  -o-transform: translate3d(@arguments);
  transform: translate3d(@arguments);
}

.translateX(@x: 0px) {
  -webkit-transform: translateX(@x);
  -moz-transform: translateX(@x);
  -ms-transform: translateX(@x);
  -o-transform: translateX(@x);
  transform: translateX(@x);
}

.translateY(@y: 0px) {
  -webkit-transform: translateY(@y);
  -moz-transform: translateY(@y);
  -ms-transform: translateY(@y);
  -o-transform: translateY(@y);
  transform: translateY(@y);
}

.translateZ(@z: 0px) {
  -webkit-transform: translateZ(@z);
  -moz-transform: translateZ(@z);
  -ms-transform: translateZ(@z);
  -o-transform: translateZ(@z);
  transform: translateZ(@z);
}

//倾斜
.skew(@x: 0deg, @y: 0deg) {
  -webkit-transform: skew(@arguments);
  -moz-transform: skew(@arguments);
  -ms-transform: skewX(@x) skewY(@y);
  -o-transform: skew(@arguments);
  transform: skew(@arguments);
  -webkit-backface-visibility: hidden;
}

.skewX(@x: 0deg) {
  -webkit-transform: skewX(@x);
  -moz-transform: skewX(@x);
  -ms-transform: skewX(@x);
  -o-transform: skewX(@x);
  transform: skewX(@x);
  -webkit-backface-visibility: hidden;
  //Webkit gives a pixelated edge. This can be resolved by adding the following line to the mixin. -webkit-backface-visibility: hidden;
}

.skewY(@y: 0deg) {
  -webkit-transform: skewY(@y);
  -moz-transform: skewY(@y);
  -ms-transform: skewY(@y);
  -o-transform: skewY(@y);
  transform: skewY(@y);
  -webkit-backface-visibility: hidden;
}

//**
// * transition css3 动画
// * @params  [<'transition-property'> || <'transition-duration'> || <'transition-timing-function'> || <'transition-delay'>
// *              [, [<'transition-property'> || <'transition-duration'> || <'transition-timing-function'> || <'transition-delay'>]]*
// * 详细可以查看 http://www.w3.org/TR/css3-transitions/
// */


.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.cs3move(@who:all,@operation:ease,@timer:.3s) {
  -webkit-transition: @who @operation @timer;
  -moz-transition: @who @operation @timer;
  -ms-transition: @who @operation @timer;
  -o-transition: @who @operation @timer;
  transition: @who @operation @timer;
}

//**
// * 延迟时间
// * @type {time} 如0s
// */
.transition-delay(@transition-delay: 0s) {
  -webkit-transition-delay: @transition-delay;
  -moz-transition-delay: @transition-delay;
  -o-transition-delay: @transition-delay;
  transition-delay: @transition-delay;
}

//**
// * 持续时间
// * @type {time} 如0s
// */
.transition-duration(@transition-duration: 0s) {
  -webkit-transition-duration: @transition-duration;
  -moz-transition-duration: @transition-duration;
  -o-transition-duration: @transition-duration;
  transition-duration: @transition-duration;
}

//**
// * 需要transition的属性
// * @type: {css-property}
// */
.transition-property(@transition-property) {
  -webkit-transition-property: @transition-property;
  -moz-transition-property: @transition-property;
  -o-transition-property: @transition-property;
  transition-property: @transition-property;
}

//**
// * 时间函数
// * @param  {
// *         [ ease | linear | ease-in | ease-out | ease-in-out | step-start | step-end |
// *         steps(<integer>[, [ start | end ] ]?) | cubic-bezier(<number>, <number>, <number>, <number>) ]
// *         [, [ ease | linear | ease-in | ease-out | ease-in-out | step-start | step-end |
// *         steps(<number>[, [ start | end ] ]?) | cubic-bezier(<number>, <number>, <number>, <number>) ] ]*
// * }
// * @transition-timing: ease          [description]
// */
.transition-timing-function(@transition-timing: ease) {
  -webkit-transition-timing-function: @transition-timing;
  -moz-transition-timing-function: @transition-timing;
  -o-transition-timing-function: @transition-timing;
  transition-timing-function: @transition-timing;
}


//**
// * user-select
// * @params        none | text | all | element
//*/

.user-select(@select: auto) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  -o-user-select: @select;
  user-select: @select;
}



/*******

添加一些常用样式

上下左右箭头
转圈

 */
