<!-- 展示模板 -->
<template>
  <div class="settled-page">
    <div class="settled-title">
      <span>入驻合作</span>
      <div class="back"  @click="goBack()"></div>
    </div>
    <div class="settled-bg">
      <img src="/static/settled-bg.png">
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  methods: {
    goBack() {
      this.$router.go(-1);
    }
  }
}

</script>
<!-- 样式代码 -->
<style lang="less" scoped>
.settled-page {
  position: relative;
  width: 100%;
  height: 100%;
  .settled-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333333;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
  }
  .settled-bg {
    width: 100%;
    margin-top: 50px;
    overflow:hidden;
    img {
      width: 100%;
    }
  }
  .back {
    position: absolute;
    left: 15px;
    top: 15px;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    cursor: pointer;
    border-width: 0 0 2px 2px;
    border-color: #333333;
    border-style: solid;
    transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
    -webkit-transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
  }
}
</style>
