<template>
	<div>
		<iframe align="center"
			width="100%"
			height="100%"
			src="https://pc87.pechatshop.com/chat/Hotline/channel.jsp?cid=5011478&cnfid=6615&j=4822682392&s=1"
			frameborder="no"
			border="0"
			marginwidth="0"
			marginheight="0"

			></iframe>
	</div>
</template>
<script type="text/ecmascript-6">
	import MyHeader from "@/bass/header";
	export default {
		data() {
			return {
				url: ''
			}
		},
		methods: {
      goBack() { window.history.go(-1); },
		},
		components: {
			MyHeader,
		},
		watch: {
			url(val) {
				if(val) {
					this.$refs.iframe.contentWindow.location.replace(val)
				}
			}
		}
	}
</script>
<style lang="less" scoped>

iframe	{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

}
</style>


