<!-- 展示模板 -->
<template>
  <div :class="this.tabKey === '1'? 'my':'littleBrothers'"
       style="width: 7.5rem;min-height: 15rem;"
  >
    <div class="my-header2" style="position: relative;color: #fff!important;">
      <i class="mintui mintui-back"
         @click="backto"></i>
      <div style="position: absolute;top: 0;width: 60%;left: 20%;">
        <div
          @click="changeActive('1')"
          class="topBtn"
          style="position: absolute"
        >我的日工资
          <hr v-if="this.tabKey === '1'"
              style="color: #fff;width: 68%;position: absolute;bottom: -7px;margin-left: 15%;">
        </div>
        <div
          @click="changeActive('2')"
          class="topBtn2"
          style="position: absolute;right: 3%"
        >
          下级日工资
          <hr v-if="this.tabKey === '2'"
              style="color: #fff;width: 68%;position: absolute;bottom: -7px;margin-left: 15%;">
        </div>
      </div>
    </div>
    <div class="content">
      <mt-popup
        v-model="popupVisible"
        position="bottom">
        <div class="detail-con">
          <div class="defail-header">
            详情
          </div>
          <div class="detail-bottom">
            <div class="list01">
              <div class="list-item">
                团队投注额：100.00
              </div>
              <div class="list-item">
                团队投注额：100.00
              </div>

            </div>
            <div class="list01">
              <div class="list-item">
                团队投注额：100.00
              </div>
              <div class="list-item">
                团队投注额：100.00
              </div>

            </div>
            <p>达成情况</p>

            <div class="table-con">
              <ul>
                <li>投注额</li>
                <li>有效用户</li>

              </ul>
              <ul v-for="(item, index) in rows">
                <li>{{item.id}}</li>
                <li>{{item.name}}</li>
              </ul>
            </div>

            <p class="time">签定时间：2018年07月30日 12:20:20</p>

            <div class="btn">
              <mt-button type="danger" size="large" v-on:click="closePop">确定</mt-button>
            </div>

          </div>
        </div>
      </mt-popup>
      <div>
        <mt-tab-container>
          <mt-tab-container-item v-if="this.tabKey === '1'">
            <div class="content01">
              <p class="title">
                <i></i>
                <span class="title-text">日工资契约</span>
              </p>
              <div class="salary-con">
                <div class="salary-con-item">投注额≥5万 有效用户≥2个，比例0.5%</div>
                <div class="salary-con-item">投注额≥5万 有效用户≥2个，比例0.5%</div>
                <div class="salary-con-item">投注额≥5万 有效用户≥2个，比例0.5%</div>
              </div>
              <p class="title">
                <i></i>
                <span class="title-text">今日日工资</span>
              </p>
              <div class="today-con">
                <div class="today-con-item">
                  <div class="top">200000.00</div>
                  <div class="bottom">团队流水</div>
                </div>

                <div class="today-con-item">
                  <div class="top">200000.00</div>
                  <div class="bottom">团队日工资</div>
                </div>
                <div class="today-con-item">
                  <div class="top">200000.00</div>
                  <div class="bottom">个人日工资</div>
                </div>
              </div>
              <p class="title">
                <i></i>
                <span class="title-text">今日团队流水（5人）</span>
              </p>
              <div class="member-con">
                <div class="table-list">
                  <div class="table-item" style="font-size: 0.3rem;">
                    用户名
                  </div>
                  <div class="table-item" style="font-size: 0.3rem;">
                    团队流水
                  </div>
                  <div class="table-item" style="font-size: 0.3rem;"s>
                    日工资
                  </div>
                </div>
                <div class="table-list">
                  <div class="table-item" style="font-size: 0.3rem;">
                    总计
                  </div>
                  <div class="table-item" style="font-size: 0.3rem;color: #FE3959">
                    7680.20
                  </div>
                  <div class="table-item" style="font-size: 0.3rem;color: #FE3959">
                    3568.68
                  </div>
                </div>
                <div class="table-list">
                  <div class="table-item">
                    <img class="avatar" src="http://www.dhf.com/pub/avatar/cuu/e787b8aa42c9a3912852b83b5ac0c49e.png" alt>
                    <span>fuckingBoy</span>
                  </div>
                  <div class="table-item">
                    234.56
                  </div>
                  <div class="table-item">
                    3454.00
                  </div>
                </div>
                <div class="table-list">
                  <div class="table-item">
                    <img class="avatar" src="http://www.dhf.com/pub/avatar/cuu/e787b8aa42c9a3912852b83b5ac0c49e.png" alt>
                    <span>fuckingBoy</span>
                  </div>
                  <div class="table-item">
                    234.56
                  </div>
                  <div class="table-item">
                    3454.00
                  </div>
                </div>
                <div class="table-list">
                  <div class="table-item">
                    <img class="avatar" src="http://www.dhf.com/pub/avatar/cuu/e787b8aa42c9a3912852b83b5ac0c49e.png" alt>
                    <span>fuckingBoy</span>
                  </div>
                  <div class="table-item">
                    234.56
                  </div>
                  <div class="table-item">
                    3454.00
                  </div>
                </div>
                <div class="table-list">
                  <div class="table-item">
                    <img class="avatar" src="http://www.dhf.com/pub/avatar/cuu/e787b8aa42c9a3912852b83b5ac0c49e.png" alt>
                    <span>fuckingBoy</span>
                  </div>
                  <div class="table-item">
                    234.56
                  </div>
                  <div class="table-item">
                    3454.00
                  </div>
                </div>
                <div class="table-list">
                  <div class="table-item">
                    <img class="avatar" src="http://www.dhf.com/pub/avatar/cuu/e787b8aa42c9a3912852b83b5ac0c49e.png" alt>
                    <span>fuckingBoy</span>
                  </div>
                  <div class="table-item">
                    234.56
                  </div>
                  <div class="table-item">
                    3454.00
                  </div>
                </div>
                <div class="table-list">
                  <div class="table-item">
                    <img class="avatar" src="http://www.dhf.com/pub/avatar/cuu/e787b8aa42c9a3912852b83b5ac0c49e.png" alt>
                    <span>fuckingBoy</span>
                  </div>
                  <div class="table-item">
                    234.56
                  </div>
                  <div class="table-item">
                    3454.00
                  </div>
                </div>
              </div>
            </div>
          </mt-tab-container-item>
          <mt-tab-container-item v-if="this.tabKey === '2'">
            <div class="content02">
              <div class="searchBox">
                <div class="searchLeft">
                  <span :class="this.dayRange === 'today'?'purpleSpan':'graySpan'" @click="dayPick('today')">今天</span>
                  <span :class="this.dayRange === 'yesterday'?'purpleSpan':'graySpan'"
                        @click="dayPick('yesterday')">昨天</span>
                  <span :class="this.dayRange === 'week'?'purpleSpan':'graySpan'" @click="dayPick('week')"
                        style="width: 45%">最近一周</span>
                </div>
                <div class="searchRight">
                  <span class="iconfont icon-sanjiao1" @click="showChild">时间筛选</span>
                </div>
              </div>


              <div class="time-search" style="background: #fff;padding-bottom: 0.2rem">
                <mt-search style="width: 90%;margin-left: 3%;"
                           cancel-text=""
                           placeholder="搜索团队成员"
                           v-model="value">
                </mt-search>
              </div>
              <p class="title">
                <i></i>
                <span class="title-text">six的团队</span>
              </p>
              <div class="today-con">
                <div class="today-con-item">
                  <div class="top">200000.00</div>
                  <div class="bottom">阿达阿打算多</div>
                </div>

                <div class="today-con-item">
                  <div class="top">200000.00</div>
                  <div class="bottom">阿达阿打算多</div>
                </div>
                <div class="today-con-item">
                  <div class="top">200000.00</div>
                  <div class="bottom">阿达阿打算多</div>
                </div>
              </div>
              <div class="user-con">
                <div class="list01">
                  <img src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" alt="" class="avatar">
                  <div class="name">
                    啊搜到
                  </div>
                </div>
                <div class="list01">
                  <div class="list-item left">
                    团队流水：100.00
                  </div>
                  <div class="list-item left">
                    有效人数：100.00
                  </div>

                </div>
                <div class="list01">
                  <div class="list-item left">
                    结算比例：1.25%
                  </div>
                  <div class="list-item left">
                    团队日工资：100.00元
                  </div>
                  <div v-on:click="showPop" class="list-item2">
                    详情
                  </div>
                </div>
              </div>
            </div>
          </mt-tab-container-item>
        </mt-tab-container>
      </div>
    </div>
    <date @getLinkage='showChildMsg' v-show="showLinkage" :data="data"></date>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {fmoney} from '@/common/config'
  import Date from "@/bass/date";
  import moment from 'moment/moment';
  import {Toast} from "mint-ui";
  import {t} from '@/common/config';
  import {game_balance_api, game_transfer_api} from "@/common/api";

  export default {
    components: {
      MyHeader,
      Date,
    },
    created: function () {

    },
    data() {
      return {
        showLinkage: false, //控制子组件的显示隐藏
        popupVisible: false,
        signVisible: false,
        curSelectMember: '土豆泥',
        selected: "1",
        tabKey: '1',
        dayRange: '',
        money: '',
        wageOptions: [{name: "我的日工资"}, {name: "下级日工资"}],
        data: {
          type: "", // 类型
          stime: moment.unix(t.end).format('YYYY-MM-DD'), //结束时间
          etime: moment.unix(t.start).format('YYYY-MM-DD'), // 开始时间
          page: 0 // 页码
        },
        formDatas: [
          {money: "", user: "", percent: ""},
        ],
        rows: [
          {id: 1, name: "John", age: 20, createdAt: '201-10-31:9: 35 am', score: 0.03343},
          {id: 2, name: "Jane", age: 24, createdAt: '2011-10-31', score: 0.03343},
          {id: 3, name: "Susan", age: 16, createdAt: '2011-10-30', score: 0.03343},
          {id: 4, name: "Chris", age: 55, createdAt: '2011-10-11', score: 0.03343},
          {id: 5, name: "Dan", age: 40, createdAt: '2011-10-21', score: 0.03343},
          {id: 6, name: "John", age: 20, createdAt: '2011-10-31', score: 0.03343},
        ],
      };
    },
    methods: {
      changeActive(n) {
        this.tabKey = n
      },
      backto() {
        this.$router.push("agentInfo");
      },
      dayPick(b) {
        this.dayRange = b
      },
      showChild() {
        this.showLinkage = true;
      },
      showChildMsg(msg) {
        this.showLinkage = false;
      },
      closePop() {
        this.popupVisible = false;
      },
      showPop() {
        this.popupVisible = true;
      },
      showSign() {
        this.signVisible = true;
      },
      closeSign() {
        this.signVisible = false;
        this.formDatas = [{money: "", user: "", percent: ""}];
      },
      addFormItem() {
        if (this.formDatas.length < 5) {
          this.formDatas.push({money: "", user: "", percent: ""});
        } else {
          Toast('条件不能超过5条！');
        }
      },
      removeFormItem() {
        if (this.formDatas.length > 1) {
          this.formDatas.pop();
        } else {
          Toast('条件不能少于1条！');
        }
      }
    }
  }
</script>
<!-- 样式代码 -->
<style scoped lang="less" rel="stylesheet/less">
  .topBtn {
    width: 44%;
    text-align: center;
    margin-left: 3%;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    font-size: 0.32rem;
    color: #fff;
    float: left;
  }

  .topBtn2 {
    width: 44%;
    text-align: center;
    margin-left: 3%;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    font-size: 0.32rem;
    color: #fff;
    float: right;
  }


  .iconfont {
    font-size: 14px;
  }

  .icon-sanjiao1:after {
    margin-left: 5px;
    color: #d8d8d8;
  }

  .title {
    padding: 0.2rem 0;
    display: flex;
  }

  .title i {
    height: 0.4rem;
    flex: 0 0 0.08rem;
    background-color: #6C2DFE;
    display: inline-block;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  .title-text {
    display: inline-block;
    flex: 0 0 auto;
    height: 0.42rem;
    line-height: 0.42rem;
    font-size: 0.3rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
  }

  .mint-navbar .mint-tab-item.is-selected {
    border-bottom: 3px solid #fe3959;
    color: #fe3959;
  }

  .top-item img {
    display: inline-block;
    text-align: center;
    margin-top: 20%;
    margin-left: 20%;
    width: 60%;
  }

  .top-item span {
    display: inline-block;
    font-size: 0.2rem;
  }

  .salary-con {
    padding: 0.1rem 0.25rem 0.35rem 0.25rem;
    border-bottom: 0.01rem solid rgba(229, 229, 229, 1);
    display: flex;
    flex-direction: column;
  }

  .salary-con-item {
    color: #666;
    width: 95%;
    letter-spacing: 0.02rem;
    font-size: 0.3rem;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    height: 0.6rem;
    line-height: 0.6rem;
    flex: 0 1 auto;
    margin-left: 2%;
  }

  .today-con {
    padding: 0.1rem 0 0.35rem 0;
    display: flex;
    border-bottom: 0.01rem solid rgba(229, 229, 229, 1);
  }

  .today-con-item {
    flex: 1 1 auto;
    text-align: center;
    line-height: 100px;
    align-self: flex-start;
  }

  .today-con-item .top {
    height: 0.42rem;
    line-height: 0.42rem;
    font-size: 0.3rem;
    font-weight: 400;
    color: #FE3959;
  }

  .today-con-item .bottom {
    height: 0.42rem;
    line-height: 0.42rem;
    font-size: 0.28rem;
    font-weight: 400;
    color: #666;
  }

  .member-con {
    padding: 0.2rem 0 0.1rem 0;
    display: flex;
    flex-direction: column;
  }

  .table-list {
    height: 0.6rem;
    font-size: 0.25rem;
    line-height: 0.6rem;
    color: rgba(51, 51, 51, 1);
    display: flex;
    text-align: center;
    border-bottom: 1px solid #efefef;
  }

  .table-item {
    width: 33%;
    flex: 1 1 auto;
    font-size: 0.25rem;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
  }

  .search-con {
    height: 0.72rem;
    padding: 0.2rem 0 0.15rem 0;
    border-bottom: 0.01rem solid rgba(229, 229, 229, 1);
  }

  .time-search {
    height: 0.7rem;
    padding: 0.1rem 0.1rem;
    background: red;
    border-bottom: 0.01rem solid rgba(235, 235, 235, 1);
    border-top: 0.01rem solid rgba(235, 235, 235, 1);
  }

  .time-search span {
    flex: 0 0 auto;
    width: 2.52rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    background: rgba(242, 242, 242, 1);
    border-radius: 0.08rem;
  }

  .user-con {
    width: 92%;
    height: 1.7rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.16rem;
    padding: 1%;
    margin: 0.2rem 3% 0.1rem 3%;
    display: flex;
    flex-wrap: wrap;
  }

  .user-con .list01 {
    width: 100%;
    height: 0.55rem;
    font-size: 0.32rem;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 0.44rem;
    flex-direction: row;
  }

  .list01 .avatar {
    height: 0.5rem;
    float: left;
    margin-right: 0.1rem;
  }

  .list01 .name {
    height: 0.4rem;
    float: left;
    line-height: 0.55rem;
    font-size: 0.24rem;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
  }

  .list01 .time {
    float: right;
    background: #00abee;
    height: 0.5rem;
    margin-right: 0.3rem;
    line-height: 0.55rem;
    font-size: 0.24rem;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
  }

  .user-con .list01 .list-item {
    height: 0.5rem;
    width: 40%;
    line-height: 0.5rem;
    font-size: 0.24rem;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    padding: 0 0.1rem;
  }

  .user-con .list01 .list-item2 {
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.24rem;
    font-weight: 400;
    color: rgba(109, 148, 255, 1);
  }

  .detail-con {
    width: 7.5rem;
    height: 100%;
    color: #666;
    background: rgba(255, 255, 255, 1);
  }

  .defail-header {
    text-align: center;
    width: 7.5rem;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.32rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
  }

  .detail-bottom {
    width: 7.2rem;
    border-radius: 0.16rem;
    padding: 0.15rem;
    display: flex;
    flex-wrap: wrap;
  }

  .detail-bottom .list01 {
    flex: 0 0 100%;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    width: 2.48rem;
    height: 0.42rem;
    font-size: 0.3rem;
    line-height: 0.42rem;
  }

  .detail-bottom .list01 .list-item {
    flex: 0 0 50%;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.24rem;
    font-weight: 400;
    padding: 0 0.1rem;
  }

  .detail-bottom > p {
    padding: 0.3rem 0 0.2rem 0.1rem;
    flex: 1 0 auto;
    height: 0.42rem;
    font-size: 0.28rem;
    font-weight: 400;
    line-height: 0.42rem;

  }

  .detail-bottom > p.time {
    width: 100%;
    height: 0.42rem;
    font-size: 0.25rem;
    font-weight: 400;
    line-height: 0.42rem;
  }

  .detail-bottom .table-con {
    width: 7.2rem;
    padding: 0.1rem 0.1rem 0 0.1rem;
  }

  .detail-bottom .table-con ul {
    display: flex;
  }

  .detail-bottom .table-con li {
    text-align: center;
    flex: 1 0 25%;
    font-size: 0.24rem;
    height: 0.42rem;
    line-height: 0.42rem;
  }

  .detail-bottom div.btn {
    padding: 0 1rem;
    text-align: center;
    width: 100%;
  }

  .content03 {
    color: #666;
  }

  .content03 .table-con {
    width: 100%;
  }

  .content03 .table-header {
    height: 0.6rem;
    flex: 1 0 auto;
    line-height: 0.6rem;
    font-size: 0.32rem;
    font-weight: 400;
    background: rgba(142, 142, 147, 0.12);
    color: rgba(102, 102, 102, 1);
  }

  .content03 .table-header li {
    text-align: center;
    flex: 1 0 42%;
    font-size: 0.28rem;
    height: 0.6rem;
    line-height: 0.6rem;
    padding: 0 4%;
  }

  .content03 .table-header li:nth-child(1) {
    text-align: left;
  }

  .content03 .table-header li:nth-child(2) {
    text-align: right;
  }

  .content03 .table-con ul {
    display: flex;
  }

  .content03 .table-bottom ul {
    display: flex;
  }

  .content03 .table-bottom li {
    text-align: center;
    flex: 1 0 46%;
    font-size: 0.25rem;
    padding: 0 2%;
  }

  .content03 .table-bottom li:nth-child(1) {
    text-align: left;
  }

  .content03 .table-bottom li:nth-child(2) {
    text-align: right;
  }

  .form-con {
    width: 100%;
  }

  .form-con ul {
    width: 100%;
    display: flex;
  }

  .form-con li {
    text-align: center;
    font-size: 0.25rem;
    flex: 0 0 33.33%;
    padding: 0.1rem 0;
  }

  .form-con input {
    width: 1.16rem;
    height: 0.4rem;
    background: rgba(242, 242, 242, 1);
    border-radius: 0.08rem;
  }

  .searchBox {
    width: 100%;
    height: 0.5rem;
    background: #fff;
    margin-top: 0.05rem;
    padding: 0.1rem 0.2rem 0.3rem 0.2rem;
  }

  .searchLeft {
    width: 55%;
    height: 100%;
    color: #999;
    font-size: 0.3rem;
    float: left;
    line-height: 0.7rem;

    span {
      float: left;
      width: 23%;
      text-align: center;
      border-radius: 5px;
      margin-left: 2%;
    }
  }

  .graySpan {
    background: #efefef;
    color: #666;
  }

  .purpleSpan {
    background: #6C2DFE;
    color: #fff;
  }

  .searchRight {
    width: 35%;
    height: 100%;
    line-height: 0.3rem;
    text-align: center;
    float: right;
  }
  .avatar{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
    border-radius: 0.2rem;
    margin: 0.1rem 0 0 0.5rem;
  }

  .littleBrothers{
    background: #efefef;
  }
  .my{
    background: #fff;
  }
</style>
