<template>
  <header class="header">

    <div class="arrow">
      <arrow style="margin-top: 3px" @arrow-click="goBack"></arrow>

      <i class="iconfont lay-right-arrow right" @click="showEvent"></i>
    </div>
    <div class="center">
      {{title}}
    </div>

    <div class="right-header right">
      <!--<i class="iconfont icon_header right" @click="showEvent"></i>-->
      <!--<i class="iconfont icon-kefu right"></i>-->
      <span> </span>
    </div>

    <my-publish-pop v-on:close-event="closeEvent" v-bind:showPublish="showPublish"
                    v-bind:showPublishCon="showPublishCon"></my-publish-pop>
  </header>
</template>

<script type="text/ecmascript-6">

  import MyPublishPop from '@/components/homes/layout/publish.vue';
  import Arrow from '@/vlayui/Arrow/index.vue';

  export default {
    components: {
      MyPublishPop,
      Arrow
    },
    props: ['title'],
    data() {
      return {
        search: '',
        showPublish: false,
        showPublishCon: false,
      }
    },
    methods: {
      goBack() {
        this.$router.go(-1);
      },
      showEvent() {
        this.showPublish = true;
        setTimeout(() => {
          this.showPublishCon = true;
        }, 300)
      },
      closeEvent() {
        this.showPublishCon = false;

        setTimeout(() => {
          this.showPublish = false;
        }, 300)
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  .header {
    color: #333;
    font-size: 15px;
    align-self: center;
    padding: 0.2rem 15px;
    line-height: 1;
    display: flex;
    height: 30px;
    border-bottom: 1px solid #f2f2f2;

    .center {
      flex: 1;
      height: 30px;
      font-size: 17px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 30px;
      text-align: center;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    .logo-img {
      width: 80px;
      height: 30px;
      flex: 0 0 80px;
    }

    .mint-field-core {
      flex: 1;
      margin: 0 10px;
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      background: rgba(245, 245, 245, 1);
      border-radius: 15px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(197, 197, 197, 1);
    }

    .arrow {
      flex: 0 0 70px;
    }

    .right-header {
      flex: 0 0 70px;
      height: 22px;
      font-size: 16px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(61, 113, 255, 1);

      line-height: 30px;
    }
  }


  .icon_header {
    background: url("../../../assets/haocai/cebianlan.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin: .05rem 0 0 .1rem;
  }

  .icon-kefu {
    font-size: 24px;
  }


</style>
