<template>
  <ul v-infinite-scroll="loadMore"
      infinite-scroll-disabled="loading"
      infinite-scroll-distance="10">
    <li class="activity-con" v-for="(item,index) in promotionslist" :key="index">
      <div class="activity-con-item" @click="goLink(item)">
        <img :src="item.cover" alt="">
        <div class="title">{{item.subject}}</div>
        <div class="content">{{item.intro}}</div>
        <div class="pro-con">
          <div class="right">
            <van-icon name="share"/>
            <span class="share">
              分享
            </span>
            <span class="more-o"><img src="../../../../static/eye.svg"/>{{item.views}}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</template>

<script type="text/ecmascript-6">
  import {Indicator, Toast} from "mint-ui";
  import {get_activity} from "@/common/api";

  export default {
    props: ['medal', 'certid'],
    data() {
      return {
        page: 0,
        listEnd: false,
        loading: false,
        promotionslist: [],
      };
    },
    created() {
      //this.ajax();
    },
    methods: {
      goLink(item) {
        this.$router.push({
          path: '/activityDetail',
          query: {
            good: JSON.stringify({
              id: item.id
            }),
          }
        });
      },
      ajax() {
        get_activity({
          page: this.page,
          medal: this.medal,
          certid: this.certid,
          limit: 10,
        }).then(res => {
          this.promotionslist = res.promotionslist;
        });
      },
      loadMore() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        this.page = this.page + 1;

        get_activity({
          page: this.page,
          medal: this.medal,
          certid: this.certid,
          limit: 10,
        }).then(res => {
          Indicator.close();
          this.loading = false;

          if (res.promotionslist && res.promotionslist.length > 0) {
            this.promotionslist = this.promotionslist.concat(res.promotionslist);
          } else {
            this.listEnd = true;
            Toast("没有更多数据了!");
          }
        });
      },
    },
    watch: {
      medal(n) {
        // this.promotionslist = [];
        // this.certid = null;
        // this.ajax();
      },
      certid(n) {
        this.promotionslist = [];
        this.ajax();
      },
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .activity-con {
    margin-top: 10px;
    padding: 0 15px;

    .activity-con-item {
      width: 100%;
      position: relative;
      height: 106px;
      margin-bottom: 20px;

      > img {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        background: red;
        width: 106px;
        height: 106px;
      }

      .title {
        position: absolute;
        left: 120px;
        top: 0;
        right: 0;
        height: 42px;
        font-size: 15px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .content {
        position: absolute;
        left: 120px;
        top: 38px;
        height: 40px;
        overflow: hidden;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 20px;

        > span {
          font-size: 23px;
          padding-right: 10px;
        }
      }

      .time {
        position: absolute;
        top: 58px;
        right: 0;
        height: 18px;
        font-size: 13px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 18px;
      }

      .pro-con {
        position: absolute;
        left: 120px;
        right: 0;
        bottom: -10px;
        height: 35px;

        .left {
          position: absolute;
          left: 0;
          height: 17px;
          font-size: 12px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 17px;
        }

        .right {
          position: absolute;
          right: 0;
          height: 17px;
          font-size: 12px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 17px;

          .share {
            padding-right: 10px;
          }

          .more-o img {
            width: 15px;
            vertical-align: middle;
            margin-right: 3px;
          }
        }

        .mt-progress {
          padding-top: 10px !important;
        }
      }
    }
  }
</style>
