<template>
  <div class="page" :class="{'page-have-header':header,'page-have-footer':footer}">
    <div class="page-content" :style="{background:bgColor}">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      header: {
        type: Boolean, //true or false
        default: false,
      },
      footer: {
        type: Boolean, //true or false
        default: false,
      },
      bgColor:{
        type:String,
        default:'#f5f5f5'
      }

    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  .page {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
  }

  .page-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    height: auto;
    background-color: #f5f5f5;
    -webkit-overflow-scrolling: touch;
  }

  .page-padding {
    padding: 10px;
  }

  .page-have-header .page-content {
    padding-top: 50px;
  }

  .page-have-footer .page-content {
    padding-bottom: 50px;
  }
</style>
