<template>
  <div class="lay-input-wrapper" :class="{'has-floating-label': floatingLabel == 'true'}">
    <label class="item item-borderless item-input lay-input" :class="{'item-floating-label': floatingLabel == 'true'}">

      <span v-if="label != ''" class="input-label" :class="{'has-input': floatingLabel == 'true' && !!value}"
            v-text="label"></span>

      <!-- number -->
      <input type="number"
             :placeholder="placeholder"
             ref="input"
             :value="value"
             @input="updateValue($event.target.value)"
             @focus="focus($event)"
             @blur="blur($event)">

    </label>

    <span class="lay-input-add" @click="add"></span>
    <span class="lay-input-minus" @click="minus"></span>
  </div>
</template>

<script>
  let lock = false;

  const is_ios = /iPad|iPhone|iPod/.test(navigator.userAgent);

  export default {
    props: {
      label: {
        type: String,
        default: ''
      },
      placeholder: {
        type: String,
        default: ''
      },
      value: {
        type: [String, Number],
        required: true,
        default: '0',
      },
      floatingLabel: {
        type: String,
        default: 'false',
        validator(val) {
          return val == 'true' || val == 'false'
        }
      }
    },

    data() {
      return {
        showClearButton: false
      }
    },
    methods: {
      clear(value) {
        this.$refs.input.blur()
        this.$refs.input.value = ''
        this.$emit('input', '')
        this.showClearButton = false
        this.$refs.input.focus()
      },

      updateValue(value) {
        this.$refs.input.value = value
        this.$emit('input', value)
      },

      input($event) {
        if (lock) {
          $event.preventDefault()
          return
        }

        let value = $event.target.value
        this.$refs.input.value = value
        this.$emit('input', value)
      },
      add($event) {
        let value = Number(this.value) + 1;
        this.$refs.input.value = value;
        this.$emit('input', value)
      },
      minus($event) {
        let value = Number(this.value) - 1;
        this.$refs.input.value = value;
        this.$emit('input', value)
      },
      compositionStart($event) {
        lock = true
      },
      compositionEnd($event) {
        lock = false
        this.$emit('input', this.$refs.input.value)
      },
      focus($event) {
        if (is_ios) this.showClearButton = !!this.$refs.input.value
      },
      blur($event) {
        if (is_ios) this.showClearButton = false
      }
    },

    watch: {
      value: function (newValue) {
        this.showClearButton = !!newValue
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  .lay-input-wrapper {
    position: relative;
    padding-right: 20px;
    box-sizing: border-box;
    background: #EEEEEE;
    border: 1px solid #D8D8D8;
    border-radius: 6px;

    &.has-floating-label {
      .input-clear {
        top: 14px + 28px;
      }
    }

    .lay-input {
      height: 50px;
      /*padding: 13px 15px;*/
      position: relative;
      padding-right: 20px;
      background: #EEEEEE;
      border: 0 solid #D8D8D8;
      border-radius: 6px;

      .input-label {
        font-size: 14px;
        line-height: 20px;
      }

      input {
        width: 100%;
        font-size: 14px;
        height: 34px;
        background: rgba(0, 0, 0, 0);
        border: none;
        outline: medium;
        caret-color: #D8D8D8;
        text-indent: 3px;
      }
    }

    /*https://www.cnblogs.com/jscode/archive/2012/10/19/2730905.html*/

    .lay-input-add {
      position: absolute;
      top: 8px;
      right: 4px;
      z-index: 3;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 8px solid #B1B1B1;
    }

    .lay-input-minus {
      position: absolute;
      top: 24px;
      right: 4px;
      z-index: 3;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #B1B1B1;
    }

    .input-clear {
      position: absolute;
      top: 14px;
      right: 9px;
      z-index: 3;

      width: 24px;
      height: 24px;
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: 5px 5px;

      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }

    .item-floating-label {
      height: 75px;
      background: #FFF;

      .input-label {
        padding-top: 2px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }
</style>
