<template>
  <!-- 关于博天堂 -->
  <div class="aboutBOtiantang">
    <div class="title">
      <div class="back" @click="goBack()"></div>
      关于博天堂
    </div>
    <div class="container">
      <h5>1.最全面的平台认证测评</h5>
      <p>博天堂的认证测评内容包括：1.娱乐城的真实性，不存在黑庄。2.娱乐城的各项服务指标，
          包含存款方式，客服质量，取款效率，博彩种类，运营牌照，优惠种类，反水比例，运营时间，
          运营人数等，以此方便玩家甄别筛选适合自己的娱乐城。
      </p>
      <h5>2.最有效的保障</h5>
      <p>博天堂担保是业界最具权威性担保，所有加入博天堂担保的娱乐城需要向博天堂支付相应数额的押金，所以博天堂可以不受任何其他外因的影响来为玩家进行担保，而且部分长期合作的铂金公司担保金额达到500万，让您可以安心游戏放心存取款。
      </p>
      <h5>3.最真实的玩家交流</h5>
      <p>喜欢博彩的你在博天堂永不孤单，朋友圈、微博您不方便晒出自己的战绩，在博天堂您可以毫无顾虑的晒战绩、讲打法，有来自五湖四海的玩家和您一起分享喜悦、分担忧愁；维护每个玩家话语权是博天堂的最高原则。
              博天堂官方会针对广大博友不定期展开线下真实的交流会，让广大博友一起赢天下！</p>
      <h5>4.最全面的福利</h5>
      <p>博币是博天堂的唯一福利货币，1博币=0.1人民币，1000博币兑换100人民币，2000博币兑换200人民币。且博币可以直接与合作娱乐城进行筹码兑换，以提供给广大博彩爱好者以小博大的刺激感。博天堂会不定期的与各大娱乐城开展针对博天堂用户的优惠活动，以此来提供给广大玩家一个更加愉悦的游戏过程体验。
              玩家在博天堂的任何行为都可以赚取博币，意味着您的每一次行为都可以赚取现金。</p>
      <h5>5.最全面的娱乐城优惠信息</h5>
      <p>博天堂会搜集各大品牌娱乐城的最新线上线下优惠活动信息，以便于广大玩家能够第一时间寻找参与适合自己的优惠活动。</p>
      <h5>6.最实用的工具</h5>
      <p>博天堂首创手机一键查询彩票开奖，球赛比分记录功能，方便广大玩家实时查看，开奖投注不停歇！</p>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    goBack() {
      this.$router.go(-1);
    }
  }
}
</script>

<style lang="less" scoped>
 @import "../../../style/global.less";
 .aboutBOtiantang {
   position: relative;
   width: 100%;
   height: 100%;
   font-size: 14px;
    .title {
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1000;
      background: #3D71FF;
      .back {
        position: absolute;
        left: 15px;
        top: 15px;
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        cursor: pointer;
        border-width: 0 0 2px 2px;
        border-color: #fff;
        border-style: solid;
        transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
        -webkit-transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
      }
    }
    .container {
      width: 90%;
      margin: 0 auto;
      h5 {
        margin: 10px auto;
      }
      p {
        font-size: 12px;
      }
    }
 }

</style>

