<template>
  <!-- 博天堂担保 -->
  <div class="guarantee">
    <div class="title">
      <div class="back" @click="goBack()"></div>
      博天堂担保
    </div>
    <div class="container">
      <h4>一、前言</h4>
      <h5>1.目的</h5>
      <p> 为规范博天堂论坛（以下多处简称：论坛）全程担保方案，保障会员资金、娱乐城信誉双方面利益，
          使博天堂论坛会员享受“全程担保”有理有据，督促博天堂论坛管理人员认真严谨处事而制定本方案。
      </p>
      <h5>2.解释</h5>
      <p>2.1 博天堂论坛会员在享受论坛“全程担保”方案，或者申请论坛管理人员帮忙协调时都应遵守本方案约定。</p>
      <p>2.2 博天堂论坛有权在适当时期对本方案进行修订和补充。</p>
      <p>2.3 博天堂论坛始终保持对本方案的最终解释权。</p>
      <h4>二、博天堂论坛“全程担保”细则</h4>
      <h5>1.全程担保介绍</h5>
      <p>“全程担保”是博天堂论坛为玩家和博彩公司间搭建的信任桥梁，使玩家和博彩公司之间的信任不仅仅建立在博彩公司的信誉上，论坛会员在遇到博彩公司风险不出款时，可以申请博天堂论坛的认证品牌保证金，
          申请回自己的所有资金。“全程担保”的申请资格要求会员在娱乐城的账号需要是博天堂论坛(认证专区)专属链接下进行注册的。
      </p>
      <h5> 2.全程担保申请流程</h5>
      <p> 2.1 会员在博彩公司的账号必须是通过论坛(担保专区)专属链接进行注册的。</p>
      <p>2.2 会员在遇到博彩公司风险不出款时，10天内必须在论坛专员“不怕输的苦”处有备案或者在论坛投诉专区发帖说明情；
          若在事件发生10天内会员自身未有任何行动措施并未通知论坛，导致论坛后期数据无法取证，会员需自行承担责任。
      </p>
      <p>2.3 投诉期间论坛会要求会员提供一些基本信息，论坛会主动联系博彩公司进行调解和调查，若证实是博彩公司信誉问题黑玩家资金，论坛会第一时间通知会员，并且在论坛公告发帖说明详细情况，
          会员可以按照要求发送相关信息到论坛官方邮箱gobcbet@gmail.com直接申请论坛的保证金，
          取回自己在娱乐城账户内的余额。
      </p>
      <p> 2.4 论坛验证会员的信息确认无误后，会第一时间为会员安排出款，金额低于50万者，论坛一次性出全款；金额高于50万者，
          论坛将按每50万为一期，分期将保证金打入会员的收款账户内，
          每周期为7天，直至会员收到全部款项。
      </p>
      <h5>3.以下特殊情况将不在担保范围内</h5>
      <p>3.1 会员自身原因，导致娱乐城账号密码等被窃取，被恶意投注，论坛不提供保障。（友情提示会员不要在娱乐城账号内留有大数目的余额。）</p>
      <p>3.2 会员自身原因，导致存款信息被窃取，使用公司入款时被他人申请走入款，论坛不提供保障。
          （友情提示会员在存款后第一时间向客服申请入款，避免给别有用心之人留下申请时间。）
      </p>
      <p>3.3 会员自身原因，导致电脑中毒，使用在线支付时，被病毒木马等钓鱼，造成的存款金额无法到账，
          论坛不提供保障。（友情提示会员电脑安装杀毒软件和防火墙，并且实时更新病毒库，定期查杀电脑病毒。）
      </p>
      <p>3.4 论坛不保证会员有资格参加娱乐城的优惠活动，
          不保证会员能成功申请到优惠彩金。（
          友情提示会员在入款前应该向娱乐城在线客服咨询清楚自己是否有参加优惠活动的资格。）
      </p>
      <p>3.5 会员在娱乐城游戏过程中有违反娱乐城游戏规则的行为（如：对打，软件投注等），娱乐城方面持有充分证据，按娱乐城规则处理，论坛不提供担保；会员参加娱乐城优惠活动并且成功申请到优惠彩金，在游戏规则中有违反娱乐城优惠活动规则行为
          ，按娱乐城优惠活动方案处理，论坛不提供担保。（
          友情提示会员一定详细清楚的了解娱乐城优惠活动规则后再申请参加。）
      </p>
      <p>3.6 论坛官方下架超过15天的博彩公司，会员仍然进行游戏，论坛不提供保障;  论坛链接失效，会员在自行寻找的未取得论坛认证的链接下进入游戏，
          论坛不提供保障。（友情提示：会员时常关注论坛最新动态，尤其是投诉专区和置顶公告。
          ）
      </p>
      <p>3.7 会员自身与娱乐城达成某种特殊协议，事后因为各种理由需要论坛调节者，论坛不提供保障。</p>
      <p>3.8 论坛新增入博久担保最低流水要求，流水未达到要求者，论坛不提供全程担保。目的在于严厉打击套利行为，扫除恶意使用论坛“全程担保”的红利猎人。
          “博久担保最低流水”要求所有申请论坛“全程担保”和调解的会员
          ，在娱乐城进行“真人视讯”游戏部分的金额需达到2倍流水以上。
      </p>
      <p> 真人视讯游戏金额 = 入款总额 - 非真人视讯投注金额。</p>
      <p>当“真人视讯游戏金额”部分计算结果大于0时，则要求该部分的投注流水高于2倍流水。</p>
      <p>举例一：会员存款3000；进行体育投注1000，彩票投注500，电子游艺投注200，余下的进行真人视讯投注。
          则要求真人视讯部分的流水达到2倍流水即2600以上。计算公式：（3000 - 1000 - 500-200）*2 = 2600。
      </p>
      <p>举例二：会员存款3000；只进行了真人视讯投注，未进行其他游戏；则要求流水达到6000以上。计算公式：（3000 - 0 ）*2 = 6000。</p>
      <p>举例三：会员存款3000；本次存款有进行体育投注3000，并且也有进行“真人视讯”投注；则“真人视讯”部分流水不做任何要求。计算公式：（3000 - 3000）*2= 0。</p>
      <p>3.9 由于地区法律、银行冻结等第三方非娱乐城信誉问题的资金损失，不在博天堂论坛担保范围内。</p>
      <h4>三、博天堂论坛“全程担保”方案声明</h4>
      <p>  1. 本方案无法概括所有的担保问题，在遇到特殊问题处理时，论坛会及时做出公告。</p>
      <p> 2. 任何有违“方案目的”的恶意利用本方案行为，博天堂论坛一定严厉处理。</p>
      <p>3. 本方案为博天堂论坛官方公布与修订，在未取得博天堂论坛官方同意前，任何个人或者团体不能在博天堂论坛以外的地方发表或者印刷传阅。</p>
      <p>4. 本方案自发表日起，开始执行。</p>
      <p>PS：欢迎补充和指出“全程担保”方案的不足之处。</p>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    goBack() {
      this.$router.go(-1);
    }
  }
}
</script>

<style lang="less" scoped>
 @import "../../../style/global.less";
 .guarantee {
   position: relative;
   width: 100%;
   height: 100%;
   font-size: 14px;
    .title {
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1000;
      background: #3D71FF;
      .back {
        position: absolute;
        left: 15px;
        top: 15px;
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        cursor: pointer;
        border-width: 0 0 2px 2px;
        border-color: #fff;
        border-style: solid;
        transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
        -webkit-transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
      }
    }
    .container {
      width: 90%;
      margin: 0 auto;
      h5 {
        margin: 10px auto;
      }
      p {
        font-size: 12px;
      }
    }
 }

</style>

