<template>
  <header class="header">
    <img class="logo-img" src="@/assets/center/logo.png" alt="">
    <input class="mint-field-core"
           type="text"
           v-model="search"
           placeholder="请输入要搜索的内容"
           @focus="showSearchView"
           >
    <div class="right-header right">
      <img class="iconfont" style="margin-left: 8px;" src="@/assets/center/fatie.png" @click="showEvent" alt="">
      <div class="evvaluat" @click="goEvaluating">
        <img class="iconfont evaluat-img" src="@/assets/center/pingce.png" alt="">
      </div>
    </div>

    <my-publish-pop v-on:close-event="closeEvent" v-bind:showPublish="showPublish"
                    v-bind:showPublishCon="showPublishCon"></my-publish-pop>
  </header>
</template>

<script type="text/ecmascript-6">

  import MyPublishPop from '@/components/homes/layout/publish.vue';
  import {mapGetters} from "vuex";
  import {Toast} from "mint-ui";
	import { isLogin } from "@/utils/filter";

  export default {
    components: {
      MyPublishPop
    },
    data() {
      return {
        search: '',
        showPublish: false,
        showPublishCon: false,
      }
    },
		computed: {
      ...mapGetters(["userInfo"])
		},
    methods: {
      showEvent() {
				if (isLogin.call(this)) return;
				if (!+this.userInfo.avatarstatus) {
					Toast('请先设置头像');
					setTimeout(()=>{
						this.$router.push("/personalDetails");
					}, 2000)
				} else if (!+sessionStorage.isLogin) {
					Toast('请先登录');
					setTimeout(()=>{
						this.$router.push("/login");
					}, 2000)
				}else {
					this.showPublish = true;
					setTimeout(() => {
						this.showPublishCon = true;
					}, 300)
				}
      },
      closeEvent() {
        this.showPublishCon = false;

        setTimeout(() => {
          this.showPublish = false;
        }, 300)
      },
      // 进入检测中心页
      goEvaluating(){
        this.$router.push('/evaluating');
      },
      // 进入搜索页面
      showSearchView () {
        this.$router.push("/searchViews");
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  .header {
    color: #333;
    font-size: 15px;
    align-self: center;
    padding: 0.2rem 15px;
    line-height: 1;
    display: flex;
    height: 30px;

    .left {
      float: left;
    }

    .right {
      float: right;
    }
    .evvaluat {
      float: left;
    }
    .evaluat-img {
      width: 30px;
      height: 30px;
    }
    .logo-img {
      width: 80px;
      flex: 0 0 80px;
    }

    .mint-field-core {
      flex: 1;
      margin: 0 10px;
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      background: rgba(245, 245, 245, 1);
      border-radius: 15px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(197, 197, 197, 1);
    }

    .right-header {
      width: 70px;
      flex: 0 0 70px;

      > img {
        width: 30px;
        height: 30px;

      }
    }
  }

  .icon_header {
    background: url("../../../assets/haocai/cebianlan.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin: .05rem 0 0 .1rem;
  }

  .icon-kefu {
    font-size: 24px;
  }
</style>
