<template>
  <transition name="fade">
    <div class="publish-pop" v-if="showPublish">
      <transition name="slide">
        <div class="publish-pop-con" v-if="showPublishCon">
          <div class="welcome">
            <img :src="userInfo.my_avatar" alt="">
            <div class="welcome-text">今天是您加入博天堂的第{{ userInfo.day }}天</div>
          </div>

          <div class="img-list">
            <div class="img-list-item" @click="sendPost('发帖子')">
              <img src="../../../assets/forum/fatiezi.png" alt="">
              <div class="text">发帖子</div>
            </div>

            <div class="img-list-item" @click="sendPost('发活动')">
              <img src="../../../assets/forum/fahuodong.png" alt="">
              <div class="text">发活动</div>
            </div>

            <div class="img-list-item" @click="sendPost('发投票')">
              <img src="../../../assets/forum/fatoupiao.png" alt="">
              <div class="text">发投票</div>
            </div>

            <div class="img-list-item" @click="sendPost('发悬赏')">
              <img src="../../../assets/forum/faxuanshang.png" alt="">
              <div class="text">发悬赏</div>
            </div>

            <div class="img-list-item" @click="sendPost('发辩论')">
              <img src="../../../assets/forum/fapinglun.png" alt="">
              <div class="text">发辩论</div>
            </div>
          </div>

          <div class="close" @click="closeEvent">
            <img src="../../../assets/chahao.png" alt="">
          </div>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script type="text/ecmascript-6">
	import {mapGetters, mapActions} from 'vuex';
  export default {
    props: ['showPublish', 'showPublishCon'],
		data() {
			return {
			}
		},
		computed: {
			...mapGetters(['userInfo']),
		},
		created() {
			this.getUserInfo();
		},
    methods: {
      closeEvent() {
        this.$emit('close-event');
      },
      sendPost(go) {
        go === '发帖子' && this.$router.push('/publishPost');
        go === '发活动' && this.$router.push('/editActivity');
        go === '发投票' && this.$router.push('/editVote');
        go === '发悬赏' && this.$router.push('/editReward');
        go === '发辩论' && this.$router.push('/editArgue');
      },
			...mapActions({
				getUserInfo: 'GET_USER_INFO'
			})
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fade-enter-active {
    animation: fadeIn .2s;
  }

  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .fade-leave-active {
    animation: fadeOut .2s;
  }

  @-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .slide-enter-active {
    animation: slideInUp .5s;
  }


  @-webkit-keyframes slideOutDown {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    to {
      visibility: hidden;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }

  @keyframes slideOutDown {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    to {
      visibility: hidden;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }

  .slide-leave-active {
    animation: slideOutDown .5s;
  }

  .publish-pop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);

    .publish-pop-con {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 420px;
      background: rgba(255, 255, 255, 1);
      border-radius: 30px 30px 0px 0px;
      filter: blur(0px);
    }


    .close {
      position: absolute;
			right: 6%;
      top: 25px;
      width: 24px;
      margin-left: -12px;
      height: 24px;

      > img {
        width: 24px;
      }
    }


    .welcome {
      height: 40px;
      line-height: 40px;
      margin-top: 40px;
      margin-bottom: 40px;
      padding-left: 40px;
      padding-right: 40px;
      position: relative;

      > img {
        display: inline-block;
        width: 40px;
        height: 40px;
      }

      .welcome-text {
        position: absolute;
        left: 90px;
        top: 12px;
        height: 20px;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
      }
    }


    .img-list {
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      text-align: center;

      .img-list-item {
        flex: 0 0 33.33333333%;
        height: 95px;
        position: relative;
        margin-bottom: 15px;

        > img {
          display: inline-block;
          height: 70px;
          width: 70px;
        }

        .text {
          position: absolute;
          top: 70px;
          bottom: 0;
          left: 0;
          right: 0;
          height: 25px;
          font-size: 14px;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          line-height: 25px;
        }
      }
    }
  }
</style>
