<template>
  <div class="card">
     <mt-header title="搜索内容">
      <router-link
		  to
          @click.native="unbound()"
        slot="left"
      >
        <mt-button icon="back"></mt-button>
      </router-link>
    </mt-header>
    <div class="container">
      <div class="searchbar">
        <form>
          <input v-model="search" type="text" placeholder="请输入搜索内容" ref="search">
          <button type="submit" @click="onSearch">搜索</button>
        </form>
      </div>
      <div class="images" v-if="searchAllData.search_image && list.length === 0"  v-html="searchAllData.search_image"  ></div>
      <div class="bottom" id="bottom"  v-if="list.length === 0">
        <p>热门搜索</p>
        <ul>
          <li v-if="searchAllData.hot_search_key" v-for="(v,i) in searchAllData.hot_search_key" :key="i" @click="onDetail_click(v)">{{v}}</li>
        </ul>
      </div>

    </div>

		<div class="font" v-if="this.isDate">暂无更多数据</div>
    <ul>
      <li class="post-item" v-for="(item,index) in list" :key="index">
        <div class="post-title" @click="goDetail(item)">
          <img :src="`${imgUrl}/uc_server/avatar.php?uid=${item.authorid}&size=small`" alt="">
          <div :style="`color:${item['subject_color']}`" class="pos">{{item['author']}}</div>
					<div class="level" :style="{background: item.grouptitle_color}">LV{{item.stars}}{{ item.grouptitle }}</div >
        </div>

        <div @click="goDetail(item)" class="text" v-html="item.subject">
        </div>

        <div @click="goDetail(item)" class="content">
					<div v-html="item.message"></div>
          <van-grid :gutter="5" :column-num="3">
            <van-grid-item v-for="(item,index) in item['imgurl']&&item['imgurl'].slice(0,9)" :key="index">
              <van-image height="100px" :src="item" :alt="item" fit="cover">
                <template v-slot:loading>
                  <van-loading type="spinner" size="20"/>
                </template>
              </van-image>
            </van-grid-item>
          </van-grid>
        </div>

        <div class="time">
          <div class="time-left">
            {{item['dateline']}}
          </div>
          <div class="time-right" @click="eventsChangeClassName">
            <span>●●</span>
          </div>
          <div class="wxlist_bottom_box">
            <div class="wxlist_bottom_showbox">
              <div class="wxlist_bottom_show">
                <a class="f_f comiis_recommend_addkey" @click="zan(item)">{{item.recommend =='0'?'点赞':'取消赞'}}</a>
                <a class="dialog f_f" @click="eventCommentWrap(item)">评论</a>
              </div>
            </div>
          </div>
        </div>

        <div @click="goDetail(item)" class="review">
          <div class="review-item" v-for="(item2,index2) in item['reply']" :key="index2">
            <div class="review-con">
              <span class="review-user">
              {{item2['author']}}:
            </span>
              {{item2['message']}}
            </div>
          </div>
        </div>
      </li>
    </ul>



  </div>
</template>

<script type="text/ecmascript-6">
  import { 
	searchpage_api, search_one_api, search_two_api, delete_recommend,
	add_recommend, add_commnt,
	} from "@/common/api";
  import {Indicator, Popup, MessageBox, Toast} from "mint-ui";
  import {isLogin} from '@/utils/filter';
  import {dev} from '../../../../config/index';
  export default {
		data() {
			return {
        search: '',
        searchAllData: {
          hot_search_key: [],
          search_image: ''
        },
				list: [],
				isDate: false,
        imgUrl: dev['proxyTable']['/api']['target'],
			}
    },
    mounted () {
      let els = document.getElementsByClassName('list')
       Array.prototype.forEach.call(els, function(el){
        el.li.style.backgroundColor = this.getRandomColor()
       });
			this.$refs.search.focus();
    },
		created() {
      this.getSearchData();
      this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';
		},
    methods: {
		unbound() {
			this.$router.go(-1);
		},
      // 随机色的函数-rgb
      getRandomColor(){
        var rgb='rgb('+Math.floor(Math.random()*255)+','
        +Math.floor(Math.random()*255)+','
        +Math.floor(Math.random()*255)+')';
          return rgb;
        },
      getSearchData () {
        searchpage_api().then(res => {
          this.searchAllData = res;
        });
      },
      async onSearch () {
        Indicator.open();
        let res		= await search_one_api({}, this.search)
				let res2	= 2;
				if (res) res2	= await search_two_api({kw: this.search, searchid: res.searchid})
        Indicator.close();
				let list	= Object.values(res2.Variables.threadlist);
        this.list	= this.list.concat(list);
				if (list.length	=== 0) this.isDate	= true;
      },
      onDetail_search(id, data) {
        this.$router.push({
          path: '/forumDetail',
          query: {
            forum: JSON.stringify({
              fid: id,
              data: data
            })
          },
        });
      },
      onDetail_click(v) {
				this.search	= v;
				this.onSearch()
       // this.$router.push({
       //   path: '/forumDetail',
       //   query: {
       //     forum: JSON.stringify({
       //       fid: id
       //     })
       //   },
       // });
      },
      goDetail(item) {
        const {tid, special} = item;
        let path = "";

        if (special === "0") {
          path = "/publishSuccess";
        } else if (special === "1") {
          path = "/voteSuccess";
        } else if (special === "2") {
          path = "";
        } else if (special === "3") {
          path = "/rewardSuccess";
        } else if (special === "4") {
          path = "/activitySuccess";
        } else if (special === "5") {
          path = "/argueSuccess";
        }

        this.$router.push(`${path}/${tid}`);
      },
      // 弹出点赞和评论按钮
      eventsChangeClassName(event) {
        event.stopPropagation();
        event.preventDefault()
        if (isLogin.call(this)) return;
        let popup = event.currentTarget.nextElementSibling;
        if (popup.className === 'wxlist_bottom_box') {
          popup.className = 'inputState wxlist_bottom_box';
        } else {
          popup.className = 'wxlist_bottom_box';
          //popup.select();
        }
      },
      zan(item) {
        if (item.recommend === '0') {
          add_recommend({}, item.tid).then(res => {
            if (res.Message.messageval === 'recommend_succeed') {
              Toast(res.Message.messagestr);
							this.goDetail(item);
            } else {
              Toast(res.Message.messagestr);
            }
          })

        } else {
          delete_recommend({}, item.tid).then(res => {
            if (res.Message.messageval === 'recommend_succeed') {
              Toast(res.Message.messagestr);
							this.goDetail(item);
            } else {
              Toast(res.Message.messagestr);
            }
          })
        }
      },
      // 弹出评论输入框
      async eventCommentWrap(item) {
        let {tid, fid} = item;

        async function callback(value, action) {
          let data = {
            tid, fid,
            message: value
          };

          Indicator.open();
          this.loading = true;
          let res = await add_commnt(data);
          Indicator.close();
          this.loading = false;
          Toast(res.message);
          if (+res.code === 200) {
            //this.resetInfo();
            //this.loadMore();
            // TODO tid 跳到对应的帖子 下面
            //this.$router.push(`/publishSuccess?tid=${tid}`);
						this.goDetail(item);
          }
        }

        MessageBox.prompt('回复').then(({value, action}) => callback.call(this, value));
      },

    }
  }
</script>

<style scoped lang="scss" rel="stylesheet/less">
  .container {
    font-size: 14px;
    .searchbar  {
      display: flex;
      flex-direction: column;
      form input {
        border: none;
        outline: none;
        color: #999;
        margin-left: .3rem;
        padding-left: .3rem;
        background: #fff;
        width: 5.8rem;
        height: 35px;
        line-height: 35px;
        border-bottom: 1px solid #efefef;
        border-top: 1px solid #efefef;
        border-left: 1px solid #efefef;
      }
      form button {
        border: none;
        outline: none;
        top: 0;
        right: 0;
        border-radius: 0 5px 5px 0;
        background: #fcad30;
        color: #fff;
        line-height: 35px;
      }
    }
    .images {
      /deep/ .comiis_bigad {
        font-size: 0;
        overflow: hidden;
        height: 250px;
        /deep/ a {
          display: block;
          position: relative;
          height: 250px;
          margin: 12px;
          /deep/ em {
            position: absolute;
            bottom: 15px;
            right: 6px;
            display: block;
            height: 18px;
            line-height: 18px;
            background: rgba(0,0,0,0.6);
            font-size: 12px;
            color: #fff;
            padding: 0px 4px;
            overflow: hidden;
            border-radius: 2px;
          }
          /deep/ .comiis_noloadimage {
            display: block;
            height: 250px;
          }
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      margin-top: .2rem;
      p {
        margin: 0 12px;
        padding: 10px 0;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: #999;
      }
      ul {
        li {
          padding: 0 .2rem;
          color: #777;
          border-radius: 3px;
          float: left;
        }
      }
    }
  }

  .post-item {
    padding: 0 15px 20px;
    border-bottom: 10px solid rgba(248, 248, 248, 1);

    .post-title {
      margin-top: 10px;
      height: 32px;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 32px;
        height: 32px;
        background: #dec8c8;
      }

      .pos {
        float: left;
        margin-left: 45px;
        height: 32px;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 32px;
      }

      .level {
        text-align: center;
        float: left;
        margin-top: 8px;
        margin-left: 14px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        width: 62px;
        height: 16px;
        background: rgba(247, 181, 0, 1);
        border-radius: 2px;
      }
    }

    .text {
      min-height: 22px;
      font-size: 16px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 22px;
      margin: 10px 0;
    }

    .content {
      font-size: 14px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 20px;
    }

    .time {
      height: 20px;
      margin: 20px 0;
      position: relative;

      .time-left {
        float: left;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .time-right {
        float: right;
        width: 24px;
        height: 15px;
        background: rgba(236, 236, 236, 1);
        border-radius: 2px;
        font-size: 12px;
        text-align: center;
      }

      input {
        &.inputState {
          right: 30px;
          opacity: 1;
        }

        transition: 0.3s;
        position: absolute;
        opacity: 1;
        top: 0;
        right: -200px;
        width: 100px;
        border: 2px solid #f8f8f8;
      }

      .wxlist_bottom_box {
        &.inputState {
          right: 0.76rem;
          opacity: 100;
        }

        transition: 0.2s;
        width: 2.5rem;
        position: absolute;
        z-index: 1;
        top: -10px;
        right: -3rem;
        opacity: 0;
        height: 0.7rem;
        line-height: 0.72rem;
        overflow: hidden;
        background-color: rgba(51, 51, 51, .5);
        border-radius: 4px;
        text-align: center;

        .wxlist_bottom_show {
          line-height: 10px;
        }

        a {
          font-size: 14px;
          color: #fff;
          padding: 0 0.15rem;
        }
      }
    }


    .review {
      padding: 10px;
      background: rgba(248, 248, 248, 1);
      display: flex;
      flex-direction: column;

      .review-item {
        flex: 1;
      }

      .review-user {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(84, 134, 204, 1);
      }

      .review-con {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 22px;
      }
    }
  }
	.font {
		text-align: center;
		font-size: 16px;
		margin-top: 0.8rem;
	}
</style>
