<template>
  <div class="swiper-con">
    <swiper :options="swiperOption">
      <swiper-slide v-for="(item,index) in change_slide" :key="index">
        <div class="swiper-inner" v-for="(v, index) in item">
			<img @click="goLink(v)" class="swiper-img" :src="v&&v['img_url']" :alt="v&&v['displayorder']">
        </div>
      </swiper-slide>
      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
  </div>

</template>

<script type="text/ecmascript-6">
  import {mapGetters} from "vuex";

  export default {
	created() {
		this.bannerThreen();
	},
	data() {
		return {
			swiperOption: {
				pagination: {
					el: '.swiper-pagination',
					dynamicBullets: true
				}
			},
			change_slide: [],
		};
	},
    computed: {
      ...mapGetters([
        'slide_menu'
      ])
    },
    methods: {
      goLink(item) {
        window.location = item.url;
      },
	  bannerThreen() {
		let arr		= [];
		let data	= [];
		Array.from(this.slide_menu).forEach( (v, i)=>{
			arr.push(v);
			i++;
			if (!(i%3)) {
				data.push(arr);
				arr	= [];
			};
		});
		if (arr.length) {
			data.push(arr);
		};
		this.change_slide	= data;
		console.log(this.change_slide);
	  }
    }, 
	watch: {
		slide_menu(next, prev) {
			if (next !== prev) {
				this.bannerThreen();
			}
		}
	
	}
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  .swiper-con {
    margin-top: 0.3rem;
    padding: 0 0.3rem;
    border-radius: 4px;
    overflow: hidden;

    .swiper-container {
      height: 3.4rem;
    }


    .swiper-inner {
			border-radius: 4px;
			overflow: hidden;
			float: left;
			display: inline-block;
			&:nth-of-type(3n+1) {
				width: 3.6rem;
				height: 2.72rem;
				margin-right: 0.12rem;
			}
			&:nth-of-type(3n+2) {
				width: 3.02rem;
				height: 1.28rem;
				margin-bottom: 0.16rem;
			}
			&:nth-of-type(3n+3) {
				width: 3.02rem;
				height: 1.28rem;
			}
    }

    .swiper-img {
      display: inline-block;
			height: 100%;
			width: 100%;
    }
  }

</style>
