<template>
  <div class="swipe-con">
    <div class="header-bar">
      <div class="left-header-bar">
        <div class="lay-tab">
         <div class="lay-tab-bar" :class="{'tab-active':active==='铂金认证'}" @click="changeActive('铂金认证')">
            铂金认证
          </div>
          <div class="lay-tab-bar" :class="{'tab-active':active==='金牌认证'}" @click="changeActive('金牌认证')">
            金牌认证
          </div>
          <div class="lay-tab-bar" :class="{'tab-active':active==='银牌认证'}" @click="changeActive('银牌认证')">
            银牌认证
          </div>
          <div class="lay-tab-bar" :class="{'tab-active':active==='铜牌认证'}" @click="changeActive('铜牌认证')">
            铜牌认证
          </div>
          <div class="settled-tabs" :class="{'tab-active':active==='入驻合作'}" @click="goSettledDetail()">
            入驻合作
          </div>
        </div>
      </div>
    </div>


    <div class="tab-container" v-if="active==='铂金认证'">
      <div v-for="(item,index) in auth_menu1" :key="index" class="outer-item">
        <div class="inner-item" @click="goLink(item.id)">
          <img :src="item['img_url']" alt="">
          <span class="item1">
              {{item['title']}}
            </span>
          <span class="item2">
             {{item['money']}}
            </span>
        </div>
      </div>

    </div>


    <div class="tab-container" v-if="active==='金牌认证'">
      <div v-for="(item,index) in auth_menu2" :key="index" class="outer-item">
        <div class="inner-item" @click="goLink(item.id)">
          <img :src="item['img_url']" alt="">
          <span class="item1">
              {{item['title']}}
            </span>
          <span class="item2">
             {{item['money']}}
            </span>
          <span class="item3">

            </span>
        </div>
      </div>

    </div>


    <div class="tab-container" v-if="active==='银牌认证'">
      <div v-for="(item,index) in auth_menu3" :key="index" class="outer-item">
        <div class="inner-item" @click="goLink(item.id)">
          <img :src="item['img_url']" alt="">
          <span class="item1">
              {{item['title']}}
            </span>
          <span class="item2">
             {{item['money']}}
            </span>
          <span class="item3">

            </span>
        </div>
      </div>

    </div>


    <div class="tab-container" v-if="active==='铜牌认证'">
      <div v-for="(item,index) in auth_menu4" :key="index" class="outer-item">
        <div class="inner-item" @click="goLink(item.id)">
          <img :src="item['img_url']" alt="">
          <span class="item1">
              {{item['title']}}
            </span>
          <span class="item2">
             {{item['money']}}
            </span>
          <span class="item3">

            </span>
        </div>
      </div>

    </div>

  </div>
</template>

<script type="text/ecmascript-6">
  import {mapGetters} from "vuex";

  export default {
    computed: {
      ...mapGetters([
        'auth_menu1',
        'auth_menu2',
        'auth_menu3',
        'auth_menu4',
      ])
    },
    data() {
      return {
        search: '',
        active: '铂金认证'
      }
    },
    methods: {
      changeActive(f) {
        this.active = f;
      },
      goLink(id) {
        this.$router.push({
          path: '/entertainment',
          query: {
            id: id,
          }
        });
      },
      goSettledDetail() {
        this.$router.push('/SettledInfo');
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  .lay-tab {

    height: 0.8rem;
    padding: 0 0.32rem;
    border-bottom: 1px solid #E5E5E5;

    .lay-tab-bar {
      float: left;
      text-align: center;
      width: 1.22rem;
      height: 0.78rem;;
      font-size: 0.24rem;
      color: rgba(51, 51, 51, 1);
      line-height: 0.78rem;
      margin-right: 0.15rem;
    }

    // 单独为 tabs 是 “ 入驻合作 ” 样式,
    .settled-tabs {
      float: left;
      text-align: center;
      width: 1.22rem;
      height: 0.78rem;
      font-size: 0.24rem;
      color: #FF3F1E;
      line-height: 0.78rem;
      margin-right: 0.15rem;
    }

    .tab-active {
      color: #3D71FF;
      border-bottom: 2px solid #3D71FF;
    }
  }

  .tab-container {
	width: 100%;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .outer-item {
      flex: 0 1 1;
    }

    .inner-item {
      width: 2.28rem;
      height: 1.16rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 8px;
      position: relative;

      > img {
        position: absolute;
        left: 0.12rem;
        top: 0.12rem;
        width: 0.88rem;
        height: 0.88rem;
        background: rgba(216, 216, 216, 1);
        border-radius: 8px;
      }

      .item1 {
        position: absolute;
        left: 1.12rem;
        overflow: hidden;
        display: inline-block;
        top: 0.12rem;
        width: 1.16rem;
        height: 0.36rem;
        font-size: 0.26rem;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 0.36rem;
      }

      .item2 {
        position: absolute;
        left: 1.12rem;
        top: 0.52rem;
        width: 1.16rem;
        font-size: 0.2rem;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 0.28rem;
        display: inline-block;
      }

      .item3 {
        position: absolute;
        left: 56px;
        top: 36px;
        width: 48px;
        height: 14px;
        font-size: 10px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 14px;
      }
    }
  }


</style>
