<template>
  <div :class="arrowClass" @click="onClick($event)"></div>
</template>

<script>
  export default {
    props: {
      size: {
        type: String, // middle large small
        default: 'middle',
      },
      direction: {
        type: String,
        default: 'left',
      }
    },
    computed: {
      arrowClass: function () {
        let obj = {
          'lay-arrow': true,
        };

        if (this.size) {
          obj[`lay-arrow-${this.size}`] = true;
        }

        if (this.direction) {
          obj[`lay-arrow-${this.direction}`] = true;
        }

        return obj;
      }
    },
    methods: {
      onClick: function (e) {
        e && e.preventDefault();
        this.$emit('arrow-click');
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  //来源 ： https://blog.csdn.net/Che_rish/article/details/78871662
  .lay-arrow-middle {
    @wh: 24px;
    width: @wh;
    height: @wh;

    &:after {
      border-width: 2px 2px 0 0;
      height: @wh /  2;
      width: @wh /  2;
      margin-top: @wh /  4 * -1 - 2px;
    }
  }

  .lay-arrow-large {
    @wh: 36px;
    width: @wh;
    height: @wh;

    &:after {
      border-width: 3px 3px 0 0;
      height: @wh /  2;
      width: @wh /  2;
      margin-top: @wh /  4* -1+ 1px - 2px;
    }
  }

  .lay-arrow-small {
    @wh: 16px;
    width: @wh;
    height: @wh;

    &:after {
      border-width: 2px 2px 0 0;
      height: @wh /  2;
      width: @wh /  2;
      margin-top: @wh /  4 * -1 - 1px;
    }
  }

  .lay-arrow{
    display: inline-block;
  }

  .lay-arrow::after {
    display: inline-block;
    content: " ";
    /*border-color: #c7c7cc;*/
    border-color: #333;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    right: 6px;
  }

  .lay-arrow-left {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    /*IE*/
    filter: FlipH;
  }

  .lay-arrow-up {
    transform-origin: center;
    transform: rotate(-90deg);
  }

  .lay-arrow-right {
    transform-origin: center;
    transform: rotate(0);
  }

  .lay-arrow-down {
    transform-origin: center;
    transform: rotate(90deg);
  }
</style>
