<template>
    <div>
        <mt-field label="手机号" @change="check( /^[1][3,4,5,6,7,8,9][0-9]{9}$/,mobile.mobile,3)" placeholder="请输入11位有效手机号码" v-model="mobile.mobile"></mt-field>
        <mt-field label="验证码" v-model="mobile.vcode" placeholder="请输入手机验证码">
            <mt-button class="code" :class="checked.mobile?'red':''" @click.native="getCode" :disabled="!checked.mobile">{{prompt}}</mt-button>
        </mt-field>
    </div>
</template>

<script type="text/ecmascript-6">
import { mobile_api } from "@/common/api";
import { Toast } from "mint-ui";
export default {
  data() {
    return {
      prompt: "获取验证码",
       reg: /^[1][3,4,5,6,7,8,9][0-9]{9}$/,
      mobile: {
        mobile: "", // 手机号
        vcode: "",
        password: "", // 登录密码
        invitation: ""
      },
         checked: {
        // 正则验证
        username: false,
        password: false,
        mobile: false
      },
      number:0,
    };
  },
  methods: {
    // 获取验证码
    getCode() {
      
      if (this.mobile.mobile && this.number==0) {
        this.checked.mobile = false;
        this.number = 60;
        this.prompt = "重新发送" + this.number;
        let timer = setInterval(() => {
          this.number--;
          this.prompt = "重新发送" + this.number;
          if (this.number < 1) {
            clearInterval(timer);
            this.prompt = "获取验证码";
            this.checked.mobile = true;
          }
        }, 1000);
      mobile_api({ type: "register", mobile: this.mobile.mobile }).then(res => {
        Toast(res.msg);
        this.$emit('vcode',this.mobile.mobile)
      });
        return
      }else if(this.number!=0){
        Toast('请不要重复发送')
        return
      } 
      else {
        Toast("请输入手机号码");
        return
      }
    },
      /***********验证********** */
    check(reg, val) {
        reg.test(val)
          ? (this.checked.mobile = true)
          : Toast("您输入的手机号格式不正确");
      
    },
  },
  watch: {
    "mobile.mobile": {
      handler: function(n, o) {
        this.reg.test(n)
          ? (this.checked.mobile = true)
          : (this.checked.mobile = false);
      },
      deep: true
    }
  },
  components: {}
};
</script>

<style scoped>
.code {
  display: inline-block;
  padding: 0.15rem 0.2rem;
  background: #cecdce;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  height: 0.55rem;
  line-height: 0.25rem;
  opacity: 1;
}

.red {
  background: #3d71ff;
}
</style>
