<template>
  <div>
    <!-- <div class="mask" @click="hide"></div> -->
    <div class="linkage">
      <header>
        <span>时间筛选</span>
        <i class="iconfont icon-fork" @click="close"></i>
      </header>
      <mt-picker :visible-item-count="3" :item-height="40" :show-toolbar="true" :slots="slots1" @change="startTime">
        <div class="page">开始时间</div>
      </mt-picker>

      <mt-picker :visible-item-count="3" :item-height="40" :show-toolbar="true" :slots="slots2" @change="endTime" style="margin-top:40px">
        <div class="page">结束时间</div>
      </mt-picker>
      <p style="padding:1rem 1rem">
        <mt-button type="danger" size="large" style="background:#4A73C5;color:#fff" @click="hide">
          确定
        </mt-button>
      </p>
    </div>
  </div>
</template>

<script>
import { scoreLog_api } from "@/common/api";
import { CITY_DATA } from "@/assets/jso"; //引入cityData数据

  const nian = [
    "2019年",
    "2018年",
    "2017年", "2016年", "2015年",
    "2014年", "2013年"
  ];
  const yue = [
    "01月", "02月", "03月",
    "04月", "05月", "06月",
    "07月", "08月", "09月",
    "10月", "11月", "12月"
  ];
  const ri = [
    "01日", "02日", "03日", "04日",
    "05日", "06日", "07日", "08日",
    "09日", "10日", "11日", "12日",
    "13日", "14日", "15日", "16日", "17日",
    "18日", "19日", "20日", "21日", "22日",
    "23日", "24日", "25日", "26日", "27日",
    "28日", "29日", "30日"
  ];
  const ri1 = [
    "01日", "02日", "03日", "04日",
    "05日", "06日", "07日", "08日",
    "09日", "10日", "11日", "12日",
    "13日", "14日", "15日", "16日", "17日",
    "18日", "19日", "20日", "21日", "22日",
    "23日", "24日", "25日", "26日", "27日",
    "28日", "29日"
  ];

export default {
  created() {
    if (this.defaultDate) {
      reuse(0, this);
      reuse(1, this);
    }
    this.ri = ri;

    function reuse(index, context) {

      let nian_index = nian.findIndex(item => {
        return item === context.defaultDate[index][0];
      });
      let yue_index = yue.findIndex(item => {
        return item === context.defaultDate[index][1];
      });
      let ri_index = ri.findIndex(item => {
        return item === context.defaultDate[index][2];
      });

      context[`slots${index + 1}`][0].defaultIndex = nian_index;
      context[`slots${index + 1}`][2].defaultIndex = yue_index;
      context[`slots${index + 1}`][4].defaultIndex = ri_index;
    }
  },
  computed: {
    date() {
      return {
        start: this.start,
        end: this.end
      };
    }
  },
  props: ["defaultDate", "data"],
  data() {
    return {
      // start: [],
      // end: [],
      dateShow: false,
      slots1: [
        {
          flex: 1,
          values: nian,
          className: "slot1",
          textAlign: "center",
          defaultIndex: 0,
          key: "nian"
        },
        {
          divider: true,
          content: "-",
          className: "slot2"
        },
        {
          flex: 1,
          values: yue,
          className: "slot3",
          textAlign: "center",
          defaultIndex: 0
        },
        {
          divider: true,
          content: "-",
          className: "slot4"
        },
        {
          flex: 1,
          values: ri,
          className: "slot5",
          textAlign: "center",
          defaultIndex: 0
        }
      ],
      slots2: [
        {
          flex: 1,
          values: nian,
          className: "slot1",
          textAlign: "center",
          showToolbar: "toubu"
        },
        {
          divider: true,
          content: "-",
          className: "slot2"
        },
        {
          flex: 1,
          values: yue,
          className: "slot3",
          textAlign: "center"
        },
        {
          divider: true,
          content: "-",
          className: "slot2"
        },
        {
          flex: 1,
          values: ri,
          className: "slot3",
          textAlign: "center"
        }
      ]
    };
  },
  methods: {
    hide() {
      this.data.start_time = this.date.start
        .join("-")
        .replace("年", "")
        .replace("月", "")
        .replace("日", "");
      this.data.end_time = this.date.end
        .join("-")
        .replace("年", "")
        .replace("月", "")
        .replace("日", "");
      this.$emit("getLinkage", this.data); // 发送时间给父组件
    },
    close() {
      this.dateShow = false;
      this.$emit("getLin");
    },
    startTime(picker, values) {
      // this.start = this.defaultDate[0];
      // this.end = this.defaultDate[1];
      if (picker.getSlotValue(1) === "02") {
        this.slots1[4].values = ri1;
      } else {
        this.slots1[4].values = ri;
      }
      this.start = values;
    },
    endTime(picker, values) {
      if (picker.getSlotValue(1) === "02") {
        this.slots2[4].values = ri1;
      } else {
        this.slots2[4].values = ri;
      }
      this.end = values;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.linkage {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 11;
}

/* .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden} */
.pickerWrapper {
  width: 50%;
  float: left;
}

.page {
  height: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.mask {
  z-index: 11;
}

.picker {
  margin-top: 25px;
}
header {
  height: 50px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
header > i {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #979797;
}
header > span {
  color: #4A73C5;
}
</style>






