<template>
  <div>
    <div class="mask" @click="closeMark"></div>
    <transition name="regPop">
      <div class="bindCode">
        <i class="iconfont icon-fork"
           @click.stop="closeMark"></i>
        <div class="pop_box">
          <h4>我的日工资比例</h4>
          <ul class="awardExplain">
            <li>
              1.日流水50万，<span class="red">0.2%</span>
            </li>
            <li>
              2.日流水100万，<span class="red">0.3%</span>
            </li>
            <li>
              3.日流水500万，<span class="red">0.5%</span>
            </li>
            <li>
              4.日流水1000万，<span class="red">1.6%</span>
            </li>
          </ul>
         <!-- <p>
            <span v-for="(item,i) in games"
                  :class="active===item.val?'active':''"
                  @click="changeActive(item)"
                  :key="i">{{item.name}}</span>
          </p>
          <span>自身返水</span>
          <b>{{data[0]}}%</b>
          <h5>{{data.length-1}}级返水:</h5>
          <div class="rank_box">
            <p>
              <span v-for="(v,j) in data.slice(1)">下{{j+1}}级返水: <b>{{v}}%</b> </span>
            </p>
          </div>-->
          <h3 style="margin-top:0.3rem;" @click="closeMark">我知道了</h3>
        </div>
      </div>
    </transition>
  </div>
</template>

<script type="text/ecmascript-6">
  import {
    get_agent_water_ratio, // 我的返水比例
  } from "@/common/api";

  export default {
    created() {
      this.water_ratio()
    },
    data() {
      return {
        active: 'lottery',
        data: [],
        games: [
          {name: '彩票', val: 'lottery'},
          {name: 'AG', val: 'ag'},
          {name: '申博', val: 'sb'},
          {name: '电子', val: 'rt'},
          {name: '开元', val: 'ky'}
        ],
        waterPopData: [],
      }
    },
    methods: {
      changeActive(i) {
        this.active = i.val
        this.data = this.waterPopData[this.active]
      },
      closeMark() {
        this.$emit("closePop", false);
      },
      //  返水比例
      water_ratio() {
        get_agent_water_ratio().then(res => {
          if (res.code == 200) {
            this.waterPopData = res.data;
            this.data = res.data[this.active]
          }
        })
      },
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .awardExplain{
    width: 80%;
    margin-left: 15%;
    min-height: 3rem;
    li{
      height: 0.7rem;
      line-height:0.7rem;
      font-size: 0.3rem;
    }
  }
  .red{
    color: #FE3959;
  }
  .mask {
    z-index: 11;
  }

  .bindCode {
    width: 70%;
    height: 35%;
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    background: #fff;
    background-size: 100% 100%;
    border-radius: 10px;
    z-index: 11;
    padding: 0.4rem;
  }

  .bindCode i {
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    /* color: #fff; */
  }

  .bindCode > div {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%); */
  }

  .bindCode > div > h4 {
    margin: 0 0 0.4rem;
    font-size: 0.36rem;
  }

  .bindCode > div > p {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 0.36rem;
  }

  .pop_box > span {
    font-size: 0.3rem;
    color: #666;
    margin: 0.3rem 0 0.2rem;
  }

  .pop_box > h3 {
    font-weight: normal;
    padding: 0.2rem 0.8rem;
    background: #6c2dfe;
    color: #fff;
    border-radius: 5px;
  }

  .pop_box > h5 {
    align-self: flex-start;
    font-size: 0.28rem;
    margin: 0.4rem 0 0.3rem;
  }

  .pop_box > b {
    font-size: 0.54rem;
    color: #fe3959;
    font-weight: 500;
  }

  .pop_box > p > span {
    box-sizing: border-box;
    height: .5rem;
    vertical-align: bottom;
  }

  .rank_box {
    width: 100%;
  }

  .rank_box > p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    flex-wrap: wrap;
  }

  .rank_box > p > span {
    width: 50%;
    margin-bottom: 0.2rem;
  }

  .rank_box > p b {
    color: #fe3959;
    font-weight: 500;
  }

  .active {
    color: #6c2dfe;
    border-bottom: 2px solid;
  }

  .regPop-enter-active {
    transition: all 0.3s ease;
  }

  .regPop-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }

  .regPop-enter,
  .regPop-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
</style>
