<template>
  <div>
    <div v-if="popMsg">
      <div class="mask"></div>
      <div class="bindCode">
        <!-- 绑定银行卡弹框 -->
        <div style="padding:0 0 20px 0">
          <p style="padding:30px 15px 0 15px" class="padded">{{message}}</p>
          <p class="btn-con" style="padding:0 .8rem">
            <mt-button v-if="messageType!=='活动'" @click="addCard('cancel')">取消</mt-button>
            <mt-button v-if="messageType==='活动'" type="danger" @click="addCard('cancel')">我知道了</mt-button>
            <mt-button v-else type="danger" @click="addCard('read')">查看详情</mt-button>
          </p>
          <!--<i class="iconfont icon-guanbi" @click="closeMark"></i>-->
        </div>
      </div>
    </div>

  </div>
</template>

<script type="text/ecmascript-6">
  import {get_message_list, read_message_list} from "@/common/api";

  export default {
    data() {
      return {
        message: '',
        path: '',
        popMsg: false, // 弹框控制
        messageType: '' // 弹窗的类型
      };
    },
    created() {
      if (this.currentMessageList[0] && this.currentMessageList.length > 0) {
        this.popMsg = true;
        this.message = this.currentMessageList[0].message;
        if (this.currentMessageList[0].message.indexOf('活动') >= 0) {
          this.messageType = '活动'
        } else {
          this.messageType = '';
        }
      }
    },
    props: ["currentMessageList", "showMessagePop", "changeMessageList"],
    methods: {
      addCard(type) {
        if (this.currentMessageList.length > 0) {
          read_message_list({id: this.currentMessageList[0].id})
            .then(res => {
              if (res && res.code === 200) {
                if (type === 'read' && this.currentMessageList[0]) {
                  if (this.currentMessageList[0].link == 'rechargeRecord' || this.currentMessageList[0].link == 'withdrawRecord') {
                    this.path = this.currentMessageList[0].link;
                    this.$router.push(`/${this.currentMessageList[0].link}`);
                  }
                }
                this.closeMark();
              }
            })
            .catch(err => {
              this.popMsg = false;
              get_message_list().then(res => {
                if (res && res.code === 200) {
                  this.currentMessageList = res.data || [];
                  console.log(this.currentMessageList)
                }
              })
            })
        } else {
          this.popMsg = false;
          this.currentMessageList = null;
        }
      },
      closeMark() {
        this.currentMessageList.shift();
        if (this.currentMessageList[0]) {
          this.message = this.currentMessageList[0].message;
          this.popMsg = true;
          if (this.currentMessageList[0].message.indexOf('活动') >= 0) {
            this.messageType = '活动'
          } else {
            this.messageType = '';
          }
        } else {
          this.popMsg = false;
        }
        document.body.style.overflow = "scroll";
        this.$emit("changeMessageList", this.currentMessageList);
      }
    },
    watch: {
      '$route'(to, from) {
        if (this.currentMessageList[0] && this.currentMessageList.length > 0) {
          if (to) {
            if (to.path === '/rechargeRecord' || to.path === '/withdrawRecord') {
              this.popMsg = false;
            } else {
              this.popMsg = true;
              this.path = '';
            }
          }
        }
      },
      currentMessageList(n) {
        if (n && n.length > 0) {
          if (this.path === 'rechargeRecord' || this.path === 'withdrawRecord') {
            this.popMsg = false;
          } else {
            this.popMsg = true;
            this.message = this.currentMessageList[0].message;
            if (this.currentMessageList[0].message.indexOf('活动') >= 0) {
              this.messageType = '活动'
            } else {
              this.messageType = '';
            }
          }
        }
      }
    },
    components: {}
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../style/global";

  .bindCode {
    width: 75%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    z-index: 11;
  }

  .bindCode i {
    padding: 0.2rem;
    position: absolute;
    font-style: normal;
    left: 50%;
    bottom: -1rem;
    color: #fff;
    border-radius: 50%;
    transform: translate(-50%);
    z-index: 13;
  }

  .padded > img {
    width: 100px;
    padding: 0.3rem 0;
  }

  .btn-con {
    text-align: center;
    .mint-button {
      font-size: 14px;
    }
  }

  .mint-button--danger {
    background-color: @hover_color;
    color: #333;
  }

  .mint-popup {
    position: fixed;
  }


</style>
