<template>
  <div class @click="chooseType">
    <input @change="fileChange($event)" type="file" id="upload_file" multiple style="display: none">
    <div class="add" v-if="!type">
      <div class="input_box" align="center"></div>
    </div>
  </div>
</template>
<script>
  import { avatarApi_api } from "@/common/api";
  import { Toast, MessageBox } from "mint-ui";

  export default {
    props: ["type"],
    name: "Feedback",
    data() {
      return {
        showFace: false,
        // imgList: [],
        size: 0,
        limit: 6 //限制图片上传的数量
        // tempImgs:[]
      };
    },
    methods: {
      chooseType() {
        let isLogin = sessionStorage.getItem("isLogin");
        if (isLogin == "yes") {
          MessageBox.confirm("正式会员才可以使用该功能", "提示", {
            confirmButtonText: "成为会员"
          })
            .then(action => {
              this.$router.push("reg");
            })
            .catch(res => {});
        } else {
          document.getElementById("upload_file").click();
        }
      },
      fileChange(el) {
        if (!el.target.files[0].size) return;
        this.fileList(el.target);
        el.target.value = "";
      },
      fileList(fileList) {
        let files = fileList.files;
        for (let i = 0; i < files.length; i++) {
          //判断是否为文件夹
          if (files[i].type != "") {
            this.fileAdd(files[i]);
          } else {
            //文件夹处理
            this.folders(fileList.items[i]);
          }
        }
      },
      //文件夹处理
      folders(files) {
        let _this = this;
        //判断是否为原生file
        if (files.kind) {
          files = files.webkitGetAsEntry();
        }
        files.createReader().readEntries(function(file) {
          for (let i = 0; i < file.length; i++) {
            if (file[i].isFile) {
              _this.foldersAdd(file[i]);
            } else {
              _this.folders(file[i]);
            }
          }
        });
      },
      foldersAdd(entry) {
        let _this = this;
        entry.file(function(file) {
          _this.fileAdd(file);
        });
      },
      fileAdd(file) {
        if (this.limit !== undefined) this.limit--;
        if (this.limit !== undefined && this.limit < 0) return;
        //总大小
        this.size = this.size + file.size;

        if (this.size > 1024 * 1024 * 20) {
          Toast("图片不可大于20M");
          return;
        }
        //判断是否为图片文件
        if (file.type.indexOf("image") == -1) {
          console.log(file);
          this.$dialog.toast({ mes: "请选择图片文件" });
        } else {
          let reader = new FileReader();
          let image = new Image();
          let _this = this;
          reader.readAsDataURL(file);
          reader.onload = function() {
            file.src = this.result;
            image.onload = function() {
              let width = image.width;
              let height = image.height;
              file.width = width;
              file.height = height;
            };
            _this.$emit("my-event", { img: file.src });
          };
        }
      },

      displayImg() {}
    }
  };
</script>
<style scoped>
.img_box {
  background: #fff;
}

.app-bg > img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}

textarea {
  padding: 10px;
}

.text-length {
  font-size: 14px;
  z-index: 999;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  color: #e4e4e4;
}

.warning {
  color: #fe9900;
}

.add-img {
  width: 100%;
  padding: 10px;
}

.add-img p {
  color: #999;
}

.mui-content {
  padding-bottom: 60px;
}

.mui-content .idea {
  margin-top: 8px;
  background-color: #ffffff;
}

.good-item {
  text-align: center;
  width: 33%;
  max-width: 100%;
  overflow: hidden;
  padding-right: 10px;
  padding-bottom: 10px;
  float: left;
}

.good-item span {
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  border-radius: 50px;
  display: block;
  width: 100%;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #cccccc;
}

.mui-table {
  padding-top: 10px;
  color: #333;
  padding-left: calc(0.5% + 10px);
}

.h-line-behind {
  line-height: 40px;
  padding-left: 10px;
}

.question {
  border: 0;
  margin-bottom: 10px;
}

.add {
  display: inline-block;
  /* margin-bottom: 20px; */
}

.add-image {
  padding: 30px;
  /* margin-left: 10px; */
  /* width: 80px; */
  /* top: 20px; */
  /* height: 80px; */
  /* background: #EDEDED; */
}

.add-image .icon-camera {
  font-size: 24px;
}

.good-item .choose {
  color: #fff;
  background-color: #87582e;
  color: #fff;
  border: 0;
}

.mui-btn-block {
  border: 0;
  border-radius: 0;
  background-color: #87582e;
  color: #fff;
  margin-bottom: 0;
  bottom: 0;
}

.mui-buttom {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999;
}

/*九宫格*/
.img-list {
  overflow: hidden;
}

.img-list > li {
  float: left;
  width: 32%;
  text-align: center;
  padding-top: 31%;
  margin-left: 1%;
  margin-top: 1%;
  position: relative;
}

.img-list > li > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-list > li > div .app-bg {
  width: 100%;
  height: 100%;
}

.mui-fullscreen {
  z-index: 9999;
}

.del {
  position: absolute;
  width: 18px;
  top: 0;
  right: 0;
  z-index: 999;
}

.input_box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 10px;
  width: 10px;
  /*margin: 1rem 0 .5rem 1rem;*/
  /* background:url(../../static/img/bg.png) no-repeat; */
  /* background: #000; */
  background-size: cover;
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;

  /* border-radius: 5px; */
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
</style>
