<template>
  <div class="card">
	<my-header title="每日任务" />
    <div class="select">
      <span
        :class="active.name==v.name ? 'active' : ''"
        v-for="(v,i) in select"
        :key="i"
        @click="selected(v)"
      >{{v.name}}</span>
    </div>
    <div class="recharge_list" v-if="!detailVisible">
      <ul>
        <li class="mint-cell" v-for="(items,index) in tasklist" :key="index" @click="goDetail(items.taskid)"  >
          <div style="flex-grow:0;">
            <img :src="items.icon" alt="" width="60">
          </div>
          <div style="flex-grow:1;">
            <div class="space_around">
              <div>
                <h3>{{items.name}}</h3>
                <small>奖励积分  博币 {{items.bonus}} 枚</small>
								<i v-if="item == 'doing'">
									<em :style="{ width: items.csc + '%' }"><b>已完成 {{ items.csc }}%</b></em>
								</i>
              </div>
              <span v-if="item == 'new'" class="apply_task" @click.stop="applyClick(items.taskid)">申请任务</span>
              <!-- <span v-if="item == 'doing'"  class="apply_task" @click="receiveAward(items.taskid)">领取奖励</span> -->
              <span v-if="item == 'doing'"  class="apply_task" @click.stop="receiveAward(items.taskid)">领取奖励</span>
              <span v-if="item == 'done'" class="apply_task" @click="goDetail(items.taskid)">查看详情</span>
              <span v-if="item == 'failed'" class="apply_task" @click="goDetail(items.taskid)">已过期</span>
            </div>
            <p v-html="items.description"></p>
          </div>
        </li>
      </ul>
    </div>
    <my-card-detail v-if="detailVisible" ref="detail" :active='active' @loadMore="loadMore" @applyData="applyData" @giveTaskData="giveTaskData"></my-card-detail>
  </div>
</template>

<script type="text/ecmascript-6">
import MyHeader from "@/bass/header";
  import {get_tasks} from "@/common/api";
  import {MessageBox, Indicator, Toast} from "mint-ui";
  import MyCardDetail from './myCardDetail';

  export default {
    data() {
      return {
        active: {name: "新任务", key: "new"},
        item: 'new',
        select: [
          {name: "新任务", key: "new"},
          {name: "进行中", key: "doing"},
          {name: "已完成", key: "done"},
          {name: "已过期", key: "failed"}
        ],
        tasklist: [
          {
            icon: '',
            name: '',
            description: '',
            bonus: ''
          }
        ],
        detailVisible: false
      };
    },
  components: {
    MyCardDetail,
	MyHeader,
  },
  created() {
    this.loadMore();
  },
  watch: {
    // 路由若是发生变化，会再次执行该方法
    '$route.path': function (newVal, oldVal) {

     }
  },
  methods: {
    selected(item) {
      this.active = item;
      this.item = item.key;
      this.loadMore();
			this.detailVisible	= false;
    },
    notClick () {},
    loadMore() {
      get_tasks({
        item: this.item,
      }).then(res => {
        if (res.code === "200") {
          this.tasklist = res.tasklist;
        } else {
          Toast(res.msg);
        }
      });
    },
    goDetail (id) {
      this.detailVisible = true
      this.$nextTick(() => {
        this.$refs.detail.getDetail(id)
      })
    },
    //申请任务
    applyClick(id) {
      let _this = this
      get_tasks({
        do: 'apply',
        id: id
      }).then(res => {
        if (res.code === "200") {
          Toast(res.msg);
          _this.selected({name: "进行中", key: "doing"})
        } else {
          Toast(res.msg);
        }
      });
    },
    applyData (id) {
      get_tasks({
        do: 'apply',
        id: id
      }).then(res => {
        if (res.code === "200") {
          this.tasklist = res.tasklist;
          Toast(res.msg);
        } else {
          Toast(res.msg);
        }
      });
    },
    // 放弃任务
    giveTaskData (id) {
      get_tasks({
       do: 'delete',
       id: id
      }).then(res => {
        if (res.code === "200") {
          this.tasklist = res.tasklist;
          Toast(res.msg);
        } else {
          Toast(res.msg);
        }
      });
    },
    // 领取奖励
    receiveAward (id) {
      let _this = this
      get_tasks({
       do: 'draw',
       id: id
      }).then(res => {
				console.log(res)
        if (+res.code === 200) {
          Toast(res.msg);
          _this.selected({name: "已完成", key: "done"})
        } else {
          Toast(res.msg);
        }
      });
    }
  }
};
</script>

<style scoped lang="less" rel="stylesheet/less">
  .select {
    height: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 11;
    position: relative;
    background: #fff;

    span {
      padding: 0.3rem;
      font-size: 14px;
    }

    .active {
      color: #53bcf5;
      border-bottom: 3px solid #53bcf5;
    }
  }

  .recharge_list {
    padding: .3rem;
    font-size: 15px;
    background: #fff;

    li {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      padding-bottom: 0.2rem;
      padding-top: 0.2rem;
      background-color: #fff;

      >div{
        > div {
          display: flex;
          // flex-direction: column;
          justify-content: space-between;

          > p {
            font-size: 12px;
            margin: 0.1rem 0;
          }

          h3 {
            font-size: 15px;
            font-weight: normal;

          }
          small {
            // margin-left: .2rem;
            color: #ff9900;
            line-height: 22px;
            font-size: 12px;
          }

          .go_task {
            border: 1px solid #3D71FF;
            border-radius: 15px;
            padding: .1rem .2rem;
            color: #3D71FF;
          }
        }

        > img {
          flex-grow: 0;
          margin-right: 0.3rem;
        }
      }
      p {
          overflow: hidden;
          font-size: 13px;
          color: #999;
        }

    }

    .mint-cell:after {
      left: 0;
      width: 100%;
    }
  }
  .apply_task{
    display: block;
    padding: 0 13px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 40px;
    background: #53bcf5;
    color: #fff !important;
    min-width: 48px;
  }
  .space_around{
    display: flex;
    justify-content: space-between;
		i {
				margin-bottom: 0.2rem;
				width: 4rem;
				height: 0.4rem;
				background-color: #F1F1F1;
				position: relative;
				display: block;
				border-radius: 30px;
				em {
					position: absolute;
					background-color: #A7D86F;
					left: 0;
					top: 0;
					display: block;
					font-style: normal;
					//width: 0.2rem;
					border-radius: 30px;
					b {
						float: right;
						margin-right: -1.3rem;
						width: -1.8rem;
						font-weight: 0;
					}
				}
		}
  }
</style>
