<template>
   <div class="card">
	<!--<div class="back" @click="$emit('eventClose')">
		返回
	</div>-->
	<div class="card-detail-container">
		<div class="title">
			<div class="images" v-if="taskdetail.taskdata.icon"><img :src="taskdetail.taskdata.icon"/></div>
			<div class="info">
				<h3 v-if="taskdetail.taskdata.name">{{taskdetail.taskdata.name}}</h3>
				<span v-if="taskdetail.taskdata.description">{{taskdetail.taskdata.description}}</span>
			</div>
		</div>
		<div class="material">
			<span class="draw-title">任务奖励: 积分 博币 {{taskdetail.taskdata.bonus}} 枚</span>
			<div class="draw-center">
				<div v-html="taskdetail.taskdata.viewmessage"></div>
			</div>
			<div class="btn">
			<!--
				<div v-if="taskdetail.allowapply === '1'">
					<span class="appl-btn" @click="get_tasks({id: taskdetail.taskdata.taskid, type:'draw'})">立即申请</span>
				</div>
				<div  v-else >
					<span v-if="+taskdetail.taskdata.csc === 100" class="appl-btn" @click="get_tasks({id: taskdetail.taskdata.taskid, type:'apply'})">领取奖励</span>
					<span class="appl-btn"  style="background: #f1f1f1; color: #999 !important" @click="get_tasks({id: taskdetail.taskdata.taskid, type:'delete'})">放弃任务</span>
				</div>
				-->
				<div v-if="taskdetail.allowapply === '1' && active.key === 'doing'">
					<span class="appl-btn" style="background: #f1f1f1; color: #999 !important">领取奖励</span>
					<span class="appl-btn" @click="giveup(taskdetail.taskdata.taskid)">放弃任务</span>
				</div>
				<span v-else class="appl-btn" @click="applyDetail(taskdetail.taskdata.taskid)">立即申请</span>
			</div>
		</div>
		<div class="user-data">
			<div class="user-data-title">已有{{taskdetail.taskdata.applicants}}位会员参与比任务</div>
			<div class="user-data-content">
				<ul>
					<li v-if='taskdetail.applieduser' v-for="(i,v) in taskdetail.applieduser" :key="v">
						<div class="images"><img :src="i.userimage" /></div>
						<div class="text">{{i.username}}</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</template>
<script>
//TODO 见鬼弄了什么鬼接口
import { get_tasks_detail, get_tasks } from "@/common/api";
import { Toast, MessageBox, Indicator} from "mint-ui";
export default {
data() {
		return {
			taskdetail: {
				taskdata: [{
					taskid: '',
					icon: "",
					bonus: "",
					name: "",
					description: "",
					csc: null,
					applicants: "",
					viewmessage: ""
				}], // 任务内容
				allowapply: '', // 是否可以领取 1代表可以领取
				applieduser: [] // 领取任务的数据
			}
		};
	},
	props: {
		active: Object
	},
	created () {
	},
	 methods: {
		// 任务详情
		getDetail(id){
			get_tasks_detail({},id).then(res => {
          if (res.code === "200") {
            this.taskdetail = res
						//if (res.taskdata.csc !== 100) {
						//	MessageBox.alert(res.taskdata.viewmessage)
						//}
          } else {
            Toast(res.msg);
          }
        });
      },
			//async get_tasks(v) {
			//	let {item , type, id }= v;
			//	let json	= {
			//		item,
			//		do: type,
			//		id
			//	};
			//	Indicator.open();
			//	
			//	let res	= await get_tasks();
			//	Indicator.close();
			//	console.log(res);
			//	if (+res.code === 200) {
			//		this.$emit('eventClose')
			//	} else {
			//	};
			//	Toast(res.msg);
			//}
      // 申请任务
      applyDetail(id){
        this.getDetail(id)
        this.$emit('applyData', id)
        location.reload()
      },
      // 放弃任务
      giveup(id){
        this.getDetail(id)
        this.$emit('giveTaskData', id)
        location.reload()
      }
    }
  }
</script>
<style lang="less" scoped rel="stylesheet/less">
.back {
	position: absolute;
	right: 0;
	font-size: 0.3rem;
	padding: 0.1rem;
	z-index: 100;
}
.card-detail-container {
  width: 100%;
  position: relative;
  font-size: .24rem;
  .title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: .2rem 0;
    border-bottom: 1px solid #E7E7E7;
    .images {
      margin-left: .3rem;
      padding-right: .3rem;
      line-height: 71px;
      img {
        width: .4rem;
      }
    }
    .info {
      h3 {
        color: rgb(116, 113, 113);
        height: .52rem;
        line-height: .52rem;
      }
      span {
        color: darkgray;
      }
    }
  }
  .material {
    width: 100%;
    position: relative;
    padding-left: .3rem;
    .draw-title {
      color: #ff9900;
    }
    .draw-center {
      margin-bottom: .2rem;
      color: rgb(116, 113, 113);
      h4 {
        margin-top: .1rem;
        margin-bottom: 0;
      }
    }
    .btn {
      margin: .2rem 0;
      .appl-btn {
        background: #53bcf5;
        padding: .1rem .2rem;
        color: #fff;
        border-radius: .4rem;
        cursor: pointer;
      }
    }
  }
  .user-data {
    width: 100%;
    position: relative;
    .user-data-title {
      line-height: 40px;
      color: #747171;
      padding-left: .3rem;
      margin-bottom: .2rem;
      border-bottom: 1px solid #E7E7E7;
    }
    .user-data-content {
      ul {
        width: 100%;
        li {
          text-align: center;
            width: 15%;
            float: left;
            padding: 0 10px;
          .images img{
            width: .8rem;
            height: 45px;
            border-radius: 100%;
          }
          .text {
            line-height: 25px;
            color: darkgray;
          }
        }
      }
    }
  }
}
</style>


