<template>
  <div class="player-content">
    <div class="comment-top">
      <div class="back" @click="goBack()"></div>
        评测列表
    </div>
    <ul class="player-bottom">
      <li v-if="commentListData" v-for="(i,v) in commentListData" :key="v" class="item-list"  @click="goCommentDetail(i.id)">
        <div class="title-name">{{i.username}} 评了 {{commentListData.name}}</div>
        <div class="content">
          <div class="cont-left">
            <img v-if="i.uid" :src= "`${imageUrl}/uc_server/avatar.php?uid=${i.uid}&size=small`" />
          </div>
          <div class="cont-right">
            <ul class="text">
              <li>
                <span class="name">存款:</span>
                <ul class="cleanfloat">
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                </ul>
                <span class="sorce">{{i.star1}}分</span>
                </li>
              <li>
                <span class="name">提款:</span>
                <ul class="cleanfloat">
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                </ul>
                <span class="sorce">{{i.star2}}分</span>
              </li>
              <li>
                <span class="name">优惠:</span>
                <ul class="cleanfloat">
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                </ul>
                <span class="sorce">{{i.star3}}分</span>
              </li>
                <li>
                  <span class="name">娱乐城:</span>
                  <ul class="cleanfloat">
                    <li>&#9733;</li>
                    <li>&#9733;</li>
                    <li>&#9733;</li>
                    <li>&#9733;</li>
                    <li>&#9733;</li>
                  </ul>
                <span class="sorce">{{i.star4}}分</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="play-bottom">
          {{i.comment7}}
        </div>
      </li>
    </ul>
  </div>
</template>
<script type="text/ecmascript-6">
  import {get_comment_list} from "@/common/api";
  import {Toast, MessageBox} from "mint-ui";
  import { dev } from "../../../config/index";

  export default {
    components: {
    },
    computed: {
    },
    created: function () {
      this.getCommentData();
      this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';
    },
    data() {
      return {
        commentListData: [],
        imageUrl: dev['proxyTable']['/api']['target'],
      };
    },
    methods: {
      goCommentDetail (id) {
        this.$router.push({
          path: '/evaluating-commentDetail',
          query: {
            reviewid: id,
          }
        });
      },
      getCommentData() {
        let certid = this.$route.query.certid;
        get_comment_list({}, certid).then(res => {
          if (res) {
            this.commentListData = res.data
          } else {
            Toast(res.msg);
          }
        });
      },
      goBack() {
        his.$router.push('/center');
      }
    }
  };
</script>
<!-- 样式代码 -->
<style scoped lang="less">
  @import "../../style/global.less";
  .player-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
       .comment-top {
        height: 45px;
        line-height: 45px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1000;
        background: #3D71FF;
        margin-bottom: 10px;
        .back {
          position: absolute;
          left: 15px;
          top: 15px;
          content: "";
          display: inline-block;
          height: 10px;
          width: 10px;
          cursor: pointer;
          border-width: 0 0 2px 2px;
          border-color: #fff;
          border-style: solid;
          transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
          -webkit-transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
        }
      }
    .player-bottom {
      width: 90%;
      position: relative;
      margin: 0 5%;
      .item-list {
        font-size: 12px;
        border-bottom: 1px solid #E7E7E7;
        margin: 10px 0;
        .title-name {
          color: #333;
          height: 30px;
          line-height: 30px;
          text-indent: 10px;
        }
        .content {
          width: 100%;
          height: 100px;
          .cont-left {
            float: left;
            top: 52px;
            width: 35%;
            height: 86px;
            text-align: center;
              img {
                width: 86px;
                height: 86px;
              }
          }
          .cont-right {
            width: 65%;
            float: left;
            .text li {
              line-height: 20px;
              float: left;
              width: 100%;
              .name {
                float: left;
                width: 53px;
                font-size: 12px;
                font-weight: normal;
                text-align: right;
                text-align: center;
                font-weight: 700;
              }
              .cleanfloat {
                float: left;
                li {
                  width: 15%;
                  margin-left: 3px;
                  color: #999;
                }
              }
              .cleanfloat::after{
                float: left;
                display: block;
                clear: both;
                content:"";
                visibility: hidden;
                height: 0;
                  ul li {
                    list-style: none;
                    float: left;
                    font-size:30px;
                    margin:5px;
                    color:#ccc;
                    }
                }
                .sorce {
                  float: left;
                  padding-left: 6px;
                  font-size: 14px;
                  line-height: 20px;
                  color: #F00;
                }
            }
          }
        }
        .play-bottom {
          color: #999;
          line-height: 20px;
        }
      }
    }
  }
</style>
