<template>
  <div class="comment-detail-content">
    <div class="comment-top">
      <div class="back" @click="goBack()"></div>
        评测详情
    </div>
      <div class="certdata-content">
          <div class="info">
            <div class="left">
              <img class="img" :src="certdata.icon"/>
              <a class="go-home" :href="certdata.home_url">进入官网</a>
            </div>
            <div class="right">
              <div class="con">
                <div class="con-left">游戏:</div>
                <div class="game">
                  <span class="name" v-for="(m,n) in certdata.pt" :key="n" >{{m}}</span>
                </div>
              </div>
              <div class="con">
                <div class="con-left">平台:</div>
                <div class="game">
                  <span class="name" v-for="(j,k) in certdata.game" :key="k">{{j}}</span>
                </div>
              </div>
               <div class="con">
                <div class="con-left">优势:</div>
                <div class="game" v-if="certdata.ys">{{certdata.ys}}</div>
              </div>
            </div>
          </div>
      </div>
      <div class="comment-list-content">
        <ul class="player-bottom">
          <li v-if="reviewdata" class="item-list">
            <div class="item-list-top">
              <div class="title-name">{{reviewdata.username}} 评了 {{reviewdata.name}}</div>
              <div class="cont-left">
                <img v-if="reviewdata.uid" :src= "`${imageUrl}/uc_server/avatar.php?uid=${reviewdata.uid}&size=small`" />
              </div>
              <div class="cont-right">
                <ul class="text">
                  <li>
                    <span class="name">存款:</span>
                    <ul class="cleanfloat">
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                    </ul>
                    <span class="sorce" v-if="reviewdata.star1">{{reviewdata.star1}}分</span>
                    </li>
                  <li>
                    <span class="name">提款:</span>
                    <ul class="cleanfloat">
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                    </ul>
                    <span class="sorce" v-if="reviewdata.star2">{{reviewdata.star2}}分</span>
                  </li>
                  <li>
                    <span class="name">优惠:</span>
                    <ul class="cleanfloat">
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                    </ul>
                    <span class="sorce" v-if="reviewdata.star3">{{reviewdata.star3}}分</span>
                  </li>
                    <li>
                      <span class="name">娱乐城:</span>
                      <ul class="cleanfloat">
                        <li>&#9733;</li>
                        <li>&#9733;</li>
                        <li>&#9733;</li>
                        <li>&#9733;</li>
                        <li>&#9733;</li>
                      </ul>
                    <span class="sorce" v-if="reviewdata.star4">{{reviewdata.star4}}分</span>
                  </li>
                </ul>
            </div>
            </div>
            <div class="comment-center">
              <ul class="text">
                <li>
                  <span class="name">存款:</span>
                  <div class="content">{{reviewdata.comment1}}</div>
                </li>
                <li>
                  <span class="name">游戏:</span>
                  <div class="content">{{reviewdata.comment2}}</div>
                </li>
                <li>
                  <span class="name">优惠:</span>
                  <div class="content">{{reviewdata.comment3}}</div>
                </li>
                  <li>
                    <span class="name">提款:</span>
                    <div class="content">{{reviewdata.comment4}}</div>
                </li>
                <li>
                  <span class="name">客服:</span>
                  <div class="content">{{reviewdata.comment5}}</div>
                </li>
                <li>
                  <span class="name">娱乐城:</span>
                  <div class="content">{{reviewdata.comment6}}</div>
                </li>
                  <li>
                    <span class="name">总结:</span>
                    <div class="content">{{reviewdata.comment7}}</div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
  </div>
</template>
<script type="text/ecmascript-6">
  import {get_comment_detail} from "@/common/api";
  import {Toast, MessageBox} from "mint-ui";
  import { dev } from "../../../config/index";

  export default {
    components: {
    },
    computed: {
    },
    created: function () {
      this.getCommentDetail();
      this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';
    },
    data() {
      return {
        certdata: {
          certid: '',
          certname: '',
          icon: '',
          game: [],
          pt: [],
          ys: '',
          home_url: ''
        },
        reviewdata: {
          id: '',
          certid: '',
          uid: '',
          username: '',
          comment1: '',
          comment2: '',
          comment3: '',
          comment4: '',
          comment5: '',
          comment6: '',
          comment7: '',
          star1: '',
          star2: '',
          star3: '',
          star4: '',
          views: '',
          status: '',
          dateline: ''
        },
        imageUrl: dev['proxyTable']['/api']['target'],
      };
    },
    methods: {
      goBack () {
        this.$router.push('/evaluating');
      },
      goCommentDetail (id) {
        this.$router.push({
          path: '/evaluating-commentDetail',
          query: {
            reviewid: id,
          }
        });
      },
      getCommentDetail() {
        let reviewid = Number(this.$route.query.reviewid);
        get_comment_detail({}, reviewid).then(res => {
          if (res.code === '200') {
            this.certdata = res.certdata
            this.reviewdata = res.reviewdata
          } else {
            Toast(res.msg);
          }
        });
      }
    }
  };
</script>
<!-- 样式代码 -->
<style scoped lang="less">
  @import "../../style/global.less";
  .comment-detail-content {
    width: 100%;
    position: relative;
     .comment-top {
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1000;
      background: #3D71FF;
      margin-bottom: 10px;
      .back {
        position: absolute;
        left: 15px;
        top: 15px;
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        cursor: pointer;
        border-width: 0 0 2px 2px;
        border-color: #fff;
        border-style: solid;
        transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
        -webkit-transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
      }
    }
    .certdata-content {
      font-size: 15px;
        .info {
          height: 120px;
          position: relative;
          padding-bottom: 20px;
        .left {
          width: 24%;
          float: left;
          margin-left: 10px;
          .img {
            width: 90px;
            height: 90px;
            vertical-align: middle;
          }
          .go-home {
            float: right;
            background: #999;
            color: #fff;
            font-size: 12px;
            border-radius: 3px;
            display: block;
            margin-top: 10px;
            margin-right: 10px;
            width: 80%;
            line-height: 25px;
            text-align: center;
            cursor: pointer;
          }
        }
        .right {
          float: left;
          width: 70%;
          margin-left: 10px;
          .con-left {
            width: 20%;
            float: left;
            font-weight: bold;
            margin: 5px 0;
          }
          .game {
            width: 80%;
            float: left;
            margin: 5px 0;
            font-size: 12px;
            .name {
              float: left;
              margin: 2px;
              padding: 0 10px;
              height: 20px;
              line-height: 20px;
              background-color: #53bcf5;
              color: #FFF;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .comment-center {
      .text li {
        line-height: 20px;
        float: left;
        width: 100%;
        .name {
          float: left;
          width: 53px;
          font-size: 12px;
          font-weight: normal;
          text-align: right;
          margin-right: 5px;
        }
        .cleanfloat {
          float: left;
          li {
            width: 15%;
            margin-left: 3px;
            color: #999;
          }
        }
        .cleanfloat::after{
          float: left;
          display: block;
          clear: both;
          content:"";
          visibility: hidden;
          height: 0;
            ul li {
              list-style: none;
              float: left;
              font-size:30px;
              margin:5px;
              color:#ccc;
              }
          }
          .sorce {
            float: left;
            padding-left: 6px;
            font-size: 14px;
            line-height: 20px;
            color: #F00;
          }
        }
      }
    .comment-list-content {
      width: 100%;
      overflow: hidden;
      .player-bottom {
        width: 100%;
        position: relative;
        font-size: 12px;
        .item-list {
          .item-list-top {
            width: 100%;
            height: 100px;
             .title-name {
              color: #333;
              height: 30px;
              line-height: 30px;
              text-indent: 10px;
            }
            .cont-left {
              float: left;
              top: 52px;
              width: 30%;
              height: 86px;
              text-align: center;
              margin-bottom: 15px;
                img {
                  width: 86px;
                  height: 86px;
                }
            }
            .cont-right {
              width: 70%;
              float: left;
              margin-bottom: 15px;
              .text li {
                line-height: 20px;
                float: left;
                width: 100%;
                .name {
                  float: left;
                  width: 53px;
                  font-size: 12px;
                  font-weight: normal;
                  text-align: right;
                  text-align: center;
                  font-weight: 700;
                }
                .cleanfloat {
                float: left;
                li {
                  width: 15%;
                  margin-left: 3px;
                  color: #999;
                }
              }
              .cleanfloat::after{
                float: left;
                display: block;
                clear: both;
                content:"";
                visibility: hidden;
                height: 0;
                  ul li {
                    list-style: none;
                    float: left;
                    font-size:30px;
                    margin:5px;
                    color:#ccc;
                    }
                }
                .sorce {
                  float: left;
                  padding-left: 6px;
                  font-size: 14px;
                  line-height: 20px;
                  color: #F00;
                }
              }
            }
          }
          .comment-center {
            width: 100%;
            position: relative;
            .text {
              li {
                padding: 10px 0;
                font-size: 14px;
                .name {
                  font-weight: 700;
                }
                .content {
                  color: #999
                }
              }
            }
          }
        }
      }
    }
  }
</style>
