<!-- 展示模板 -->
<template>
  <div class="comment-page">
    <div class="comment-top">
      <div class="back" @click="goBack()"></div>
      评测中心
    </div>
    <div class="titles">最新评测</div>
    <div class="container" v-for="(i,v) in commentData" :key="v">
      <div class="content">
        <div class="content-left">
          <a :href="i.home_url"><img class="image" :src="i.icon" alt></a>
        </div>
        <div class="content-right">
          <div class="content-right-title">
            <h3>{{i.certname}}</h3>
            <a class="go-home" :href="i.home_url">进入官网</a>
          </div>
          <ul class="stars">
            <li class="item-list" >综合评分: </li>
            <li class="e_score_all">
              <div class="stars-item">
                <img src="../../assets/stars.png">
                <img src="../../assets/stars.png">
                <img src="../../assets/stars.png">
                <img src="../../assets/stars.png">
                <img src="../../assets/half-stars.png">
              </div>
            </li>
            <li class="e_score_start">{{i.zhpf}}分</li>
          </ul>
          <ul class="text">
            <li>
              <span class="name">存款:</span>
              <ul class="cleanfloat">
                <li>&#9733;</li>
                <li>&#9733;</li>
                <li>&#9733;</li>
                <li>&#9733;</li>
                <li>&#9733;</li>
              </ul>
              <span class="sorce" v-if="commentData.star1">{{commentData.star1}}分</span>
              </li>
            <li>
              <span class="name">提款:</span>
              <ul class="cleanfloat">
                <li>&#9733;</li>
                <li>&#9733;</li>
                <li>&#9733;</li>
                <li>&#9733;</li>
                <li>&#9733;</li>
              </ul>
              <span class="sorce" v-if="commentData.star2">{{commentData.star2}}分</span>
            </li>
            <li>
              <span class="name">优惠:</span>
              <ul class="cleanfloat">
                <li>&#9733;</li>
                <li>&#9733;</li>
                <li>&#9733;</li>
                <li>&#9733;</li>
                <li>&#9733;</li>
              </ul>
              <span class="sorce" v-if="commentData.star3">{{commentData.star3}}分</span>
            </li>
              <li>
                <span class="name">娱乐城:</span>
                <ul class="cleanfloat">
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                  <li>&#9733;</li>
                </ul>
              <span class="sorce" v-if="commentData.star4">{{commentData.star4}}分</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="describe">
        <div class="describe-title">
          <span class="title">最新评论: {{i.username}}</span>
          <span class="count" @click="goCommentList(i.certid)">总条数: {{i.reviewcount}}</span>
        </div>
        <div class="describe-content" @click="goCommentDetail(i.id)">{{i.comment1}}</div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {get_comment} from "@/common/api";
  import {Toast, MessageBox} from "mint-ui";

  export default {
    components: {
    },
    computed: {
      init() {
      },
    },
    created: function () {
      this.getCommentData();
    },
    data() {
      return {
        commentData: [],
      };
    },
    methods: {
      goCommentList (id) {
        this.$router.push({
          path: '/evaluating-commentList',
          query: {
            certid: id,
          }
        });
      },
      goCommentDetail (id) {
        this.$router.push({
          path: '/evaluating-commentDetail',
          query: {
            reviewid: id,
          }
        });
      },
      getCommentData() {
        get_comment().then(res => {
          if (res) {
            this.commentData = res.newreview_list
          } else {
            Toast(res.msg);
          }
        });
      },
      goBack() {
        this.$router.push('/center');
      }
    }
  };
</script>

<!-- 样式代码 -->
<style scoped lang="less">
  @import "../../style/global.less";
  .comment-page {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    .comment-top {
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #333333;
      font-size: 14px;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1000;
      background: #fff;
      .back {
        position: absolute;
        left: 15px;
        top: 15px;
        content: "";
        display: inline-block;
        height: 15px;
        width: 15px;
        cursor: pointer;
        border-width: 0 0 2px 2px;
        border-color: #333333;
        border-style: solid;
        transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
        -webkit-transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
      }
    }
    .titles {
      line-height: 50px;
      font-size: 15px;
      color: #fff;
      background: #3D71FF;
      margin-bottom: 10px;
      padding-left: 10px;
    }
    .container  {
      .content {
        width: 100%;
        height: 130px;
         .content-left {
          width: 30%;
          float: left;
          text-align: center;
          .image {
            width: 100px;
            height: 100px;
            text-align: center;
            vertical-align: middle;
          }
        }
        .content-right {
          width: 70%;
          float: left;
          .content-right-title {
            h3 {
              display: inline-block;
              padding: 5px;
            }
            .go-home {
              float: right;
              margin-right: 10px;
              background: #3D71FF;
              color: #fff;
              padding: 5px;
              font-size: 12px;
              border-radius: 3px;
            }
          }
          .stars {
            margin: 0 auto;
            height: 20px;
            .item-list {
              float: left;
              height: 20px;
              line-height: 20px;
              font-size: 14px;
              color: #333;
            }
            .e_score_all {
              float: left;
              height: 20px;
              line-height: 20px;
              overflow: hidden;
                img {
                  width: 15px;
                  height: 15px;
                }
            }
            .e_score_start {
              float: left;
              font-size: 12px;
              text-indent: 10px;
            }
          }
          .text li {
            line-height: 20px;
            float: left;
            width: 100%;
            .name {
              float: left;
              width: 53px;
              font-size: 12px;
              font-weight: normal;
              text-align: right;
              margin-right: 5px;
            }
            .cleanfloat {
              float: left;
              li {
                width: 15%;
                margin-left: 3px;
                color: #999;
              }
            }
            .cleanfloat::after{
              float: left;
              display: block;
              clear: both;
              content:"";
              visibility: hidden;
              height: 0;
                ul li {
                  list-style: none;
                  float: left;
                  font-size:30px;
                  margin:5px;
                  color:#ccc;
                  }
              }
              .sorce {
                float: left;
                padding-left: 6px;
                font-size: 14px;
                line-height: 20px;
                color: #F00;
              }
          }
        }
      }
      .describe {
        color: #999;
        .describe-title {
          line-height: 30px;
          height: 30px;
          color: #999;
          .title {
            width: 80%;
            display: block;
            text-align: left;
            float: left;
            color: black;
          }
          .count {
            width: 20%;
            display: block;
            text-align: left;
            float: left;
            cursor: pointer;
          }
        }
        .describe-content {
          margin-bottom: 20px;
          border-bottom: 1px solid #E5E5E5;
        }
      }
    }
}
</style>
