
a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

html, body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#pass input {
  -webkit-text-security: disc;
  text-security: disc;
}


.mintui-field-error {
  color: #fff;
}

.bettingBtn > .mint-button--large {
  margin: 0;
}

.mint-cell:after.cancelButton {
  height: 0;
}

.confirmButton {
  height: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h3 {
  margin: 0;
}

.mint-msgbox {
  width: 280px;
  border-radius: 8px;
}

.mint-msgbox-btns {
  height: auto;
  line-height: 44px;
}

.mint-msgbox-message {
  font-size: 13px;
  color: #030303;
  letter-spacing: -0.08px;
  text-align: center;
  line-height: 16px;
}

/* img{
  width: 29px;
} */
#qrcode > img {
  width: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

input::-webkit-input-placeholder {
  color: #c5c5c5;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c5c5c5;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #c5c5c5;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c5c5c5;
}

/* 随机名颜色样式 */
.inputW.mint-field input::-webkit-input-placeholder {
  color: #333;
}

.inputW.mint-field input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #333;
}

.inputW.mint-field input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #333;
}

.inputW.mint-field input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #333;
}

/* ios无法输入 */
input {
  user-select: auto;
}

/* 最大盒子设置边框 */
.login {
  padding: .3rem;
  font-size: 15px;
}

.swiper-pagination-bullet-active {
  width: 17px !important;
  border-radius: 20px !important;
  height: 6px !important;
}

.login .mint-field .mint-cell-title, .reg .mint-field .mint-cell-title {
  flex: .3;
}

.login .mint-navbar {
  background: #11162C;
  margin-bottom: .2rem;
}

.login .mint-cell-wrapper {
  background-repeat: inherit;
  background-image: none; /**/

}

.login .mint-field-core {
  background-color: #11162C;
  color: #fff;
}

.login .mint-tab-item, .login .mint-cell-title {
  color: #fff;
}

.login .mint-navbar .mint-tab-item.is-selected {
  border-bottom: 0;
  color: #FFCE6F;
}

.login ::-webkit-input-placeholder {
  color: #4F546A;
}

.setPwd .mint-cell-title {
  flex: .45;
  color: #333;
}

/*忘记密码*/
.login2 .mint-cell-title {
  width: 25%;
}

/* 图片居中 */
.logo {
  text-align: center;
  margin: 1rem auto .5rem;

}

#fonts .mint-tab-item-label {
  font-size: .3rem;
}

.logo > img {
  width: 3rem;
}

p {
  margin: 0;
  padding: 0;
}


.bettingBtn > .mint-button--large {
  margin: 0;
}

body {
  font-family: Helvetica;
}

.cancelButton {
  height: 0;
}

.confirmButton {
  height: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h3 {
  margin: 0;
}

.mint-msgbox-btn {
  font-size: 16px;
  line-height: 44px;
}

/* img{
  width: 29px;
} */
#qrcode > img {
  width: auto;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

input::-webkit-input-placeholder {
  color: #c5c5c5;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c5c5c5;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #c5c5c5;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c5c5c5;
}

/* 随机名颜色样式 */
.inputW.mint-field input::-webkit-input-placeholder {
  color: #333;
}

.inputW.mint-field input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #333;
}

.inputW.mint-field input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #333;
}

.inputW.mint-field input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #333;
}

/* ios无法输入 */
input {
  user-select: auto;
}

.login .mint-field .mint-cell-title, .reg .mint-field .mint-cell-title {
  flex: .3;
}

.setPwd .mint-cell-title {
  flex: .45;
  color: #333;
}

/* 图片居中 */
.logo {
  text-align: center;
  margin: 1rem auto .5rem;

}

#fonts .mint-tab-item-label {
  font-size: .3rem;
}

.logo > img {
  width: 2rem;
}

.login .mint-cell-wrapper {
  background-repeat: inherit;
}

.login .mint-cell:after {
  display: none;
}

/* 更改按钮颜色 */
.mint-button--large {
  margin: .5rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#5751FB), to(#C93AF3));
  background: linear-gradient(to right, #5751FB, #C93AF3);
  color: #fff;
  font-size: 18px;
}

/* 注册同意条款 */
.padded {
  font-size: 14px;
  color: #8f8f94;
  text-align: center;
}

.padded > a {
  color: #007aff;
}

/* 更改头部默认颜色 */
.mint-header {
  background-color: #fff;
  font-size: 18px;
  height: 50px;
  /*z-index: 11;*/
  /*flex: 1;*/
  color: #333;
}

.my-header2 {
  background-color: #6C2DFE !important;
}

/* 温馨提示字体样式 */
.msg {
  font-size: 14px;
  padding: .2rem;
  color: #999;
}

.btn_success {
  color: #000;
  background: #FFCE6F;
  margin: 0 auto;
}

/* 生成下边框 */
.mint-cell:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 10px;
  height: 1px;
  content: '';
  width: 93%;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  /*该颜色在火狐下会生成两条线*/
  background-color: rgba(0, 0, 0, .14);
}

/*使用组件自带的线*/
.mint-cell-wrapper {
  background-image: none;
}

.mint-cell:last-child {
  background-image: none;
}

.mint-cell:last-child:after {
  display: none;
}

/* .recharge .mint-cell:last-child:after {
  display: block;
} */

/* 小红球标识 */
.list .mint-cell .ball {
  position: relative;
}

.list .mint-cell .ball:before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  border-radius: 50%;
  left: -15px;
  background: #ff4d55;
}

.mint-cell-wrapper {
  font-size: 14px;
  padding: 0 15px;

}

.chongzhi .mint-cell-wrapper {
  padding: 0 .3rem;
}

.inputW.mint-field .mint-cell-title {
  flex: .4;
}

.inputW .mint-cell-wrapper, .inputW .mint-cell-wrapper input {
  background: #f2f2f2;
}

/* 转账 */
.chongzhi .mint-cell-text {
  color: #333;
}

.bor {

  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 .3rem;
  font-size: 14px;
  color: #333333;
  min-height: 40px;
}

.bor > span {
  font-size: 14px;
  display: inline-block;
  width: 24%;
}

.bor > small {
  float: right;
  margin-right: 0.3rem;
  color: #fe3959;
}

.payee {
  font-size: 14px;
  padding: 0 0.3rem;
}

.bg {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 13px;
  text-align: center;
  background: #f1f1f1;
  color: #999;
}

.martop .mint-cell-title {
  color: #000;
  width: .5rem;
  font-size: 20px;
}

.martop .mint-cell-value {
  font-size: 20px;
}

.martop .mint-cell-wrapper {
  padding: 0;
  background-image: none;
}

.yzm .mint-cell-wrapper {
  padding: 0 .3rem;
}

.yzm .mint-cell-title {
  width: 25%;
}

.picker.game .picker-items {
  width: 100%;
}

.my-radiolist {
  display: flex;
}

.address-page .van-button--normal {
  padding: 0;
}


.order-page .mint-field-core {
  border: 1px solid #f2f2f2;
  background: rgba(251, 251, 251, 1);
}

/*.my-radiolist .mint-radio-Input:checked + .mint-radio-core {*/
/*border-color: #FFCE6F;*/
/*background: #11162C;*/
/*!* background: url("~/assets/radio-checked.png") no-repeat;*/
/*background-size: 100%; *!*/
/*}*/

/*.my-radiolist .mint-radio-core {*/
/*display: inline-block;*/
/*background-color: #11162C;*/
/*border-radius: 100%;*/
/*border: 1px solid #FFCE6F;*/
/*position: relative;*/
/*width: 20px;*/
/*height: 20px;*/
/*vertical-align: middle;*/
/*}*/

/*.my-radiolist .mint-radio-Input:checked + .mint-radio-core::after {*/
/*border-color: #FFCE6F;*/
/*-webkit-transform: rotate(45deg) scale(1);*/
/*transform: rotate(45deg) scale(1);*/
/*}*/

/*.my-radiolist .mint-radio-Input:checked + .mint-radio-core::after {*/
/*background-color: #11162C;*/
/*}*/

/*.my-radiolist .mint-radio-core::after {*/
/*border-radius: 0;*/
/*border: 2px solid transparent;*/
/*border-left: 0;*/
/*border-top: 0;*/
/*content: " ";*/
/*top: 3px;*/
/*left: 6px;*/
/*position: absolute;*/
/*width: 4px;*/
/*height: 8px;*/
/*-webkit-transform: rotate(45deg) scale(0);*/
/*transform: rotate(45deg) scale(0);*/
/*-webkit-transition: -webkit-transform .2s;*/
/*transition: -webkit-transform .2s;*/
/*transition: transform .2s;*/
/*transition: transform .2s, -webkit-transform .2s;*/
/*}*/

/*************复制内容***************/
.copy {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/*****************遮罩层***********************/
.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/********************弹性布局*******************************/
.tab-bar {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  justify-content: space-around;
  color: #858BA6;
  border-top: 1px solid #ededed;
}

.game .tab-bar {
  z-index: 0;
}

*, :after, :before {
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.mt-progress-progress {
  background-color: rgba(255, 63, 30, 1);
}

.v-table-body-cell {
  padding: 0 !important;
}

.tab-item {
  height: 40px;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21%;
}

.icon {
  width: 24px;
  height: 24px;
  padding-top: 0;
  padding-bottom: 0;
}

.tab-label {
  font-size: 12px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
}

.send-post-page .van-cell {
  width: calc(100% - 30px) !important;
}

/********************* 图文列表 ******************/
.picList {
  position: relative;
}

.picList img {
  margin-right: 10px;
  line-height: 42px;
  max-width: 42px;
  height: 42px;
  float: left;
}

.picList div {
  font-size: 15px;
  color: #333;
}

.picList p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

/******************充值******************/
.recharge .mint-tab-item-label {
  font-size: 15px;
}

.on_line_btn {
  background-color: #FFCE6F;
  color: #333;
}

/* 消息详情 */
.pre-con p {
  padding: 3px 0;
  color: #333;
}

/******************搜索框样式覆盖******************/
.mint-searchbar-cancel {
  font-size: 0.25rem;
  margin: 0 6px 0 0;
  color: #FE3959;
}

.mint-searchbar {
  background: rgba(142, 142, 147, 0.12);
  border-radius: 0.16rem;
  padding: 0;
  z-index: 5;
}

.mint-searchbar-inner {
  color: #fff;
  background: rgba(142, 142, 147, 0);
}

.mint-searchbar-core {
  color: #666;
  background: rgba(142, 142, 147, 0);
}

/***************个人中心 我的******************/

.list .mint-cell-wrapper {
  background-image: none;
}

/****************上下级聊天****************/
.chat .mint-search {
  height: auto;
  padding: .1rem .3rem;
}

.chat .mint-search-list {
  background: #fff;
  z-index: 4;
  top: 46px;
}

@font-face {
  font-family: "iconfont";
  src: url('./iconfont.ttf') format('truetype') /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/

}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  color: rgb(153, 153, 153);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mint-toast-icon.iconfont.icon-chenggong {
  color: #fff;
  font-size: 60px;
}

.mintui-success {
  font-size: 60px
}

.router-link-active > .iconfont, .router-link-active > span {
  color: #6C2DFE;
}

.mine.icon-zhanghu:before {
  content: "\e600";
}

.gamesbtn {
  position: fixed;
  bottom: 0;
  margin: 0;
}

.main > p {
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  color: #333;
  font-weight: 600;
}

.main > p:last-child {
  float: right;
  height: 0.5rem;
  line-height: 0.5rem;
}

.main > div > div:not(:last-child) {
  padding-bottom: 3rem;
}

.main > div > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.main > div > ul > li {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  margin-bottom: 0.2rem;
  flex-direction: column;
  height: 1.2rem;
  text-align: center;
  font-size: 15px;
  align-items: center;
  width: 48%;
  color: #333;
}

.main img {
  width: 24px;
  height: 24px;
}

.main small {
  color: #fe3959;
  margin-top: 5px;
  font-size: 12px;
}

.main .iconfont {
  font-size: 12px;
}

.main .icon-question::before {
  color: #fe3959;
  margin-right: 3px;
}

.pull_picker .picker-slot {
  font-size: 12px;
}

.main .picker-item.picker-selected {
  color: #fe3959;
}

.pull_picker .picker-toolbar {
  height: 20px;
}

/* 预测页面 */
.zoushi .mint-navbar {
  border: 1px solid #cdcdcd;
}

.zoushi .mint-tab-item {
  padding: 10px 0;
}

.zoushi .mint-tab-item:not(:last-child) {
  border-right: 1px solid #cdcdcd;
}

.zoushi .mint-tab-item-label {
  font-size: 14px;
}

.zoushi .mint-navbar .mint-tab-item.is-selected {
  background: #4A73C5;
  color: #fff;
  border-bottom: 0;
  margin-bottom: 0;
}

.iconfont.icon-shuaxin {
  color: #fff;
  font-size: 21px;
}


#LidtEditor {
  font-size: 20px;
}

.w-e-icon-happy {
  font-size: 18px;
}

.w-e-icon-image {
  font-size: 18px;
}

.w-e-toolbar {
  /*position: fixed;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  border: none;
  background: rgba(247, 247, 247, 1);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07);
}

.w-e-toolbar {
  border: none !important;
  background: white !important;
  /*padding: 0 15px !important;*/
}

.w-e-text {
  padding: 0 15px !important;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 30px;
  width: auto !important;
}

.w-e-text-container {
  border: none !important;
}

.user_msg .mint-cell-wrapper {
  padding: 0;
}

.user_msg .mint-cell:after {
  left: 0;
}

.cell-con .van-cell {
  padding: 10px 0 !important;
}

.v-table-views {
  width: calc(100% - 30px) !important;
  margin: 0 15px !important;
}

.send-post-page .mint-cell-wrapper {
  width: calc(100% - 30px) !important;
}

.send-post-page .van-checkbox-group {
  font-size: 14px !important;
  margin: 0 15px;
}

.send-post-page .van-checkbox-group .van-checkbox {
  padding-bottom: 3px !important;
  width: 33.33%;
  float: left;
}

.v-table-header-inner {
  width: 100% !important;
}

.v-table-htable {
  width: 100% !important;
}

.v-table-btable {
  width: 100% !important;
}

.v-table-header-row {
  width: 100% !important;
  font-size: 12px !important;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  background: rgba(242, 242, 242, 1);
  display: flex;
}

.v-table-header-row td {
  width: 25%;
}

.v-table-header-row td > div {
  width: 100% !important;
}


.v-page-ul {
  width: 100% !important;
}

.v-page-total {
  float: right !important;
}

.v-table-empty-content {
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
}

.v-table-row {
  font-size: 12px !important;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  text-align: center !important;
}

.v-table-row td {
  width: 25%;
  text-align: center !important;
}

.v-table-row td > div {
  text-align: center !important;
  width: 100% !important;
}

.content p {
  word-break: break-word;
}

.van-uploader .inner-text {
  width: 90px;
  font-size: 14px;
  position: absolute;
  top: 10px;
  margin-top: -8px;
  color: rgba(153, 153, 153, 1);
  text-align: center;
}

.xuanxiang-li .van-uploader {
  width: 100px;
  height: 30px !important;
  display: block;
}

.xuanxiang-li .van-uploader__wrapper {
  height: 30px !important;
}

.xuanxiang-li .van-uploader__input-wrapper {
  width: 90px !important;
  height: 30px !important;
}

.xuanxiang-li .van-uploader__input {
  width: 90px !important;
  height: 30px !important;
}

.xuanxiang-li .van-icon-close {
  float: left;
  margin-top: 5px;
}

.xuanxiang-li .van-cell {
  padding: 10px 0 !important;
}


.toupiao .van-radio__label {
  font-size: 14px;
  color: rgba(51, 51, 51, 1);
}

.toupiao .van-radio {
  padding: 15px 0;
}

.toupiao .van-checkbox__label {
  font-size: 14px;
  color: rgba(51, 51, 51, 1);
}

.toupiao .van-checkbox {
  padding: 15px 0;
}

.admire .van-popup {
  width: 80%;
  padding: 20px 10px;
}

.admire .van-popup .van-cell {
  padding: 10px 0 !important;
}

.admire .van-popup .van-field__label {
  max-width: 90px !important;
}

.admire .van-popup .van-cell__title {
  max-width: 90px !important;
}

.dashang .van-popup {
  width: 80%;
  padding: 20px 10px;
}

.dashang .van-popup .van-cell {
  padding: 10px 0 !important;
}

.dashang .van-popup .van-field__label {
  max-width: 90px !important;
}

.dashang .van-popup .van-cell__title {
  max-width: 90px !important;
}

.forum-detail-page .van-grid-item__content {
  padding: 10px 0 !important;
}

.forum-detail-page .van-grid-item {
  box-sizing: border-box !important;
}

.forum-detail-page-desc .van-panel__header {
  padding: 10px 0;
}

.forum-detail-page-desc .van-panel__content {
  display: none;
}

.forum-detail-page-desc .van-cell {
  background: #f2f2f2 !important;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box !important;
}

[class*=van-hairline]::after {
  border: 0 solid #fff;
}

.admire .van-dropdown-menu {
  height: 25px !important;
}

.admire .define-pop {
  width: 100% !important;
}

.dashang .van-dropdown-menu {
  height: 25px !important;
}

.dashang .define-pop {
  width: 100% !important;
}

/****************************************** 图标******************************************* */
.icon-zhanghu:before {
  content: "\e600";
}

.icon-sanjiao1:after {
  content: "\e601";
}

.icon-attentionfill:before {
  content: "\e73c";
}

.icon-shouye:before {
  content: "\e6e4";
}

.icon-jilumian:before {
  content: "\e647";
}

.icon-xiaolian:before {
  content: "\e62b";
}

.icon-zulincuijiaotixing:before {
  content: "\e673";
}

.icon-tupian1:before {
  content: "\e636";
}

.icon-chongzhi:before {
  content: "\e64c";
}

.icon-attentionforbid:before {
  content: "\e7b2";
}

.icon-gantanhao:before {
  content: "\e610";
}

.icon-xiajiantou:before {
  content: "\e649";
}

.icon-shangjiantou:before {
  content: "\e64a";
}

.icon-kefu:before {
  content: "\e661";
}

.icon-zanwutixianjilu:before {
  content: "\e768";
}

.icon-fandian:after {
  content: "\e627";
}

.icon-CPjiesuan:before {
  content: "\e666";
}

.icon-CPgaikuang:before {
  content: "\e66a";
}

.icon-CPxinzeng:before {
  content: "\e66b";
}

.icon-yonghuguanli:before {
  content: "\e66e";
}

.icon-question:before {
  content: "\e682";
}

.icon-fenxiang:before {
  content: "\e672";
}

.icon-zhongqingshishicai:before {
  content: "\e605";
}

.icon-PK:before {
  content: "\e629";
}

.icon-lajitong:before {
  content: "\e683";
}

.icon-duigou:before {
  content: "\e6b5";
  color: #fff;
}

.icon-funnel:after {
  content: "\e6e2";
  margin-left: 5px;
  color: #666;
}

.icon-wode:before {
  content: "\e60f";
}

.icon-hk6:before {
  content: "\e609";
}

.icon-shengyinkai:before {
  content: "\e63f";
}

.icon-shengyinguan:before {
  content: "\e643";
}

.icon-tjssc:before {
  content: "\e62c";
}

.icon-xinjiangshishicai:before {
  content: "\e62d";
}

.icon-mima:before {
  content: "\e821";
}

.icon-kefu1:before {
  content: "\e6d5";
}

.icon-kefuzixunlv:before {
  content: "\e60c";
}

.icon-guanbi:before {
  content: "\e6cb";
}

.icon-huodong:before {
  content: "\e62a";
}

.icon-xiaoxitongzhi:before {
  content: "\e6a8";
}

.icon-chenggong:before {
  content: "\e669";
}

.icon-icon-beijingxingyun:before {
  content: "\e60b";
}

.icon-icon-taiwanxingyun:before {
  content: "\e60d";
}

.icon-shuaxin:before {
  content: "\e603";
}

.icon-calendar:after {
  content: "\e60e";
}

.icon-guize:before {
  content: "\e619";
}

.icon-shangjiantou1:after {
  content: "\e79d";
}

.icon-xiajiantou1:after {
  content: "\e79e";
}

.icon-qian:before {
  content: "\e635";
}

.icon-zoushi:before {
  content: "\e602";
}

.icon-yuechi:before {
  content: "\e665";
}

.icon-shuangsechangyongtubiao-:before {
  content: "\e604";
}

.icon-jilu:before {
  content: "\e628";
}

.icon-hao:before {
  content: "\e66f";
}

.icon-anhuikuaisan:before {
  content: "\e606";
}

.icon-hubeikuaisan:before {
  content: "\e607";
}

.icon-jilinkuaisan:before {
  content: "\e608";
}

.icon-liaotian:before {
  content: "\e615";
}

.icon-fork:before {
  content: "\e61b";
}

.icon-chuanyuejilu:before {
  content: "\e667";
}

.icon-chat-180pk10:before {
  content: "\e667";
}

.upload-con .van-icon-delete {
  /*font-size: 14px !important;*/
  /*display: none;*/
  opacity: 0;
}

.w-e-text img {
  max-width: 100%;
}

.swiper-img {
  width: 100% !important;
}

.content img {
  max-width: 100%;;
}
