<template>
  <div>
    <my-header></my-header>
    <div class="login2">
      <mt-field label="手机号" @change="check( /^[1][3,4,5,6,7,8,9][0-9]{9}$/,getPwd.mobile,3)" placeholder="请输入手机号" type="tel"
                v-model="getPwd.mobile"></mt-field>
      <mt-field label="验证码" v-model="getPwd.vcode" placeholder="请输入手机验证码">
        <mt-button class="code" style="margin-left:-45px;width:2rem;font-size: 12px" :class="active ? 'red':''"
                   @click.native="getCode" :disabled="!active">{{prompt}}
        </mt-button>
      </mt-field>
      <mt-field label="新密码" @change="check( /^[a-zA-Z0-9]{6,18}$/,getPwd.password,2)" placeholder="6-18位数字、字母或其组合"
                type="password" v-model="getPwd.password"></mt-field>
      <mt-button type="danger" size="large" @click="login" :disabled="btn">确定</mt-button>
      <p class="padded">未绑定手机号，点我
        <router-link to="/kefu" tag="a"> 联系客服</router-link>
      </p>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {Toast, MessageBox} from "mint-ui";
  import {mobile_api, pwdGet_api, register_mobile_api} from "@/common/api";

  export default {
    data() {
      return {
        getPwd: {
          mobile: "",
          vcode: "",
          password: ""
        },
        checked: {
          // 正则验证
          username: false,
          password: false,
          mobile: false
        },
        number: 0,
        btn: true,
        prompt: "获取验证码",
        active: false,
        reg: /^[1][3,4,5,6,7,8,9][0-9]{9}$/
      };
    },
    methods: {
      // 获取验证码
      getCode() {
        if (this.getPwd.mobile && this.number == 0) {
          this.active = false;
          this.number = 60;
          this.prompt = "重新发送" + this.number;
          let timer = setInterval(() => {
            this.number--;
            this.prompt = "重新发送" + this.number;
            if (this.number < 1) {
              clearInterval(timer);
              this.prompt = "获取验证码";
              this.active = false
            }
          }, 1000);
          mobile_api({type: "register", mobile: this.getPwd.mobile}).then(
            res => {
              Toast(res.msg);
              this.active = false
            }
          );
          return
        } else if (this.number != 0) {
          Toast('请不要重复发送')
          return
        } else {
          Toast("请输入手机号码");
          return
        }
      },
      /***********验证********** */
      check(reg, val, i) {
        if (i == 1) {
          reg.test(val.trim())
            ? (this.checked.username = true)
            : Toast("请输入4~10位数字、字母或其组合");
        }
        if (i == 2) {
          reg.test(val.trim())
            ? (this.checked.password = true)
            : Toast("请设置长度在6的数字密码");
        }
        if (i == 3) {
          reg.test(val.trim())
            ? (this.checked.mobile = true)
            : Toast("您输入的手机号格式不正确");
        }
      },
      login() {
        pwdGet_api(this.getPwd).then(res => {
          if (res.code == 200) {
            Toast("设置成功");
            setTimeout(() => {
              this.$router.push("/login");
            }, 1000);
          } else if (res.code == '412') {
            MessageBox.confirm("您的手机号还未注册,需要注册吗")
              .then(action => {
                register_mobile_api(this.getPwd).then(res => {
                  if (res.code == "200") {
                    Toast("恭喜您，注册成功");

                    setTimeout(() => {
                      this.$router.push("/center");
                    }, 1500);
                  } else {
                    Toast(res.msg);
                  }
                });
              })
              .catch(res => {
                this.$router.push("reg");
              });
          } else {
            Toast(res.msg);
          }
        });
      }
    },
    watch: {
      "getPwd.mobile": {
        handler: function (n) {
          console.log(this.reg.test(n));
          this.reg.test(n) ? (this.active = true) : (this.active = false);
        },
        deep: true
      },
      getPwd: {
        handler: function (n) {
          if (n.password.length >= 6 && n.vcode.length == 6) {
            this.btn = false;
          } else {
            this.btn = true;
          }
        },
        deep: true
      }
    },
    components: {
      MyHeader
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .code {
    display: inline-block;
    padding: 0.15rem 0.2rem;
    background: #cecdce;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    height: 0.55rem;
    line-height: 0.25rem;
    opacity: 1;
  }

  .red {
    background: #3d71ff;
  }

  .login2 {
    padding: 20px;

    > button {
      background: #4A73C5;
      color: #fff;
    }

    > p {
      width: 100%;
      position: fixed;
      bottom: 10px;
      text-align: center;
      font-size: 12px;
      color: #4A73C5;
    }

    .mint-cell {
      background: #fff;
    }


    .mint-tab-item, .mint-cell-title, .mint-cell-text {
      color: #333 !important;
    }

    .mint-field-core {
      background-color: #fff;
    }
  }
</style>
