<template>
  <layout-page>
    <div class="reg-page">
      <p>
        <span>注册</span>
        <span class="iconfont icon-fork"
              @click="$router.push('/center')"></span>
      </p>

      <div class="lay-tab">
        <div class="lay-tab-bar " :class="{'tab-active':active==='手机号'}" @click="changeField('手机号')">
          手机号
        </div>
        <div class="lay-tab-bar" :class="{'tab-active':active==='用户名'}" @click="changeField('用户名')">
          用户名
        </div>
      </div>
      <div class="login_box" v-if="active === '手机号'">

        <div class="my-field">
          <div class="my-filed-label">
						手机
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.mobile"
                 placeholder="请输入您的手机号码">
        </div>

        <div class="my-field">
          <div class="my-filed-label">
						验证
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.code"
                 placeholder="请输入验证码">
								 <span class="getIhponeCode" @click="getCode" >{{prompt}}</span>
        </div>

        <div class="my-field">
          <div class="my-filed-label">
            昵称
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.username"
                 placeholder="请设置您的昵称">
        </div>
        <lay-button theme="violet"
                    :block="true"
                    size="middle"
                    @click="loginIn"
										type="button"
										data-loading-text="提交中"
										class="mui-btn"
										ref="regBtn"
        >立即注册
        </lay-button>
        </lay-button>
      </div>
      <div class="login_box" v-if="active === '用户名'">

        <div class="my-field">
          <div class="my-filed-label">
            账号
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.username"
                 placeholder="请输入用户名">
        </div>

        <div class="my-field">
          <div class="my-filed-label">
            密码
          </div>
          <input class="mint-field-core"
                 type="password"
                 v-model="form.password"
                 placeholder="请输入密码">
        </div>

        <div class="my-field">
          <div class="my-filed-label">
            确认
          </div>
          <input class="mint-field-core"
                 type="password"
                 v-model="form.password2"
                 placeholder="请在此输入密码">
        </div>

        <div class="my-field">
          <div class="my-filed-label">
						验证
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.code"
                 placeholder="验证码">
					<img class="regCode" @click="getImgCode" :src="'data:image/png;base64,'+ imgCode" />
        </div>

        <lay-button theme="violet"
                    :block="true"
                    size="middle"
                    @click="loginIn"
										type="button"
										data-loading-text="提交中"
										class="mui-btn"
										ref="regBtn"
        >立即注册
        </lay-button>

      </div>

      <div class="reg_box">
        <p>已有账号？<span @click="$router.push('/login')">马上登录</span></p>
      </div>

    </div>
  </layout-page>
</template>

<script type="text/ecmascript-6">
  import {Toast} from "mint-ui";
  import {reg_api, login_api, code_api, get_mobile_code_api, login_by_mobile_api} from "@/common/api";
  import {baseUrl, platform, platform_prefix} from "@/config/app.config";
  import LayButton from "@/vlayui/LayButton";
  import LayoutPage from "@/vlayui/Layout/page";

  export default {
    components: {
      LayButton,
      LayoutPage,
    },
    data() {
      return {
        form: {
          username: '',
          password: '',
          password2: '',
          email: '',
          mobile: '',
          code: '',
        },
        loginChange: true,
				imgCode: '',
				active: '手机号',
				prompt: '获取验证码',
				number: 0,
				regLoading: false,
      };
    },
    created() {
      this.code= this.$route.query.invitation;
			this.getImgCode();

    },
    methods: {
			getImgCode() {
				code_api().then(res => {
					this.imgCode	= res.image;
				})
			},
      getCode() {
        if (this.form.mobile && this.number === 0) {
          this.number = 60;
          this.prompt = "重新发送" + this.number;
          let timer = setInterval(() => {
            this.number--;
            this.prompt = "重新发送" + this.number;
            if (this.number < 1) {
              clearInterval(timer);
              this.prompt = "获取验证码";
            }
          }, 1000);
          return get_mobile_code_api({mobile: this.form.mobile}).then(
            res => {
              Toast(res.msg);
            }
          );
        } else if (this.number !== 0) {
          return Toast("请不要重复发送");
        } else {
          return Toast("请输入手机号码");
        }
      },
      changeField(field) {
        this.active = field;
				this.form	= {
					username: '',
					password: '',
					password2: '',
					email: '',
					mobile: '',
					code: '',
				}
      },
      loginIn() {
			console.log(this.$refs)
				if (this.active === '用户名') {
					if (!this.form.username) {
						return Toast('请输入账号');
					}
					if (!this.form.password) {
						return Toast('请输入密码');
					}
					if (!this.form.code) {
						return Toast('请输入验证码');
					}
					if (this.form.password !== this.form.password2) {
						return Toast('输入的两次密码不同');
					};


					let data = {
						username: this.form.username,
						password: this.form.password,
						password2: this.form.password2,
						email: this.form.email,
						code: this.form.code
					};

					this.regLoading	=true;
					mui(this.$refs.regBtn.$el).button('loading');
					return reg_api(data).then(res => {
						this.regLoading	= false;
						mui(this.$refs.regBtn.$el).button('reset');
						if (['login_succeed', 'register_succeed'].includes(res.Message.messageval)) {
							Toast(res.Message.messagestr);
							this.$router.push("/center");
						} else {
							Toast(res.Message.messagestr);
						}
					});
				} else {
						if (!this.form.username) {
							return Toast('请输入昵称');
						}
						if (!this.form.mobile) {
							return Toast('请输入手机号');
						}
						if (!this.form.code) {
							return Toast('请输入验证码');
						}
						let data	= {
							mobile: this.form.mobile,
							code: this.form.code,
							username: this.form.username
						};
						this.regLoading	=true;
						mui(this.$refs.regBtn.$el).button('loading');
						login_by_mobile_api(data).then(res => {
							mui(this.$refs.regBtn.$el).button('reset');
							this.regLoading	= false;
							if (res.code === "200") {
								sessionStorage.setItem('user', JSON.stringify(res));
								this.$router.push('/center');
							} else {
								Toast(res.msg);
							}
						});

					}
				}

      },
		mounted() {
			document.getElementsByClassName("reg-page")[0].style.background = "#fff";
		},
		beforeDestroy() {
			document.getElementsByClassName("reg-page")[0].style.background = "#fff";
		},
	};
</script>


<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global.less";

  .lay-tab {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    display: flex;
    justify-content: center;

    .lay-tab-bar {
      float: left;
      text-align: center;
      width: 54px;
      height: 39px;
      color: rgba(51, 51, 51, 1);
      line-height: 39px;
      margin-right: 25px;
      font-size: 18px;
    }

    .tab-active {
      color: #3D71FF;
      border-bottom: 2px solid #3D71FF;
    }
  }
  //登录注册页面样式
  .reg-page {
    position: relative;
    height: 100%;
    min-height: 13rem;
    padding: 20px 30px;
    font-size: 15px;

    .button-violet {
      margin: 20px 0;
    }

    > p {
      font-size: 28px;
      color: #333333;

      > .icon-fork {
        width: 20px;
        height: 20px;
        float: right;
        color: #999999;
        margin-top: 5px;
      }
    }

    .icon-kefu {
      position: absolute;
      top: 10.5rem;
      width: 3rem;
      text-align: center;
      margin-left: -1.5rem;
      left: 50%;
      color: #fff;
      font-size: 15px;
      padding-bottom: 1rem;
    }

    .icon-kefu:before {
      font-size: 22px;
      margin-right: 0.2rem;
    }

    .login_box {
      background: #fff;
      border-radius: 16px;
      margin-top: 0.5rem;
      font-size: 16px;
      z-index: 2;

      .my-field {
        display: flex;
        background: #f1f1f1;
        border-radius: 8px;
        margin-bottom: 15px;
        height: 45px;
				position: relative;
				input::-webkit-input-placeholder {
					font-size: 12px;
				}
				.regCode {
					width: 60px;
					height: 24px;
					margin: 9px 14px 0 0;
				}
				.getIhponeCode {
					font-size: 12px;
          color: #3d71ff;
          line-height: 45px;
          margin-right: 15px;
				}
      }

      .my-filed-label {
        width: 72px;
        flex: 0 0 1;
        text-align: left;
        height: 45px;
        line-height: 45px;
        padding-left: 15px;
        font-size: 16px;
      }

      .mint-field-core {
        flex: 1;
        padding: 0;
        height: 45px;
        line-height: 45px;
        background: rgba(0, 0, 0, 0);
      }


      .my-filed-label2 {
        width: 103px;
        flex: 0 0 1;
        text-align: left;
        height: 45px;
        line-height: 45px;
        padding-left: 15px;
        font-size: 16px;
      }

      .center {
        text-align: center;
        color: #999;
        font-size: 0.3rem;
        padding-bottom: 0.2rem;
      }

      .login_btn {
        margin: 1rem 0 0.271rem;
      }
    }
  }

  .reg_box {
    position: absolute;
    left: 0.45rem;
    width: 88%;
    margin: 0 auto;
    padding: 0.2rem 0 0.2rem;
    text-align: center;
    z-index: 1;
    font-size: 14px;
    color: #999;

    > p > span {
      color: #6c2dfe;
    }
  }

  input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #c5c5c5;
  }

  .mint-cell > .ball:before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 0;
    background: #ff4d55;
  }

  .mint-tab-item > .mint-tab-item-label {
    color: #fff;
  }

  .mint-tab-item.is-selected > .mint-tab-item-label {
    border: 0;
    color: #ffce6f;
  }

  .mint-tab-item {
    position: relative;
  }

  .is-selected::after {
    margin-bottom: -3px;
    font-size: 15px;
    background-color: #ffce6f;
    position: absolute;
    right: 0;
    top: 0.9rem;
    left: 26%;
    height: 2px;
    content: "";
    width: 50%;
  }
</style>
