<!-- 展示模板 -->
<template>
  <div class="authent-page">
    <div class="authent-title">
       <div class="back" @click="goBack()"></div>
       <span>认证娱乐城</span>
       <div class="home" @click="goAuthent()">首页</div>
    </div>
    <!-- <div class="authent-select"> -->
       <!-- <mt-picker :showToolbar='true' :slots="authentSelect.level" item-height="40" @change="bankList" value-key="name">
        <span style="float:left" @click="close">取消</span>
        <span style="float:right;color:#26a2ff" @click="hide">确定</span>
        <div class="select">按级别</div>
      </mt-picker>
      <mt-picker :showToolbar='true' :slots="authentSelect.platform" @change="onPlatform" value-key="name">
        <div class="select">按平台</div>
      </mt-picker>
      <mt-picker :showToolbar='true' :slots="authentSelect.game" @change="onGame" value-key="name">
        <div class="select">按分类</div>
      </mt-picker>
      <mt-picker :showToolbar='true' :slots="authentSelect.licensePlate" @change="onLicensePlate" value-key="name">
        <div class="select">按牌照</div>
      </mt-picker>
      <mt-picker :showToolbar='true' :slots="authentSelect.currency" @change="onCurrency" value-key="name">
        <div class="select">按币种</div>
      </mt-picker> -->
    <!-- </div> -->
    <div class="authent-content">
      <ul class="content">
        <li  v-for="(i,v) in authentData.cert_list" :key="v">
            <div class="top">
              <div class="info">
                <div class="left">
                  <img class="img" :src="i.icon"/>
                </div>
                <div class="right">
                  <span class="title">{{i.name}}</span>
                  <div class="con">
                    <div class="con-left">游戏:</div>
                    <div class="game">
                      <span class="name" v-for="(m,n) in i.pt" :key="n" >{{m}}</span>
                    </div>
                  </div>
                  <div class="con">
                    <div class="con-left">平台:</div>
                    <div class="game">
                      <span class="name" v-for="(j,k) in i.game" :key="k">{{j}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="stars">
                <li class="item-list" >综合评分</li>
                <li class="e_score_all">
                  <img src="../../assets/stars.png">
                  <img src="../../assets/stars.png">
                  <img src="../../assets/stars.png">
                  <img src="../../assets/stars.png">
                  <img src="../../assets/half-stars.png">
                </li>
                <li class="e_score_start">{{i.zhpf}}分</li>
              </ul>
              <div class="bottom" >
                <ul class="bottom-item" v-for="(x,y) in source" :key="y">
                  <li class="item-list" >{{x.name}}</li>
                  <li class="e_score_bar">
                    <div class="e_score_bar_percent"></div>
                  </li>
                  <li class="e_score_num" v-if="x.value === 1" >{{i.wzzs}}分</li>
                  <li class="e_score_num" v-else-if="x.value === 2">{{i.wjzs}}分</li>
                  <li class="e_score_num" v-else-if="x.value === 3">{{i.zjzs}}分</li>
                  <li class="e_score_num" v-else-if="x.value === 4">{{i.mtzs}}分</li>
                  <li class="e_score_num" v-else-if="x.value === 5">{{i.xyzs}}分</li>
                </ul>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {get_anthentCenter, get_anthent_select} from "@/common/api";
  import {Toast, MessageBox} from "mint-ui";

  export default {
    components: {
    },
    computed: {
      init() {
      },
    },
    created: function () {
      this.getAuthentListData();
      this.getAuthentSelectData()
    },
    data() {
      return {
        authentData: {
          total: '',
          page: '',
          cert_list: []
        },
        source: [
          {name: "网站指数", value: 1 },
          {name: "玩家指数", value: 2 },
          {name: "专家指数", value: 3 },
          {name: "媒体指数", value: 4 },
          {name: "信誉指数", value: 5 },
        ],
        authentSelect:{
          medal: [], // 按级别
          zfbz: [], // 按币种
          pz: [], // 按牌照
          game: [], // 按分类
          pt: [], // 按平台
        },
        level: [
          {
            flex: 1,
            defaultIndex: 0,
            value: '',
            // values: this.authentSelect.medal,
            textAlign: 'center',
            className: 'level',
            showToolbar: 'medal'
          },
          {
            divider: true,
            content: '-',
            className: 'right'
          }
        ],
        platform: [
          {
            flex: 1,
            defaultIndex: 0,
            value: '',
            // values: this.authentSelect.pt,
            textAlign: 'center',
            className: 'platform',
            showToolbar: 'pt'
          },
          {
            divider: true,
            content: '-',
            className: 'right'
          }
        ],
        game: [
          {
            flex: 1,
            defaultIndex: 0,
            value: '',
            // values: this.authentSelect.game,
            textAlign: 'center',
            className: 'game',
            showToolbar: 'game'
          },
          {
            divider: true,
            content: '-',
            className: 'right'
          }
        ],
        licensePlate: [
          {
            flex: 1,
            defaultIndex: 0,
            value: '',
            // values: this.authentSelec.pz,
            textAlign: 'center',
            className: 'licensePlate',
            showToolbar: 'pz'
          },
          {
            divider: true,
            content: '-',
            className: 'right'
          }
        ],
        currency: [
          {
            flex: 1,
            defaultIndex: 0,
            // values: this.authentSelec.zfbz,
            textAlign: 'center',
            className: 'currency',
            showToolbar: 'zfbz'
          },
          {
            divider: true,
            content: '-',
            className: 'right'
          }
        ]
      };
    },
    methods: {
      bankList(picker, values) {
        this.banks = values;
      },
      hide() {
      this.$emit("bankcard", this.banks);
      },
      close() {
        this.$emit("bankcard", false);
      },
      goAuthent () {
        this.$router.push('/center');
      },
      goBack() {
        this.$router.go(-1);
      },
      // 获取认证列表
      getAuthentListData() {
		  get_anthentCenter({limit: 100}).then(res => {
          if (res) {
            this.authentData = res
          } else {
            Toast(res.msg);
          }
        });
      },
      // 获取认证分类数据
        getAuthentSelectData() {
          get_anthent_select().then(res => {
            if (res) {
              this.authentSelect = res
            } else {
              Toast(res.msg);
            }
          });
      }
    }
  };
</script>

<!-- 样式代码 -->
<style scoped lang="less">
  @import "../../style/global.less";
  .authent-page {
    position: relative;
    width: 100%;
    height: 100%;
    .authent-title {
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #333333;
      font-size: 14px;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1000;
      background: #fff;
      .back {
        position: absolute;
        left: 15px;
        top: 15px;
        content: "";
        display: inline-block;
        height: 15px;
        width: 15px;
        cursor: pointer;
        border-width: 0 0 2px 2px;
        border-color: #333333;
        border-style: solid;
        transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
        -webkit-transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
      }
      .home {
        position: absolute;
        top: 0;
        right: 10px;
        color: #3D71FF;
        cursor: pointer;
      }
    }
    .authent-select {
      width: 100%;
    }
    .authent-content {
      width: 100%;
      position: relative;
      .content {
        font-size: 15px;
        li {
          .top {
            position: relative;
            border-bottom: 1px solid #E5E5E5;
            padding: 10px 0;
             .info {
               height: 120px;
               position: relative;
               padding-bottom: 20px;
              .left {
                width: 24%;
                float: left;
                margin-left: 10px;
                .img {
                  width: 90px;
                  height: 90px;
                  vertical-align: middle;
                }
              }
              .right {
              float: left;
              width: 70%;
              margin-left: 10px;
              .title {
                display: inline-block;
                width: 100%;
                line-height: 25px;
                font-weight: bold;
              }
              .con-left {
                width: 20%;
                float: left;
                font-weight: bold;
                margin: 5px 0;
              }
              .game {
                width: 80%;
                float: left;
                margin: 5px 0;
                .name {
                  float: left;
                  margin: 2px;
                  padding: 0 10px;
                  height: 20px;
                  line-height: 20px;
                  background-color: #53bcf5;
                  color: #FFF;
                  white-space: nowrap;
                }
              }
            }
            }
            .stars {
              position: relative;
              height: 20px;
              line-height: 20px;
              .item-list {
                float: left;
                margin-left: 10px;
                width: 80px;
                text-align: center;
                font-size: 14px;
                color: #333;
                font-weight: bold;
              }
              .e_score_all {
                float: left;
                margin-left: 10px;
                overflow: hidden;
                  img {
                    width: 18px;
                    height: 18px;
                  }
              }
              .e_score_start {
                float: left;
                margin-left: 10px;
                font-size: 12px;
                font-weight: bold;
              }
            }
            .bottom {
              position: relative;
              height: 100px;
              .bottom-item {
                width: 45%;
                float: left;
                margin: 0;
                padding: 5px 0 0 10px;
                overflow: hidden;
                .item-list {
                  float: left;
                  font-size: 15px;
                }
                .e_score_start {
                  float: left;
                  font-size: 12px;
                  font-weight: bold;
                }
                .e_score_bar {
                  float: left;
                  margin: 2px 0 0 5px;
                  width: 60px;
                  height: 16px;
                  background-color: #EBEBEB;
                  overflow: hidden;
                }
                .e_score_bar_percent {
                  height: 16px;
                  line-height: 16px;
                  background-color: #7fd1fd;
                  color: #FFF;
                  text-align: center;
                  overflow: hidden;
                }
                .e_score_num {
                  float: left;
                  padding-left: 5px;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
}
</style>
