<!-- 展示模板 -->
<template>
  <div class="evalua-page">
    <div class="evalua-top">
       <div class="back" @click="goBack()"></div>
       <span v-if="evaluatingData.name">{{evaluatingData.name}}</span>
       <div class="attestation" @click="goAttestation()">认证中心</div>
    </div>
    <div class="evalua-title">
      <div class="evalua-left">
        <img v-if="evaluatingData.icon" :src="evaluatingData.icon" alt />
        <span  v-if="evaluatingData.name" class="title">{{evaluatingData.name}}</span>
      </div>
      <div class="evalua-right">
        <ul>
          <li><a v-if="evaluatingData.home_url" :href="evaluatingData.home_url">官网</a></li>
          <li><a v-if="evaluatingData.home_url" :href="evaluatingData.home_url">开户</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="evalua-content">
      <table class="base-info" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td class="info-tit">网址:</td>
            <td class="info-table">
              <a v-if="evaluatingData.home_url_more" :href="evaluatingData.home_url">网址1</a>
            </td>
          </tr>
          <tr>
            <td class="info-tit">平台:</td>
            <td class="info-table">
               <div class="item" v-if="evaluatingData.pt" v-for="(i,v) in evaluatingData.pt" :key="v">
                <span class="name" >{{i}}</span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="info-tit">首存:</td>
            <td class="info-text" v-if="evaluatingData.sc">{{evaluatingData.sc}}</td>
          </tr>
          <tr>
            <td class="info_tit">返水:</td>
            <td class="info-text" v-if="evaluatingData.fs">{{evaluatingData.fs}}</td>
          </tr>
          <tr>
            <td class="info_tit">优势:</td>
            <td class="info-text" v-if="evaluatingData.ys" >{{evaluatingData.ys}}</td>
          </tr>
          <tr>
            <td class="info_tit">游戏:</td>
            <td class="info-table">
              <div class="game">
                <div class="item" v-if="evaluatingData.game" v-for="(i,v) in evaluatingData.game" :key="v">
                  <span class="name" >{{i}}</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="indexScore">
        <div class="title">
          认证中心授予<strong>{{evaluatingData.name}}</strong>{{evaluatingData.medalname}}
        </div>
        <div class="img">
          <img v-if="evaluatingData.rz_img" :src="evaluatingData.rz_img" alt>
        </div>
        <div class="score-content">
          <ul v-for="(i,v) in source" :key="v">
            <li class="item-list" >{{i.name}}</li>
            <li class="e_score_bar">
              <div class="e_score_bar_percent"></div>
            </li>
            <li class="e_score_num" v-if="i.value === 1" >{{evaluatingData.wzzs}}分</li>
            <li class="e_score_num" v-else-if="i.value === 2">{{evaluatingData.wjzs}}分</li>
            <li class="e_score_num" v-else-if="i.value === 3">{{evaluatingData.zjzs}}分</li>
            <li class="e_score_num" v-else-if="i.value === 4">{{evaluatingData.mtzs}}分</li>
            <li class="e_score_num" v-else-if="i.value === 5">{{evaluatingData.xyzs}}分</li>
          </ul>
          <ul class="stars">
            <li class="item-list" >综合评分</li>
            <li class="e_score_all">
              <div class="stars-item">
                <img src="../../assets/stars.png">
                <img src="../../assets/stars.png">
                <img src="../../assets/stars.png">
                <img src="../../assets/stars.png">
                <img src="../../assets/half-stars.png">
              </div>
            </li>
            <li class="e_score_start" v-if="evaluatingData.zhpf">{{evaluatingData.zhpf}}</li>
          </ul>
        </div>
      </div>
      <div class="discount-info">
        <div class="discount-title">优惠信息</div>
          <ul>
            <li v-if="evaluatingData.promotions" v-for="(i,v) in evaluatingData.promotions" :key="v" class="item-list">
              <div class="title">{{i.name}}</div>
              <a href="">{{i.subject}}</a>
            </li>
          </ul>
      </div>
      <div class="player-content">
        <div class="title">玩家点评</div>
        <ul class="player-bottom">
          <li v-if="evaluatingData.newreview" v-for="(i,v) in evaluatingData.newreview" :key="v" class="item-list">
            <div class="title-name">{{i.username}} 评了 {{evaluatingData.name}}</div>
            <div class="content">
              <div class="cont-left">
                <img v-if="i.uid" :src= "`${imageUrl}/uc_server/avatar.php?uid=${i.uid}&size=small`" />
              </div>
              <div class="cont-right">
                <ul class="text">
                  <li>
                    <span class="name">存款:</span>
                    <ul class="cleanfloat">
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                    </ul>
                    <span class="sorce">{{i.star1}}分</span>
                    </li>
                  <li>
                    <span class="name">提款:</span>
                    <ul class="cleanfloat">
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                    </ul>
                    <span class="sorce">{{i.star2}}分</span>
                  </li>
                  <li>
                    <span class="name">优惠:</span>
                    <ul class="cleanfloat">
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                      <li>&#9733;</li>
                    </ul>
                    <span class="sorce">{{i.star3}}分</span>
                  </li>
                    <li>
                      <span class="name">娱乐城:</span>
                      <ul class="cleanfloat">
                        <li>&#9733;</li>
                        <li>&#9733;</li>
                        <li>&#9733;</li>
                        <li>&#9733;</li>
                        <li>&#9733;</li>
                      </ul>
                    <span class="sorce">{{i.star4}}分</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="play-bottom">
              {{i.comment7}}
            </div>
          </li>
        </ul>
      </div>
      <div class="recommend">
        <div class="title">娱乐城推荐</div>
        <div class="content">
          <ul>
            <li v-if="evaluatingData.recommend" v-for="(i,v) in evaluatingData.recommend" :key="v" class="item-list">
              <img :src="i.img" alt >
              <span >{{i.name}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import {get_evaluating_center} from "@/common/api";
  import {Toast, MessageBox} from "mint-ui";
  import { dev } from "../../../config/index";

  export default {
    components: {
    },
    computed: {
      init() {
      },
    },
    created: function () {
      this.getEvaluatingData();
	  	this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';

      // document.getElementsByClassName("e_score_bar_percent")[0].style.width =
      // this.evaluatingData.wzzs * 100 + '%';
    },
    data() {
      return {
        evaluatingData: {
          icon: '',
          name: '',
          home_url: '',
          pt: [],
          sc: '',
          fs: '',
          ys: '',
          game: [],
          rz_img: '',
          wzzs: '',
          wjzs: '',
          zjzs: '',
          mtzs: '',
          xyzs: '',
          zhpf: '',
          promotions: [],
          newreview: [],
          recommend: [],
          uid: '',
          medalname: ''
        },
        imageUrl: dev['proxyTable']['/api']['target'],
        source: [
          {name: "网站指数", value: 1 },
          {name: "玩家指数", value: 2 },
          {name: "专家指数", value: 3 },
          {name: "媒体指数", value: 4 },
          {name: "信誉指数", value: 5 },
        ],
      };
    },
    methods: {
      goAttestation () {
        this.$router.push('/authent');
      },
      getEvaluatingData() {
        let query = Number(this.$route.query.id);
        get_evaluating_center({}, query ).then(res => {
          if (res.code === '200') {
            this.evaluatingData = res.cert_data
          } else {
            Toast(res.msg);
          }
        });
      },
      goBack() {
        this.$router.go(-1);
      }
    }
  };
</script>

<!-- 样式代码 -->
<style scoped lang="less">
  @import "../../style/global.less";
  .evalua-page {
    position: relative;
    width: 100%;
    height: 100%;
  .evalua-top {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #333333;
    font-size: 14px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    .back {
      position: absolute;
      left: 15px;
      top: 15px;
      content: "";
      display: inline-block;
      height: 15px;
      width: 15px;
      cursor: pointer;
      border-width: 0 0 2px 2px;
      border-color: #333333;
      border-style: solid;
      transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
      -webkit-transform: matrix(0.71, 0.71, -.71, 0.71, 0, 0);
    }
    span {
      color: #333333;
    }
    .attestation{
      position: absolute;
      top: 0;
      right: 10px;
      color: #3D71FF;
      cursor: pointer;
    }
  }
  .evalua-title {
    height: 50px;
    line-height: 50px;
    text-align: right;
    font-size: 14px;
    background-color: #025a8a;
    .evalua-left {
      float: left;
      padding-left: 10px;
      img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
      span {
        color: #fff;
        font-weight: 700;
      }
    }
    .evalua-right {
      display: inline-block;
      background-color: skyblue;
      text-align: center;
      ul {
        list-style:none;
        margin:0px;
        text-align: center;
        li {
          float:left;
          padding: 0 10px;
          border-left: solid 1px #FFF;
          a {
            color: #FFF;
          }
        }
      }
    }
    .clear {
      clear: both;
    }
  }
  .evalua-content {
    width: 100%;
    overflow:hidden;
    .base-info {
      width: 100%;
      font-size: 12px;
      .info-tit {
        padding: 0 6px 0 0;
        width: 50px;
        line-height: 38px;
        text-align: right;
        font-weight: bold;
        border-bottom: solid 1px #EFEFEF;
        background-color: #FFF;
      }
      .info-table {
        padding-bottom: 5px;
        border-bottom: solid 1px #EFEFEF;
        background-color: #FFF;
        a {
          float: left;
          margin: 5px 0 0 5px;
          padding: 0 8px;
          height: 32px;
          line-height: 32px;
          white-space: nowrap;
          display: block;
          color: #666;
        }
        .item  {
          .name {
            float: left;
            margin: 5px 0 0 5px;
            padding: 0 8px;
            height: 32px;
            line-height: 32px;
            white-space: nowrap;
            display: block;
            color: #666;
          }
        }
      }
      .info_tit {
        padding: 0 6px 0 0;
        width: 50px;
        line-height: 38px;
        text-align: right;
        font-weight: bold;
        border-bottom: solid 1px #EFEFEF;
        background-color: #FFF;
        color: #333;
      }
      .info-text {
        color: #333;
        margin: 0;
        padding: 10px;
        border-bottom: solid 1px #EFEFEF;
        background-color: #FFF;
      }
    }
    .indexScore {
      margin: 10px;
      padding-bottom: 10px;
      border: solid 1px #DDD;
      background: #fff;
      .title {
        padding-top: 15px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        strong {
          color: #FF0000;
        }
      }
      .img {
        padding-top: 15px;
        text-align: center;
        img {
          border: 0;
          width: 100px;
          height: 120px;
        }
      }
      .score-content {
        ul {
          margin: 0 auto;
          padding: 10px 0 5px;
          width: 325px;
          height: 20px;
          li {
            float: left;
            height: 20px;
            line-height: 20px;
            }
          }
        .item-list {
          width: 90px;
          text-align: right;
          font-size: 14px;
          color: #333;
          font-weight: 300;
        }
        .e_score_all {
          padding: 0 10px;
          width: 150px;
          height: 20px;
          line-height: 20px;
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          .stars-item {
            img {
              float: left;
              margin-left: 10px;
              width: 18px;
              height: 18px;
            }
          }
        }
        .e_score_start {
          font-size: 12px;
          font-weight: bold;
        }
        .e_score_bar {
          float: left;
          margin: 3px 0 0 10px;
          width: 130px;
          height: 14px;
          overflow: hidden;
          background-color: #EAB24D;
          .e_score_bar_percent {
            height: 14px;
            line-height: 14px;
            color: #FFF;
            text-align: center;
            overflow: hidden;
            background-color: #AA7220;
          }
        }
        .e_score_num {
          float: right;
          width: 85px;
          text-align: left;
          font-size: 14px;
          color: #FF0000;
        }
      }
    }
    .discount-info {
      .discount-title {
        font-size: 15px;
        color: #333;
        height: 35px;
        line-height: 40px;
        margin: 15px 0 0;
        border-left: 3px solid #3D71FF;
        margin-left: 15px;
        padding-left: 10px;
        border-bottom: solid 1px #EFEFEF;
      }
      .item-list {
        border-bottom: solid 1px #98C7B7;
        font-size: 14px;
        padding: 15px 0 15px 15px;
        .title {
          font-size: 15px;
          color: #333333;
          line-height: 30px;
        }
        a {
          font-size: 12px;
          color: #999999;
        }
      }
      .item-list:hover{
        cursor: pointer;
        background-color: #FFF;
      }
    }
  }
  .player-content {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
    .title {
      font-size: 15px;
      color: #333;
      height: 35px;
      line-height: 40px;
      margin: 15px 0 0;
      border-left: 3px solid #3D71FF;
      margin-left: 15px;
      padding-left: 10px;
      border-bottom: solid 1px #EFEFEF;
    }
    .player-bottom {
      width: 100%;
      position: relative;
      .item-list {
        font-size: 12px;
        .title-name {
          color: #333;
          height: 30px;
          line-height: 30px;
          text-indent: 10px;
        }
        .content {
          width: 100%;
          height: 100px;
          .cont-left {
            float: left;
            top: 52px;
            width: 20%;
            height: 86px;
              img {
                width: 86px;
                height: 86px;
              }
          }
          .cont-right {
            width: 80%;
            float: left;
            .text li {
              line-height: 20px;
              float: left;
              width: 100%;
              .name {
                float: left;
                width: 53px;
                font-size: 12px;
                font-weight: normal;
                text-align: right;
                text-align: center;
                font-weight: 700;
              }
              .cleanfloat {
                float: left;
                li {
                  width: 15%;
                  margin-left: 3px;
                  color: #999;
                }
              }
              .cleanfloat::after{
                float: left;
                display: block;
                clear: both;
                content:"";
                visibility: hidden;
                height: 0;
                  ul li {
                    list-style: none;
                    float: left;
                    font-size:30px;
                    margin:5px;
                    color:#ccc;
                    }
                }
                .sorce {
                  float: left;
                  padding-left: 6px;
                  font-size: 14px;
                  line-height: 20px;
                  color: #F00;
                }
            }
          }
        }
        .play-bottom {
          color: #999;
          line-height: 20px;
        }
      }
    }
  }
  .recommend {
    .title {
      font-size: 15px;
      color: #333;
      height: 35px;
      line-height: 40px;
      margin: 15px 0 0;
      border-left: 3px solid #3D71FF;
      margin-left: 15px;
      padding-left: 10px;
      border-bottom: solid 1px #EFEFEF;
    }
    .content {
      font-size: 12px;
      ul {
        text-align: center;
        .item-list {
          width: 30%;
          margin: 1%;
          float: left;
          img {
            width: 100%;
            box-sizing: border-box;
            vertical-align: middle;
          }
          span {
            color: #fff;
            display: inline-block;
            line-height: 25px;
            background-color: #53bcf5;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
</style>
