<template>
  <div class="forum-detail-page">
    <div class="swipe-con">

      <forum-header></forum-header>

    </div>

    <div class="post-list">
      <div class="post-item">

        <div class="title">
          {{thread['subject']}}
        </div>

        <div class="post-title">
          <img :src="`${imgUrl}/uc_server/avatar.php?uid=${thread.authorid}&size=small`" alt="">
          <div class="pos">{{thread['author']}}</div>
          <div class="level" v-html="thread['dateline']"></div>
        </div>

        <div class="content" v-html="postlist_one.message"></div>

        <div class="cell-con">
          <van-cell-group>
            <van-cell title="活动类型" :value="special_activity.class"/>
            <van-cell title="开始时间" :value="special_activity.starttimefrom"/>
            <van-cell title="活动地点" :value="special_activity.place"/>
            <van-cell title="性别" :value="special_activity.gender"/>
            <van-cell title="已报名人数" :value="special_activity.allapplynum"/>
            <van-cell title="剩余名额" :value="special_activity.number - special_activity.applynumber"/>
            <van-cell title="报名截止" :value="special_activity.expiration"/>
          </van-cell-group>
        </div>

        <div class="btn-con2">
          <div class="left" v-if="special_activity.closed" >
						<van-button :disabled="this.stats === '审批中' " size="small" type="primary" @click="eventSwitchActivityInfo">{{ stats }} </van-button>
          </div>
          <div class="left" v-else >
						<van-button disabled size="small" type="primary">活动已结束</van-button>
          </div>
          <div class="right">
            <van-button type="info" size="small">管理</van-button>
            <van-button type="info" size="small">邀请</van-button>
          </div>
        </div>
				<div v-if="activityInfo" class="activityInfo">
					<h2>
						填写报名信息:
					</h2>
					<p>注意： 参加此活动酱扣除您 {{ special_activity.cost }} 博币</p>
					<div class="cow">
						<div class="lBox">支付方式: </div>
						<div class="rBox">
							<div> <input type="radio" name="type" v-model="signUpInfo.payment" :value="0" checked><span>承担自己应付的花销</span></div>
							<div> <input type="radio" name="type" v-model="signUpInfo.payment" :value="1"><span>支付<input type="text" v-model="money" /> 元</span></div>
						</div>
					</div>
					<div class="cow">
						<div class="lBox" >真实姓名: <span style="color: red; font-size: 0.32rem">{{ this.mustFill.name ? '*' : '' }}</span></div>
						<div class="rBox">
							<input type="text" v-model="signUpInfo.realname"/>
						</div>
					</div>
					<div class="cow">
						<div class="lBox" >手机: <span style="color: red; font-size: 0.32rem">{{ this.mustFill.mobile ? '*' : '' }}</span></div>
						<div class="rBox">
							<input type="text" v-model="signUpInfo.mobile" />
						</div>
					</div>
					<div class="cow">
						<div class="lBox">qq: <span style="color: red; font-size: 0.32rem">{{ this.mustFill.qq ? '*' : '' }}</span></div>
						<div class="rBox">
							<input type="text" v-model="signUpInfo.qq"/>
						</div>
					</div>
					<div class="cow">
						<div class="lBox">留言: </div>
						<div class="rBox">
							<textarea v-model="signUpInfo.message">
							</textarea>
						</div>
					</div>
					<div class="cow">
						<div class="lBox"></div>
						<div class="rBox">
							<van-button type="info" size="small" @click="signUpActivicy(false)">报名</van-button>
							<van-button size="small" type="primary" @click="eventSwitchActivityInfo">暂不参加</van-button>
						</div>
					</div>
				</div>

      </div>

    </div>

    <div class="gray-line"></div>
    <read-more :parent="parent"></read-more>
    <div class="gray-line"></div>
    <recommend-read :Variables="Variables"></recommend-read>
    <comment-list  v-on:load-more="loadMore" :postlist="postlist"></comment-list>
    <forum-comment  v-on:init-page="initPage"  :thread="thread" :tid="thread.tid" :fid="thread.fid"></forum-comment>
  </div>
</template>

<script type="text/ecmascript-6">
  import Cycle from "@/bass/cycle";
  import {mapMutations, mapGetters} from "vuex";
  import {
    get_froum_info,
    get_home_forums,
		modify_signUpActivicy_api
  } from "@/common/api";
  import {Indicator, MessageBox, Toast} from "mint-ui";
  import ForumFooter from '@/components/forums/layout/forumFooter.vue';
  import MySlide from '@/components/homes/layout/slide.vue';
  import ForumHeader from '@/components/forums/layout/forumHeader.vue';
  import ForumComment from '@/components/forums/layout/forumComment.vue';
  import ForumTabs from '@/components/forums/layout/forumTabs.vue';
  import CommentList from '@/components/forums/layout/commentList.vue';
  import ReadMore from '@/components/forums/layout/readMore.vue';
  import RecommendRead from '@/components/forums/layout/recommendRead.vue';
  import {dev} from '../../../config/index';

  export default {
    components: {
      Cycle,
      ForumFooter,
      MySlide,
      ForumHeader,
      ForumTabs,
      ForumComment,
      CommentList,
      ReadMore,
      RecommendRead
    },
    computed: {
      username() {
        return this.initData.username;
      },
      transform: function () {
        return "translateY(-" + this.num * this.height + "px)";
      },
      ...mapGetters(["initData"])
    },
    data() {
      return {
        page: 1,
        imgUrl: dev['proxyTable']['/api']['target'],
        listEnd: false,
        loading: false,
        tid: '',
        search: '',
        Variables: {},
				stats: '未加入',
        parent: {
          name: 'xxxxxx',
          fid: '0',
        },//所属模块
        special_activity: {},
        thread: {
          "description": "",
          "icon": "",
          "name": "",
          "posts": "71655",
        },
        postlist: [{
          author: 'hello',
          subject: 'hello',
          time: '1',
          content: '网上玩百家乐要懂得百家乐小路怎么看，我在这方面积累了一些百家乐心得，在这里不妨和大家分享我怎么看怎么算'
        }],
				mustFill: {
					name: false,
					mobile: false,
					qq: false,
				},
        postlist_one: {},
        postlist_other: {},
        info: {
          all: [],
          hot: [],
          better: [],
          news: []
        },
        currentInfo: [],
				activityInfo: false,
				signUpInfo: {
					realname:'',
					mobile: '',
					QQ: '',
					message: '',
					payment: 0,
				},
				money: 0,
      };
    },
    created: function () {
      this.initPage();
		  this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';


    },
    methods: {
			eventSwitchActivityInfo () {
				
				//let isTure;
				//if (this.stats === '参加') {
				//	isTrue = true;
				//}
				if (this.stats === '审批中') {
					return;
				} else if (this.stats === '') {
					this.signUpActivicy(true);
					return;
				}
				this.activityInfo	= !this.activityInfo;
			},
			async signUpActivicy(isTrue) {
				let params	= {
					iscancel: isTrue,
					fid: this.parent.fid,
					tid: this.tid,
					pid: this.Variables.groupid,
					formhash: JSON.parse(sessionStorage.user).formhash,
					payvalue: this.signUpInfo.payment ? this.money : this.special_activity.cost,
				}
				params	= Object.assign(params, this.signUpInfo)
				console.log(params)
				let res	= await modify_signUpActivicy_api(params);
				if (+res.code !== 200) return '';

				Toast(res.msg);
				SetTimeout(() =>{this.$router.go(0)} ,2000);
			},
      initPage(){
        this.tid = this.$route.params.tid;

        Promise.all([
          get_froum_info({
            page: this.page,
            limit: 5
          }, this.tid),
          get_home_forums(),
        ]).then(([res, res2]) => {
          this.Variables = res.Variables;
          this.thread = res.Variables.thread;
          this.special_activity = res.Variables.special_activity;
          this.postlist = res.Variables.postlist;
          this.postlist_one = this.postlist.slice(0, 1)[0];
          this.postlist.splice(0, 1);
					if (this.special_activity.ufield.userfield) {
						this.special_activity.ufield.userfield.forEach((item)=> {
							switch(item){
								case "手机":
									this.mustFill.mobile	= true;
									break;
								case "QQ":
									this.mustFill.qq	= true;
									break;
								case "真实姓名":
									this.mustFill.name	= true;
									break;
							}
						})
					}
					
					switch (this.special_activity.status) {
						case 'join': 
							this.stats	= '参加';
							break;
						case 'wait': 
							this.stats	= '审批中';
							break;
						case 'joined': 
							this.stats	= '暂不参与';
							break;
					}
          this.parent = res2.forumlist.find(item => {
            return item.fid === res.Variables.fid;
          });
        });
      },
      loadMore() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        this.page = this.page + 1;
        Promise.all([
          get_froum_info({
            page: this.page,
            limit: 5
          }, this.tid),
        ]).then(([res]) => {
          Indicator.close();
          this.loading = false;
          if (res.Variables.postlist && res.Variables.postlist.length > 0) {
            this.postlist = this.postlist.concat(res.Variables.postlist);
          } else {
            this.listEnd = true;
            Toast("没有更多数据了!");
          }
        });
      },
      changeInfo(sel) {
        this.currentInfo = this.info[sel];
      },
      html_decode(str) {
        let s = "";
        if (str) {
          if (str.length === 0) return "";
          s = str.replace(/&amp;/g, "&");
          s = s.replace(/&lt;/g, "<");
          s = s.replace(/&gt;/g, ">");
          s = s.replace(/&nbsp;/g, " ");
          s = s.replace(/&#39;/g, "\'");
          s = s.replace(/&quot;/g, "\"");
          s = s.replace(/<br\/>/g, "\n");
        }
        return s;
      },
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global.less";

  .gray-line {
    height: 10px;
    background: rgba(248, 248, 248, 1);
  }

  .cell-con {
    margin: 10px 0 0;
  }

  .btn-con2 {
    height: 65px;
    margin-bottom: 10px;

    .left {
      float: left;
    }

    .right {
      float: right;

    }
  }

  .post-left {
    background: rgba(248, 248, 248, 1);
  }


  .post-item {
    padding: 0 15px 20px;
    /*border-bottom: 10px solid rgba(248, 248, 248, 1);*/

    .title {
      padding-top: 5px;
      min-height: 30px;
      font-size: 18px;
      font-family: PingFangSC-Medium;
      font-weight: 700;
      color: #333333;
      line-height: 25px;
    }

    .admire {
      text-align: center;

      .btn {
        display: inline-block;
        width: 65px;
        height: 28px;
        line-height: 28px;
        background: rgba(250, 170, 0, 1);
        border-radius: 4px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }
    }

    .tag {
      height: 30px;
      line-height: 30px;
      width: 150px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
    }


    .post-title {
      margin-top: 10px;
      height: 32px;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 90px;
      }

      .pos {
        position: absolute;
        left: 45px;
        top: 0;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);

      }

      .level {
        position: absolute;
        left: 45px;
        bottom: 0;
        font-weight: 400;
        width: 122px;
        height: 16px;
        line-height: 16px;
        border-radius: 2px;
        font-size: 10px;
        font-family: PingFangSC-Regular;
        color: rgba(153, 153, 153, 1);
      }
    }

    .text {
      height: 22px;
      font-size: 16px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 22px;
      margin: 10px 0;
    }

    .content {
      margin-top: 15px;
      font-size: 16px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 25px;
    }

    .time {
      height: 20px;
      margin: 20px 0;

      .time-left {
        float: left;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .time-right {
        float: right;
        width: 24px;
        height: 15px;
        background: rgba(236, 236, 236, 1);
        border-radius: 2px;
      }
    }


    .review {
      padding: 10px;
      background: rgba(248, 248, 248, 1);
      display: flex;
      flex-direction: column;

      .review-item {
        flex: 1;
      }

      .review-user {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(84, 134, 204, 1);
      }

      .review-con {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 22px;
      }
    }
  }


  .detail {
    margin: 0 15px 10px;
    height: 81px;
    background: rgba(255, 255, 255, 1);
    position: relative;

    > img {
      position: absolute;
      top: 10px;
      left: 0;
      width: 60px;
      height: 60px;
      background: linear-gradient(180deg, rgba(42, 132, 251, 1) 0%, rgba(97, 226, 255, 1) 100%);
    }

    .title {
      position: absolute;
      top: 5px;
      left: 70px;
      right: 65px;
      height: 25px;
      font-size: 18px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 25px;
    }

    .text {
      position: absolute;
      top: 56px;
      left: 70px;
      right: 65px;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .guanzhu {
      position: absolute;
      top: 34px;
      left: 70px;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;

      > span:nth-child(1) {
        color: rgba(247, 181, 0, 1);
      }
    }

    .btn {
      position: absolute;
      top: 28px;
      right: 5px;
      width: 51px;
      height: 28px;
      background: rgba(61, 113, 255, 1);
      border-radius: 2px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 28px;
      text-align: center;
    }
  }

  .play-tab {
    padding: 0 15px;
    display: flex;
    height: 75px;

    .play-tab-bar {
      flex: 1;
      text-align: center;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -25px;
        display: inline-block;
        height: 50px;
        width: 50px;
      }

      > span {
        position: absolute;
        top: 55px;
        display: inline-block;
        height: 25px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
      }

    }
  }

  .titles {
    margin: 15px;
    border-left: 3px solid #3D71FF;
    padding-left: 10px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
  }

  .right_pop {
    width: 100%;
    height: 100%;
  }

  .pop_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #fff;
    z-index: 12;
    font-size: 16px;
    color: #333;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0.5rem 0.3rem 0;

    > div > p {
      margin-bottom: 0.3rem;
      font-weight: bold;
    }

    .pop_lottery {
      display: flex;
      flex-flow: wrap;
      margin-bottom: 0.5rem;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        margin-bottom: 0.2rem;

        > img {
          width: 1rem;
          height: 1rem;
        }

        > span {
          margin-top: 0.1rem;
        }
      }
    }
  }

  .other-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    .other-con-item {
      flex: 0 0 23%;
      position: relative;
      text-align: center;
      height: 69px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      border: 1px solid rgba(214, 214, 214, 1);
      overflow: hidden;

      > span:nth-child(1) {
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 50%;
        margin-left: -28px;
        width: 56px;
        height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
      }

      > span:nth-child(2) {
        display: inline-block;
        position: absolute;
        top: 33px;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      > img {
        display: inline-block;
        width: 27px;
        height: 27px;
        position: absolute;
        bottom: -7px;
        right: -7px;
        background: black;
      }
    }
  }

  .activity-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .activity-con-item {
      flex: 0 0 48%;
      position: relative;
      height: 94px;
      background: rgba(216, 216, 216, 1);
      border-radius: 4px;
      margin-bottom: 10px;

      > img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }

      .pop {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        background: rgba(0, 0, 0, 1);
        opacity: 0.5;
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
        line-height: 20px;
        text-align: center;
      }
    }
  }

  .media-con {
    margin: 0 15px;
    height: 163px;
    background: rgba(216, 216, 216, 1);
    border-radius: 4px;
  }

  .forum-detail-page {
    width: 100%;
    height: 100%;

    .tab-bar {
      position: relative;
      border: 0;
      background-color: #fff;
      height: 5.3rem;

      .tab-item {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        border-right: 1px solid #20294e;

        &:nth-child(4) {
          border-right: none;
        }

        img.icon2 {
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    .game2 {
      margin-top: 1rem;
      position: relative;

      .tab-item {
        height: auto;
        padding: 3%;
        width: 27%;

        .icon {
          width: 72px;
          height: 72px;
        }
      }

      .games_tab-bar {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        justify-content: flex-start;
        padding: 0.2rem 0 1.2rem;
      }

      .lastBox {
        width: 100%;
        position: absolute;
        top: -0.8rem;
        height: 0.8rem;
        line-height: 0.8rem;

        > span {
          display: inline-block;
          margin-left: 3%;
          margin-right: 3%;
          width: 44%;
          height: 0.8rem;
          border-radius: 10px 10px 0 0;
          background: #1b233e;
          text-align: center;
          color: #fff;
        }

        > .active {
          background: #2c3353;
          color: #f8c96e;
        }
      }
    }
  }
	.activityInfo {
		padding: 0 0.2rem 0.16rem;
		background-color: #F8F8F8;
		h2 {
			line-height: 0.88rem;
			height: 0.88rem;
			font-size: 0.37rem;
			color: #ff9900;
			border-bottom: 1px solid #efefef !important;
		}
		p {
			margin: 0.24rem 0;
			border-radius: 2px;
			border: 2px sashed rgb(231, 225, 205);
			font-size: 0.28rem;
			background-color: #FFFDF0;
		}
		.cow {
			display: flex;
			margin: 0.2rem 0;
			.lBox {
				line-height: 0.58rem;
				height: 0.58rem;
				width: 20%;
				text-align: right;
				font-size: 0.24rem;
			}
			.rBox {
				width: 80%;
				line-height: 0.58rem;
				div {
					display: flex;
					& >input {
						margin-top: 0.2rem;
					}
					span{
						font-size: 0.24rem;
						input {
							width: 2rem;
							height: 0.44rem;
						}
					}
				}
				& > input {
						width: 100%;
						height: 0.56rem;
						font-size: 0.38rem;
						line-height: 0.56rem
				}
				textarea {
						width: 100%;
						height: 2rem;
						font-size: 0.38rem;
				
				}
			}

		}

	}

</style>
