<template>
  <div class="send-post-page">
    <div class="swipe-con">

      <div class="post-header">
        <div class="left" @click="cancelPublish">
          取消
        </div>

        <div class="right" @click="publish">
          发布
        </div>
      </div>

      <div class="select" @click="showEvent">
        {{showText}}
      </div>

      <div class="my-field">
        <div class="my-filed-label">
          标题
        </div>
        <input class="mint-field-core"
               type="text"
               v-model="title"
               placeholder="必填">

      </div>

      <van-cell-group>
        <van-field
          v-model="affirmpoint"
          label="正方观点"
          type="textarea"
          placeholder="请输入正方观点"
          rows="1"
          autosize
        />

        <van-field
          v-model="negapoint"
          label="反方观点"
          type="textarea"
          placeholder="请输入反方观点"
          rows="1"
          autosize
        />
      </van-cell-group>

      <van-field
        v-model="endtime"
        label="结束时间"
        readonly
        @focus="showPicker('endtime')"
      />

      <van-field
        v-model="umpire"
        label="指定裁判"
      />

      <div class="LidtEditor bgWhite" style="min-height:10rem;margin-top: 10px;" id="LidtEditor">
        <div class="Editor">
          <div id="editorElem" ref="editor" style="text-align:left">
          </div>
        </div>
      </div>
    </div>

    <publish-pop v-on:close-event="closeEvent"
                 v-bind:showPublish="showPublish"
                 v-bind:showPublishCon="showPublishCon"></publish-pop>

    <div class="upload-con" v-show="fileList.length>0">
      <div v-for="(item,index) in fileList" :key="index">
				<button @click="eventRemoveImg(item, index)">
						<svg t="1567941565980" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2128" width="200" height="200"><path d="M880 240H704v-64c0-52.8-43.2-96-96-96H416c-52.8 0-96 43.2-96 96v64H144c-17.6 0-32 14.4-32 32s14.4 32 32 32h48v512c0 70.4 57.6 128 128 128h384c70.4 0 128-57.6 128-128V304h48c17.6 0 32-14.4 32-32s-14.4-32-32-32z m-496-64c0-17.6 14.4-32 32-32h192c17.6 0 32 14.4 32 32v64H384v-64z m384 640c0 35.2-28.8 64-64 64H320c-35.2 0-64-28.8-64-64V304h512v512z" fill="#4A576A" p-id="2129"></path><path d="M416 432c-17.6 0-32 14.4-32 32v256c0 17.6 14.4 32 32 32s32-14.4 32-32V464c0-17.6-14.4-32-32-32zM608 432c-17.6 0-32 14.4-32 32v256c0 17.6 14.4 32 32 32s32-14.4 32-32V464c0-17.6-14.4-32-32-32z" fill="#4A576A" p-id="2130"></path></svg>
						</svg>
				</button>
        <van-image
          width="100"
          height="100"
          :src="item.attachment"
          @click="imgClick(item)"
        />
      </div>
    </div>

    <div class="picker-con" v-if="showPic">
      <van-datetime-picker
        v-model="currentDate"
        type="datetime"
        :min-date="minDate"
        :max-date="maxDate"
				:formatter="formatter"
        @confirm="confirmTime"
        @cancel="cancelTime"
      />
    </div>

    <mt-actionsheet
      :actions="actions"
      v-model="sheetVisible">
    </mt-actionsheet>

    <mt-actionsheet
      :actions="actions2"
      v-model="sheetVisible2">
    </mt-actionsheet>
  </div>
</template>

<script type="text/ecmascript-6">
  import Cycle from "@/bass/cycle";
  import {Toast} from 'mint-ui';
  import {
    ajax_upload,
    publish_info,
		remove_img_api
  } from "@/common/api";
  import MySlide from '@/components/homes/layout/slide.vue';
  import ForumHeader from '@/components/forums/layout/forumHeader.vue';
  import ForumTabs from '@/components/forums/layout/forumTabs.vue';
  import PublishPop from '@/components/forums/layout/publishPop.vue';
  import E from 'wangeditor';
  import moment from "moment";
  import axios from 'axios';
  import {Notify} from 'vant';

  export default {
    components: {
      Cycle,
      MySlide,
      ForumHeader,
      ForumTabs,
      PublishPop,
    },
    props: {},
    computed: {},
    data() {
      return {
        actions: [{
          name: '所有',
          method: (optional) => {
            this.activityclass = optional.name;
          }
        }, {
          name: '类型1',
          method: (optional) => {
            this.activityclass = optional.name;
          }
        }, {
          name: '类型2',
          method: (optional) => {
            this.activityclass = optional.name;
          }
        }],
        actions2: [{
          name: '不限',
          method: (optional) => {
            this.gender = optional.name;
          }
        }, {
          name: '男',
          method: (optional) => {
            this.gender = optional.name;
          }
        }, {
          name: '女',
          method: (optional) => {
            this.gender = optional.name;
          }
        }],
        sheetVisible: false,
        sheetVisible2: false,
        time_all: false,
        activeTime: '',
        activeStartTime: '',
        activeEndTime: '',
        activityplace: '',
        activitycity: '',
        activityclass: '所有',
        activitynumber: '',
        acivitycredit: '',
        cost: '',
        endtime: '',
				endtime2: '',
        umpire: '',
        gender: '不限',
        uploadImg: {},
        editor: null,
        title: '',
        content: '',
        showPublish: true,
        showPublishCon: true,
        showText: '选择论坛版块',
        fid: "0",
        fileList: [],
        minHour: 10,
        maxHour: 20,
        minDate: new Date(),
        maxDate: new Date(2025, 10, 1),
        currentDate: new Date(),
        showPic: false,
        selectTime: '',
        list: ['真实姓名', '手机', 'QQ'],
        result: [],
        upload_text: '上传图片',
        affirmpoint: '',
        negapoint: '',
        attachnew: [],
      };
    },
    created: function () {

    },
    mounted: function () {
      this.createEditor();
    },
    methods: {
			async eventRemoveImg(item, i) {
				var res	= await remove_img_api({aids: [item.aid]});
				Toast(res.msg)
				if (+res.code === 200){
					this.fileList.splice(i, 1);
				}
			},
			 formatter(type, value) {// 格式化选择器日期
					if (type === 'year') {
					return `${value}年`;
					} else if (type === 'month') {
					return `${value}月`;
					} else if (type === 'day') {
					return `${value}日`;
					} else if (type === 'hour') {
					return `${value}时`;
					} else if (type === 'minute') {
					return `${value}分`;
					}
        },
      createEditor() {
        //https://www.kancloud.cn/wangfupeng/wangeditor3/332599
        let editor = new E(this.$refs.editor);
        let _this = this;

        editor.customConfig.onchange = (html) => {
          this.content = html;
        };

        editor.customConfig.onfocus = function () {
        };

        editor.customConfig.menus = [
          // 'head',  // 标题
          // 'bold',  // 粗体
          // 'italic',  // 斜体
          // 'underline',  // 下划线
          // 'strikeThrough',  // 删除线
          // 'foreColor',  // 文字颜色
          // 'backColor',  // 背景颜色
          // 'link',  // 插入链接
          // 'list',  // 列表
          // 'justify',  // 对齐方式
          // 'quote',  // 引用
          'emoticon',  // 表情
          'image' // 插入图片
          // 'table',  // 表格
          // 'video',  // 插入视频
          // 'code',  // 插入代码
          // 'undo',  // 撤销
          // 'redo'  // 重复
        ];
        editor.customConfig.uploadImgShowBase64 = true;   // 使用 base64 保存图片
        editor.customConfig.pasteFilterStyle = true;
        editor.customConfig.uploadImgServer = `/api/mobile/index.php?version=4&module=forumupload&operation=upload&type=image&simple=2&infloat=yes&inajax=yes&fid=${this.fid}`;  // 上传图片到服务器
        editor.customConfig.uploadImgMaxSize = 2 * 1024 * 1024;
        editor.customConfig.uploadImgMaxLength = 50;
        editor.customConfig.withCredentials = true;
        editor.customConfig.uploadImgParams = {
          from: 'comment'   // 属性值会自动进行 encode ，此处无需 encode
        };
        editor.customConfig.uploadFileName = 'Filedata';
        editor.customConfig.uploadImgHeaders = {
          'Accept': 'text/x-json'
        };
        editor.customConfig.customAlert = function (info) {
          console.log(info)
        };
        editor.customConfig.uploadImgHooks = {
          fail: function (xhr, editor, result) {
            // 图片上传并返回结果，但图片插入错误时触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
            console.log(xhr, editor, result);
          },
          error: function (xhr, editor) {
            // 图片上传出错时触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
            console.log(xhr, editor);
          },
          customInsert: function (insertImg, result, editor) {
            // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
            // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
            // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
            _this.fileList.push(result);
            // result 必须是一个 JSON 格式字符串！！！否则报错
          }
        };
        editor.customConfig.linkImgCallback = function (url) {
          console.log(url) // url 即插入图片的地址
        };
        editor.create();
        this.editor = editor;
        editor.txt.html('')
      },
      showPicker(sel) {
        this.showPic = true;
        this.selectTime = sel;
      },
      afterRead(file) {
        console.log(file);
        // 此时可以自行将文件上传至服务器
        let url = `/api/mobile/index.php?version=4&module=forumupload&operation=upload&type=image&simple=2&infloat=yes&inajax=yes&fid=${this.fid}`;
        let fd = new FormData();
        fd.append('Filedata', file['file']);
        axios.post(url, fd, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(res => {
          this.uploadImg = res.data;
          this.upload_text = '上传成功';
        })
      },
      confirmTime(value) {
        this.showPic			= false;
				this.endtime2	= moment(value).format('YYYY-MM-DD HH:mm');
        this[this.selectTime] = moment(value).locale('zh-cn').format('LLLL');
      },
      cancelTime() {
        this.showPic = false;
      },
      selectType() {
        this.sheetVisible = true;
      },
      selectType2() {
        this.sheetVisible2 = true;
      },
      showEvent() {
        this.showPublish = true;
        setTimeout(() => {
          this.showPublishCon = true;
        }, 300)
      },
      imgClick(img) {
        // let str = `<p><img src="${imgLink}" alt=""></p>`;
        let str = `<p>[attachimg]${img.aid}[/attachimg]</p>`;
        this.editor.txt.append(str);
        this.content += str;


        this.attachnew[img.aid] = {};
        this.attachnew[img.aid].descripttion = `${img.aid}_${this.attachnew.length}`;
      },
      closeEvent(item) {
        if (!item) {
          Toast('获取模块id失败');
        } else {
          console.log(item);
          this.fid = item.fid;
          this.showText = item.name;
          this.createEditor();
        }
        this.showPublishCon = false;
        setTimeout(() => {
          this.showPublish = false;
        }, 300)
      },
      cancelPublish() {
        this.$router.go(-1);
      },
      publish() {
        publish_info({
          special: 5,
          subject: this.title,
          affirmpoint: this.affirmpoint,
          negapoint: this.negapoint,
          endtime: this.endtime2,
          attachnew: this.attachnew,
          umpire: this.umpire,
          message: this.content,
        }, this.fid).then(res => {
          if (res.Message.messageval === 'post_newthread_succeed') {
            Toast('非常感谢，您的主题已发布，现在将转入主题页，请稍候……');
            let bb = this.getCookie('KqtZ_2132_creditnotice');
            bb = bb.split('D')[2];
            Notify({type: 'warning', message: `博币 + ${Number(bb)} 枚`});
            setTimeout(() => {
              this.$router.push(`/argueSuccess/${res.Variables.tid}`);
            }, 800);
          } else if (res.Message.messageval === 'post_newthread_mod_succeed') {
            Toast(res.Message.messagestr);
            this.$router.go(-1);
          } else {
            Toast(res.Message.messagestr);
          }
        });
      },
      getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i].trim();
          if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
      }
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global.less";

  .picker-con {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px -1px 5px 0px #D3E0EA;
    -moz-box-shadow: 0px -1px 5px 0px #D3E0EA;
    box-shadow: 0px -1px 5px 0px #D3E0EA;
  }

  .upload-con {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow: auto;

   & > div {
      float: left;
      margin-right: 10px;
			position: relative;
    }
		button {
			height: 0.34rem;
			line-height: 0.34rem;
			position: absolute;
			right: 0;
			top: 0;
			background-color: white;
			z-index: 100;
			border: none;
			.icon {
				width: 0.34rem;
				height: 0.34rem;
				transform: translateY(-0.2rem);
			}
		}
  }

  .send-post-page {
    width: 100%;
    height: 100%;

    .post-header {
      height: 45px;
      margin: 0 15px;
      background: rgba(255, 255, 255, 1);

      .left {
        width: 30px;
        height: 21px;
        font-size: 15px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 45px;
      }

      .right {
        width: 30px;
        height: 21px;
        font-size: 15px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(61, 113, 255, 1);
        line-height: 45px;
      }
    }


    .select {
      margin: 0 15px;
      height: 45px;
      line-height: 45px;
      font-size: 14px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(61, 113, 255, 1);
    }

    .my-field {
      margin: 0 15px;
      display: flex;
      border-radius: 8px;
      height: 45px;
      position: relative;
      border-bottom: 1px solid #f1f1f1;


      .my-filed-label {
        width: 52px;
        flex: 0 0 1;
        text-align: left;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
      }

      .mint-field-core {
        flex: 1;
        padding: 0;
        height: 45px;
        line-height: 45px;
        line-height: 45px;
        background: rgba(0, 0, 0, 0);
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
      }
    }

    .my-field:nth-last-child(1) {
      border: none;
    }
  }
</style>
