<template>

  <div class="forum-detail-page" @click="eventAll">

    <div class="swipe-con">

      <my-header></my-header>

      <div class="detail">
        <img :src="forum.icon" alt="">
        <span class="title">{{forum.name}}</span>
        <div class="guanzhu">
          <span>今日：{{forum.todayposts}}</span>
          <span>帖子：{{forum.posts}}</span>
          <span>关注：{{forum.favtimes}}</span>
        </div>
        <span class="text">{{forum.description}}</span>
        <div class="btn" @click="fav">
          {{favForumInfo.error==='1'?'+ 关注':'取消关注'}}
        </div>
      </div>

      <!--<p v-if="sublist.length>0" style="padding:0 15px;height:30px;line-height: 30px;font-size: 14px;">子版块</p>-->

      <div class="grids" style="margin-bottom: 15px" v-if="sublist.length>0">
        <van-grid :border="false" :column-num="4">
          <van-grid-item @click="goForumDetail(item)" :icon="item.icon" :text="item.name"
                         v-for="(item,index) in sublist" :key="index">

          </van-grid-item>
        </van-grid>
      </div>

      <forum-tabs :forum_threadlist_first="forum_threadlist_first" :currentInfo="currentInfo"
                  @change-info="changeInfo"></forum-tabs>
    </div>

    <!--<ul class="post-list"-->
    <!--v-infinite-scroll="loadMore"-->
    <!--infinite-scroll-disabled="loading"-->
    <!--infinite-scroll-distance="10">  -->
    <ul class="post-list" ref="list">
      <li class="post-item" v-for="(item,index) in forum_threadlist" :key="index">
        <div class="post-title" @click="goMyspace(item)">
          <img :src="`${imgUrl}/uc_server/avatar.php?uid=${item.authorid}&size=small`" alt="">
          <div :style="`color:${item['subject_color']}`" class="pos" @click="goDetail(item)">{{item['author']}}</div>
          <div class="level" :style="`background: ${item.grouptitle_color}`" @click="goDetail(item)">LV{{ item.stars
            }}{{ item.grouptitle }}
          </div>
        </div>

        <div @click="goDetail(item)" class="text">
          {{item['subject']}}
        </div>

        <div @click="goDetail(item)" class="content">
          {{item.message}}
          <van-grid :gutter="5" :column-num="3">
            <van-grid-item v-for="(item,index) in item['imgurl']&&item['imgurl'].slice(0,9)" :key="index">
              <van-image height="100px" :src="item" :alt="item" fit="cover">
                <template v-slot:loading>
                  <van-loading type="spinner" size="20"/>
                </template>
              </van-image>
            </van-grid-item>
          </van-grid>
        </div>

        <div class="time">
          <div class="time-left" v-html="item.dateline"></div>
          <div class="time-right" @click="eventsChangeClassName">
            <span>●●</span>
          </div>
          <div class="wxlist_bottom_box"  :data-index="index">
            <div class="wxlist_bottom_showbox">
              <div class="wxlist_bottom_show">
                <a class="f_f comiis_recommend_addkey" @click="zan(item)">{{item.recommend =='0'?'点赞':'取消赞'}}</a>
                <a class="dialog f_f" @click="eventCommentWrap(item)">评论</a>
              </div>
            </div>
          </div>
        </div>

        <div class="review">
          <div class="review-item" style="margin-bottom: 8px">
            <div class="review-con">
              <span class="review-user">{{item.recommend_add}}赞 {{item.recommend =='0'?'':username2}}</span>
            </div>
          </div>
          <div class="review-item" @click="goDetail(item)" v-for="(item2,index2) in item['reply']" :key="index2">
            <div class="review-con">
              <span class="review-user">
              {{item2['author']}}:
            </span>
              {{item2['message']}}
            </div>
          </div>
        </div>
      </li>

    </ul>
    <van-pagination
      v-model="page"
      :total-items="totalItems"
      :items-per-page="15"
      @change="changePage"
    />

    <forum-footer></forum-footer>
  </div>

</template>

<script type="text/ecmascript-6">
  import Cycle from "@/bass/cycle";
  import {mapMutations, mapGetters} from "vuex";
  import {
    get_forum_posts,
    get_forum_posts_hot,
    get_forum_posts_better,
    get_forum_posts_new,
    add_recommend,
    delete_recommend,
    favforum,
    checkfavforum,
    add_commnt,
    delete_favforum,
    search_two_api
  } from "@/common/api";
  import {Indicator, Popup, MessageBox, Toast} from "mint-ui";
  import ForumFooter from '@/components/forums/layout/forumFooter.vue';
  import MySlide from '@/components/homes/layout/slide.vue';
  import MyHeader from '@/components/homes/layout/header.vue';
  import ForumTabs from '@/components/forums/layout/forumTabs.vue';
  import {isLogin} from '@/utils/filter';
  import {dev} from '../../../config/index';
  import $ from 'jquery';

  export default {
    components: {
      Cycle,
      ForumFooter,
      MySlide,
      MyHeader,
      ForumTabs,
    },
    computed: {
      username() {
        return this.initData.username;
      },
      transform: function () {
        return "translateY(-" + this.num * this.height + "px)";
      },
      ...mapGetters(["initData"])
    },
    data() {
      return {
        totalItems: 500,
        page: 1,
        listEnd: false,
        loading: false,
        imgUrl: dev['proxyTable']['/api']['target'],
        popupVisible: false,
        search: '',
				zanDOM: '',
        forum: {
          "description": "",
          "icon": "",
          "name": "",
          "posts": "1111",
          "favtimes": "111",
          "todayposts": "11",
        },
        forum_threadlist: [],
        forum_threadlist_first: [],
        info: {
          hot: [],
          better: [],
          news: []
        },
        currentInfo: [],
        favForumInfo: {
          favid: "",
          error: "1",
        },
        sublist: [],
        fid: '',
        top_all: [],
        sel: 'all',
        username2: '',
        selectDom: undefined, //点击评论或者点赞获取的dom元素
      };
    },
    created: function () {
      if (sessionStorage.getItem('user')) {
        this.username2 = JSON.parse(sessionStorage.getItem('user')).name;
      }

		  this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';

      this.loading = true;
      this.initPage();
    },
    methods: {
			eventAll (event) {
				event.stopPropagation();
				event.preventDefault();
				this.zanDomHidden();
			},
			zanDomHidden() {
				if (this.zanDOM) {
					this.zanDOM.className = 'wxlist_bottom_box';
					this.zanDOM						= null;

					return true;
				}
			},
      changePage(page) {
        this.loadMore(page);
      },
      initPage() {
        this.fid = this.$route.params.fid;

        get_forum_posts({}, this.fid, this.page).then(res => {
          this.forum = res.Variables.forum;
          this.sublist = res.Variables.sublist;
          this.forum_threadlist = res.Variables.forum_threadlist;

          this.top_all = this.forum_threadlist.filter(item => {
            return Number(item.displayorder) > 0;
          });

          this.forum_threadlist = this.forum_threadlist.filter(item => {
            return +item.displayorder === 0;
          });

          this.forum_threadlist_first = this.top_all;
          this.currentInfo = this.top_all;
          this.loading = false;
        });

        checkfavforum({}, this.fid).then(res => {
          this.favForumInfo = res;
        });


      },
      goForumDetail(item) {
        this.$router.push(`/forumDetail/${item.fid}`);
      },
      fav() {

        let user = JSON.parse(sessionStorage.getItem('user'));
        let formhash = user && user.formhash;

        if (isLogin.call(this)) return;
        //未关注
        if (this.favForumInfo.error === '1') {
          favforum({
            formhash
          }, this.forum.fid).then(res => {
            Toast(res.Message.messagestr);
            this.initPage();
          });
        } else {
          let cancelfav = this.favForumInfo.error === '0' ? true : false
          delete_favforum({
            formhash,
            deletesubmit: true,
          }, this.favForumInfo.favid, cancelfav).then(res => {
            Toast(res.Message.messagestr);
            this.initPage();
          });
        }
      },
      zan(item) {
        if (item.recommend === '0') {
          add_recommend({}, item.tid).then(res => {
            if (res.Message.messageval === 'recommend_succeed') {
              Toast(res.Message.messagestr);

              //let popup = this.selectDom;
              //if (popup.className === 'wxlist_bottom_box') {
              //  popup.className = 'inputState wxlist_bottom_box';
              //} else {
              //  popup.className = 'wxlist_bottom_box';
              //}

              this.initPage();
            } else {
              Toast(res.Message.messagestr);
            }
          })

        } else {
          delete_recommend({}, item.tid).then(res => {
            Toast(res.message);

            let popup = this.selectDom;
            //if (popup.className === 'wxlist_bottom_box') {
            //  popup.className = 'inputState wxlist_bottom_box';
            //} else {
            //  popup.className = 'wxlist_bottom_box';
            //}

            this.initPage();
          })
        }


      },
      goDetail(item) {
        const {tid, special} = item;
        let path = "";

        if (special === "0") {
          path = "/publishSuccess";
        } else if (special === "1") {
          path = "/voteSuccess";
        } else if (special === "2") {
          path = "";
        } else if (special === "3") {
          path = "/rewardSuccess";
        } else if (special === "4") {
          path = "/activitySuccess";
        } else if (special === "5") {
          path = "/argueSuccess";
        }

        this.$router.push(`${path}/${tid}`);
      },
      goMyspace(item) {
        console.log(item)
        this.$router.push(`/mySpace/${item.authorid}`);
      },
      popShow() {
        this.popupVisible = true;
      },
      changeInfo(sel) {
        this.sel = sel;
        this.page = 1;
        if (sel === 'all') {
          this.currentInfo = this.top_all;
        }
        if (sel === 'news') {
          Promise.all([
            get_forum_posts_new({}, this.fid)
          ]).then(([news]) => {
            this.forum_threadlist = news.Variables.forum_threadlist;
            this.info.news = this.forum_threadlist.filter(item => {
              return Number(item.displayorder) > 0;
            });

            this.forum_threadlist = this.forum_threadlist.filter(item => {
              return +item.displayorder === 0;
            });

            this.currentInfo = this.info.news
          })
        }
        if (sel === 'hot') {
          Promise.all([
            get_forum_posts_hot({}, this.fid)
          ]).then(([hot]) => {
            this.forum_threadlist = hot.Variables.forum_threadlist;
            this.info.hot = this.forum_threadlist.filter(item => {
              return Number(item.displayorder) > 0;
            });
            this.forum_threadlist = this.forum_threadlist.filter(item => {
              return +item.displayorder === 0;
            });
            this.currentInfo = this.info.hot
          })
        }
        if (sel === 'better') {
          Promise.all([
            get_forum_posts_better({}, this.fid)
          ]).then(([better]) => {
            this.forum_threadlist = better.Variables.forum_threadlist;
            this.info.better = this.forum_threadlist.filter(item => {
              return Number(item.displayorder) > 0;
            });
            this.forum_threadlist = this.forum_threadlist.filter(item => {
              return +item.displayorder === 0;
            });
            this.currentInfo = this.info.better
          })
        }
      },
      // 弹出点赞和评论按钮
      eventsChangeClassName(event) {
        event.stopPropagation();
        event.preventDefault();
        if (isLogin.call(this)) return;
        let popup = event.currentTarget.nextElementSibling;
        this.selectDom = popup;
				if (this.zanDOM && popup.dataset.index !== this.zanDOM.dataset.index) {
					this.zanDomHidden();
				}
				console.log();
        if (popup.className === 'wxlist_bottom_box') {
          popup.className = 'inputState wxlist_bottom_box';
					this.zanDOM			=	popup;
        } else {
          popup.className = 'wxlist_bottom_box';
        }
      },
      // 弹出评论输入框
      async eventCommentWrap(item) {
        let {tid, fid} = item;

        async function callback(value, action) {
          let data = {
            tid, fid,
            message: value
          };

          Indicator.open();
          this.loading = true;
          let res = await add_commnt(data);
          Indicator.close();
          this.loading = false;
          Toast(res.message);
          if (+res.code === 200) {
            //this.resetInfo();
            //this.loadMore();
            // TODO tid 跳到对应的帖子 下面
            //this.$router.push(`/publishSuccess?tid=${tid}`);
          }

          let popup = this.selectDom;
          //if (popup.className === 'wxlist_bottom_box') {
          //  popup.className = 'inputState wxlist_bottom_box';
          //} else {
          //  popup.className = 'wxlist_bottom_box';
          //}
        }

        MessageBox.prompt('回复').then(({value, action}) => callback.call(this, value));


      },
      loadMore(page) {
        let func;
        if (this.sel === 'all') {
          func = get_forum_posts({}, this.fid, page)
        }
        if (this.sel === 'news') {
          func = get_forum_posts_new({}, this.fid, page)
        }
        if (this.sel === 'hot') {
          func = get_forum_posts_hot({}, this.fid, page)
        }
        if (this.sel === 'better') {
          func = get_forum_posts_better({}, this.fid, page)
        }

        this.forum_threadlist = [];
        func.then(res => {
          if (res.Variables.forum_threadlist && res.Variables.forum_threadlist.length > 0) {
            if (+page === 1) {
							console.log()
              this.forum_threadlist = res.Variables.forum_threadlist.filter(item => {
                return +item.displayorder === 0;
              });

            } else {
              this.forum_threadlist = res.Variables.forum_threadlist;
            }
          }
        });
      },
    },
    // beforeRouteLeave(to, from, next) {
    //   let route_arr = [
    //     'publishSuccess',
    //     'rewardSuccess',
    //     'voteSuccess',
    //     'argueSuccess',
    //     'activitySuccess',
    //   ];
    //
    //   if (to) {
    //     let position = document.querySelector('.forum-detail-page').getBoundingClientRect().top || 0;//记录离开页面的位置
    //     if (sessionStorage.getItem('changeRecruitScrollY')) {
    //       sessionStorage.removeItem('changeRecruitScrollY');
    //       sessionStorage.setItem('changeRecruitScrollY', position);
    //     } else {
    //       sessionStorage.setItem('changeRecruitScrollY', position);
    //     }
    //     next()
    //   }
    // },
    watch: {
      $route(to, from) {
        if (from.path === '/forum') {
          window.location.reload();
        }

        // if (to.meta.name === 'forumDetail') {
        //   let recruitScrollY = sessionStorage.getItem('changeRecruitScrollY');
        // let top = Math.abs(Number(recruitScrollY));
        // let top = -1000;
        // setTimeout(() => {
        // let ele = document.querySelector('.forum-detail-page');
        // // ele.scrollTo({
        // //   top: top,
        // //   behavior: 'smooth'
        // // });
        // ele.scrollTop = 500;
        // console.log(ele);
        // }, 1300)
        // }
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global.less";

  .gray-line {
    height: 10px;
    background: rgba(248, 248, 248, 1);
  }

  .post-left {
    background: rgba(248, 248, 248, 1);
  }

  .post-item {
    padding: 0 15px 20px;
    border-bottom: 10px solid rgba(248, 248, 248, 1);

    .post-title {
      margin-top: 10px;
      height: 32px;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 32px;
        height: 32px;
        background: #dec8c8;
      }

      .pos {
        float: left;
        margin-left: 45px;
        height: 32px;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 32px;
      }

      .level {
        text-align: center;
        float: left;
        margin-top: 8px;
        margin-left: 14px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        width: 62px;
        height: 16px;
        background: rgba(247, 181, 0, 1);
        border-radius: 2px;
      }
    }

    .text {
      min-height: 22px;
      font-size: 16px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 22px;
      margin: 10px 0;
    }

    .content {
      font-size: 14px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 20px;
    }

    .time {
      height: 20px;
      margin: 20px 0;
      padding-top: 15px;
      position: relative;

      .time-left {
        float: left;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .time-right {
        float: right;
        width: 24px;
        height: 15px;
        background: rgba(236, 236, 236, 1);
        border-radius: 2px;
        font-size: 12px;
        text-align: center;
      }

      input {
        &.inputState {
          right: 30px;
          opacity: 1;
        }

        transition: 0.3s;
        position: absolute;
        opacity: 1;
        top: 0;
        right: -200px;
        width: 100px;
        border: 2px solid #f8f8f8;
      }

      .wxlist_bottom_box {
        &.inputState {
          right: 0.76rem;
          opacity: 100;
        }

        transition: 0.2s;
        width: 2.5rem;
        position: absolute;
        z-index: 1;
        top: 5px;
        right: -3rem;
        opacity: 0;
        height: 0.7rem;
        line-height: 0.72rem;
        overflow: hidden;
        background-color: rgba(51, 51, 51, .5);
        border-radius: 4px;
        text-align: center;

        .wxlist_bottom_show {
          line-height: 10px;
        }

        a {
          font-size: 14px;
          color: #fff;
          padding: 0 0.15rem;
        }
      }
    }


    .review {
      padding: 10px;
      background: rgba(248, 248, 248, 1);
      display: flex;
      flex-direction: column;

      .review-item {
        flex: 1;
      }

      .review-user {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(84, 134, 204, 1);
      }

      .review-con {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 22px;
      }
    }
  }


  .detail {
    margin: 0 15px 10px;
    height: 81px;
    background: rgba(255, 255, 255, 1);
    position: relative;

    > img {
      position: absolute;
      top: 10px;
      left: 0;
      width: 60px;
      height: 60px;
      background: linear-gradient(180deg, rgba(42, 132, 251, 1) 0%, rgba(97, 226, 255, 1) 100%);
    }

    .title {
      position: absolute;
      top: 5px;
      left: 70px;
      right: 65px;
      height: 30px;
      font-size: 18px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 30px;
    }

    .text {
      position: absolute;
      top: 56px;
      left: 70px;
      right: 65px;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .guanzhu {
      position: absolute;
      top: 36px;
      left: 70px;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;

      > span:nth-child(1) {
        color: rgba(247, 181, 0, 1);
      }
    }

    .btn {
      position: absolute;
      top: 8px;
      right: 5px;
      width: 61px;
      height: 24px;
      background: rgba(61, 113, 255, 1);
      border-radius: 2px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 24px;
      text-align: center;
    }
  }

  .play-tab {
    padding: 0 15px;
    display: flex;
    height: 75px;

    .play-tab-bar {
      flex: 1;
      text-align: center;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -25px;
        display: inline-block;
        height: 50px;
        width: 50px;
      }

      > span {
        position: absolute;
        top: 55px;
        display: inline-block;
        height: 25px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
      }

    }
  }

  .titles {
    margin: 15px;
    border-left: 3px solid #3D71FF;
    padding-left: 10px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
  }

  .right_pop {
    width: 100%;
    height: 100%;
  }

  .pop_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #fff;
    z-index: 12;
    font-size: 16px;
    color: #333;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0.5rem 0.3rem 0;

    > div > p {
      margin-bottom: 0.3rem;
      font-weight: bold;
    }

    .pop_lottery {
      display: flex;
      flex-flow: wrap;
      margin-bottom: 0.5rem;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        margin-bottom: 0.2rem;

        > img {
          width: 1rem;
          height: 1rem;
        }

        > span {
          margin-top: 0.1rem;
        }
      }
    }
  }


  .other-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    .other-con-item {
      flex: 0 0 23%;
      position: relative;
      text-align: center;
      height: 69px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      border: 1px solid rgba(214, 214, 214, 1);
      overflow: hidden;

      > span:nth-child(1) {
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 50%;
        margin-left: -28px;
        width: 56px;
        height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
      }

      > span:nth-child(2) {
        display: inline-block;
        position: absolute;
        top: 33px;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      > img {
        display: inline-block;
        width: 27px;
        height: 27px;
        position: absolute;
        bottom: -7px;
        right: -7px;
        background: black;
      }
    }
  }


  .activity-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .activity-con-item {
      flex: 0 0 48%;
      position: relative;
      height: 94px;
      background: rgba(216, 216, 216, 1);
      border-radius: 4px;
      margin-bottom: 10px;

      > img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }

      .pop {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        background: rgba(0, 0, 0, 1);
        opacity: 0.5;
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
        line-height: 20px;
        text-align: center;
      }
    }
  }


  .media-con {
    margin: 0 15px;
    height: 163px;
    background: rgba(216, 216, 216, 1);
    border-radius: 4px;
  }


  .forum-detail-page {
    width: 100%;
    min-height: 100%;

    .tab-bar {
      position: relative;
      border: 0;
      background-color: #fff;
      height: 5.3rem;

      .tab-item {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        border-right: 1px solid #20294e;

        &:nth-child(4) {
          border-right: none;
        }

        img.icon2 {
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    .game2 {
      margin-top: 1rem;
      position: relative;

      .tab-item {
        height: auto;
        padding: 3%;
        width: 27%;

        .icon {
          width: 72px;
          height: 72px;
        }
      }

      .games_tab-bar {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        justify-content: flex-start;
        padding: 0.2rem 0 1.2rem;
      }

      .lastBox {
        width: 100%;
        position: absolute;
        top: -0.8rem;
        height: 0.8rem;
        line-height: 0.8rem;

        > span {
          display: inline-block;
          margin-left: 3%;
          margin-right: 3%;
          width: 44%;
          height: 0.8rem;
          border-radius: 10px 10px 0 0;
          background: #1b233e;
          text-align: center;
          color: #fff;
        }

        > .active {
          background: #2c3353;
          color: #f8c96e;
        }
      }
    }
  }
</style>
