<template>
  <div class="forum-detail-page">
    <div class="swipe-con">

      <forum-header></forum-header>

    </div>

    <div class="post-list">
      <div class="post-item">

        <div class="title">
          {{thread['subject']}}
        </div>

        <div class="post-title">
          <img :src="`${imgUrl}/uc_server/avatar.php?uid=${thread.authorid}&size=small`" alt="">
          <div class="pos">{{thread['author']}}</div>
          <div class="level" v-html="thread['dateline']"></div>
        </div>

        <div class="tips">
          <div class="text1">
            悬赏
            <span>2</span>
            博币
          </div>
          <div class="btns">
            <div class="btn" @click="eventCommentWrap(item)">
              我来回答
            </div>
          </div>
          <div class="text2">
            您的回答被采纳后将获得2枚博币
          </div>
        </div>

        <div class="content" v-html="html_decode(postlist_one.message)"></div>

        <admire :tid="thread.tid" :pid="postlist_one.pid"></admire>

        <zan-list :postlist_one="postlist_one"></zan-list>
      </div>
    </div>

    <div class="gray-line"></div>
    <read-more :parent="parent"></read-more>
    <div class="gray-line"></div>
    <recommend-read :Variables="Variables"></recommend-read>
    <comment-list v-on:load-more="loadMore"  :postlist="postlist"></comment-list>
    <forum-comment v-on:init-page="initPage"  :thread="thread" :tid="thread.tid" :fid="thread.fid"></forum-comment>

  </div>
</template>

<script type="text/ecmascript-6">
  import Cycle from "@/bass/cycle";
  import {mapMutations, mapGetters} from "vuex";
  import {
    get_froum_info,
    get_home_forums,
    add_commnt
  } from "@/common/api";
  import {Indicator, MessageBox, Toast} from "mint-ui";
  import ForumFooter from '@/components/forums/layout/forumFooter.vue';
  import MySlide from '@/components/homes/layout/slide.vue';
  import ForumHeader from '@/components/forums/layout/forumHeader.vue';
  import ForumComment from '@/components/forums/layout/forumComment.vue';
  import ForumTabs from '@/components/forums/layout/forumTabs.vue';
  import CommentList from '@/components/forums/layout/commentList.vue';
  import ReadMore from '@/components/forums/layout/readMore.vue';
  import RecommendRead from '@/components/forums/layout/recommendRead.vue';
  import Admire from '@/components/forums/layout/admire.vue';
  import ZanList from '@/components/forums/layout/zanList.vue';
  import {dev} from '../../../config/index';

  export default {
    components: {
      Cycle,
      ForumFooter,
      MySlide,
      ForumHeader,
      ForumTabs,
      ForumComment,
      CommentList,
      ReadMore,
      RecommendRead,
      Admire,
      ZanList
    },
    computed: {
      username() {
        return this.initData.username;
      },
      transform: function () {
        return "translateY(-" + this.num * this.height + "px)";
      },
      ...mapGetters(["initData"])
    },
    data() {
      return {
        imgUrl: dev['proxyTable']['/api']['target'],
        page: 1,
        listEnd: false,
        loading: false,
        tid: '',
        search: '',
        Variables: {},
        parent: {
          name: 'xxxxxx',
          fid: '0',
        },//所属模块
        thread: {
          "description": "",
          "icon": "",
          "name": "",
          "posts": "71655",
        },
        postlist: [{
          author: 'hello',
          subject: 'hello',
          time: '1',
          content: '网上玩百家乐要懂得百家乐小路怎么看，我在这方面积累了一些百家乐心得，在这里不妨和大家分享我怎么看怎么算'
        }],
        postlist_one: {
          rate_data:[]
        },
        postlist_other: {},
        info: {
          all: [],
          hot: [],
          better: [],
          news: []
        },
        currentInfo: [],
      };
    },
    created: function () {
      this.initPage();
      this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';
    },
    methods: {
      initPage() {
        this.tid =this.$route.params.tid;

        Promise.all([
          get_froum_info({
            page: this.page,
            limit: 5
          }, this.tid),
          get_home_forums(),
        ]).then(([res, res2]) => {
          this.Variables = res.Variables;
          this.thread = res.Variables.thread;
          this.postlist = res.Variables.postlist;
          this.postlist_one = this.postlist.slice(0, 1)[0];
          this.postlist.splice(0, 1);
          this.parent = res2.forumlist.find(item => {
            return item.fid === res.Variables.fid;
          });
        });
      },
      loadMore() {
        console.log('触发')
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        this.page = this.page + 1;
        Promise.all([
          get_froum_info({
            page: this.page,
            limit: 5
          }, this.tid),
        ]).then(([res]) => {
          Indicator.close();
          this.loading = false;
          if (res.Variables.postlist && res.Variables.postlist.length > 0) {
            this.postlist = this.postlist.concat(res.Variables.postlist);
          } else {
            this.listEnd = true;
            Toast("没有更多数据了!");
          }
        });
      },
      changeInfo(sel) {
        this.currentInfo = this.info[sel];
      },
      html_decode(str) {
        let s = "";
        if (str) {
          if (str.length === 0) return "";
          s = str.replace(/&amp;/g, "&");
          s = s.replace(/&lt;/g, "<");
          s = s.replace(/&gt;/g, ">");
          s = s.replace(/&nbsp;/g, " ");
          s = s.replace(/&#39;/g, "\'");
          s = s.replace(/&quot;/g, "\"");
          s = s.replace(/<br\/>/g, "\n");
        }
        return s;
      },
      // 弹出评论输入框
      async eventCommentWrap(item) {
        let {tid, fid} = item;

        async function callback(value, action) {
          let data = {
            tid, fid,
            message: value,
            usesig: '1',
          };

          Indicator.open();
          this.loading = true;
          let res = await add_commnt(data);
          Indicator.close();
          this.loading = false;
          Toast(res.message);
          if (+res.code === 200) {
            //this.resetInfo();
            //this.loadMore();
            // TODO tid 跳到对应的帖子 下面
            //this.$router.push(`/publishSuccess?tid=${tid}`);
          }
        }

        MessageBox.prompt('回复').then(({value, action}) => callback.call(this, value));
      },
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global.less";

  .gray-line {
    height: 10px;
    background: rgba(248, 248, 248, 1);
  }

  .post-left {
    background: rgba(248, 248, 248, 1);
  }

  .post-item {
    padding: 0 15px 20px;
    /*border-bottom: 10px solid rgba(248, 248, 248, 1);*/

    .title {
      padding-top: 5px;
      min-height: 30px;
      font-size: 18px;
      font-family: PingFangSC-Medium;
      font-weight: 700;
      color: #333333;
      line-height: 25px;
    }

    .admire {
      text-align: center;

      .btn {
        display: inline-block;
        width: 65px;
        height: 28px;
        line-height: 28px;
        background: rgba(250, 170, 0, 1);
        border-radius: 4px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }
    }

    .tag {
      height: 30px;
      line-height: 30px;
      width: 150px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
    }


    .post-title {
      margin-top: 10px;
      height: 32px;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 90px;
      }

      .pos {
        position: absolute;
        left: 45px;
        top: 0;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);

      }

      .level {
        position: absolute;
        left: 45px;
        bottom: 0;
        font-weight: 400;
        min-width: 62px;
        height: 16px;
        line-height: 16px;
        border-radius: 2px;
        font-size: 10px;
        font-family: PingFangSC-Regular;
        color: rgba(153, 153, 153, 1);
      }
    }

    .text {
      height: 22px;
      font-size: 16px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 22px;
      margin: 10px 0;
    }

    .content {
      margin-top: 15px;
      font-size: 16px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 25px;
    }

    .tips {
      margin-top: 10px;
      height: 85px;
      background: rgba(254, 249, 235, 1);
      position: relative;

      .text1 {
        position: absolute;
        left: 8px;
        top: 10px;
        height: 28px;
        font-size: 15px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(250, 170, 0, 1);
        line-height: 21px;

        > span {
          font-size: 18px;
          paddinag: 0 5px;
        }
      }

      .text2 {
        position: absolute;
        left: 105px;
        top: 52px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .btns {
        position: absolute;
        left: 8px;
        bottom: 8px;
      }

      .btn {
        text-align: center;
        display: inline-block;
        width: 85px;
        height: 28px;
        line-height: 28px;
        background: rgba(250, 170, 0, 1);
        border-radius: 4px;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }
    }

    .time {
      height: 20px;
      margin: 20px 0;

      .time-left {
        float: left;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .time-right {
        float: right;
        width: 24px;
        height: 15px;
        background: rgba(236, 236, 236, 1);
        border-radius: 2px;
      }
    }


    .review {
      padding: 10px;
      background: rgba(248, 248, 248, 1);
      display: flex;
      flex-direction: column;

      .review-item {
        flex: 1;
      }

      .review-user {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(84, 134, 204, 1);
      }

      .review-con {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 22px;
      }
    }
  }

  .detail {
    margin: 0 15px 10px;
    height: 81px;
    background: rgba(255, 255, 255, 1);
    position: relative;

    > img {
      position: absolute;
      top: 10px;
      left: 0;
      width: 60px;
      height: 60px;
      background: linear-gradient(180deg, rgba(42, 132, 251, 1) 0%, rgba(97, 226, 255, 1) 100%);
    }

    .title {
      position: absolute;
      top: 5px;
      left: 70px;
      right: 65px;
      height: 25px;
      font-size: 18px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 25px;
    }

    .text {
      position: absolute;
      top: 56px;
      left: 70px;
      right: 65px;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .guanzhu {
      position: absolute;
      top: 34px;
      left: 70px;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;

      > span:nth-child(1) {
        color: rgba(247, 181, 0, 1);
      }
    }

    .btn {
      position: absolute;
      top: 28px;
      right: 5px;
      width: 51px;
      height: 28px;
      background: rgba(61, 113, 255, 1);
      border-radius: 2px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 28px;
      text-align: center;
    }
  }

  .play-tab {
    padding: 0 15px;
    display: flex;
    height: 75px;

    .play-tab-bar {
      flex: 1;
      text-align: center;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -25px;
        display: inline-block;
        height: 50px;
        width: 50px;
      }

      > span {
        position: absolute;
        top: 55px;
        display: inline-block;
        height: 25px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
      }

    }
  }

  .titles {
    margin: 15px;
    border-left: 3px solid #3D71FF;
    padding-left: 10px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
  }

  .right_pop {
    width: 100%;
    height: 100%;
  }

  .pop_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #fff;
    z-index: 12;
    font-size: 16px;
    color: #333;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0.5rem 0.3rem 0;

    > div > p {
      margin-bottom: 0.3rem;
      font-weight: bold;
    }

    .pop_lottery {
      display: flex;
      flex-flow: wrap;
      margin-bottom: 0.5rem;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        margin-bottom: 0.2rem;

        > img {
          width: 1rem;
          height: 1rem;
        }

        > span {
          margin-top: 0.1rem;
        }
      }
    }
  }

  .other-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    .other-con-item {
      flex: 0 0 23%;
      position: relative;
      text-align: center;
      height: 69px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      border: 1px solid rgba(214, 214, 214, 1);
      overflow: hidden;

      > span:nth-child(1) {
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 50%;
        margin-left: -28px;
        width: 56px;
        height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
      }

      > span:nth-child(2) {
        display: inline-block;
        position: absolute;
        top: 33px;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      > img {
        display: inline-block;
        width: 27px;
        height: 27px;
        position: absolute;
        bottom: -7px;
        right: -7px;
        background: black;
      }
    }
  }

  .activity-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .activity-con-item {
      flex: 0 0 48%;
      position: relative;
      height: 94px;
      background: rgba(216, 216, 216, 1);
      border-radius: 4px;
      margin-bottom: 10px;

      > img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }

      .pop {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        background: rgba(0, 0, 0, 1);
        opacity: 0.5;
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
        line-height: 20px;
        text-align: center;
      }
    }
  }

  .media-con {
    margin: 0 15px;
    height: 163px;
    background: rgba(216, 216, 216, 1);
    border-radius: 4px;
  }

  .forum-detail-page {
    width: 100%;
    height: 100%;

    .tab-bar {
      position: relative;
      border: 0;
      background-color: #fff;
      height: 5.3rem;

      .tab-item {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        border-right: 1px solid #20294e;

        &:nth-child(4) {
          border-right: none;
        }

        img.icon2 {
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    .game2 {
      margin-top: 1rem;
      position: relative;

      .tab-item {
        height: auto;
        padding: 3%;
        width: 27%;

        .icon {
          width: 72px;
          height: 72px;
        }
      }

      .games_tab-bar {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        justify-content: flex-start;
        padding: 0.2rem 0 1.2rem;
      }

      .lastBox {
        width: 100%;
        position: absolute;
        top: -0.8rem;
        height: 0.8rem;
        line-height: 0.8rem;

        > span {
          display: inline-block;
          margin-left: 3%;
          margin-right: 3%;
          width: 44%;
          height: 0.8rem;
          border-radius: 10px 10px 0 0;
          background: #1b233e;
          text-align: center;
          color: #fff;
        }

        > .active {
          background: #2c3353;
          color: #f8c96e;
        }
      }
    }
  }
</style>
