<template>
  <div class="address-page">
    <div class="swipe-con">

      <order-header title="收货地址"></order-header>

    </div>

    <van-address-edit
      :area-list="areaList"
      @save="onSave"
			:address-info="addressInfo"
    />

  </div>
</template>

<script type="text/ecmascript-6">
  import {mapMutations} from "vuex";
  import {Indicator, Toast} from "mint-ui";
  import {get_address_api, modify_address} from '@/common/api';
  import MyFooter from '@/components/homes/layout/footer.vue';
  import MySlide from '@/components/homes/layout/slide.vue';
  import MyHeader from '@/components/homes/layout/header.vue';
  import MyTabs from '@/components/homes/layout/tabs.vue';
  import OrderHeader from '@/components/welfares/layout/orderHeader.vue';
  import OrderList from '@/components/welfares/layout/orderList.vue';
  import areaList from "./area";

  export default {
    components: {
      MyFooter,
      MySlide,
      MyHeader,
      MyTabs,
      OrderHeader,
      OrderList
    },
    props: {
      height: {
        default: 40,
        type: Number
      },
      lineNum: {
        default: 5,
        type: Number
      }
    },
    data() {
      return {
        areaList,
        searchResult: [],
        select: [{name: "传统模式", num: 0}, {name: "房间模式", num: 1}],
				addressInfo: {},
      };
    },
    created: function () {
      Indicator.close();
			this.getAddress();
    },
    methods: {
      ...mapMutations({
        initData_Mua: "INIT_DATA"
      }),
      goLink() {
        this.$router.push('/welfareDetail');
      },
			async getAddress() {
				let res	= await get_address_api();
				if (+res.code !== 200) return Toast(res.msg);
				let {name, realname, tel, addr }	= res.addr_data;
				this.trueName	= name;
				this.realname	= realname;
				this.tel			= tel;

				addr					= addr.split(' ');

				this.prov			= addr[0];
				this.city			= addr[1];
				this.district	= addr[2];
				let areaCode	= addr[3];

				this.addressInfo	= {
					name,
					tel,
					addressDetail: realname,
					province: this.prov,
					city: this.city,
					count: this.district,
					areaCode,
				};
			},
      onSave(content) {
        modify_address({
          name: content.name,
					addr: `${content.province} ${content.city} ${content.county} ${content.areaCode}`,
          realname: content.addressDetail,
          tel: content.tel,
        }).then(res => {
          Toast(res && res.msg);
          setTimeout(() => {
            this.$router.go(-1);
          }, 300);
        })
      },
      // addressDetail: "2222"
      // areaCode: "110101"
      // city: "北京市"
      // country: ""
      // county: "东城区"
      // isDefault: false
      // name: "11111111"
      // postalCode: ""
      // province: "北京市"
      // tel: "13576856542"
    },
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global.less";

  .game-body {

    div {
      height: 210px;
      margin-bottom: 15px;
    }

    p {
      width: 100%;
      height: 70px;
      background: #fff;
      color: #fff;
      font-size: 14px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    span {
      width: 100%;
      display: inline-block;
      text-indent: 15px;
      font-size: 16px;
      color: #333333;
      letter-spacing: -0.23px;
      line-height: 45px;
      font-weight: bold;
    }

    small {
      width: 100%;
      display: inline-block;
      text-indent: 15px;
      font-size: 12px;
      color: #333333;
      line-height: 12px;
      letter-spacing: -0.17px;
    }

    img {
      width: 100%;
      border-radius: 8px;
    }
  }

  .btn-con {
    padding: 10px 15px;
    height: 52px;
    margin-bottom: 15px;

    .btn1 {
      width: 48%;
      float: left;
      height: 42px;
      line-height: 42px;
      text-align: center;
      background: rgba(255, 206, 173, 1);
      border-radius: 21px;
      font-size: 15px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }

    .btn2 {
      width: 48%;
      float: right;
      height: 42px;
      line-height: 42px;
      text-align: center;
      background: rgba(255, 132, 51, 1);
      border-radius: 21px;
      font-size: 15px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }
  }

  .play-tab {
    padding: 0 15px;
    display: flex;
    height: 75px;

    .play-tab-bar {
      flex: 1;
      text-align: center;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -25px;
        display: inline-block;
        height: 50px;
        width: 50px;
      }

      > span {
        position: absolute;
        top: 55px;
        display: inline-block;
        height: 25px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
      }

    }
  }

  .titles {
    margin: 15px;
    border-left: 3px solid #3D71FF;
    padding-left: 10px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;

    .right {
      float: right;
      width: 64px;
      height: 22px;
      font-size: 16px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(61, 113, 255, 1);
      line-height: 22px;
    }
  }

  .right_pop {
    width: 100%;
    height: 100%;
  }

  .pop_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #fff;
    z-index: 12;
    font-size: 16px;
    color: #333;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0.5rem 0.3rem 0;

    > div > p {
      margin-bottom: 0.3rem;
      font-weight: bold;
    }

    .pop_lottery {
      display: flex;
      flex-flow: wrap;
      margin-bottom: 0.5rem;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        margin-bottom: 0.2rem;

        > img {
          width: 1rem;
          height: 1rem;
        }

        > span {
          margin-top: 0.1rem;
        }
      }
    }
  }


  .other-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    .other-con-item {
      flex: 0 0 23%;
      position: relative;
      text-align: center;
      height: 69px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      border: 1px solid rgba(214, 214, 214, 1);
      overflow: hidden;

      > span:nth-child(1) {
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 50%;
        margin-left: -28px;
        width: 56px;
        height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
      }

      > span:nth-child(2) {
        display: inline-block;
        position: absolute;
        top: 33px;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      > img {
        display: inline-block;
        width: 27px;
        height: 27px;
        position: absolute;
        bottom: -7px;
        right: -7px;
        background: black;
      }
    }
  }

  .address-page {
    width: 100%;
    height: 100%;


    .tab-bar {
      position: relative;
      border: 0;
      background-color: #fff;
      height: 5.3rem;

      .tab-item {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        border-right: 1px solid #20294e;

        &:nth-child(4) {
          border-right: none;
        }

        img.icon2 {
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    .game2 {
      margin-top: 1rem;
      position: relative;

      .tab-item {
        height: auto;
        padding: 3%;
        width: 27%;

        .icon {
          width: 72px;
          height: 72px;
        }
      }

      .games_tab-bar {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        justify-content: flex-start;
        padding: 0.2rem 0 1.2rem;
      }

      .lastBox {
        width: 100%;
        position: absolute;
        top: -0.8rem;
        height: 0.8rem;
        line-height: 0.8rem;

        > span {
          display: inline-block;
          margin-left: 3%;
          margin-right: 3%;
          width: 44%;
          height: 0.8rem;
          border-radius: 10px 10px 0 0;
          background: #1b233e;
          text-align: center;
          color: #fff;
        }

        > .active {
          background: #2c3353;
          color: #f8c96e;
        }
      }
    }

    .game1 {
      padding: 0.2rem 0.3rem 0 0.3rem;

      .tab-bar {
        // display: flex;
        // flex-wrap: wrap;
        // padding: 0.3rem 0;
        background: #f7f7f7;

        .tab-item1 {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          text-align: center;
          // margin-bottom: 0.2rem;
          > div {
            display: flex;
            flex-direction: column;
            width: 25%;
            align-items: center;
            height: 1.8rem;
            font-size: 12px;
          }

          .tab-label {
            display: inline-block;
            height: 16px;
            margin-top: 0.1rem;
          }

          .icon {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }

    .game {
      font-size: 16px;
      background-color: #f7f7f7;
      margin-bottom: 0.2rem;

      .games_tab-bar {
        padding: 0.2rem 0.3rem 61px 0.3rem;
        display: flex;
        flex-flow: wrap;
        width: calc(100% - 0.6rem);
        justify-content: flex-start;
        min-height: 2rem;
      }

      .tab-label {
        overflow: inherit;
        font-size: 14px;
        margin-top: 0.2rem;
        position: relative;
        color: #333;
      }

      > p {
        margin-bottom: 0.2rem;

        .game-title {
          color: #333;
          font-weight: bold;
        }

        > i {
          display: inline-block;
          width: 17px;
          height: 19px;
          vertical-align: bottom;
          background: url("../../assets/remen.png") no-repeat;
          background-size: contain;
        }
      }
    }

    .rollScreen_container {
      height: 100%;
      display: inline-block;
      position: relative;
      overflow: hidden;
    }

    .rollScreen_list {
      margin: 0;
      transition: 1s linear;
    }

    .rollScreen_list_unanim {
      transition: none;
    }

    .guanggao {
      height: 0.5rem;
      line-height: 0.5rem;
      margin: 0.2rem 0.3rem;
      padding: 0.05rem 0;
      font-size: 12px;
      background: #fff;
      border-radius: 8px;

      > div {
        height: 0.5rem;
        line-height: 0.5rem;
        display: flex;
        border-radius: 0.3rem;
        padding: 0 0.2rem;

        > .quduo {
          text-align: center;
          display: inline-block;
          width: 40px;
          height: 0.4rem;
          line-height: 0.5rem;
          color: #6c2dfe;
        }
      }
    }

    .mint-cell {
      min-height: 40px;
    }

    .router-link-active > .iconfont,
    .router-link-active > span {
      color: #fff;
    }

    .fang {
      position: absolute;
      bottom: 0;
      right: -25px;
      width: 16px;
      height: 16px;
      background: url("../../assets/fang.png") no-repeat;
      background-size: contain;
    }

    .userInput {
      padding: 0 0.5rem;
    }

    .icon-fork {
      position: absolute;
      right: 5px;
      top: 5px;
      color: #dedede;
    }

    .randomName {
      margin: 0.3rem 0;
      color: #333;
      font-size: 16px;
    }
  }
</style>
