<template>
  <div class="forum-detail-page">
    <div class="swipe-con">

      <welfare-header></welfare-header>

      <div class="show-img">
        <img :src="good.thumb" alt="">
      </div>

      <div class="show-title">
        {{good.subject}}
      </div>

      <div class="money">
        <div class="price">{{good.price}}博币</div>
        <div class="balance-text">距离结束</div>
        <div class="balance">22天22时22分22秒</div>
      </div>

      <div class="pro-con">
        <div class="left">已抢购{{good.buycount}}件</div>
        <div class="right">剩余{{good.total}}件</div>
        <mt-progress :value="Number(good.pre)" :bar-height="5"></mt-progress>
      </div>

      <div class="renqi">
        浏览人气 ：3455次
      </div>
      <div class="tishi">
        成功兑换商品后，将不能取消或更改，不提供退换货服务
      </div>

      <div class="btn-con">
        <div class="btn1" @click="goAddress">收货地址</div>
        <div class="btn2" @click="goOrder">立即抢购</div>
      </div>

      <div class="table-con">
        <v-table
          is-vertical-resize
          :vertical-resize-offset='60'
          is-horizontal-resize
          style="width:100%"
          :min-height="350"
          even-bg-color="rgba(249,249,249,1)"
          :columns="tableConfig.columns"
          :table-data="tableConfig.tableData"
          :paging-index="(pageIndex-1)*5"
        ></v-table>

        <div class="mt20 mb20 bold"></div>

        <div class="page-con">
          <v-pagination @page-change="pageChange"
                        :total="all_count"
                        :page-size="5"
                        :show-paging-count="3"
                        size="small"
                        :layout="['total', 'prev', 'pager', 'next' ]"></v-pagination>
        </div>

      </div>

    </div>

    <div class="gray-line"></div>

    <div class="post-list">
      <div class="post-item" v-for="(item,index) in forum_threadlist" :key="index">

        <div class="title">
          {{thread['subject']}}
        </div>

        <div class="post-title">
          <img :src="`${imgUrl}/uc_server/avatar.php?uid=${thread.authorid}&size=small`"
               @click="route.push(`/mySpace/${thread.authorid}`)" alt="">
          <div class="pos">{{thread['author']}}</div>
          <div class="level" v-html="thread['dateline']"></div>
        </div>

        <div class="content" v-if="postlist_one" v-html="html_decode(postlist_one.message)"></div>

        <admire :tid="thread.tid" :pid="postlist_one.pid"></admire>

        <div class="tag">
          <van-tag>澳门</van-tag>
          <van-tag>分享</van-tag>
          <van-tag>经验</van-tag>
        </div>
      </div>

    </div>

    <div class="gray-line"></div>
    <read-more :parent="parent"></read-more>
    <div class="gray-line"></div>
    <recommend-read :Variables="Variables"></recommend-read>
    <div class="gray-line"></div>
    <comment-list :postlist="postlist"></comment-list>
    <forum-comment v-on:init-page="initPage" :thread="thread" :tid="thread.tid" :fid="thread.fid"></forum-comment>
    <forum-footer></forum-footer>
  </div>
</template>

<script type="text/ecmascript-6">
  import Cycle from "@/bass/cycle";
  import {mapGetters} from "vuex";
  import {
    get_goods_detail,
    get_home_forums,
    get_froum_info
  } from "@/common/api";
  import ForumFooter from '@/components/forums/layout/forumFooter.vue';
  import MySlide from '@/components/homes/layout/slide.vue';
  import WelfareHeader from '@/components/welfares/layout/welfareHeader.vue';
  import ForumComment from '@/components/forums/layout/forumComment.vue';
  import ForumTabs from '@/components/forums/layout/forumTabs.vue';
  import LayButton from "@/vlayui/LayButton";
  import ReadMore from '@/components/forums/layout/readMore.vue';
  import RecommendRead from '@/components/forums/layout/recommendRead.vue';
  import CommentList from '@/components/forums/layout/commentList.vue';
  import Admire from '@/components/forums/layout/admire.vue';
  import {isLogin} from "@/utils/filter";
  import {dev} from '../../../config/index';

  export default {
    components: {
      Cycle,
      ForumFooter,
      MySlide,
      WelfareHeader,
      ForumTabs,
      ForumComment,
      LayButton,
      ReadMore,
      RecommendRead,
      CommentList,
      Admire
    },
    computed: {
      username() {
        return this.initData.username;
      },
      transform: function () {
        return "translateY(-" + this.num * this.height + "px)";
      },
      ...mapGetters(["initData"])
    },
    data() {
      return {
        imgUrl: dev['proxyTable']['/api']['target'],
        good: {
          thumb: ''
        },
        buylist: [],
        all_count: 0,
        parent: {
          name: 'xxxxxx',
          fid: '0',
        },//所属模块
        thread: {
          "description": "",
          "icon": "",
          "name": "",
          "posts": "71655",
        },
        search: '',
        Variables: {},
        forum: {
          "description": "",
          "icon": "",
          "name": "",
          "posts": "71655",
        },
        forum_threadlist: [{
          author: 'hello',
          subject: 'hello',
          time: '1',
          content: '网上玩百家乐要懂得百家乐小路怎么看，我在这方面积累了一些百家乐心得，在这里不妨和大家分享我怎么看怎么算'
        }],
        postlist: [{
          author: 'hello',
          subject: 'hello',
          time: '1',
          content: '网上玩百家乐要懂得百家乐小路怎么看，我在这方面积累了一些百家乐心得，在这里不妨和大家分享我怎么看怎么算'
        }],
        postlist_one: {},
        postlist_other: {},
        currentInfo: [],
        pageIndex: 1,
        tableConfig: {
          multipleSort: false,
          tableData: [
            {"usname": "赵伟", "price": "1", "type": "1", "time": "1"},
            {"usname": "赵伟", "price": "1", "type": "1", "time": "1"},
            {"usname": "赵伟", "price": "1", "type": "1", "time": "1"},
            {"usname": "赵伟", "price": "1", "type": "1", "time": "1"},
            {"usname": "赵伟", "price": "1", "type": "1", "time": "1"},
          ],
          columns: [
            {field: 'usname', title: '参与会员', titleAlign: 'center', columnAlign: 'center'},
            {field: 'price', title: '参与金额', titleAlign: 'center', columnAlign: 'center'},
            {field: 'type', title: '参与状态', titleAlign: 'center', columnAlign: 'center'},
            {field: 'time', title: '参与时间', titleAlign: 'center', columnAlign: 'left'}
          ],
        }
      };
    },
    created: function () {
      this.initPage();
      this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';
    },
    methods: {
      initPage() {
        let good = JSON.parse(this.$route.query.good);

        this.good = good;

        Promise.all([
          get_goods_detail({}, this.good.tid, 1),
          get_froum_info({}, this.good.tid),
          get_home_forums()
        ]).then(([res, res2, res3]) => {
          this.good = res.goodsdata;
          this.tableConfig.tableData = res.buylist;
          this.all_count = Number(res.all_count);
          this.Variables = res2.Variables;
          this.thread = res2.Variables.thread;
          this.postlist = res2.Variables.postlist;
          this.postlist_one = this.postlist.slice(0, 1)[0];
          this.postlist.splice(0, 1);

          this.parent = res3.forumlist.find(item => {
            return item.fid === res2.Variables.fid;
          });
        });
      },
      changeInfo(sel) {
        this.currentInfo = this.info[sel];
      },
      pageChange(pageIndex) {
        //http://doc.huangsw.com/vue-easytable/app.html#/pagination
        get_goods_detail({}, this.good.tid, pageIndex).then(res => {
          this.good = res.goodsdata;
          this.tableConfig.tableData = res.buylist;
          this.all_count = Number(res.all_count);
          this.pageIndex = pageIndex;
        });
      },
      goOrder() {
        if (isLogin.call(this)) return;
        this.$router.push({
          path: '/orderConfirm',
          query: {
            good: JSON.stringify(this.good)
          }
        })
      },
      goAddress() {
        if (isLogin.call(this)) return;
        this.$router.push('/myAddress');
      },
      html_decode(str) {
        let s = "";
        if (str) {
          if (str.length === 0) return "";
          s = str.replace(/&amp;/g, "&");
          s = s.replace(/&lt;/g, "<");
          s = s.replace(/&gt;/g, ">");
          s = s.replace(/&nbsp;/g, " ");
          s = s.replace(/&#39;/g, "\'");
          s = s.replace(/&quot;/g, "\"");
          s = s.replace(/<br\/>/g, "\n");
        }
        return s;
      },
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global.less";

  .title-cell-class-name-test1 {
    background-color: #2db7f5;
    color: #fff;
  }

  .title-cell-class-name-test2 {
    background-color: #f60;
    color: #fff;
  }

  .gray-line {
    height: 10px;
    background: rgba(248, 248, 248, 1);
  }

  .post-left {
    background: rgba(248, 248, 248, 1);
  }

  .show-img {
    width: 100%;
    /*height: 375px;*/
    /*background: aliceblue;*/

    > img {
      width: 100%;
    }
  }

  .show-title {
    padding: 5px 15px;
    font-size: 17px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 24px;
  }

  .money {
    margin: 10px 15px;
    height: 52px;
    background: url("../../assets/welfare/qianggogjia.png") no-repeat;
    border-radius: 8px;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: relative;

    .price {
      position: absolute;
      left: 75px;
      top: 12px;
      height: 28px;
      font-size: 20px;
      font-family: PingFangSC-Semibold;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      line-height: 28px;
    }

    .balance-text {
      position: absolute;
      right: 35px;
      top: 10px;
      font-size: 12px;
      font-weight: 400;
      color: rgba(255, 63, 30, 1);
      line-height: 17px;
    }

    .balance {
      position: absolute;
      right: 14px;
      top: 28px;
      font-size: 12px;
      font-weight: 400;
      color: rgba(255, 63, 30, 1);
      line-height: 17px;
    }
  }

  .pro-con {
    margin: 0 15px;
    position: relative;

    .left {
      position: absolute;
      left: 0;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;
    }

    .right {
      position: absolute;
      right: 0;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;
    }

    .mt-progress {
      padding-top: 10px !important;
    }
  }

  .renqi {
    margin: 5px 15px;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 17px;
  }

  .tishi {
    margin: 5px 15px;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 17px;
  }

  .btn-con {
    padding: 10px 15px;
    height: 52px;
    margin-bottom: 15px;

    .btn1 {
      width: 48%;
      float: left;
      height: 42px;
      line-height: 42px;
      text-align: center;
      background: rgba(255, 132, 51, 1);
      border-radius: 21px;
      font-size: 15px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);

    }

    .btn2 {
      width: 48%;
      float: right;
      height: 42px;
      line-height: 42px;
      text-align: center;
      background: rgba(255, 63, 30, 1);
      border-radius: 21px;
      font-size: 15px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }
  }


  .page-con {
    padding: 0 15px;
  }

  .post-item {
    padding: 20px 15px 20px;
    /*border-bottom: 10px solid rgba(248, 248, 248, 1);*/

    .title {
      min-height: 30px;
      font-size: 18px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 25px;
    }

    .admire {
      text-align: center;

      .btn {
        display: inline-block;
        width: 65px;
        height: 28px;
        line-height: 28px;
        background: rgba(250, 170, 0, 1);
        border-radius: 4px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }
    }

    .tag {
      height: 30px;
      line-height: 30px;
      width: 150px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
    }


    .post-title {
      margin-top: 10px;
      height: 32px;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 32px;
        height: 32px;
        background: red;
      }

      .pos {
        float: left;
        margin-left: 45px;
        height: 32px;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 32px;
      }

      .level {
        text-align: center;
        float: left;
        margin-top: 8px;
        margin-left: 14px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        width: 62px;
        height: 16px;
        background: rgba(247, 181, 0, 1);
        border-radius: 2px;
      }
    }

    .text {
      height: 22px;
      font-size: 16px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 22px;
      margin: 10px 0;
    }

    .content {
      font-size: 14px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 20px;

    }

    .time {
      height: 20px;
      margin: 20px 0;

      .time-left {
        float: left;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .time-right {
        float: right;
        width: 24px;
        height: 15px;
        background: rgba(236, 236, 236, 1);
        border-radius: 2px;
      }
    }


    .review {
      padding: 10px;
      background: rgba(248, 248, 248, 1);
      display: flex;
      flex-direction: column;

      .review-item {
        flex: 1;
      }

      .review-user {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(84, 134, 204, 1);
      }

      .review-con {
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 22px;
      }
    }
  }

  .detail {
    margin: 0 15px 10px;
    height: 81px;
    background: rgba(255, 255, 255, 1);
    position: relative;

    > img {
      position: absolute;
      top: 10px;
      left: 0;
      width: 60px;
      height: 60px;
      background: linear-gradient(180deg, rgba(42, 132, 251, 1) 0%, rgba(97, 226, 255, 1) 100%);
    }

    .title {
      position: absolute;
      top: 5px;
      left: 70px;
      right: 65px;
      height: 25px;
      font-size: 18px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 25px;
    }

    .text {
      position: absolute;
      top: 56px;
      left: 70px;
      right: 65px;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .guanzhu {
      position: absolute;
      top: 34px;
      left: 70px;
      height: 17px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 17px;

      > span:nth-child(1) {
        color: rgba(247, 181, 0, 1);
      }
    }

    .btn {
      position: absolute;
      top: 28px;
      right: 5px;
      width: 51px;
      height: 28px;
      background: rgba(61, 113, 255, 1);
      border-radius: 2px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 28px;
      text-align: center;
    }
  }

  .play-tab {
    padding: 0 15px;
    display: flex;
    height: 75px;

    .play-tab-bar {
      flex: 1;
      text-align: center;
      position: relative;

      > img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -25px;
        display: inline-block;
        height: 50px;
        width: 50px;
      }

      > span {
        position: absolute;
        top: 55px;
        display: inline-block;
        height: 25px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
      }

    }
  }

  .titles {
    margin: 15px;
    border-left: 3px solid #3D71FF;
    padding-left: 10px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
  }

  .right_pop {
    width: 100%;
    height: 100%;
  }

  .pop_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: #fff;
    z-index: 12;
    font-size: 16px;
    color: #333;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0.5rem 0.3rem 0;

    > div > p {
      margin-bottom: 0.3rem;
      font-weight: bold;
    }

    .pop_lottery {
      display: flex;
      flex-flow: wrap;
      margin-bottom: 0.5rem;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
        margin-bottom: 0.2rem;

        > img {
          width: 1rem;
          height: 1rem;
        }

        > span {
          margin-top: 0.1rem;
        }
      }
    }
  }

  .other-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

    .other-con-item {
      flex: 0 0 23%;
      position: relative;
      text-align: center;
      height: 69px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      border: 1px solid rgba(214, 214, 214, 1);
      overflow: hidden;

      > span:nth-child(1) {
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 50%;
        margin-left: -28px;
        width: 56px;
        height: 20px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
      }

      > span:nth-child(2) {
        display: inline-block;
        position: absolute;
        top: 33px;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      > img {
        display: inline-block;
        width: 27px;
        height: 27px;
        position: absolute;
        bottom: -7px;
        right: -7px;
        background: black;
      }
    }
  }

  .activity-con {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .activity-con-item {
      flex: 0 0 48%;
      position: relative;
      height: 94px;
      background: rgba(216, 216, 216, 1);
      border-radius: 4px;
      margin-bottom: 10px;

      > img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }

      .pop {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 20px;
        background: rgba(0, 0, 0, 1);
        opacity: 0.5;
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
        line-height: 20px;
        text-align: center;
      }
    }
  }

  .media-con {
    margin: 0 15px;
    height: 163px;
    background: rgba(216, 216, 216, 1);
    border-radius: 4px;
  }

  .forum-detail-page {
    width: 100%;
    height: 100%;

    .tab-bar {
      position: relative;
      border: 0;
      background-color: #fff;
      height: 5.3rem;

      .tab-item {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        border-right: 1px solid #20294e;

        &:nth-child(4) {
          border-right: none;
        }

        img.icon2 {
          width: 0.6rem;
          height: 0.6rem;
        }
      }
    }

    .game2 {
      margin-top: 1rem;
      position: relative;

      .tab-item {
        height: auto;
        padding: 3%;
        width: 27%;

        .icon {
          width: 72px;
          height: 72px;
        }
      }

      .games_tab-bar {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        justify-content: flex-start;
        padding: 0.2rem 0 1.2rem;
      }

      .lastBox {
        width: 100%;
        position: absolute;
        top: -0.8rem;
        height: 0.8rem;
        line-height: 0.8rem;

        > span {
          display: inline-block;
          margin-left: 3%;
          margin-right: 3%;
          width: 44%;
          height: 0.8rem;
          border-radius: 10px 10px 0 0;
          background: #1b233e;
          text-align: center;
          color: #fff;
        }

        > .active {
          background: #2c3353;
          color: #f8c96e;
        }
      }
    }
  }
</style>
