<template>
  <layout-page>
    <div class="reg-page">
      <p>
        <!--<span>登录</span>-->
        <span class="iconfont icon-fork"
              @click="$router.push('/center')"></span>
      </p>
      <div class="logo">
				<img src="@/assets/logo.png" />
      </div>

      <div class="lay-tab">
        <div class="lay-tab-bar " :class="{'tab-active':active==='手机号'}" @click="changeField('手机号')">
          手机号
        </div>
        <div class="lay-tab-bar" :class="{'tab-active':active==='用户名'}" @click="changeField('用户名')">
          用户名
        </div>
      </div>

      <div class="login_box" v-if="active==='手机号'">

        <div class="my-field">
          <div class="my-filed-label">
            手机号
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.mobile"
                 placeholder="请输入手机号">
        </div>

        <div class="my-field">
          <div class="my-filed-label">
            验证
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.mobileCode"
                 placeholder="验证码">
          <div class="pop-code"
               @click="getCode"
          >
            {{prompt}}
          </div>
        </div>

        <lay-button theme="violet"
                    :block="true"
                    size="middle"
                    @click="loginIn"
        >立即登录
        </lay-button>
      </div>

      <div class="login_box" v-if="active==='用户名'">

        <div class="my-field">
          <div class="my-filed-label">
            账号
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.username"
                 placeholder="请输入用户名">
        </div>

        <div class="my-field">
          <div class="my-filed-label">
            密码
          </div>
          <input class="mint-field-core"
                 type="password"
                 v-model="form.password"
                 placeholder="请输入密码">
        </div>

        <!--<div class="my-field">-->
        <!--<div class="my-filed-label">-->
        <!--问题-->
        <!--</div>-->
        <!--<input class="mint-field-core"-->
        <!--type="text"-->
        <!--v-model="form.email"-->
        <!--placeholder="安全提问（未设置请忽略）">-->
        <!--</div>-->

        <div class="my-field">
          <div class="my-filed-label">
            验证
          </div>
          <input class="mint-field-core"
                 type="text"
                 v-model="form.code"
                 placeholder="验证码">

          <div class="pop-code">
            <img :src="codeImage" alt="" @click="changeImg">
          </div>
        </div>

        <!--<div class="my-field">-->
        <!--<div class="my-filed-label">-->
        <!--邀请码-->
        <!--</div>-->
        <!--<input class="mint-field-core"-->
        <!--type="text"-->
        <!--v-model="form.invitation"-->
        <!--placeholder="请输入邀请码，可不填">-->
        <!--</div>-->

        <!--<div class="my-field">-->
        <!--<div class="my-filed-label2">-->
        <!--验证 {{max}} - {{min}} =-->
        <!--</div>-->
        <!--<input class="mint-field-core"-->
        <!--type="text"-->
        <!--v-model="form.minus"-->
        <!--placeholder="？">-->
        <!--</div>-->

        <lay-button theme="violet"
                    :block="true"
                    size="middle"
                    @click="loginIn"
        >立即登录
        </lay-button>
      </div>

      <div class="reg_box">
        <span class="left" @click="$router.push('/reg')">立即注册</span>
        <span class="right" @click="$router.push('/forgetPwd')">忘记密码</span>
        <!--<p>已有账号？<span @click="$router.push('/login')">马上登录</span></p>-->
      </div>

    </div>
  </layout-page>
</template>

<script type="text/ecmascript-6">
  import {Toast, MessageBox} from "mint-ui";
  import {get_mobile_code_api, login_by_mobile_api, login_by_username_api, code_api} from "@/common/api";
  import {baseUrl, platform, platform_prefix} from "@/config/app.config";
  import LayButton from "@/vlayui/LayButton";
  import LayoutPage from "@/vlayui/Layout/page";

  export default {
    components: {
      LayButton,
      LayoutPage,
    },
    data() {
      return {
        active: '手机号',
        form: {
          username: '',
          password: '',
          password2: '',
          email: '',
          mobile: '',
          invitation: '',
          minus: '',
          code: '',
          mobileCode: '',
        },
        max: 50,
        min: 10,
        minus: 40,
        loginChange: true,
        prompt: "获取验证码",
        loginTxt: "密码登录",
        number: 0,
        codeImage: '',
      };
    },
    created() {
      code_api().then(res => {
        this.codeImage = `data:image/png;base64,${res.image}`;
      });

      this.invitation = this.$route.query.invitation;
      this.max = this.random(50, 60);
      this.min = this.random(1, 10);
      this.minus = Number(this.max) - Number(this.min);

    },
    methods: {
      changeField(field) {
        this.active = field;
      },
      changeImg() {
        code_api().then(res => {
          this.codeImage = `data:image/png;base64,${res.image}`;
        });
      },
      loginIn() {

        if (this.active === '手机号') {
          let data = {
            mobile: this.form.mobile,
            code: this.form.mobileCode,
          };

          return login_by_mobile_api(data).then(res => {
            if (res.code === "200") {

							sessionStorage.isLogin	= res.uid;
              sessionStorage.setItem('user', JSON.stringify(res));
              this.$router.push('/center');
            } else {
              Toast(res.msg);
              if (res.code === '102') {
                MessageBox.prompt('请输入用户名').then(({value, action}) => {
                  if (action === 'confirm') {
                    let data = {
                      mobile: this.form.mobile,
                      code: this.form.mobileCode,
                      username: value,
                    };

                    return login_by_mobile_api(data).then(res => {
                      if (res.code === "200") {
                        if (sessionStorage.getItem('user')) {
                          sessionStorage.removeItem('user');
                          sessionStorage.setItem('user', JSON.stringify(res));
                        } else {
                          sessionStorage.setItem('user', JSON.stringify(res));
                        }
                        this.$router.push('/center');
                      } else {
                        Toast(res.msg);
                      }
                    });
                  }
                });
              }
            }
          });
        }

        if (this.active === '用户名') {
          let data = {
            username: this.form.username,
            password: this.form.password,
            login_code: this.form.code,
          };

          return login_by_username_api(data).then(res => {
            if (res.code === "200") {
							sessionStorage.isLogin	= res.uid;
              if (sessionStorage.getItem('user')) {
                sessionStorage.setItem('user', JSON.stringify(res));
              } else {
                sessionStorage.setItem('user', JSON.stringify(res));
              }
              this.$router.push("/center");
            } else {
              Toast(res.msg);
            }
          });
        }
      },
      getCode() {
        if (this.form.mobile && this.number === 0) {
          this.number = 60;
          this.prompt = "重新发送" + this.number;
          let timer = setInterval(() => {
            this.number--;
            this.prompt = "重新发送" + this.number;
            if (this.number < 1) {
              clearInterval(timer);
              this.prompt = "获取验证码";
            }
          }, 1000);
          return get_mobile_code_api({mobile: this.form.mobile}).then(
            res => {
              Toast(res.msg);
            }
          );
        } else if (this.number !== 0) {
          return Toast("请不要重复发送");
        } else {
          return Toast("请输入手机号码");
        }
      },
      random(lower, upper) {
        return Math.floor(Math.random() * (upper - lower)) + lower;
      }
    },
    mounted() {
      document.getElementsByClassName("reg-page")[0].style.background = "#fff";
    },
    beforeDestroy() {
      document.getElementsByClassName("reg-page")[0].style.background = "#fff";
    },
  };
</script>


<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global.less";

  .lay-tab {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    display: flex;
    justify-content: center;

    .lay-tab-bar {
      float: left;
      text-align: center;
      width: 54px;
      height: 39px;
      color: rgba(51, 51, 51, 1);
      line-height: 39px;
      margin-right: 25px;
      font-size: 18px;
    }

    .tab-active {
      color: #3D71FF;
      border-bottom: 2px solid #3D71FF;
    }
  }

  //登录注册页面样式
  .reg-page {
    position: relative;
    height: 100%;
    min-height: 13rem;
    padding: 20px 30px;
    font-size: 15px;

    .button-violet {
      margin: 20px 0;
    }

    > p {
      font-size: 28px;
      color: #333333;

      > .icon-fork {
        width: 20px;
        height: 20px;
        float: right;
        color: #999999;
        margin-top: 5px;
      }
    }

    .logo {
      width: 76px;
      height: 76px;
      background: rgba(61, 113, 255, 1);
      border-radius: 22px;
			img {
				width: 100%;
			}
    }

    .icon-kefu {
      position: absolute;
      top: 10.5rem;
      width: 3rem;
      text-align: center;
      margin-left: -1.5rem;
      left: 50%;
      color: #fff;
      font-size: 15px;
      padding-bottom: 1rem;
    }

    .icon-kefu:before {
      font-size: 22px;
      margin-right: 0.2rem;
    }

    .login_box {
      background: #fff;
      border-radius: 16px;
      margin-top: 0.5rem;
      font-size: 16px;
      z-index: 2;

      .my-field {
        display: flex;
        background: #f1f1f1;
        border-radius: 8px;
        margin-bottom: 15px;
        height: 45px;
        position: relative;
      }

      .my-filed-label {
        width: 72px;
        flex: 0 0 1;
        text-align: left;
        height: 45px;
        line-height: 45px;
        padding-left: 15px;
        font-size: 16px;
      }

      .mint-field-core {
        flex: 1;
        padding: 0;
        height: 45px;
        line-height: 45px;
        background: rgba(0, 0, 0, 0);
      }


      .my-filed-label2 {
        width: 103px;
        flex: 0 0 1;
        text-align: left;
        height: 45px;
        line-height: 45px;
        padding-left: 15px;
        font-size: 16px;
      }

      .center {
        text-align: center;
        color: #999;
        font-size: 0.3rem;
        padding-bottom: 0.2rem;
      }

      .login_btn {
        margin: 1rem 0 0.271rem;
      }

      .pop-code {
        position: absolute;
        right: 12px;
        top: 8px;
        width: 63px;
        height: 27px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(61, 113, 255, 1);
        line-height: 27px;

        > img {
          display: inline-block;
          width: 63px;
          height: 27px;
        }
      }
    }
  }

  .reg_box {
    position: absolute;
    left: 0.45rem;
    width: 88%;
    margin: 0 auto;
    padding: 0.2rem 0 0.2rem;
    text-align: center;
    z-index: 1;
    font-size: 14px;
    color: #999;

    .left {
      width: 56px;
      height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(61, 113, 255, 1);
      line-height: 20px;
      margin-left: 10px;
    }

    .right {
      width: 56px;
      height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 20px;
      margin-right: 10px;
    }
  }

  input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #c5c5c5;
  }

  .mint-cell > .ball:before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 0;
    background: #ff4d55;
  }

  .mint-tab-item > .mint-tab-item-label {
    color: #fff;
  }

  .mint-tab-item.is-selected > .mint-tab-item-label {
    border: 0;
    color: #ffce6f;
  }

  .mint-tab-item {
    position: relative;
  }

  .is-selected::after {
    margin-bottom: -3px;
    font-size: 15px;
    background-color: #ffce6f;
    position: absolute;
    right: 0;
    top: 0.9rem;
    left: 26%;
    height: 2px;
    content: "";
    width: 50%;
  }
</style>
