<template>
  <div id="app">
    <keep-alive>
      <router-view v-if="$route.meta.keepAlive"/>
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive"/>
    <!--<router-view/>-->
    <!--<messagePopLayer-->
    <!--v-if="showMessagePop"-->
    <!--:currentMessageList="currentMessageList"-->
    <!--:showMessagePop="showMessagePop"-->
    <!--&gt;</messagePopLayer>-->
  </div>
</template>

<script type="text/ecmascript-6">
  import messagePopLayer from "./bass/messagePopLayer";
  import {get_message_list, get_audio_list, home_api} from "@/common/api";
  import {mapMutations, mapGetters, mapActions} from "vuex";

  export default {
    created() {
      //获取menu数据传输到store
      this.getHomeMenu();
    },
    methods: {
      ...mapActions({
        getHomeInfo: 'GET_HOME_INFO',
        getHomeMenu: 'GET_HOME_MENU',
      }),
      initMessageList(callback) {
        get_message_list().then(res => {
          if (!this.User === false) {
            const {data, code} = res;
            if (code === 200) {
              this.currentMessageList = data;
              if (data && data.length > 0) {
                this.showMessagePop = true;
              } else {
                this.showMessagePop = true;
              }
            } else if (code === 401) {
              sessionStorage.setItem("isLogin", "false"); // 是否登录
            } else {
              this.showMessagePop = false;
            }
            setTimeout(() => {
              callback && callback(callback);
            }, 2000);
          }
        });
      },
      initAudioList(callback) {
        get_audio_list().then(res => {
          if (res && res.code === 200) {
            const {award, chat, notice} = res.data;
            this.award = Number(award);
            this.chat = Number(chat);
            this.notice = Number(notice);
            if (this.notice === 0 && this.chat === 0 && this.award === 0) {
              setTimeout(() => {
                callback && callback(callback);
              }, 2000);
            } else {
              this.audioTimer = setInterval(() => {
                if (this.award > 0) {
                  awardAudio();
                  this.award = 0;
                } else if (this.chat > 0) {
                  chatAudio();
                  this.chat = 0;
                } else if (this.notice > 0) {
                  notiveAudio();
                  this.notice = 0;
                } else {
                  window.clearInterval(this.audioTimer);
                  this.audioTimer = null;
                  setTimeout(() => {
                    callback && callback(callback);
                  }, 2000);
                }
              }, 4000);
            }
          } else {
            setTimeout(() => {
              callback && callback(callback);
            }, 2000);
          }
        });
      },
      changeMessageList(data) {
        this.currentMessageList = data;
      }
    },
    data() {
      return {
        currentMessageList: [1],
        showMessagePop: false
      };
    },
    components: {
      messagePopLayer
    }
  };
</script>
<style scoped lang="less" rel="stylesheet/less">
</style>
