<template>
  <div class="dashang">
    <div class="btn" @click="showPop">
      打赏
    </div>
    <van-popup v-model="show">
      <van-cell-group>
        <van-field
          v-model="score2"
          type="number"
          label="博币"
          placeholder="0"
        />

        <div class="van-cell van-field">
          <div class="van-cell__title van-field__label"><span>留言</span></div>
          <div class="van-cell__value" style="text-align: left" @click="showPOP">
            {{sendreasonpm}}
          </div>
        </div>

        <van-switch-cell v-model="reason" title="通知作者"/>

        <div style="text-align: center;margin-top: 10px">
          <van-button type="default" @click="close">关闭</van-button>
          <van-button type="primary" @click="recommend">打赏</van-button>
        </div>

      </van-cell-group>
    </van-popup>
    <van-action-sheet class="define-pop"
                      v-model="show2"
                      :actions="actions"
                      @select="onSelect"
    />
  </div>
</template>

<script type="text/ecmascript-6">
  import {Toast} from 'mint-ui';
  import {reward_api} from "@/common/api";
  import {Notify} from 'vant';

  export default {
    props: ['tid', 'pid'],
    data() {
      return {
        show2: false,
        show: false,
        reason: false,
        sendreasonpm: '',
        score2: '',
        actions: [
          {name: '很给力！', value: '很给力！'},
          {name: '赞一个！', value: '赞一个！'},
          {name: '神马都是浮云', value: '神马都是浮云'},
          {name: '山寨', value: '山寨'},
          {name: '淡定', value: '淡定'},
        ],
      }
    },
    methods: {
      close() {
        this.show = false;
        this.reason = false;
        this.sendreasonpm = '';
        this.score2 = 0;
      },
      onSelect(item) {

        this.show2 = false;
        this.sendreasonpm = item.name;

      }, showPOP(item) {

        this.show2 = true;

      },
      showPop() {
        this.show = true;
        this.reason = false;
        this.sendreasonpm = '';
        this.score2 = 0;
      },
      getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i].trim();
          if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
      },
      recommend() {
        let user = JSON.parse(sessionStorage.getItem('user'));
        let formhash = user && user.formhash;

        reward_api({
          tid: this.tid,
          pid: this.pid,
          reason: this.sendreasonpm,
          handlekey: 'rate',
          sendreasonpm: this.reason ? 'on' : 'off',
          score2: this.score2,
          formhash,
          ratesubmit: true,
        }).then(res => {
          Toast(res.msg);
          let bb = this.getCookie('KqtZ_2132_creditnotice');
          bb = bb.split('D')[2];
          Notify({type: 'warning', message: `博币 + ${Number(bb)} 枚`});
          setTimeout(() => {
            this.show = false;
          }, 800);
        })
      },
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  .dashang {
    position: absolute;
    left: 175px;
    top: 66px;
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 17px;
  }

  .admire {
    text-align: center;

    .btn {
      display: inline-block;
      width: 65px;
      height: 28px;
      line-height: 28px;
      background: rgba(250, 170, 0, 1);
      border-radius: 4px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }
  }
</style>
