<template>
  <div class="comment">
    <div class="read-header">
      全部评论
      <span></span>

      <!--<div class="right">-->
      <!--<span>最新</span>-->
      <!--<span>只看楼主</span>-->
      <!--</div>-->
    </div>

    <ul class="read-con clear"
        v-infinite-scroll="loadMore"
        infinite-scroll-disabled="loading"
        infinite-scroll-distance="10">
      <li v-for="(item,index) in postlist" :key="index" class="clear">
        <div class="img" @click="goMyspace(item)">
          <img :src="`${imgUrl}/uc_server/avatar.php?uid=${item.authorid}&size=small`" alt="">
        </div>
        <div class="name">
          {{item.username}}
        </div>
        <div class="zan" @click="zan(item)">
          赞
        </div>
        <div class="content" v-html="item.message"></div>
		<div>
			<div class="time" v-html="item.dateline"></div>
			<div class="num">
			  {{item.stars}}阅读
			</div>

			<div class="huifu" @click="eventCommentWrap(item)">
			  回复
			</div>
			<admire :tid="item.tid" :pid="item.pid"></admire>
		</div>
      </li>
    </ul>
  </div>
</template>

<script type="text/ecmascript-6">
  import {dev} from '../../../../config/index';
  import {Indicator, MessageBox, Toast} from 'mint-ui';
  import {
    add_recommend,
    delete_recommend,
    add_commnt,
  } from "@/common/api";
  import Admire from '@/components/forums/layout/admire2.vue';

  export default {
    components: {
      Admire
    },
    props: ['postlist'],
    data() {
      return {
        imgUrl: dev['proxyTable']['/api']['target']
      }
    },
    created: () =>{
  		this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';
    },
    methods: {
      // 弹出评论输入框
      async eventCommentWrap(item) {
        let {tid, fid} = item;

        async function callback(value, action) {
          let data = {
            tid, fid,
            message: value
          };

          Indicator.open();
          this.loading = true;
          let res = await add_commnt(data);
          Indicator.close();
          this.loading = false;
          Toast(res.message);
          if (+res.code === 200) {
            //this.resetInfo();
            //this.loadMore();
            // TODO tid 跳到对应的帖子 下面
            //this.$router.push(`/publishSuccess?tid=${tid}`);
          }
        }

        MessageBox.prompt('回复').then(({value, action}) => callback.call(this, value));
      },
	  goMyspace(item) {
        this.$router.push(`/mySpace/${item.authorid}`);
	  },
      zan(item) {
        if (item.visiblepoll === '0') {
          add_recommend({}, item.tid).then(res => {
            if (res.Message.messageval === 'recommend_succeed') {
              Toast(res.Message.messagestr);
              this.$emit('init-page');
            } else {
              Toast(res.Message.messagestr);
            }
          })

        } else {
          delete_recommend({}, item.tid).then(res => {
            if (res.Message.messageval === 'recommend_succeed') {
              Toast(res.Message.messagestr);
              this.initPage();
            } else {
              Toast(res.Message.messagestr);
            }
          })
        }
      },
      loadMore() {
        this.$emit('load-more');
      },
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  .comment {
    padding: 0 15px 90px;
    background: rgba(255, 255, 255, 1);

    .read-header {
      height: 35px;
      font-size: 15px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 35px;
      border-bottom: 1px solid rgba(248, 248, 248, 1);
    }

    .read-con {

      li {
        margin-bottom: 10px;
				overflow: hidden;
        position: relative;
				& > div {
					display: inline-block
				}
      }

      .title {
        position: absolute;
        left: 0;
        top: 6px;
        right: 130px;
        font-size: 16px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
      }

      .time {
				float: left;
				margin: 0 0 0 42px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .num {
				float: left;
				margin: 0 0 0 20px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .dashang {
		float: left;
		margin-left: 20px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
		position: static;
      }

      .huifu {
				float: left;
				margin-left: 20px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .img {
				margin-top: 8px;
        background: red;
        width: 32px;
        height: 32px;
        border-radius: 90px;
        overflow: hidden;
        float: left;
      }

      .zan {
				float: right;
				margin-top: 10px;
        width: 30px;
        height: 20px;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 20px;
      }

      .name {
        height: 17px;
        font-size: 12px;
				margin: 6px 0 0 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 17px;
				vertical-align: top;
      }

      .content {
		float: left;
		margin: 0 0 0 42px;
        font-size: 16px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
		min-width: 5rem;
      }
    }
  }
</style>
