<template>
  <header class="forum-comment" ref="header">
    <div class="upload-con" v-show="fileList.length>0">
      <div v-for="(item,index) in fileList" :key="index">
				<button @click="eventRemoveImg(item, index)">
						<svg t="1567941565980" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2128" width="200" height="200"><path d="M880 240H704v-64c0-52.8-43.2-96-96-96H416c-52.8 0-96 43.2-96 96v64H144c-17.6 0-32 14.4-32 32s14.4 32 32 32h48v512c0 70.4 57.6 128 128 128h384c70.4 0 128-57.6 128-128V304h48c17.6 0 32-14.4 32-32s-14.4-32-32-32z m-496-64c0-17.6 14.4-32 32-32h192c17.6 0 32 14.4 32 32v64H384v-64z m384 640c0 35.2-28.8 64-64 64H320c-35.2 0-64-28.8-64-64V304h512v512z" fill="#4A576A" p-id="2129"></path><path d="M416 432c-17.6 0-32 14.4-32 32v256c0 17.6 14.4 32 32 32s32-14.4 32-32V464c0-17.6-14.4-32-32-32zM608 432c-17.6 0-32 14.4-32 32v256c0 17.6 14.4 32 32 32s32-14.4 32-32V464c0-17.6-14.4-32-32-32z" fill="#4A576A" p-id="2130"></path></svg>
						</svg>
				</button>
        <van-image
          width="100"
          height="100"
          :src="item.attachment"
          @click="imgClick(item)"
        />
      </div>
    </div>
    <i class="iconfont lay-right-arrow right"></i>
	<!--
    <input class="mint-field-core"
           type="text"
           v-model="message"
           placeholder="请输入..."
		   @blur="confirmInput"
		   >
	-->
    <div class="right-header right">
      <!--点赞-->
      <img v-if="thread['recommend']==='0'" class="iconfont" style="margin-left: 8px;" src="@/assets/forum/pinglun1.png"
           alt="" @click="zan">
      <img v-else class="iconfont" style="margin-left: 8px;" src="@/assets/forum/pinglun2.png" alt="" @click="zan">
      <!--收藏-->
      <img v-if="thread['is_fav']==='0'" class="iconfont" src="@/assets/forum/shoucang1.png" alt="" @click="fav">
      <img v-else class="iconfont" src="@/assets/forum/shoucang2.png" alt="" @click="fav">
      <!--分享-->
      <img class="iconfont" src="@/assets/forum/fenxiang.png" alt="">
	  <button @click="confirmInput">发布</button>
    </div>
	<div id="editorElem" ref="editor" style="text-align:left"> </div>
  </header>
</template>

<script type="text/ecmascript-6">
  import {Toast} from 'mint-ui';
  import E from 'wangeditor';

  import {
    add_recommend,
    delete_recommend,
    favforum,
    checkfavforum,
    add_commnt,
    delete_favforum,
    comment,
    favthread_api,
	remove_img_api,
  } from "@/common/api";

  export default {
    props: ['tid', 'fid', 'thread'],
    data() {
      return {
        message: '',
        showPublish: false,
        showPublishCon: false,
		editor: null,
        fileList: [],
		content: '',
		attachnew: {},
      }
    },
	mounted: function() {
        //https://www.kancloud.cn/wangfupeng/wangeditor3/332599
        let editor = new E(this.$refs.editor);
        let _this = this;

        editor.customConfig.onchange = (html) => {
          this.content = html;
        };

        editor.customConfig.onfocus = function () {
			console.log(_this.$refs.header.style.height)
			_this.$refs.header.style.height= '200px';
        };
        editor.customConfig.onblur = function () {
			_this.$refs.header.style.height= '50px';
        };

        editor.customConfig.menus = [
          // 'head',  // 标题
          // 'bold',  // 粗体
          // 'italic',  // 斜体
          // 'underline',  // 下划线
          // 'strikeThrough',  // 删除线
          // 'foreColor',  // 文字颜色
          // 'backColor',  // 背景颜色
          // 'link',  // 插入链接
          // 'list',  // 列表
          // 'justify',  // 对齐方式
          // 'quote',  // 引用
          'emoticon',  // 表情
          'image' // 插入图片
          // 'table',  // 表格
          // 'video',  // 插入视频
          // 'code',  // 插入代码
          // 'undo',  // 撤销
          // 'redo'  // 重复
        ];
        editor.customConfig.uploadImgShowBase64 = true;   // 使用 base64 保存图片
        editor.customConfig.pasteFilterStyle = true;
        editor.customConfig.uploadImgServer = `/api/mobile/index.php?version=4&module=forumupload&operation=upload&type=image&simple=2&infloat=yes&inajax=yes&fid=${this.fid}`;  // 上传图片到服务器
        editor.customConfig.uploadImgMaxSize = 2 * 1024 * 1024;
        editor.customConfig.uploadImgMaxLength = 50;
        editor.customConfig.withCredentials = true;
        editor.customConfig.uploadImgParams = {
          from: 'comment'   // 属性值会自动进行 encode ，此处无需 encode
        };
        editor.customConfig.uploadFileName = 'Filedata';
        editor.customConfig.uploadImgHeaders = {
          'Accept': 'text/x-json'
        };
        editor.customConfig.customAlert = function (info) {
          console.log(info)
        };
        editor.customConfig.uploadImgHooks = {
          fail: function (xhr, editor, result) {
            // 图片上传并返回结果，但图片插入错误时触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
            console.log(xhr, editor, result);
          },
          error: function (xhr, editor) {
            // 图片上传出错时触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
            console.log(xhr, editor);
          },
          customInsert: function (insertImg, result, editor) {
            // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
            // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
            // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：

            _this.fileList.push(result);

            // result 必须是一个 JSON 格式字符串！！！否则报错
          }
        };
        editor.customConfig.linkImgCallback = function (url) {
          console.log(url) // url 即插入图片的地址
        };
        editor.create();
        this.editor = editor;
        editor.txt.html('')
      },
    methods: {
      imgClick(img) {
        // let str = `<p><img src="${imgLink}" alt=""></p>`;
		var _this	= this;
		setTimeout(()=>{
			_this.$refs.header.style.height= '200px';
		}, 0)
        let str = `<p>[attachimg]${img.aid}[/attachimg]</p>`;
        this.editor.txt.append(str);
        this.content += str;

        this.attachnew[img.aid] = {};
        this.attachnew[img.aid].descripttion = `${img.aid}_${this.attachnew.length}`;
      },
		async eventRemoveImg(item, i) {
			var res	= await remove_img_api({aids: [item.aid]});
			Toast(res.msg)
			if (+res.code === 200){
				this.fileList.splice(i, 1);
			}
		},
      closeEvent() {
        this.showPublishCon = false;

        setTimeout(() => {
          this.showPublish = false;
        }, 300)
      },
      confirmInput() {
        comment({
          message: this.content,
          attachnew: this.attachnew,
        }, this.thread.tid, this.thread.fid).then(res => {
          if (res.code === '200') {
            Toast('非常感谢，回复发布成功');
            this.message = "";

            setTimeout(() => {
              location.reload();
            }, 1000);
          }
        })
      },
      zan() {
        if (+this.thread.recommend === 0) {
          add_recommend({}, this.thread.tid).then(res => {
            Toast(res.Message.messagestr);
            this.$emit('init-page');
            this.thread.recommend === !this.thread.recommend;
          })

        } else {
          delete_recommend({}, this.thread.tid).then(res => {
            Toast(res.message);
            this.$emit('init-page');
            this.thread.recommend === !this.thread.recommend;
          })
        }
      },
      fav() {
        let user = JSON.parse(sessionStorage.getItem('user'));
        let formhash = user && user.formhash;

        favthread_api({
          formhash
        }, this.thread.tid).then(res => {
          Toast(res.Message.messagestr);
          this.initPage();
        })
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

	body .w-e-text-container .w-e-panel-container {
		top: 120px;
	}

  .forum-comment {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #333;
    font-size: 15px;
    align-self: center;
    padding: 0.2rem 15px;
    line-height: 1;
   // display: flex;
    height: 80px;
    background: #fff;
    border-top: 1px solid #f2f2f2;
    .left {
      float: left;
    }

    .right {
      float: right;
    }

    .evvaluat {
      float: left;
    }

    .evaluat-img {
      width: 30px;
      height: 30px;
    }

    .logo-img {
      width: 80px;
      height: 30px;
      flex: 0 0 80px;
    }

    .mint-field-core {
      flex: 1;
      margin: 0 10px;
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      background: rgba(245, 245, 245, 1);
      border-radius: 15px;
      font-size: 12px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(197, 197, 197, 1);
    }

    .right-header {
      width: 4rem;
      flex: 0 0 110px;
	  > button {
        font-size: 15px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(61, 113, 255, 1);
		vertical-align: top;
	  }

      > img {
        width: 24px;
        height: 24px;
        margin-top: 3px;
        margin-right: 5px;
      }
    }
  }

  .upload-con {
    position: absolute;
	top: -120px;
    left: 10px;
    right: 10px;
    overflow: auto;

   & > div {
      float: left;
      margin-right: 10px;
		position: relative;
    }
	button {
		height: 0.5rem;
		line-height: 0.5rem;
		position: absolute;
		right: 0;
		top: 0;
		background-color: white;
		z-index: 100;
		border: none;
		.icon {
			width: 0.34rem;
			height: 0.34rem;
			display: block;
		}
	}
  }
</style>
