<template>
  <div class="swipe-con">
    <div class="header-bar">
      <div class="left-header-bar">
        <div class="lay-tab">
          <div class="lay-tab-bar" @click="select('all')" :class="{'tab-active':selected==='all'}">
            全部
          </div>
          <div class="lay-tab-bar" @click="select('news')" :class="{'tab-active':selected==='news'}">
            最新
          </div>
          <div class="lay-tab-bar" @click="select('hot')" :class="{'tab-active':selected==='hot'}">
            热门
          </div>
          <div class="lay-tab-bar" @click="select('better')" :class="{'tab-active':selected==='better'}">
            精华
          </div>
        </div>
      </div>
    </div>

    <div class="gray-line">

    </div>

    <div class="tab-container" v-if="selected==='all'">
      <div v-for="(item,index) in forum_threadlist_first" :key="index" class="outer-item" @click="goDetail(item)">
        <div class="inner-item">
          <span class="item1">
              置顶
            </span>
          <span :style="`color:${item['subject_color']}`" class="item2">
             {{item['subject']}}
            </span>
        </div>
      </div>
    </div>

    <div class="tab-container" v-else>
      <div v-for="(item,index) in currentInfo" :key="index" class="outer-item" @click="goDetail(item)">
        <div class="inner-item">
          <span class="item1">
              置顶
            </span>
          <span  :style="`color:${item['subject_color']}`"  class="item2">
             {{item['subject']}}
            </span>
        </div>
      </div>
    </div>

    <div class="gray-line">

    </div>

  </div>
</template>

<script type="text/ecmascript-6">

  export default {
    props: ['currentInfo', 'forum_threadlist_first'],
    data() {
      return {
        selected: 'all',
        search: '',
      }
    },
    methods: {
      select(sel) {
        this.selected = sel;
        this.$emit('change-info', sel);
      },
      goDetail(item) {
        const {tid, special} = item;
        let path = "";

        if (special === "0") {
          path = "/publishSuccess";
        } else if (special === "1") {
          path = "/voteSuccess";
        } else if (special === "2") {
          path = "";
        } else if (special === "3") {
          path = "/rewardSuccess";
        } else if (special === "4") {
          path = "/activitySuccess";
        } else if (special === "5") {
          path = "/argueSuccess";
        }

        this.$router.push(`${path}/${tid}`);
      },
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  .gray-line {
    height: 10px;
    background: rgba(243, 244, 249, 1);
  }

  .lay-tab {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    height: 40px;
    border-bottom: 1px solid #E5E5E5;

    .lay-tab-bar {
      float: left;
      text-align: center;
      width: 51px;
      height: 39px;
      font-size: 14px;
      color: rgba(51, 51, 51, 1);
      line-height: 39px;
      margin-right: 15px;
    }

    .lay-tab-bar:nth-last-child(1) {
      margin-right: 0;
    }

    .tab-active {
      color: #3D71FF;
      border-bottom: 2px solid #3D71FF;
    }
  }

  .tab-container {
    margin: 0 15px;

    .outer-item {
      height: 40px;
      border-bottom: 1px solid #E5E5E5;
    }

    .outer-item:nth-last-child(1) {
      border: none;
    }

    .inner-item {
      width: 100%;
      height: 40px;
      line-height: 40px;
      background: rgba(255, 255, 255, 1);
      position: relative;

      .item1 {
        position: absolute;
        left: 3px;
        top: 10px;
        width: 28px;
        height: 20px;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(84, 134, 204, 1);
        line-height: 20px;
      }

      .item2 {
        position: absolute;
        left: 43px;
        top: 10px;
        right: 10px;
        height: 20px;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
</style>
