<template>
  <div class="footer">
    <span class="first-floor">
      <router-link class="text" to="/aboutBOtiantang">关于博天堂</router-link> | <router-link class="text" to="/guarantee">博天堂担保</router-link> | <a href="https://jinshuju.net/f/IXSUWt">在线反馈</a>
    </span>
    <span class="second-floor">
      Copyright 2019 © Bc.bet
          </span>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {}
</script>

<style scoped lang="less" rel="stylesheet/less">

  .footer {
    background: rgba(248, 248, 248, 1);
    height: 70px;
    text-align: center;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    padding-bottom: 50px;

    .first-floor {
      margin-top: 10px;
      display: inline-block;
      width: 100%;
      height: 17px;
      color: rgba(153, 153, 153, 1);
      .text {
        color: rgba(153, 153, 153, 1);
      }
      a{
        color: rgba(153, 153, 153, 1);
      }
    }

    .second-floor {
      display: inline-block;
      width: 100%;
      height: 17px;
      color: rgba(153, 153, 153, 1);
    }
  }

</style>
