<template>
  <div class="more">
    <img src="@/assets/forum/dating.png" alt="">
    <span>
        点击查看更多
      <a @click="goModule">{{parent.name}}</a>
      内容
      </span>
  </div>
</template>

<script type="text/ecmascript-6">

  export default {
    props: ['parent'],
    data() {
      return {}
    },
    methods: {
      goModule() {
        this.$router.push(`/forumDetail/${this.parent.fid}`);
      },
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  .more {
    padding: 0 15px;
    height: 69px;
    background: rgba(255, 255, 255, 1);
    position: relative;

    > img {
      position: absolute;
      top: 15px;
      display: inline-block;
      width: 39px;
      height: 39px;
      background: #3D71FF;
      border-radius: 8px;
    }

    > span {
      position: absolute;
      top: 25px;
      left: 70px;
      height: 21px;
      font-size: 15px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 21px;
    }
  }

</style>
