<template>
  <div class="read" v-if="Variables&&Variables['relateitem']&&Variables['relateitem'].length>0">
    <div class="read-header">
      推荐阅读
    </div>
    <ul class="read-con">
      <li v-for="(item,index) in Variables['relateitem']" :key="index" @click="goDetail(item)">
        <div class="title">
          {{item.subject}}
        </div>
        <div class="img">
          <img :src="item.image" alt="">
        </div>
        <div class="time">
          {{item.dateline}}
        </div>
        <div class="num">
          {{item.views}}阅读
        </div>
      </li>
    </ul>

    <div class="gray-line" v-if="Variables&&Variables['relateitem']&&Variables['relateitem'].length>0"></div>
  </div>
</template>

<script type="text/ecmascript-6">

  export default {
    props: ['postlist', 'Variables'],
    data() {
      return {}
    },
    methods: {
      goModule() {
        this.$router.push({
          path: '/forumDetail',
          query: {
            forum: JSON.stringify(this.parent)
          },
        });
      },
      goDetail(item) {
        const {tid, special} = item;
        let path = "/publishSuccess";

        // if (special === "0") {
        //   path = "/publishSuccess";
        // } else if (special === "1") {
        //   path = "/voteSuccess";
        // } else if (special === "2") {
        //   path = "";
        // } else if (special === "3") {
        //   path = "/rewardSuccess";
        // } else if (special === "4") {
        //   path = "/activitySuccess";
        // } else if (special === "5") {
        //   path = "/argueSuccess";
        // }

        this.$router.push({
          path,
          query: {tid}
        });
      },
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  .gray-line {
    height: 10px;
    background: rgba(248, 248, 248, 1);
  }

  .read {
    padding: 0 15px;
    min-height: 146px;
    background: rgba(255, 255, 255, 1);

    .read-header {
      height: 35px;
      font-size: 15px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 35px;
      border-bottom: 1px solid rgba(248, 248, 248, 1);
    }

    .read-con {

      li {
        height: 80px;
        margin-bottom: 8px;
        position: relative;
      }

      .title {
        position: absolute;
        left: 0;
        top: 6px;
        height: 30px;
        right: 130px;
        font-size: 16px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
        overflow: hidden;
      }

      .time {
        position: absolute;
        left: 0;
        top: 66px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .num {
        position: absolute;
        left: 130px;
        top: 66px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      img {
        position: absolute;
        right: 0;
        top: 8px;
        background: red;
        width: 118px;
        height: 79px;
      }
    }
  }
</style>
