<template>
  <div class="zan">
    <ul class="read-con">
      <li v-for="(item,index) in postlist_one['rate_data']" :key="index">
        <div class="name">
          {{item.username}}
        </div>
        <div class="content" v-html="item.reason">

        </div>
        <div class="img">
          <img :src="`${imgUrl}/uc_server/avatar.php?uid=${item.uid}&size=small`" alt="">
        </div>
        <div class="zan" >
          博币+{{item.score}}枚
        </div>
      </li>
    </ul>
  </div>
</template>

<script type="text/ecmascript-6">
  import {dev} from '../../../../config/index';
  import {Indicator, MessageBox, Toast} from 'mint-ui';
  import {
    add_recommend,
    delete_recommend,
    add_commnt,
  } from "@/common/api";
  import Admire from '@/components/forums/layout/admire2.vue';

  export default {
    components: {
      Admire
    },
    props: ['postlist_one'],
    data() {
      return {
        imgUrl: dev['proxyTable']['/api']['target']
      }
    },
    created: () => {
      this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';
    },
    methods: {
      // 弹出评论输入框
      async eventCommentWrap(item) {
        let {tid, fid} = item;

        async function callback(value, action) {
          let data = {
            tid, fid,
            message: value
          };

          Indicator.open();
          this.loading = true;
          let res = await add_commnt(data);
          Indicator.close();
          this.loading = false;
          Toast(res.message);
          if (+res.code === 200) {
            //this.resetInfo();
            //this.loadMore();
            // TODO tid 跳到对应的帖子 下面
            //this.$router.push(`/publishSuccess?tid=${tid}`);
          }
        }

        MessageBox.prompt('回复').then(({value, action}) => callback.call(this, value));
      },
      zan(item) {
        if (item.visiblepoll === '0') {
          add_recommend({}, item.tid).then(res => {
            if (res.Message.messageval === 'recommend_succeed') {
              Toast(res.Message.messagestr);
              this.$emit('init-page');
            } else {
              Toast(res.Message.messagestr);
            }
          })

        } else {
          delete_recommend({}, item.tid).then(res => {
            if (res.Message.messageval === 'recommend_succeed') {
              Toast(res.Message.messagestr);
              this.initPage();
            } else {
              Toast(res.Message.messagestr);
            }
          })
        }
      },
      loadMore() {
        this.$emit('load-more');
      },
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">

  .zan {
    margin-top: 15px;
    background: #f2f2f2;
    .read-con {
      padding: 10px 10px 0 10px;
      background: #f2f2f2;

      li {
        margin-bottom: 10px;
        height: 60px;
        position: relative;
      }

      .title {
        position: absolute;
        left: 0;
        top: 6px;
        right: 130px;
        font-size: 16px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
      }

      .time {
        position: absolute;
        left: 45px;
        top: 66px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .num {
        position: absolute;
        left: 242px;
        top: 66px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .dashang {
        position: absolute;
        left: 175px;
        top: 66px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .huifu {
        position: absolute;
        left: 205px;
        top: 66px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        line-height: 17px;
      }

      .img {
        position: absolute;
        left: 0;
        top: 8px;
        background: red;
        width: 32px;
        height: 32px;
        border-radius: 90px;
        overflow: hidden;
      }

      img {
        float: left;
        width: 32px;
        height: 32px;
      }

      .zan {
        position: absolute;
        right: 0;
        top: 10px;
        height: 20px;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: #faaa00;
        line-height: 20px;
      }

      .name {
        position: absolute;
        left: 45px;
        top: 12px;
        height: 17px;
        font-size: 12px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 17px;
      }

      .content {
        position: absolute;
        left: 45px;
        top: 30px;
        right: 40px;
        height: 25px;
        font-size: 16px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 25px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
</style>
