<template>
	<div>
    <div class="header">
			<my-header title="我的帖子" />
			<person-tab :tab="tab" ref="tab" />
			<div>
				<Dynamically :type="this.active"/>
			</div>
    </div>

	</div>
</template>
<script type="text/ecmascript-6">
	import MyHeader from "@/bass/header";
	import PersonTab from "@/components/personal/layour/table";
	import Dynamically from "@/components/personal/layour/dynamically";
	import { get_bbs } from "@/common/api";
	export default {
		data() {
			return {
				active: '',
        page: 0,
				limit: 10,
				collectionList: [],
        listEnd: false,
				tab: [
					{txt: '主题', active: '', on: this.changeActive },
					{txt: '回复', active: 'reply', on: this.changeActive},
					{txt: '点评', active: 'postcomment', on: this.changeActive},
				]
			}
		},
		methods: {
      backto() { window.history.back(); },
      changeActive(isPage) {
				//if (isPage) this.resetInfo();
        this.active = this.$refs.tab.active;
      },
			async get_replyList() {
				let data	= {
					type: this.active,
					page: this[this.active].page,
					limit: this[this.active].limit,
				}
				let res	= await get_bbs(data);
				console.log(res);
			}
		},
		components: {
			MyHeader,
			PersonTab,
			Dynamically,
		}
	}
</script>
<style lang="less" scoped>
</style>


