<template>
  <div class="page">
    <mt-header title="彩票记录" v-show="allShow">
      <mt-button slot="left" icon="back" @click.native="backto"></mt-button>
      <mt-button slot="right" icon=" iconfont icon-shuaxin" @click="refresh"></mt-button>
    </mt-header>
    <div class="mask" v-show="trade"></div>
    <div class="content" v-show="allShow">
      <div class="select">
        <span class="iconfont icon-sanjiao1" @click="tradeShow(1)">{{allType}}</span>
        <span class="iconfont icon-sanjiao1" @click="tradeShow(2)">{{allStatus}}</span>
        <!--<span class="iconfont icon-calendar">时间筛选</span>-->
      </div>

      <div class="item" v-show="trade">
        <span :class="active===items.name_cn?'active':''" @click="selected(items)" v-for="(items,i) in displayData"
              :key="i">{{items.name_cn}}</span>
        <!-- <span @click="selected(items)" v-for="(items,i) in displayData" :key="i">{{items.name_cn}}</span> -->
      </div>
      <p class="padded" @click="showChild">{{data.start_time}} 至 {{data.end_time}}</p>
      <div class="betting_list">
        <ul v-infinite-scroll="loadMore" infinite-scroll-disabled="loading" infinite-scroll-distance="10">
          <li class="mint-cell" @click="jump(item)" v-for="(item,i) in tradeData" :key="i">
            <img :src="item.img_url" alt="" width="48" height="48">
            <div>
              <p>
                <b>{{item.name_cn}}</b>
                <span>{{item.period}}期</span>
              </p>
              <p>
                <span style="float:left">{{item.add_time | moment}}</span>
              </p>
            </div>
            <span>{{item.money}}元</span>
            <img :src="item.img" alt="" class="right" width="50px">
          </li>
        </ul>
        <div style="width:100%;text-align:center;margin-top:3.5rem;" v-show="tradeData.length==0">
          <!-- <img src="@/assets/nomsg.png" style="width:80%; margin-bottom:.3rem" /> -->
          <p>暂无投注记录哦~</p>
        </div>
      </div>
    </div>
    <date @getLinkage='showChildMsg' @getLin='getLin' v-show="showLinkage" :defaultDate="defaultDate"
          :data="data"></date>
  </div>
</template>

<script type="text/ecmascript-6">
  import Date from "@/bass/date";
  import {t} from "@/common/config";
  import {Toast, Indicator} from "mint-ui";
  import {bettingRecord_api, lotteryType_api} from "@/common/api";
  import moment from "moment/moment";

  export default {
    created() {
      this.title = sessionStorage.getItem("title");

      let date = moment();

      this.defaultDate = {
        0: [
          `${date.year()}年`,
          `${date.month() + 1 >= 10 ? "" : "0"}${date.month() + 1}月`,
          `${date.date() - 7 >= 10 ? "" : "0"}${date.date() - 7}日`
        ],
        1: [
          `${date.year()}年`,
          `${date.month() + 1 >= 10 ? "" : "0"}${date.month() + 1}月`,
          `${date.date() >= 10 ? "" : "0"}${date.date()}日`
        ]
      };

      lotteryType_api().then(res => {
        if (res.code === 200) {
          this.tradeStatus = res.data.lottery;
          this.tradeStatus.unshift({
            lottery_id: "",
            name_cn: "全部彩种"
          });
        }
      });
    },
    data() {
      return {
        tradeData: [], //列表数据
        loading: false,
        allShow: true,
        money: {
          total_money: 0,
          total_profit_money: 0,
          total_win_money: 0
        },
        defaultDate: {},
        tradeStatus: [], //彩种类型
        allType: "全部彩种",
        allStatus: "全部状态",
        active: "全部彩种",
        orderStatus: [
          // 状态类型
          {name_cn: "全部状态", value: ""},
          {name_cn: "开奖中", value: 0},
          {name_cn: "已中奖", value: 1},
          {name_cn: "未中奖", value: 2},
          {name_cn: "已撤单", value: 3}
        ],
        states: {
          zj: "../../../../../static/zhongjiang/zj.png",
          wz: "../../../../../static/zhongjiang/wz.png",
          kj: "../../../../../static/zhongjiang/kj.png",
          cd: "../../../../../static/zhongjiang/cd.png"
        },
        displayData: [], // 显示的数据
        data: {
          lottery_id: "", // 彩种
          order_status: "", // 开奖状态
          start_time: moment.unix(t.end).format("YYYY-MM-DD"), //结束时间
          end_time: moment.unix(t.start).format("YYYY-MM-DD"), // 开始时间
          page: 0 // 页码
        },
        showLinkage: false, //控制子组件的显示隐藏
        trade: false //交易
      };
    },
    methods: {
      backto() {
        window.history.back();
      },
      refresh() {
        this.data.page = 0;
        Indicator.open();
        setTimeout(() => {
          this.ajax(this.data);
        }, 1000);
        
      },
      jump(id) {
        // if (id.order_status == "未开奖") {
        //   return;
        // }
        this.$router.push({
          name: "BettingDetail",
          params: {id: id}
        });
      },
      getLin() {
        this.showLinkage = false;
        this.allShow = true;
      },
      showChildMsg(msg) {
        //接收子组件数据
        msg.page = 1;
        this.allShow = true;
        console.log(msg);
        this.ajax(msg);
        this.showLinkage = false;
      },
      tradeShow(type) {
        if (type === 1) {
          if (!this.one) {
            this.active = "全部彩种";
            this.one = 1;
          }
          this.displayData = this.tradeStatus;

          this.displayData.forEach(element => {
            element.type = 1;
          });
        }
        if (type === 2) {
          if (!this.two) {
            this.active = "全部状态";
            this.two = 1;
          }
          this.displayData = this.orderStatus;
          this.displayData.forEach(element => {
            element.type = 2;
          });
        }

        this.trade = !this.trade;
        this.showLinkage = false;
      },
      showChild() {
        this.allShow = false;
        this.showLinkage = true;
        this.trade = false;
      },
      selected(name) {
        if (name.type == 1) {
          this.allType = name.name_cn;
          this.data.lottery_id = name.lottery_id;
        }
        if (name.type == 2) {
          this.allStatus = name.name_cn;
          this.data.order_status = name.value;
        }
        this.active = name.name_cn;
        this.trade = false;
        this.data.page = 1;
        Indicator.open("加载中...");
        this.ajax(this.data);
      },
      loadMore() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        this.data.page = this.data.page + 1;
        bettingRecord_api(this.data).then(res => {
          console.log(res);
          Indicator.close();
          this.loading = false;
          if (res.code == 200) {
            // console.log(res);
            (this.money.total_money = res.data.total_money),
              (this.money.total_profit_money = res.data.total_profit_money),
              (this.money.total_win_money = res.data.total_win_money);
            this.page = res.data.page;
            if (res.data.list.length > 0) {
              res.data.list.forEach(element => {
                element.order_status == "未开奖"
                  ? (element.img = this.states.kj)
                  : element.order_status == "未中奖"
                  ? (element.img = this.states.wz)
                  : element.order_status == "已中奖"
                    ? (element.img = this.states.zj)
                    : element.order_status == "已撤单"
                      ? (element.img = this.states.cd)
                      : element.order_status == "系统撤单"
                        ? (element.img = this.states.cd)
                        : "";
              });
              this.tradeData = this.tradeData.concat(res.data.list);
            } else {
              this.listEnd = true;
              // res.data.page != 1 ? Toast("没有更多数据了!") : "";
            }
          } else {
            if (res.code == 401 && !res.data) {
              this.listEnd = true;
            }
            Toast(res.msg);
          }
        });
      },
      ajax(data) {
        bettingRecord_api(data).then(res => {
          if (res.code == 200) {
            console.log(res);
            res.data.list.forEach(element => {
              element.order_status == "未开奖"
                ? (element.img = this.states.kj)
                : element.order_status == "未中奖"
                ? (element.img = this.states.wz)
                : element.order_status == "已中奖"
                  ? (element.img = this.states.zj)
                  : element.order_status == "已撤单"
                    ? (element.img = this.states.cd)
                    : element.order_status == "系统撤单"
                      ? (element.img = this.states.cd)
                      : "";
            });
            this.tradeData = res.data.list;
          } else {
            Toast(res.msg);
          }
          Indicator.close();
        });
      }
    },
    watch: {
      trade(n) {
        n
          ? (document.body.style.overflow = "hidden")
          : (document.body.style.overflow = "scroll");
      }
    },
    components: {
      Date
    }
  };
</script>

<style scoped>
  h4 {
    margin: 10px 0;
    width: 98%;
  }

  .icon-xiajiantou {
    float: right;
  }

  .content {
    font-size: 14px;
    position: relative;
  }

  .select {
    height: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 11;
    position: relative;
    background: #fff;
  }

  .select > span {
    padding: 0.3rem;
  }

  .item {
    position: fixed;
    /* top: 2rem; */
    background: #fff;
    z-index: 11;
  }

  .item > span {
    display: inline-block;
    width: 20%;
    margin: 2%;
  }

  .padded {
    padding: 0.2rem 0;
    background: #f2f2f2;
  }

  .betting_list {
    padding: 0 0.3rem 0.3rem;
    background: #fff;
  }

  .betting_list p {
    margin-bottom: 0.3rem;
  }

  .betting_list div {
    width: 70%;
    display: inline-block;
    flex: 2;
  }

  .betting_list li {
    padding: 0.25rem 0;
    background: #fff;
  }

  .betting_list p > b {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }

  .betting_list p > span {
    color: #999;
    font-size: 14px;
  }

  .select > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .select > span {
    padding: 0.3rem;
    font-size: 14px;
  }

  .mint-cell {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .mint-cell > span {
    line-height: 4;
    font-weight: bold;
    color: #fe3959;
    flex: 1;
    text-align: end;
    margin-top: 5px;
  }

  .mint-cell > div > p > b {
    margin-right: 10px;
  }

  .mint-cell > img:last-child {
    background-size: contain;
    height: 39px;
    width: 58px;
    position: absolute;
    top: 0;
    right: 15%;
    border-radius: 50%;
    opacity: 1;
  }

  .mint-cell:after {
    left: 0;
    width: 100%;
  }

  .item {
    position: fixed;
    overflow-y: auto;
    background: #fff;
    z-index: 11;
    width: 96%;
    height: 100%;
    padding: 2%;
  }

  .item > span {
    display: inline-block;
    font-size: 12px;
    width: 20%;
    padding: 1.5%;
    margin: 1%;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    background: #f2f2f2;
    color: #333;
  }

  .bot {
    position: fixed;
    bottom: 0;
    background-position: top;
    background-size: 100% 2px;
    padding-top: 5px;
    z-index: 1;
    color: #666;
  }

  .item > .active {
    background: #4a73c5;
    color: #fff;
  }

  .icon-calendar:after,
  .icon-sanjiao1:after {
    margin-left: 5px;
    color: #d8d8d8;
  }

  .iconfont.icon-shuaxin {
    color: #fff;
  }
</style>
