<template>
  <div>
    <div class="header">
      <my-header title="我的收藏"/>
      <person-tab :tab="tab" ref="tab"/>
    </div>
    <mt-tab-container v-show="active==='myCollection'" class="list-msg">
      <mt-tab-container-item>
        <ul v-infinite-scroll="getMyCollectionList" infinite-scroll-disabled="myCollection.listEnd"
            :infinite-scroll-distance="myCollection.limit" class="myCollection">

          <li v-for="(v, i) in typeProps('list')" @click="jump(v)"
          >
            <p>
              {{ v.title }}
            </p>
            <img :src="v.icon">
            <button @click="eventDeleteCollection($event, v, i)">
              <svg t="1565616423430" class="icon" viewBox="0 0 1024 1024" version="1.1"
                   xmlns="http://www.w3.org/2000/svg" p-id="2013" width="200" height="200">
                <path
                  d="M928 224l-160 0L768 160c0-52.928-42.72-96-95.264-96L352 64C299.072 64 256 107.072 256 160l0 64L96 224C78.304 224 64 238.304 64 256c0 17.696 14.304 32 32 32l832 0c17.696 0 32-14.304 32-32C960 238.304 945.696 224 928 224zM320 160c0-17.632 14.368-32 32-32l320.736 0C690.272 128 704 142.048 704 160l0 64L320 224 320 160z"
                  p-id="2014"></path>
                <path
                  d="M640 736 640 384c0-17.696-14.304-32-32-32-17.696 0-32 14.304-32 32l0 352c0 17.696 14.304 32 32 32C625.696 768 640 753.696 640 736z"
                  p-id="2015"></path>
                <path
                  d="M448 736 448 384c0-17.696-14.304-32-32-32-17.696 0-32 14.304-32 32l0 352c0 17.696 14.304 32 32 32C433.696 768 448 753.696 448 736z"
                  p-id="2016"></path>
                <path
                  d="M800.128 352.832c-17.696 0-32 14.336-32 32L768.128 864c0 17.664-14.336 32-32 32L288.064 896c-17.632 0-32-14.336-32-32L256.064 383.52c0-17.664-14.336-32-32-32s-32 14.336-32 32L192.064 864c0 52.928 43.072 96 96 96l448.064 0c52.928 0 96-43.072 96-96L832.128 384.832C832.128 367.168 817.824 352.832 800.128 352.832z"
                  p-id="2017"></path>
              </svg>
            </button>
          </li>
          <div class="font" v-if="typeProps('list').length==0">暂无更多数据</div>

        </ul>
      </mt-tab-container-item>
    </mt-tab-container>
    <mt-tab-container v-show="active==='thread'" class="list-msg">
      <mt-tab-container-item>
        <ul v-infinite-scroll="getMyCollectionList" infinite-scroll-disabled="thread.listEnd"
            :infinite-scroll-distance="thread.limit" class="thread">
          <li v-for="(v, i) in typeProps('list')" @click="jump(v)"
          >
            <p>
              {{ v.title }}
            </p>
            <img :src="v.icon">
            <button @click="eventDeleteCollection($event, v, i)">
              <svg t="1565616423430" class="icon" viewBox="0 0 1024 1024" version="1.1"
                   xmlns="http://www.w3.org/2000/svg" p-id="2013" width="200" height="200">
                <path
                  d="M928 224l-160 0L768 160c0-52.928-42.72-96-95.264-96L352 64C299.072 64 256 107.072 256 160l0 64L96 224C78.304 224 64 238.304 64 256c0 17.696 14.304 32 32 32l832 0c17.696 0 32-14.304 32-32C960 238.304 945.696 224 928 224zM320 160c0-17.632 14.368-32 32-32l320.736 0C690.272 128 704 142.048 704 160l0 64L320 224 320 160z"
                  p-id="2014"></path>
                <path
                  d="M640 736 640 384c0-17.696-14.304-32-32-32-17.696 0-32 14.304-32 32l0 352c0 17.696 14.304 32 32 32C625.696 768 640 753.696 640 736z"
                  p-id="2015"></path>
                <path
                  d="M448 736 448 384c0-17.696-14.304-32-32-32-17.696 0-32 14.304-32 32l0 352c0 17.696 14.304 32 32 32C433.696 768 448 753.696 448 736z"
                  p-id="2016"></path>
                <path
                  d="M800.128 352.832c-17.696 0-32 14.336-32 32L768.128 864c0 17.664-14.336 32-32 32L288.064 896c-17.632 0-32-14.336-32-32L256.064 383.52c0-17.664-14.336-32-32-32s-32 14.336-32 32L192.064 864c0 52.928 43.072 96 96 96l448.064 0c52.928 0 96-43.072 96-96L832.128 384.832C832.128 367.168 817.824 352.832 800.128 352.832z"
                  p-id="2017"></path>
              </svg>
            </button>
          </li>
          <div class="font" v-if="typeProps('list').length==0">暂无更多数据</div>

        </ul>
      </mt-tab-container-item>
    </mt-tab-container>
    <mt-tab-container v-show="active==='forum'" class="list-msg">
      <mt-tab-container-item>
        <ul v-infinite-scroll="getMyCollectionList" infinite-scroll-disabled="forum.listEnd"
            :infinite-scroll-distance="forum.limit" class="forum">

          <li v-for="(v, i) in typeProps('list')" @click="jump(v)"
          >
            <p>
              {{ v.title }}
            </p>
            <img :src="v.icon">
            <button @click="eventDeleteCollection($event, v, i)">
              <svg t="1565616423430" class="icon" viewBox="0 0 1024 1024" version="1.1"
                   xmlns="http://www.w3.org/2000/svg" p-id="2013" width="200" height="200">
                <path
                  d="M928 224l-160 0L768 160c0-52.928-42.72-96-95.264-96L352 64C299.072 64 256 107.072 256 160l0 64L96 224C78.304 224 64 238.304 64 256c0 17.696 14.304 32 32 32l832 0c17.696 0 32-14.304 32-32C960 238.304 945.696 224 928 224zM320 160c0-17.632 14.368-32 32-32l320.736 0C690.272 128 704 142.048 704 160l0 64L320 224 320 160z"
                  p-id="2014"></path>
                <path
                  d="M640 736 640 384c0-17.696-14.304-32-32-32-17.696 0-32 14.304-32 32l0 352c0 17.696 14.304 32 32 32C625.696 768 640 753.696 640 736z"
                  p-id="2015"></path>
                <path
                  d="M448 736 448 384c0-17.696-14.304-32-32-32-17.696 0-32 14.304-32 32l0 352c0 17.696 14.304 32 32 32C433.696 768 448 753.696 448 736z"
                  p-id="2016"></path>
                <path
                  d="M800.128 352.832c-17.696 0-32 14.336-32 32L768.128 864c0 17.664-14.336 32-32 32L288.064 896c-17.632 0-32-14.336-32-32L256.064 383.52c0-17.664-14.336-32-32-32s-32 14.336-32 32L192.064 864c0 52.928 43.072 96 96 96l448.064 0c52.928 0 96-43.072 96-96L832.128 384.832C832.128 367.168 817.824 352.832 800.128 352.832z"
                  p-id="2017"></path>
              </svg>
            </button>
          </li>
          <div class="font" v-if="typeProps('list').length==0">暂无更多数据</div>

        </ul>
      </mt-tab-container-item>
    </mt-tab-container>
    <mt-tab-container v-show="active==='article'" class="list-msg">
      <mt-tab-container-item>
        <ul v-infinite-scroll="getMyCollectionList" infinite-scroll-disabled="article.listEnd"
            :infinite-scroll-distance="article.limit" class="article">

          <li v-for="(v, i) in typeProps('list')" @click="jump(v)"
          >
            <p>
              {{ v.title }}
            </p>
            <img :src="v.icon">
            <button @click="eventDeleteCollection($event, v, i)">
              <svg t="1565616423430" class="icon" viewBox="0 0 1024 1024" version="1.1"
                   xmlns="http://www.w3.org/2000/svg" p-id="2013" width="200" height="200">
                <path
                  d="M928 224l-160 0L768 160c0-52.928-42.72-96-95.264-96L352 64C299.072 64 256 107.072 256 160l0 64L96 224C78.304 224 64 238.304 64 256c0 17.696 14.304 32 32 32l832 0c17.696 0 32-14.304 32-32C960 238.304 945.696 224 928 224zM320 160c0-17.632 14.368-32 32-32l320.736 0C690.272 128 704 142.048 704 160l0 64L320 224 320 160z"
                  p-id="2014"></path>
                <path
                  d="M640 736 640 384c0-17.696-14.304-32-32-32-17.696 0-32 14.304-32 32l0 352c0 17.696 14.304 32 32 32C625.696 768 640 753.696 640 736z"
                  p-id="2015"></path>
                <path
                  d="M448 736 448 384c0-17.696-14.304-32-32-32-17.696 0-32 14.304-32 32l0 352c0 17.696 14.304 32 32 32C433.696 768 448 753.696 448 736z"
                  p-id="2016"></path>
                <path
                  d="M800.128 352.832c-17.696 0-32 14.336-32 32L768.128 864c0 17.664-14.336 32-32 32L288.064 896c-17.632 0-32-14.336-32-32L256.064 383.52c0-17.664-14.336-32-32-32s-32 14.336-32 32L192.064 864c0 52.928 43.072 96 96 96l448.064 0c52.928 0 96-43.072 96-96L832.128 384.832C832.128 367.168 817.824 352.832 800.128 352.832z"
                  p-id="2017"></path>
              </svg>
            </button>
          </li>
          <div class="font" v-if="typeProps('list').length==0">暂无更多数据</div>

        </ul>
      </mt-tab-container-item>
    </mt-tab-container>
  </div>
</template>
<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import PersonTab from "@/components/personal/layour/table";
  import {get_collcetion_api, delete_favforum} from "@/common/api";
  import {Toast, Indicator, MessageBox} from "mint-ui";

  export default {
    data() {
      return {
        active: 'myCollection',
        page: 0,
        limit: 10,
        collectionList: [],
        loading: false,
        tab: [
          {txt: '我的收藏', active: 'myCollection', on: this.changeActive},
          {txt: '帖子', active: 'thread', on: this.changeActive},
          {txt: '版块', active: 'forum', on: this.changeActive},
          {txt: '文章', active: 'article', on: this.changeActive}
        ],
        myCollection: {
          page: 0,
          limit: 10,
          list: [],
          loading: false,
          listEnd: false
        },
        thread: {
          page: 0,
          limit: 10,
          list: [],
          loading: false,
          listEnd: false
        },
        forum: {
          page: 0,
          limit: 10,
          list: [],
          loading: false,
          listEnd: false
        },
        article: {
          page: 0,
          limit: 10,
          list: [],
          loading: false,
          listEnd: false
        },
      }
    },
    methods: {
      typeProps(props) {
        return this[this.active][props];
      },
      jump(item) {
        console.log(item);
        if (item.idtype === 'tid') {
          this.goDetail(item);
        } else {
          this.$router.push(`/forumDetail/${item.id}`);
        }

      },
      goDetail(item) {
        const {id, special} = item;
        let path = "";

		if (special === "0") {
		  path = "/publishSuccess";
		} else if (special === "1") {
		  path = "/voteSuccess";
		} else if (special === "2") {
		  path = "";
		} else if (special === "3") {
		  path = "/rewardSuccess";
		} else if (special === "4") {
		  path = "/activitySuccess";
		} else if (special === "5") {
		  path = "/argueSuccess";
		}
        this.$router.push(`publishSuccess/${id}`);
        // this.$router.push(`${path}/${id}`);
      },
      changeActive(isPage) {
        this.active = this.$refs.tab.active;
      },
      async getMyCollectionList() {
        let type = this.active
        this[type].page += 1;
        if (this[type].listEnd || this[type].loading) return;
        Indicator.open();
        this[type].loading = true;
        let json;
        if (type === 'myCollection') {
          json = {page: this[type].page, limit: this[type].limit};
        } else {
          json = {page: this[type].page, limit: this[type].limit, type};
        }
        ;
        let res = await get_collcetion_api(json);
        Indicator.close();
        this[type].loading = false;
        let list = res.Variables.list
        this[type].list = [...this[type].list, ...list];
        if (this[type].page >= +res.count / this[type].limit) {
          this[type].listEnd = true;
        }
        ;
      },
      resetInfo() {
        this[this.active] = {
          page: 0,
          limit: 10,
          list: [],
          loading: false,
          listEnd: false
        };
      },
      // Event: 删除收藏
      eventDeleteCollection(event, item, i) {
        console.log(item)
        let {favid} = item;
        event.stopPropagation()

        async function callback() {
          let json = {
            //favid,
            formhash: JSON.parse(sessionStorage.user).formhash,
            deletesubmit: true,
            //type: 'all'
          }
          Indicator.open();
          this.loading = true;
          let res = await delete_favforum(json, favid, 'all')
          Indicator.close();
          this.loading = false;
          if (res.Message.messageval === 'do_success') {
            this[this.active].list.splice(i, 1)
            Toast('删除成功');
          }
          ;
          Toast(res.Message.messagestr);

        }

        var modal = MessageBox.confirm('确认删除吗删除').then(() => callback.call(this));
      }
    },
    components: {
      MyHeader,
      PersonTab
    },
    watch: {
      active(nextProps, prevProps) {
        if (nextProps !== prevProps) {
          if (!this[nextProps].list.length) {

            // 如果没有数据就从第一页开始；
            this.resetInfo();
            this.getMyCollectionList();
          }
          ;
        }
      }
    }
  }
</script>
<style lang="less" scoped>
  .list-msg {
    background: #fff;
    border-top: 2px solid #e5e5e5;
    padding-left: 15px;
    overflow: scroll;
    position: absolute;
    top: 89px;
    left: 0;
    right: 0;
    bottom: 0;

    ul {
      &.myCollection, &.thread, &.forum, &.article {
        li {
          border-bottom: 1px solid #e5e5e5;
          padding: 16px 16px 15px 0;
          overflow: hidden;

          p {
            width: 4.34rem;
            line-height: 0.4rem;
            font-size: 0.32rem;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-inline-box;
          }

          button {
            float: left;
            color: #999999;
            font-size: 0.24rem;
            font-weight: 400;
            padding: 5px;
            float: right;
            background-color: transparent;
            border: none;
          }

          img {
            width: 2.36rem;
            height: 1.58rem;
            float: right;
          }
        }
      }
    }
  }

  .font {
    text-align: center;
    font-size: 16px;
    margin-top: 3.5rem;
  }
</style>


