json<template>
  <div class="recharge">
    <my-header	title="我的好友"></my-header>
    <div>
			<person-tab :tab="tab" ref="tab" />
			<div v-if="active==='myFriend'" :class="active">
          <ul v-infinite-scroll="getList" infinite-scroll-disabled="myFriend.listEnd" :infinite-scroll-distance="myFriend.limit">
            <li class="mint-ce clear" v-for="(v, i) in myFriend.list" :key="i" >
								<img :src="`${imgUrl}/uc_server/avatar.php?uid=${v.uid}&size=small`" alt="" @click="unbound('mySpace/' + v.uid)" >
                <h3>{{v.fusername}}<input v-model="v.note || 备注" @keyup.enter="eventModifyRemarks($event, v, 'editnote')" /></h3>
								<span> 热度{{v.num}} </span>
                <p>{{ v.recentnote }}</p>
								<div>
									<button @click="eventAddFriend($event,v, i)" :class="v.follow ? 'gray' : 'blue'"> {{ +v.follow ? '取消关注' : '关注ta' }} </button>
									<button @click="eventModifyRemarks($event, v, 'ignore', i)">删除</button>
								</div>
            </li>
          </ul>
          <div class="font" v-if="myFriend.list.length==0">暂无更多数据</div>
			</div>
			<div v-if="active==='trace'" :class="active">
          <ul v-infinite-scroll="getList" infinite-scroll-disabled="trace.listEnd" :infinite-scroll-distance="trace.limit">
            <li class="mint-ce clear" v-for="(v, i) in trace.list" :key="i" >
								<img :src="`${imgUrl}/uc_server/avatar.php?uid=${v.uid}&size=small`" alt=""  @click="unbound('mySpace/' + v.uid)">
                <h3>{{v.fusername}}<input v-model="v.note || 备注" @keyup.enter="eventModifyRemarks($event, v, 'editnote')" /></h3>
								<span> 热度{{v.num}} </span>
                <p>{{ v.recentnote }}</p>
								<div>
									<button @click="eventAddFriend($event,v, i)" :class="v.follow ? 'blue' : 'gray'"> {{ +v.follow ? '取消关注' : '关注ta' }} </button>
								</div>
            </li>
          </ul>
          <div class="font" v-if="trace.list.length==0">暂无更多数据</div>
			</div>
			<div v-if="active==='visitor'" :class="active">
          <ul v-infinite-scroll="getList" infinite-scroll-disabled="visitor.listEnd" :infinite-scroll-distance="visitor.limit">
            <li class="mint-ce clear" v-for="(v, i) in visitor.list" :key="i">
								<img :src="`${imgUrl}/uc_server/avatar.php?uid=${v.uid}&size=small`" alt=""  @click="unbound('mySpace/' + v.uid)">
                <h3>{{v.fusername}}<input v-model="v.note || 备注" @keyup.enter="eventModifyRemarks($event, v, 'editnote')" /></h3>
								<span> 热度{{v.num}} </span>
                <p>{{ v.recentnote }}</p>
								<div>
									<button @click="eventAddFriend($event,v, i)"> {{ +v.follow ? '取消关注' : '关注ta' }} </button>
								</div>
            </li>
          </ul>
          <div class="font" v-if="visitor.list.length==0">暂无更多数据</div>
			</div>
			<div v-if="active==='request'" :class="active">
          <ul v-infinite-scroll="getList" infinite-scroll-disabled="request.listEnd" :infinite-scroll-distance="request.limit">
            <li class="mint-ce clear" v-for="(v, i) in request.list" :key="i">
								<img :src="`${imgUrl}/uc_server/avatar.php?uid=${v.uid}&size=small`" alt=""  @click="unbound('mySpace/' + v.uid)">
                <h3>{{v.fusername}}<input v-model="v.note || 备注" @keyup.enter="eventModifyRemarks($event, v, 'editnote')" /></h3>
								<span> 热度{{v.num}} </span>
                <p>{{ v.recentnote }}</p>
								<div>
									<button @click="eventAddFriend($event,v, i)"> {{ +v.follow ? '取消关注' : '关注ta' }} </button>
								</div>
            </li>
          </ul>
          <div class="font" v-if="request.list.length==0">暂无更多数据</div>
			</div>
			<div v-if="active==='blacklist'" :class="active">
				<div>
					<h2> 添加黑名单用户 </h2>
					<input v-model="blackuser" placeholder="用户名" @keyup.enter="eventModifyRemarks($event, {}, 'blacklist')" ref="blackuser" />
					<button class="btn" @click="eventModifyRemarks($event, {}, 'blacklist')">添加</button>
				</div>
				<ul v-if="blacklist.list.length" v-infinite-scroll="getList" infinite-scroll-disabled="blacklist.listEnd" :infinite-scroll-distance="blacklist.limit">
					<li class="mint-ce clear" v-for="(v, i) in blacklist.list" :key="i">
							<img :src="`${imgUrl}/uc_server/avatar.php?uid=${v.uid}&size=small`" alt=""  @click="unbound('mySpace/' + v.uid)">
							<h3>{{v.fusername}}<input v-model="v.note || 备注" @keyup.enter="eventModifyRemarks($event, v, 'editnote')" /></h3>
							<span> 热度{{v.num}} </span>
							<p>{{ v.recentnote }}</p>
							<div>
								<button @click="eventAddFriend($event,v, i)"> {{ +v.follow ? '取消关注' : '关注ta' }} </button>
								<button @click="eventModifyRemarks($event, v, 'ignore', i)">删除</button>
							</div>
					</li>
				</ul>
				<div class="font" v-if="!blacklist.list.length">暂无更多数据</div>
			</div>

			<div v-if="active==='myFollower'" class="myFans">
					<ul v-infinite-scroll="getList" infinite-scroll-disabled="myFollower.listEnd" :infinite-scroll-distance="myFollower.limit">

						<li class="mint-ce clear" v-for="(v,i) in myFollower.list" :key="i" >
								<img :src="`${imgUrl}/uc_server/avatar.php?uid=${v.uid}&size=small`">
								<p>{{v.username}}</p>
								<p>{{v.recentnote}}</p>
								<div>
									<button @click="eventAddFriend($event,v, i)"> {{ +v.follow ? '取消关注' : '关注ta' }} </button>
								</div>
						</li>

						<div class="font" v-if="myFollower.list.length==0">暂无更多数据</div>

					</ul>
			</div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
	import MyHeader from "@/bass/header";
	import PersonTab from "@/components/personal/layour/table"
  import {get_myFriends_api, get_my_follower, add_friend_api, modify_friend_api} from "@/common/api";

  import {Toast, Indicator, MessageBox} from "mint-ui";
  import {dev} from '../../../config/index';

  export default {
    created() {
		this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';

    },
    mounted() {
      //document.body.style.background = "#f7f7f7";
    },
    data() {
			return {
				active: 'myFriend',
        imgUrl: dev['proxyTable']['/api']['target'],
				blackuser: '',
        tab: [
          {txt: '我的好友', active: 'myFriend', on: this.changeActive},
					{txt: '我的粉丝', active: 'myFollower', on: this.changeActive },
          {txt: '我看过谁', active: 'trace', on: this.changeActive},
          {txt: '最近来访', active: 'visitor', on: this.changeActive},
					{txt: '好友请求', active: 'request', on: this.changeActive },
          {txt: '黑名单', active: 'blacklist', on: this.changeActive},
        ],
				myFriend: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false
				},
				trace: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false
				},
				visitor: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false
				},
				blacklist: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false
				},
				request: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false
				},
				myFollower: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false
				}
			}
    },
    methods: {
      changeActive(isPage) {
			if (isPage) this.page	= 0;
        this.active = this.$refs.tab.active;
      },
			// 更换备注和删除好友
			async eventModifyRemarks(event,item, op, i) {
				if (op === 'ignore') {
					MessageBox({
						title: '提示',
						message: `真的要删除好友吗？` ,
						confirmButtonText: "确定",
						showCancelButton: true
					}).then( action => {
							if (action === "confirm") {
								this.modifyRemarks(event,item, op, i);
							};
					});
				} else {
					this.modifyRemarks(event,item, op, i);
				};
			},
			async modifyRemarks(event,item, op, i) {
				let {uid}		= item;
				let json		= {}
				json.formhash	= JSON.parse(sessionStorage.user).formhash;
				
				if (op	=== 'blacklist') {
					json.username	= this.$refs.blackuser.value;
				}
				if (op === 'editnote') {
					json.note	= event.target.value;
				};
				Indicator.open();
				let res	= await modify_friend_api(json, op, uid);
				Indicator.close();
				if (op === 'ignore') {
					if (+res.code === 200) {
						this[this.active].list.splice(i, 1);
					};
				} else if (op === 'blacklist') {
					this.$refs.blackuser.value	= '';
					this.resetInfo();
					this.getList()
				};

				
				Toast('msg');
			},
			// 关注和取消关注
			async eventAddFriend(event, item, i) {
				if (+item.follow) {
					MessageBox({
						title: '提示',
						message: `真的要取消关注吗？` ,
						confirmButtonText: "确定",
						showCancelButton: true
					}).then( action => {
							if (action === "confirm") {
								this.addFriend(event, item, i);
							};
					});
				} else {
					this.addFriend(event, item, i);
				}
			},
			async addFriend(event, item, i){
				let {fuid, follow}	= item;
				let type						= this.active;
				let op	= +follow === 0 ? 'add': 'del';;
				Indicator.open();
				let json	= {
					fuid,
					op,
					hash: JSON.parse(sessionStorage.user).formhash
				};
				let res	= await add_friend_api(json);
					console.log(this[type].list[i].follow)
				if (+res.code === 200) {
					this[type].list[i].follow	= !follow;
					console.log(this[type].list[i].follow)
				};
				Indicator.close();
				Toast(res.msg);
				
			},
			async getList() {
				let type	= this.active;
				console.log(type);
				if (this[type].listEnd || this[type].loading) return;
				this[type].page	+=1;
				Indicator.open();
				this[type].loading = true;
				let	res, json, list;
				//if (this[type].active === 'bbs'){}
				if (type === 'myFollower') {
					let res =await get_my_follower({page: this[type].page, limit: this[type].limit})
					list=Object.values(res.list)

				} else if (['myFriend', 'trace', 'visitor', 'blacklist'].includes(type)){
					if ('myFriend' === type) {
						json		= {page: this[type].page, limit: this[type].limit};
					} else {
						json		= {page: this[type].page, limit: this[type].limit, view: type};
					}
					res	=await get_myFriends_api(json);

					if (+res.code !== 200) return Toast(res.msg);
					list	= Object.values(res.friendslist);
				} else if (type === 'request') {
					let res	= await modify_friend_api({formhash: JSON.parse(sessionStorage.user).formhash}, this.active);
					console.log(res)
				}
				Indicator.close();
				this[type].list	= [...this[type].list, ...list];
				this[type].loading = false;

				console.log(this)
				if (this[type].page >= +res.count / this[type].limit) this[type].listEnd = true;
			},
      goDetail(item, type) {
        if (type == 1) {
          this.$router.push({
            name: "MsgDetail",
            params: {
              msg: item
            }
          });
        }
        if (type == 2) {
          this.$router.push({
            name: "AnnouncementDetail",
            params: {
              msg: item
            }
          });
        }
      },
			unbound(route) {
				this.$router.push(route);
			},
			eventAddBalckuser() {
				this.addFriend(event, item, i);
			},
			resetInfo() {
				this[this.active].page		= 0;
				this[this.active].limit		= 10;
				this[this.active].list		= [];
				this[this.active].loading	= false;
				this[this.active].listEnd	= false;
			},
    },
    components: {
      MyHeader,
			PersonTab
    },
		watch: {
			active(nextProps, prevProps) {
				if (nextProps !== prevProps) {
					setTimeout(()=>{
						// 第一次进入 如果list为空 && page为0 就强制加载一次
						if (!this[nextProps].list.length && this[nextProps].page < 1) {
							// 如果没有数据就从第一页开始；
								this.getList()
						};
					}, 100)
				}
			}
		}
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
	.myFriend,
	.trace,
	.visitor,
	.blacklist {
		border-top: 2px solid #e5e5e5;
		padding-left: 15px;
		overflow: scroll;
    position: absolute;
    top: 89px;
    left: 0;
    right: 0;
    bottom: 0;
		ul{
			height: 100%;
			li {
				border-bottom: 1px solid #e5e5e5;
				padding: 0.32rem 0.32rem 0.3rem 0;
				overflow: hidden;
				img, h3, p, div {
					float: left;
				}
				img {
					border-radius: 50px;
					width: 1rem;
					height: 1rem;
					margin-right: 0.3rem;
				}
				h3 {
					color: #E46B9C;
					font-size: 0.28rem;
					display: inline-block;
					input {
						color:  #90CBF3;
						margin-left: 0.1rem;
						font-size: 0.24rem;
					}
				}
				p {
					line-height: 0.4rem;
					height: 0.4rem;
					font-size: 0.3rem;
					padding-top: 0.2rem;
					color: #333;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					width: 4rem;
					display: inline-block
				}
				div {
					margin: 8px;
					font-size: 0.26rem;
					color: #666;
					display: inline-block;
					margin-left: 1.3rem;
					button {
						border: 1px solid #F2F2F2;
						border-radius: 0.08rem;
						background-color: #fff;
						color: #D1D1D1;
						&.blue {
							background-color: #71B8F4;
							border: 0;
							color: #fff;
						}
						&.gray {
							background-color: gray;
						}
					}
				}
				span {
					float: right;
					color: #999;
					font-size: 0.28rem;
				}
			}
		}
	}
	.blacklist {
		h2 {
			font-size: 0.3rem;
		}
		input {
			padding-bottom: 0.2rem;
			line-height: .4rem;
			height: .4rem;
			font-size: 0.28rem;
		}
		.btn {
			margin: 0.25rem 0 0 0;
			display: block;
			width: 6.88rem;
			height: 0.88rem;
			line-height: 0.88rem;
			text-align: center;
			background: linear-gradient(45deg,rgba(61,113,255,1) 0%,rgba(67,180,255,1) 100%);
			border-radius: 0.16rem;
			color: #fff;
			font-size: 0.36rem;
			border: 0;
			padding: 0;
			&:active {
				opacity: 0.7;
			}
		}
	}
	.myFans {
		border-top: 2px solid #e5e5e5;
		padding-left: 15px;
		overflow: scroll;
		position: absolute;
		top: 2.3rem;
		left: 0;
		right: 0;
		bottom: 0;
		ul{
		height: 100%;
			li {
				border-bottom: 1px solid #e5e5e5;
				padding: 16px 16px 15px 0;
				overflow: hidden;
				img, p, div{
					float: left;
				}
				img {
					border-radius: 50px;
					width: 50px;
					height: 50px;
					margin-right: 15px;
				}
				p {
					line-height: 21px;
					font-size: 15px;
					color: #333;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					width: 4rem;
					display: inline-block;
					&:first-of-type {
						color: #D5739B;
					}
				}
				div {
					margin: 8px;
					font-size: 13px;
					color: #666;
					width: 200px;
					display: inline-block
				}
				span {
					float: right;
					color: #999;
					font-size: 14px;
				}
				button {
					border: 1px solid #F2F2F2;
					border-radius: 0.08rem;
					background-color: #fff;
					color: #D1D1D1;
					&:first-of-type {
						background-color: #71B8F4;
						border: 0;
						color: #fff;
					}
				}
			}
		}
	}
	.font {
		text-align: center;
		font-size: 16px;
		margin-top: 3.5rem;
	}
</style>
