<template>
<div class="page">
	<my-header title="邀请好友" />
	<p class="explain">如果您的朋友通过二维码访问网站，您将获得奖励 <span>5 博币</span> </p>
	<p class="explain"> 如果您的朋友注册成为会员，您将再获得奖励 <span>10 博币</span> </p>

	<div class="textWrap">
		<h3>— 您的邀请码 —</h3>
		<h2>HTYTJ6</h2>
		<h3>— 您的邀请二维码 —</h3>
	</div>
	<div class="codeWrap">
			<div  id="qrcodeA"></div>
			<div class="info">
				<img :src="avatar" class="avatar"/>
				<span>{{userInfo.name}}</span>
				<p>邀请您的朋友扫描二维码加入</p>
			</div>
	</div>
</div>
</template>
<script type="text/ecmascript-6">
	import MyHeader  from "@/bass/header";
  import QRCode from "qrcodejs2";
  import {mapGetters} from "vuex";
	import {create_QRcode_api} from '@/common/api';
	export default {
		
		data() {
			return {
			}
		},
		computed: {
      avatar() {
        let a = require(`@/assets/admin.png`);
        return this.userInfo.my_avatar || a;
      },
      ...mapGetters(["userInfo"])
		},
		 mounted() {
			new QRCode('qrcodeA',{
					text: `${location.origin}/#/reg`// 二维码内容
				})
		},
		created() {
			let data	= {
				invitenum: 1,
				invitesubmit_btn: true,
				handlekey: 'newinvite',
				invitesubmit: 'invitesubmit',
				formhash: JSON.parse(sessionStorage.user).formhash
			}
			create_QRcode_api(data).then(res =>{
				console.log(res);
			})
		
		},
		components: {
			MyHeader,
		}
	}
</script>
<style scoped lang="less" rel="stylesheet/less">
	.page {
		p.explain {
			text-align: center;
			margin: 0 auto;
			font-size: 0.24rem;
			color: #999999;
			span {
				color: #FA6400;
			}
		}
		div {
			&.textWrap {
				margin-top: 0.66rem;
				text-align: center;
				h3 {
					color: #666666;
					margin-bottom: 0.16rem;
					font-size: 0.15rem;
				}
				h2 {
					color: #333333;
					margin-bottom: 0.8rem;
					font-size: 0.2rem;
				}
			}
			&.codeWrap {
				overflow: hidden;
				width: 5.46rem;
				border: 1px solid #E3E3E3;
				border-radius: 8px;
				margin: 0 auto;
				padding-bottom: 0.4rem;
				#qrcodeA {
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0.4rem auto 0.32rem;
					& > img {
						width: 100%;
						height: 100%;
					}
				}
				div.info {
					width: 4.4rem;
					margin: 0 auto;
					img {
						&.avatar {
							width: 1rem;
							height: 1rem;
							margin-right: 0.2rem;
							float: left;
						}
					}
					span {
						font-size: 0.3rem;
						color: #333333;
						margin-bottom: 0.2rem;
						float: left;
					}
					p {
						font-size: 0.24rem;
						color: #666666;
						display: inline;
						float: left;
					}
				}
			}
		}
	}
</style>
