<template>
  <div class="pageContent">
    <my-header title="密码修改"/>
		<p class="explain">您必须填写原密码才能修改下面的资料</p>
		<ul>
			<li>
				<label>
					<span class="title">旧密码：</span>
					<input type="password" placeholder="请输入旧密码" ref="oldP" />
				</label>
			</li>
			<li>
				<label>
					<span class="title">新密码：</span>
					<input type="password" placeholder="请输入新密码" ref="newP" />
				</label>
			</li>
			<li>
				<label>
					<span class="title">确认密码：</span>
					<input type="password" placeholder="请再次输入新密码" ref="newP2"/>
				</label>
			</li>
			<!--<li>
				<label>
					<span class="title">电子邮箱：</span>
					<input type="email" placeholder="请输入邮箱号码" ref="email"/>
				</label>
			</li>-->
		</ul>
		<button class="btn" @click="submit"> 提交 </button>

  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
	import {pwdChange_api} from "@/common/api";
	import {Toast, Indicator} from "mint-ui";

  export default {
    components: {
      MyHeader
    },
    created() {
      // 是否设置登录密码
      // this.pwd ? this.text = '忘记密码' : this.text = '联系客服'
    },
    computed: {
    },
    mounted() {
    },
    data() {
      return {
				disabled: false,
			};
    },
    methods: {
      submit() {
			console.log(this.$refs.oldP)
				let oldpassword	= this.$refs.oldP.value,
						newpassword	= this.$refs.newP.value,
						newpassword2= this.$refs.newP2.value;
						//emailnew		= this.$refs.email.value;
				if (!oldpassword) return Toast('请输入旧密码');
				if (!newpassword) return Toast('请输入新密码');
				if (!newpassword2) return Toast('请再次输入新密码');
				//if (!emailnew) return Toast('请输入邮箱');
				if (oldpassword === newpassword) return Toast('新密码与旧密码相同');
				if (newpassword !== newpassword2) return Toast('两次密码不相同');
				//if (!/^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/.test(emailnew)) return Toast('请输入正确的邮箱');

				let data	=	{
				  oldpassword,
				  newpassword,
				  newpassword2,
					emailnew: '',
					passwordsubmit: true
				};
				Indicator.open();
				pwdChange_api(data).then(res => {
					Indicator.close();
					if (res.Message.messageval === 'profile_succeed') {
						Toast('密码设置成功');
						this.$router.push('/login')
					} else {
						Toast(res.Message.messagestr);
					}
				});
      }
		},

  };
</script>
<style scoped lang="less" rel="stylesheet/less">
.pageContent {
	background-color: #F3F4F9;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.explain {
		color: #FF8330;
		font-size: 0.24rem;
		background-color:rgba(255,246,240,1);
		height: 0.4rem;
		line-height: 0.4rem;
		text-align: center;
		margin-bottom: 10px;
	}
	ul {
		background-color: #fff;
		padding-left: 0.3rem;
		li {
			line-height: 0.8rem;
			height: 0.8rem;
			border-bottom: 1px solid #E5E5E5;
			label {
				height: inherit;
				line-height: inherit;
				width: 100%;
				display: flex;
				align-items: center;
				span {
					&.title {
						width: 1.9rem;
						font-size: 0.28rem;
						color: #333;
					}
				}
				input {
					width: 3rem;
					line-height: 0.6rem;
					height: 0.6rem;
					border: 0;
					font-size: 0.28rem;
					align-items: center;
				}
			}
		}
	}
	.btn {
		margin: 0.25rem auto 0;
		display: block;
		width: 6.88rem;
		height: 0.88rem;
		line-height: 0.88rem;
		text-align: center;
		background: linear-gradient(45deg,rgba(61,113,255,1) 0%,rgba(67,180,255,1) 100%);
		border-radius: 0.16rem;
		color: #fff;
		font-size: 0.36rem;
		border: 0;
		padding: 0;
		&:active {
			opacity: 0.7;
		}
	}
}
</style>
