<template>
  <div class="page">
    <div class="header">
			<my-header title="资料设置" />
			<person-tab :tab="tab" ref="tab" />
    </div>
		<div v-if="active==='base'" class="info">
			<div class="box">
					<span>真实姓名</span>
					<input placeholder="请填写真实姓名" v-model="base.realname"/>
			</div>
			<div class="box">
					<span>性别</span>
				<select v-model="base.sex" @change="indexSelect($event)">
					<option value="0">保密 </option>
					<option value="1">男 </option>
					<option value="2">女 </option>
				</select>
			</div>
			<div class="box" @click="$refs.picker1.open()">
					<span>生日</span>
					<span>
					{{base.birthyear}}-{{base.birthmonth}}
					</span>
			</div>
			<!--<div class="box">
					<span>出生地</span>
			</div>
			<div class="box">
					<span>居住地</span>
			</div>-->
			<div class="box">
					<span>情感状态</span>
					<input v-model="base.affectivestatus"/>
			</div>
			<div class="box">
					<span>交友目的</span>
					<input v-model="base.lookingfor"/>
			</div>
			<div class="box">
				<span>血型a</span>
				<select v-model="base.bloodtype">
					<option>A</option>
					<option>B</option>
					<option>O</option>
					<option>AB </option>
					<option>其他</option>
				</select>
			</div>
			<lay-button
				theme="positive"
				:block="true"
				size="middle"
				@click="transfer"
				style="width:84%;margin:10px auto 0"
			>提交
			</lay-button>
			<mt-datetime-picker
				ref="picker1"
				type="date"
				@confirm="handleConfirm"
				:startDate="startDate"
				v-model="toDate"
				>
			</mt-datetime-picker>
		</div>
		<div v-if="active==='contact'" class="info">
			<div class="box">
					<span>固定电话</span>
					<input  v-model="contact.telephone"/>
			</div>
			<div class="box">
					<span>手机</span>
					<input  v-model="contact.mobile"/>
			</div>
			<div class="box">
					<span>qq</span>
					<input  v-model="contact.qq"/>
			</div>
			<div class="box">
					<span>阿里旺旺</span>
					<input  v-model="contact.taobao"/>
			</div>
			<lay-button
				theme="positive"
				:block="true"
				size="middle"
				@click="transfer_2"
				style="width:84%;margin:10px auto 0"
			>提交
			</lay-button>
		</div>
		<div v-if="active==='education'" class="info">
			<div class="box">
					<span>毕业学校</span>
					<input  v-model="education.graduateschool"/>
			</div>
			<div class="box">
					<span>学历</span>
					<select v-model="education.education">
						<option>博士</option>
						<option>硕士</option>
						<option>本科</option>
						<option>专科</option>
						<option>中学</option>
						<option>小学</option>
						<option>其它</option>
					</select>
			</div>
			<lay-button
				theme="positive"
				:block="true"
				size="middle"
				@click="transfer_3"
				style="width:84%;margin:10px auto 0"
			>提交
			</lay-button>
		</div>
		<div v-if="active==='work'" class="info">
			<div class="box">
					<span>公司</span>
					<input  v-model="work.company	"/>
			</div>
			<div class="box">
					<span>职业</span>
					<input  v-model="work.occupation"/>
			</div>
			<div class="box">
					<span>职位</span>
					<input  v-model="work.position"/>
			</div>
			<div class="box">
					<span>年收入</span>
					<input  v-model="work.orevenue"/>
			</div>
			<lay-button
				theme="positive"
				:block="true"
				size="middle"
				@click="transfer_4"
				style="width:84%;margin:10px auto 0"
			>提交
			</lay-button>
		</div>
		<div v-if="active==='info'" class="info">
			<div class="box">
					<span>证件类型</span>
					<select v-model="info.idcardtype">
						<option>身份证 </option>
						<option>护照</option>
						<option>驾驶证 </option>
					</select>
			</div>
			<div class="box">
				<span>证件号</span>
				<input  v-model="info.idcard	"/>
			</div>
			<div class="box">
					<span>邮寄地址</span>
					<input  v-model="info.address"/>
			</div>
			<div class="box">
					<span>邮编 </span>
					<input  v-model="info.zipcode"/>
			</div>
			<div class="box">
					<span>个人主页</span>
					<input  v-model="info.site"/>
			</div>

			<div class="box big">
					<span>自我介绍</span>
					<textarea v-model="info.bio">
					</textarea>
			</div>
			
			<div class="box big">
					<span>兴趣爱好</span>
					<textarea v-model="info.interest">
					</textarea>
			</div>
			<div class="box big">
					<span>个人签名</span>
					<textarea v-model="info.sightml">
					</textarea>
			</div>
			
			<lay-button
				theme="positive"
				:block="true"
				size="middle"
				@click="transfer_5"
				style="width:84%;margin:10px auto 0"
			>提交
			</lay-button>
		</div>
  </div>
</template>
<script type="text/ecmascript-6">
	import MyHeader from "@/bass/header";
	import PersonTab from "@/components/personal/layour/table";
	import LayButton from "@/vlayui/LayButton";
	import { Toast, Indicator, Picker, DatetimePicker } from "mint-ui";
	import { add_base_api, add_contact_api, add_education_api, add_work_api, add_info_api } from '@/common/api'


	export default{
	
		data () {
			return {
				active: this.$route.params.type || 'base',
				startDate: new Date('1900'),
				toDate: new Date('1990'),
				tab: [
					{txt: '基本资料', active: 'base', on:this.changeActive, select: this.$route.params.type === 'base' ? true : false},
					{txt: '联系方式', active: 'contact', on:this.changeActive, select: this.$route.params.type === 'contact' ? true : false},
					{txt: '教育情况', active: 'education', on:this.changeActive, select: this.$route.params.type === 'education' ? true : false},
					{txt: '工作情况', active: 'work', on:this.changeActive, select: this.$route.params.type === 'work' ? true : false},
					{txt: '个人信息', active: 'info', on:this.changeActive, select: this.$route.params.type === 'info' ? true : false},
				],
				bloodtypes: [
					{ indexId: 0, name: '保密'},
					{ indexId: 1, name: '男'},
					{ indexId: 2, name: '女'},
				],
				base: {
					realname: '',
					gender: 0,
					// 血型
					bloodtype: 'A',
					//出生年
					birthyear: '',
					//出生月
					birthmonth: '',
					//感情状态
					affectivestatus: '',
					// 交友目的
					lookingfor: '',
					profilesubmit: true,
					profilesubmitbtn: true,
					dateShow: false,
				},
				contact: {
					telephone: '',
					mobile: '',
					qq: '',
					taobao: '',
					msn: '',
					profilesubmit: true,
					profilesubmitbtn: true,
				},
				education: {
					graduateschool: '',
					education: '',
					profilesubmit: true,
					profilesubmitbtn: true,
				},
				work: {
					company: '',
					occupation: '',
					position: '',
					orevenue: '',
					profilesubmit: true,
					profilesubmitbtn: true,
				},
				info: {
					idcardtype: '',
					idcard: '',
					address: '',
					zipcode: '',
					site: '',
					bio: '',
					interest: '',
					sightml: '',
					profilesubmit: true,
					profilesubmitbtn: true,
				}
			}
		},
		methods: {
			changeActive(isPage) {
				//if (isPage) this.page = 0;
				this.active	= this.$refs.tab.active;
				this.$router.replace(`/modifyBaseInfo/${this.active}`)
			},
			
			handleConfirm(value) {
        //this.show = true;
				console.log(value.toString());
				
				let dates	= new Date(value.toString()).toLocaleDateString().split('/');
				this.base.birthyear	= dates[0];
					//出生月
				this.base.birthmonth	= dates[1] + '-' + dates[2];
			},
			indexSelect(event) {
				this.base.gender	= event.target.value;
			},
			async transfer() {
				if(!this.base.realname)return toast('请输入姓名');
				Indicator.open()
				let res	= await add_base_api(this.base);
				Indicator.close()
				Toast(res.message);
			},
			async transfer_2() {
				Indicator.open()
				let res	= await add_contact_api(this.contact);
				Indicator.close()
				Toast(res.message);
			},
			async transfer_3() {
				Indicator.open()
				let res	= await add_education_api(this.education);
				Indicator.close()
				Toast(res.message);
			},
			async transfer_4() {
				Indicator.open()
				let res	= await add_work_api(this.work);
				Indicator.close()
				Toast(res.message);
			},
			async transfer_5() {
				Indicator.open()
				let res	= await add_info_api(this.info);
				Indicator.close()
				Toast(res.message);
			}

		},
		created() {
		},
    components: {
      PersonTab,
			MyHeader,
			DatetimePicker,
			LayButton
    }
}
</script> 
<style scoped lang="less" rel="stylesheet/less">

	.info {
		.box {
			border-bottom: 1px solid #F0F0F0;
			line-height: 0.8rem;
			height: 0.8rem;
			overflow: hidden;
			padding-bottom: 0.2rem;
			padding-left: 0.4rem;
			&.big {
				height: 3.2rem;
				textarea {
					display: block;
					font-size: 0.3rem;
					width: 80%;
					border: 1px solid #e5e5e5;
				}
			}
			span {
				font-size: 0.28rem;
				flaot: left;
				width: 2rem;
				
			}
			select {
				font-size: 0.28rem;
				border-radius: 1px;
				border: none;
				height: 0.56rem;
				line-height: 0.56rem;
				appearance: none;
				-moz-appearance: none;
				-webkit-appearance: none;
				padding: 0px 0.4rem 0px 0.2rem;
				background: url(../../assets/arrow.png) no-repeat scroll right center #eee;
			}
			input {
				font-size: 0.32rem;
				border: none;
			}
		}
	}
</style>
