<template>
  <div class="recharge">
		<my-header title="我的消息" />
		<div>
			<person-tab :tab="tab" ref="tab" />
      <mt-tab-container v-if="active===''" class="list-msg">
        <mt-tab-container-item>
          <ul v-infinite-scroll="msgList_list" infinite-scroll-disabled="listEnd" :infinite-scroll-distance="limit">

            <li class="mint-ce clear" v-for="(v,i) in msgList" :key="i" @click="goDetail(v,1)">
								<img src="">
                <p>{{v.message}}</p>
                <div v-html="v.vdateline"></div>
								<span><i class="mintui mintui-back"></i></span>
            </li>

            <div class="font" v-if="msgList.length==0">暂无更多数据</div>

          </ul>
        </mt-tab-container-item>
      </mt-tab-container>
      <mt-tab-container v-if="active==='announcepm'" class="list-pulibcMsg">
        <mt-tab-container-item>
          <ul v-infinite-scroll="announcement" infinite-scroll-disabled="announcementLoad" :infinite-scroll-distance="announcementEnd">
						<li class="mint-ce clear" v-for="(v,i) in announcement" :key="i" @click="goDetail(v,2)">
								<span class="iconLeft">
									<svg t="1565276653447" fill="#fff" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1273" width="200" height="200"><path d="M972.8 934.274509 998.4 908.54902 127.868001 908.54902C85.502225 908.54902 51.2 874.019706 51.2 831.263017L51.2 111.058823 25.6 136.784314 896.131998 136.784314C938.452011 136.784314 972.8 171.324278 972.8 213.860934L972.8 278.566694C972.8 292.77449 984.26151 304.292183 998.4 304.292183 1012.53849 304.292183 1024 292.77449 1024 278.566694L1024 213.860934C1024 142.916556 966.736828 85.333333 896.131998 85.333333L25.6 85.333333 0 85.333333 0 111.058823 0 831.263017C0 902.415639 57.205646 960 127.868001 960L998.4 960 1024 960 1024 934.274509 1024 457.69849C1024 443.490694 1012.53849 431.973001 998.4 431.973001 984.26151 431.973001 972.8 443.490694 972.8 457.69849L972.8 934.274509Z" p-id="1274"></path><path d="M512.651558 567.164817C520.64791 572.874498 531.187889 573.490406 539.788919 568.750601L1002.624789 313.693694C1015.021598 306.862133 1019.560139 291.225196 1012.761901 278.767619 1005.963665 266.310041 990.403006 261.749254 978.006197 268.580816L515.170327 523.637722 542.307689 525.223505 194.028065 276.539467C182.502788 268.310009 166.520953 271.027598 158.331639 282.609372 150.142325 294.191146 152.846657 310.251322 164.371935 318.480781L512.651558 567.164817Z" p-id="1275"></path></svg>
								</span>
								<h2> {{ v.author }} <span v-html="v.dateline"></span> </h2>
								<p v-html="v.message"> </p>
								<span class="iconRight">
									<i class="mintui mintui-back"></i>
								</span>
            </li>
          </ul>
          <div class="font" v-if="announcement.length==0">暂无更多数据</div>
        </mt-tab-container-item>
      </mt-tab-container>
		</div>
  </div>
</template>

<script type="text/ecmascript-6">
	import MyHeader from "@/bass/header";
	import PersonTab from "@/components/personal/layour/table";
  import {msgList_api, announcement_api} from "@/common/api";

  import {Toast, Indicator} from "mint-ui";

  export default {
    created() {
    },
    mounted() {
      //document.body.style.background = "#f7f7f7";
    },
    data() {
			return {
				// '' || announcepm
				active: '',
        page: 0,
				limit: 10,
				msgList: [],
        listEnd: false,
        loading: false,
				tab: [
					{txt: '私人消息', active: '', on: this.changeActive },
					{txt: '公共消息', active: 'announcepm', on: this.changeActive}
				],
        announcement: [],
				announcementPage: 0,
        announcementEnd: false,
        announcementLoad: false,
			}
    },
    methods: {
      changeActive(isPage) {
			if (isPage) {
				this.page	= 0;
				this.announcementPage	= 0;
			}
        this.active = this.$refs.tab.active;
				this.msgList_list()
      },

      msgList_list() {
				let filter	= this.active;
				let	json		= '';
				if (filter) {
					json	= {page: this.page += 1, limit: this.limit, filter}
				} else {
					json	= {page: this.announcementPage += 1, limit: this.limit}
				}
        if (this.listEnd || this.loading) return;
        Indicator.open();
        this.loading = true;
        msgList_api(json).then(res => {
          Indicator.close();
          this.loading = false;
          if (+res.Variables.member_uid) {
            //this.page = res.Variables.page;
						if (this.active === '') {
							if (res.Variables.list.length > 0) {
									this.msgList = this.msgList.concat(res.Variables.list);
									if (this.page >= +res.Variables.count / this.limit) this.listEnd = true;
							} else {
								this.listEnd = true;
								res.data.page != 1 ? Toast("没有更多数据了!") : '';
							}
						} else {
							if (res.Variables.list.length > 0) {
									this.announcement = this.announcement.concat(res.Variables.list);
									if (this.announcement >= +res.Variables.count / this.limit) this.listEnd = true;
							} else {
								this.listEnd = true;
								res.data.announcement != 1 ? Toast("没有更多数据了!") : '';
							}
						}
          } else {
						Toast(res.msg);
          }
        });
      },
      goDetail(item, type) {
        if (type == 1) {
          this.$router.push(`/msgDetail/${ item.touid }/${type}`);
        }
        if (type == 2) {
          this.$router.push(`/msgDetail/${ item.id}/${type}`);
        }
      }
    },
    components: {
      MyHeader,
			PersonTab
    },
    watch: {
      selected(n, o) {
        n && sessionStorage.setItem("msgNotice", n);
      }
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
	.list-msg {
		border-top: 2px solid #e5e5e5;
		padding-left: 15px;
		overflow: scroll;
    position: absolute;
    top: 89px;
    left: 0;
    right: 0;
    bottom: 0;
		ul{
			li {
				border-bottom: 1px solid #e5e5e5;
				padding: 16px 16px 15px 0;
				overflow: hidden;
				img, p, div{
					float: left;
				}
				img {
					border-radius: 50px;
					width: 50px;
					height: 50px;
					margin-right: 15px;
				}
				p {
					line-height: 21px;
					font-size: 15px;
					color: #333;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					width: 196px;
					display: inline-block
				}
				div {
					margin: 8px;
					font-size: 13px;
					color: #666;
					width: 196px;
					display: inline-block
				}
				span {
					float: right;
					color: #999;
					font-size: 14px;
					transform: rotate(-180deg);
				}
			}
		}
	}
	.list-pulibcMsg {
		border-top: 2px solid #e5e5e5;
		padding-left: 15px;
		overflow: scroll;
    position: absolute;
    top: 89px;
    left: 0;
    right: 0;
    bottom: 0;
		ul{
			li {
				border-bottom: 1px solid #e5e5e5;
				padding: 0.32rem 0.32rem 0.4rem 0;
				overflow: hidden;
				height: 0.66rem;
				h2, p{
					float: left;
					width: 5rem;
					font-weight: 300;
				}
				h2 {
					font-size: 0.32rem;
					height: 0.32rem;
					line-height: 0.32rem;
					color: #4C4C4C;
					margin: 0 0 0.1rem 0;
					span {
						float: right;
						color: #C5C5C5;
						font-size: 0.24rem;
					}
				}
				p {
					line-height: 21px;
					font-size: 15px;
					color: #333;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					display: inline-block
				}
				span {
					&.iconLeft {
							font-size: 14px;
							width: 0.88rem;
							height: 0.88rem;
							border-radius: 0.04rem;
							line-height: 1.1rem;
							text-align: center;
							float: left;
							background-color: #F1AF4D;
							color: #fff;
							margin: 0 0.1rem;
					}
					&.iconRight {
						float: right;
						color: #999;
						transform: rotate(-180deg);
						height: 100%;
					}
				}
			}
		}
	}
	.font {
		text-align: center;
		font-size: 16px;
		margin-top: 3.5rem;
	}
</style>
