<template>
  <div>
    <my-header title="我的订单" />
		<person-tab :tab="tab" ref="tab" />
		<div  v-if="active==='myBuy'" :class="active" >
			<ul v-infinite-scroll="getList" infinite-scroll-disabled="myBuy.listEnd" :infinite-scroll-distance="myBuy.limit">

				<li class="mint-ce clear" v-for="(v,i) in myBuy.list" :key="i"  @click="jump(v)">
						<img :src="v.img_url">
						<p>{{v.subject}}</p>
						<div>{{v.author}}</div>
						<span>{{v.price}}</span>
				</li>
				<div class="font" v-if="myBuy.length==0">暂无更多数据</div>

			</ul>
		</div>
		<div v-if="active==='myAddress'" :class="active">
			<!--<div class="box">
					<span>姓名</span>
					<input placeholder="请填写收货人姓名" v-model="trueName"/>
			</div>
			<div id="example" class="box">
				<span>地区</span>
				<select v-model="prov">
					<option v-for="option in arr" :value="option.name" >
						{{ option.name }}
					</option>
				</select>
				<select v-model="city">
					<option v-for="option in cityArr" :value="option.name" >
						{{ option.name }}
					</option>
				</select>
				<select v-model="district" v-if="district">
					<option v-for="option in districtArr" :value="option.name" ref="area">
						{{ option.name }}
					</option>
				</select>
			</div>
			<div class="box">
					<span>街道</span>
					<input placeholder="详细街道，楼牌等等" v-model="realname" />
			</div>
			<div class="box">
					<span>电话</span>
					<input type="number" placeholder="请输入电话号码" v-model="tel" />
			</div>
			<lay-button
				theme="positive"
				:block="true"
				size="middle"
				@click="transfer"
				:disabled="numberCheck"
				style="width:84%;margin:10px auto 0"
			>提交
			</lay-button>
			-->
    <van-address-edit
      :area-list="areaList"
      @save="onSave"
			:address-info="addressInfo"
    />
		</div>
		<div v-if="active==='mySellOut'" :class="active">
			<ul v-infinite-scroll="getList" infinite-scroll-disabled="mySellOut.listEnd" :infinite-scroll-distance="mySellOut.limit">

				<li class="mint-ce clear" v-for="(v,i) in mySellOut.list" :key="i" >
						<img :src="v.img_url"  @click="jump(v)">
						<p @click="jump(v)">{{v.subject}}</p>
						<div>订单金额 <span>{{v.price}}</span></div>
						<div>购买数量 <i>1</i>件</div>
						<div @click="goMyspace(v)">下单会员: <b>{{v.usname}}</b></div>
						<div>下单时间: <b v-html="new Date(+v.time).toLocaleString() "></b></div>
						<div>
							<button :class=" v.sendout === '未发货' ? 'gray' : 'green'" @click="jumpsendinfo(v, 'read',v.sendout === '未发货' ? true : '')">{{ v.sendout === '未发货' ? '点击发货' : '已发货'}}</button>
							<button :class=" v.sendout === '未发货' ? 'red' : 'gray2'" @click="jumpsendinfo(v, 'write',v.sendout === '未发货' ? '' : true)">{{ v.sendout === '未发货' ? '未发货' : '查看单号'}}</button>
						</div>
				</li>
				<div class="font" v-if="mySellOut.length==0">暂无更多数据</div>
			</ul>
		</div>
		<div v-if="active==='myPublish'" :class="active">
			<ul v-infinite-scroll="getList" infinite-scroll-disabled="myPublish.listEnd" :infinite-scroll-distance="myPublish.limit">
				<li class="mint-ce clear" v-for="(v,i) in myPublish.list" :key="i" @click="jump(v)">
						<img :src="v.img_url">
						<p>{{v.subject}}</p>
						<div>{{v.author}}</div>
						<span>{{v.price}}</span>
				</li>
				<div class="font" v-if="myPublish.length==0">暂无更多数据</div>
			</ul>
		</div>
	</div>
</template>
<script type="text/ecmascript-6">
	import MyHeader from "@/bass/header";
	import PersonTab from "@/components/personal/layour/table"
	import {get_orderList_api, get_sellOutAndReleaseList_api, get_address_api, modify_address} from "@/common/api"
	import { Toast, Indicator, Picker } from "mint-ui";
  import areaList from "../welfares/area";
// 订单列表
// 卖出的和我发布的
// 收货地址
// 修改收货地址
	export default {
		data () {
			return {
				active: sessionStorage.peraonslSelectTab || 'myBuy',
				numberCheck: false,
				loading: false,
				listEnd: false,
				areaList,
				addressInfo: {},
				// 真实姓名
				trueName: '',
				// 街道
				realname: '',
				// 电话
				tel: '',
				tab: [
					{txt: '我购买的', active: 'myBuy', on:this.changeActive, select: sessionStorage.peraonslSelectTab ? '' : true},
					{txt: '收货地址', active: 'myAddress', on:this.changeActive},
					{txt: '已卖出的', active: 'mySellOut', on:this.changeActive, select: sessionStorage.peraonslSelectTab ? true : ''},
					{txt: '我发布的', active: 'myPublish', on:this.changeActive},
				],
				myBuy: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false
				},
				mySellOut: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false
				},
				myPublish: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false
				},
				prov: '北京',
				city: '北京',
				district: '东城区',
			}
		},
		created() {
			//this.getAddress();
			//this.changeActive();
			

		},
		methods: {
			changeActive(isPage) {
				//if (isPage) this.page = 0;
				this.active	= this.$refs.tab.active;
			},
			async getList() {
				let type	= this.active;
				console.log(type, '----')
				if (this[type].listEnd || this[type].loading) return;
				this[type].page	+=1;
				Indicator.open();
				this[type].loading = true;
				let	res, json, list;
				//if (this[type].active === 'bbs'){}
				if (type === 'myBuy'){
					json		= {page: this[type].page, limit: this[type].limit};
					res	=await get_orderList_api(json);
					if (+res.code !== 200) return Toast(res.msg);
					list=Object.values(res.buylist);
				} else {
					if (type === "mySellOut") {
						json		= {page: this[type].page, limit: this[type].limit};
						res	=await get_sellOutAndReleaseList_api(json);
						if (+res.code !== 200 || !Array.isArray(res.soldorder)) return Toast(res.msg);
						list=Object.values(res.soldorder);
					} else {
						json		= {page: this[type].page, limit: this[type].limit, op: 1};
						res	=await get_sellOutAndReleaseList_api(json);
						if (+res.code !== 200 || !Array.isArray(res.mygoods)) return Toast(res.msg);
						list=Object.values(res.mygoods);
					}
				}
				Indicator.close();
				this[type].loading = false;
				this[type].list= [...this[type].list, ...list];
				if (this[type].page >= +res.count / this[type].limit) this[type].listEnd = true;
			},
			goMyspace(v) {
				this.$router.push(`/mySpace/${ v.uid }`)
			},
			jump(v) {
				this.$router.push({
				  path: '/welfareDetail',
				  query: {
					good: JSON.stringify({
					  tid: v.tid
					}),
				  }
				});
			},
			jumpsendinfo(item, type, jump) {
				if (jump) {
					sessionStorage.peraonslSelectTab	= 'mySellOut';
					this.$router.push(`/sendInfo/${ type}/${item.id}`);
				};
			},
			resetInfo() {
				let type	= this.active;
				this[type].page			= 0;
				this[type].limit		= 10;
				this[type].list			= [];
				this[type].loading	= false;
				this[type].listEnd	= false;
			},
			async getAddress() {
				let res	= await get_address_api();
				if (+res.code !== 200) return Toast(res.msg);
				console.log(res.addr_data)
				let {name, realname, tel, addr }	= res.addr_data;
				this.trueName	= name;
				this.realname	= realname;
				this.tel			= tel;

				addr					= addr.split(' ');

				this.prov			= addr[0];
				this.city			= addr[1];
				this.district	= addr[2];
				let areaCode	= addr[3];

				this.addressInfo	= {
					name,
					tel,
					addressDetail: realname,
					province: this.prov,
					city: this.city,
					count: this.district,
					areaCode,
				};
			},
      onSave(content) {
        modify_address({
          name: content.name,
					addr: `${content.province} ${content.city} ${content.county} ${content.areaCode}`,
          realname: content.addressDetail,
          tel: content.tel,
        }).then(res => {
          Toast(res && res.msg);
        });
      },
		},
		components: {
			MyHeader,
			PersonTab,
		},
		watch: {
			active(nextProps, prevProps) {
				if (nextProps !== prevProps) {
					if (nextProps === 'myAddress') return this.getAddress();
					setTimeout(()=>{
						// 第一次进入 如果list为空 && page为0 就强制加载一次
						if (!this[nextProps].list.length && this[nextProps].page < 1) {
							// 如果没有数据就从第一页开始；
							this.resetInfo();
							this.getList();
						};
					}, 100)
				}
			},
		}
	}
</script>
<style scoped lang="less" rel="stylesheet/less">
	//.myAddress {
	//	padding-left: 0.4rem;
	//	.box {
	//		border-bottom: 1px solid #F0F0F0;
	//		line-height: 0.8rem;
	//		height: 0.8rem;
	//		overflow: hidden;
	//		padding-bottom: 0.2rem;
	//		span {
	//			font-size: 0.28rem;
	//			flaot: left;
	//			width: 2rem;
	//			
	//		}
	//		select {
	//			font-size: 0.28rem;
	//			border-radius: 1px;
	//			border: none;
	//			height: 0.56rem;
	//			line-height: 0.56rem;
	//			appearance: none;
	//			-moz-appearance: none;
	//			-webkit-appearance: none;
	//			padding: 0px 0.4rem 0px 0.2rem;
	//			background: url(../../assets/arrow.png) no-repeat scroll right center #eee;
	//		}
	//		input {
	//			font-size: 0.32rem;
	//			border: none;
	//		}
	//	}
	//}
	.myBuy, .mySellOut, .myPublish {
		border-top: 2px solid #e5e5e5;
		padding-left: 15px;
		overflow: scroll;
		position: absolute;
		top: 89px;
		left: 0;
		right: 0;
		bottom: 0;
		ul{
			li {
				padding: 16px 16px 0 0;
				overflow: hidden;
				img, p, div, span{
					float: left;
					display: inline-block;
				}
				p, div, span {
					width: 4.4rem;
				}
				img {
					width: 2.08rem;
					height: 2.08rem;
					border-radius: 8px;
					margin-right: 10px;
				}
				p {
					line-height: 21px;
					font-size: 15px;
					color: #333;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					display: -webkit-box;

				}
				div {
					margin-top: 0.16rem;
					font-size: 12px;
					color: #333;
				}
				span {
					color: #FF3F1E;
					font-size: 24px;
					line-height: 32px;
					&:after {
						content: " 博币";
						font-size: 15px;
					}
				}
			}
		}
	}
	.mySellOut {
		ul li div {
			float: right;
			span {
				padding-left: 0.2rem;
				display: inline;
				width: auto;
				float: initial;
			}
			i {
				font-style: normal;
				color: #EB5032;
				font-size: 0.28rem;
				padding: 0 0.1rem;
				b {
					color: #C3C3C3;
					font-size: 0.28rem;
				}
			}
		}
		button {
			display: inline-block;
			padding: 0.1rem 0.2rem;
			font-size: 0.24rem;

			&.gray {
				background-color: #EEEEEE;
				color: #000;
			}
			&.red {
				background-color: red;
				color: #fff;
			}
			&.green {
				background-color: #71962C;
				color: #fff;
			}
			&.gray2 {
				background-color: #eee;
				color: #4F8C3C;
			
			}
		}
	}
	.font {
		text-align: center;
		font-size: 16px;
		margin-top: 1rem;
	}
</style>


