<template>
  <div class="page">
    <div class="header">
      <mt-header
        :title="ohter ? '我的空间' : '他的空间'"
        v-show="allShow"
        style="background-color:inherit;color:#fff;"
      >
        <mt-button
          slot="left"
          icon="back"
          @click.native="backto"
        ></mt-button>
      </mt-header>
      <div class="header_content">
       <img
          :src="`${imgUrl}/uc_server/avatar.php?uid=${this.myInfo.uid}&size=small`"
          alt
          @click="$router.push('/personalDetails')"
        >
        <div>
          <h3>{{myInfo.username}}</h3>
          <p><span>{{myInfo.grouptitle || '铜牌会员'}}</span> <span>积分：{{myInfo.credits || 0}}</span></p>
        </div>

      </div>
    </div>
    <div
      class="content"
      v-show="allShow"
    >
     <person-tab :tab="tab" ref="tab"/>
      <p class="padded"></p>
      <div
				class="betting_list"
				v-if="active=='myBbs'"
				>
				<Dynamically />
      </div>

      <div v-show="active=='myInfo'">
        <div class="header_msg">
          <p>
            <span>{{ myInfo.threads || 0 }}</span>
            <span>帖子</span>
          </p>
          <p>
            <span>{{ myInfo.posts || 0 }}</span>
            <span>回复</span>
          </p>
          <p>
            <span>{{ myInfo.friends || 0 }}</span>
            <span>好友</span>
          </p>
          <p>
            <span>{{( myInfo.follower) || 0 }}</span>
            <span>粉丝</span>
          </p>
          <p>
            <span>{{ myInfo.favtimes || 0 }}</span>
            <span>人气</span>
          </p>

        </div>
        <p class="padded"></p>
        <mt-cell
					to="/modifyBaseInfo/info"
          title="个人签名"
          is-link
					:value="myInfo.sightml"
        >
        </mt-cell>
        <mt-cell
          title="二维码"
          to="/inviteFriends"
          is-link
        >
        </mt-cell>
        <mt-cell
          title="更新资料"
          to="/modifyBaseInfo"
					v-if="this.active === 'myInfo' && ohter"
          is-link
        >
        </mt-cell>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import Date from "@/bass/date";
  import {t} from "@/common/config";
  import PersonTab from "@/components/personal/layour/table"
	import Dynamically from "./layour/dynamically";
  import {Toast, Indicator, MessageBox} from "mint-ui";
  import {get_bbs, get_my_id_info, add_commnt} from "@/common/api";
  import moment from "moment/moment";
  import {mapGetters} from "vuex";
  import {dev} from '../../../config/index';

  export default {
    created() {
		this.getMyInfo();
		this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';
    },
    mounted() {
      document.body.style.background = "#F3F4F9";
    },
    computed: {
      ...mapGetters(["userInfo"]),
    },
    data() {
      return {
        tradeData: [], //列表数据
        loading: false,
        allShow: true,
				//myBbs
        active: this.$route.params.type === 'myInfo' ? "myInfo" : "myBbs" ,
				avatar: require(`@/assets/wode/touxiang.png`),
        imgs: require("../../assets/wode/tiezi.png"),
        user: '',
        tab: [
          {txt: +JSON.parse(sessionStorage.user).uid === +this.$route.params.uid ? '我的帖子' : '他的帖子', active: 'myBbs', on: this.changeActive},
          {txt: +JSON.parse(sessionStorage.user).uid === +this.$route.params.uid ? '我的资料' : '他的资料' , active: 'myInfo', on: this.changeActive, select: this.$route.params.type === 'myInfo' ? true : false}
        ],
        myInfo: {},
		ohter: +JSON.parse(sessionStorage.user).uid === +this.$route.params.uid,
        imgUrl: dev['proxyTable']['/api']['target'],

      };
    },
    methods: {
      backto() {
        window.history.back();
      },
      changeActive(isPage) {
        //if (isPage) this.resetInfo();
        this.active = this.$refs.tab.active;
				if (this.active === 'myBbs') {
					this.loadMore();
				}
      },
      async getMyInfo() {
        if ( this.loading) return;
        this.loading = true;
        let res = await get_my_id_info({uid: this.$route.params.uid});
        let data = res.Variables;
        this.loading = false;
				this.myInfo = data;
				// TODO 没有头像
				// https://www.showdoc.cc/cicadacn?page_id=2156132941329988

				console.log(data)
				this.avatar	= data.my_avatar;
      }
    },
    components: {
      PersonTab,
			Dynamically,
    }
  };
</script> 
<style scoped lang="less" rel="stylesheet/less">
	.page {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}
  .header {
    height: 20vh;
    color: #fff;
    font-size: 12px;
    background: -webkit-linear-gradient(
      left,
      #70aeff,
      #3d71ff
    ); /* Safari 5.1 - 6.0 */
    background: linear-gradient(to right, #70aeff, #3d71ff); /* 标准的语法 */
    background-size: 100% 100%;
    padding: 0.3rem;
    position: relative;

    > img {
      height: 20px;
      width: 20px;
      border-radius: 0;
      float: left;
    }

    .header_content {
      display: flex;
      margin-top: 0.3rem;

      > img {
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 0;
      }

      > div {
        margin-left: 0.3rem;

        > h3 {
          font-size: 20px;
          font-weight: normal;
          margin-bottom: 0.3rem;
        }
      }
    }
  }

  .betting_list {
    padding: 0 0.3rem 0.3rem;
    background-color: #fff;
    font-size: 14px;
    min-height: 1000px;
  }

  .mint-cell {
    padding: 0.1rem 0.8rem 0 0;
    background: #fff;
    color: #999;

    .tiezi_title {
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 0.2rem;
      }

      b {
        font-weight: 500;
        color: #333;
        margin-right: 0.2rem;
      }

      span {
        color: #fff;
        font-size: 12px;
        background: #0091ff;
      }
    }

    > b {
      display: block;
      font-size: 16px;
      color: #333;
      margin: 0.2rem 0;
    }

    > img {
      margin: 0.2rem 0;
    }

    .tiezi_date {
      position: relative;
      line-height: 0.72rem;
      height: 0.72rem;

      > small {
        float: right;
        position: relative;
        z-index: 10;
        background-color: #fff;

        span {
          padding: 0.05rem 0.15rem;
          background: #ececec;
        }

        input {
          &.inputState {
            right: 30px;
            opacity: 1;
          }

          transition: 0.3s;
          position: absolute;
          opacity: 1;
          top: 0;
          right: -200px;
          width: 100px;
          border: 2px solid #f8f8f8;
        }
      }

      .wxlist_bottom_box {
        &.inputState {
          right: 0.76rem;
        }

        transition: 0.2s;
        width: 2rem;
        position: absolute;
        z-index: 1;
        top: 0px;
        right: -1.6rem;
        height: 0.7rem;
        line-height: 0.72rem;
        overflow: hidden;
        background-color: rgba(51, 51, 51, 1);
        border-radius: 4px;
        text-align: center;

        a {
          padding: 0 0.2rem;
        }
      }
    }

    .comment_wrap {
      background-color: rgba(248, 248, 248, 1);
      position: relative;
      padding: 4px 0 0 10px;

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 8px solid rgba(248, 248, 248, 1);
        position: absolute;
        left: 8px;
        top: -6px;
      }

      li {
        color: #666666;
        font-size: 14px;

        span {
          color: #5486CC;
        }
      }
    }

    .tiezi_reply {
      background: #f8f8f8;
      padding: 0.2rem;

      > p {
        line-height: 1.5;
      }
    }
  }

  .header_msg {
    display: flex;
    justify-content: space-around;
    height: 1rem;
    background: #fff;
    padding: 0.5rem 0;

    > p {
      display: flex;
      flex-direction: column;
      text-align: center;

      > span {
        flex: 1;
      }

      > span:last-child {
        color: #999;
      }
    }
  }

  .content {
    font-size: 14px;
    position: relative;
  }

  .padded {
    padding: 0.15rem 0;
    background: #f2f2f2;
  }
</style>
