<template>
  <layout-page
    footer
    :bgColor="'#fff'"
  >
    <div class="header">
      <img
        src="../../assets/wode/kefu.png"
        @click="$router.push('/kefu')"
        alt=""
      >
      <div class="header_content">
        <img
          :src="avatar"
          alt
          @click="$router.push('/personalDetails')"
        >
        <div>
          <h3>{{userInfo.name}}</h3><span> {{userInfo.grouptitle || '铜牌会员'}} </span>
          <p>
						<span>博币: {{userInfo.bocoins || 0}} </span>
					</p>
        </div>

      </div>
      <div class="header_msg">
        <router-link
          to
          @click.native="unbound('remind')"
        >
          <span>{{userInfo.my_reminder || 0}}</span>
          <span>我的提醒</span>
        </router-link>
        <router-link
          to
          @click.native="unbound('collection')"
        >
          <span>{{userInfo.my_favorite || 0}}</span>
          <span>我的收藏</span>
        </router-link>
        <router-link
          to
          @click.native="unbound('bbs/'+ myUid)"
        >
          <span>{{userInfo.my_threads || 0}}</span>
          <span>我的帖子</span>
        </router-link>
        <router-link
          to
          @click.native="unbound('msgCenter')"
        >
          <span>{{userInfo.new_pm || 0}}</span>
          <span>我的消息</span>
        </router-link>
      </div>

    </div>

    <div class="list">
      <nav class="tab-bar2">
        <router-link
          to
          class="tab-item"
          style="flex:1"
          @click.native="unbound('recharge')"
        >
          <img
            class="icon"
            src="../../assets/wode/jifen.png"
            alt="../../assets/wode/jifen.png"
            style="width:34px;height:34px;"
          >
          <span class="tab-label">积分兑换</span>
        </router-link>
        <router-link
          to
          class="tab-item"
          @click.native="unbound('signin')"
        >
          <img
            class="icon"
            src="../../assets/wode/qiandao.png"
            alt="../../assets/wode/qiandao.png"
            style="width:34px;height:34px;"
          >
          <span class="tab-label">每日签到</span>
        </router-link>
        <router-link
          to
          class="tab-item"
          style="flex:1"
          @click.native="unbound('myCard')"
        >
          <img
            class="icon"
            src="../../assets/wode/renwu.png"
            alt="../../assets/wode/renwu.png"
            style="width:34px;height:34px;"
          >
          <span class="tab-label">每日任务</span>
        </router-link>
        <router-link
          to
          class="tab-item"
          style="flex:1;position:relative"
          @click.native="unbound('inviteFriends')"
        >
          <img
            class="icon"
            src="../../assets/wode/yaoqing.png"
            alt="../../assets/wode/yaoqing.png"
            style="width:34px;height:34px;"
          >
          <span class="jifen"></span>
          <span class="tab-label">邀请好友</span>
        </router-link>
      </nav>
      <div class="list_box">
        <mt-cell
          title="我的空间"
          is-link
          @click.native="unbound('mySpace/' + myUid)"
        >
          <img
            slot="icon"
            src="../../assets/wode/kongjian.png"
            width="20"
            alt=""
          >
        </mt-cell>

        <mt-cell
          title="我的订单"
          is-link
          @click.native="unbound('myOrder')"
        >
          <img
            slot="icon"
            src="../../assets/wode/dingdan.png"
            width="20"
            alt=""
          >
        </mt-cell>

        <mt-cell
          title="我的好友"
          is-link
          @click.native="unbound('friend')"
        >
          <img
            slot="icon"
            src="../../assets/wode/haoyou.png"
            width="20"
            alt=""
          >
        </mt-cell>

        <mt-cell
          title="登录密码"
          is-link
          @click.native="unbound('modifyPwd')"
        >
          <img
            slot="icon"
            src="../../assets/wode/mima.png"
            width="20"
            alt=""
          >
          <span
            class="ball"
            v-if="!isloginPwd"
          >未设置</span>
        </mt-cell>

      </div>
      <mt-button
        size="large"
        class="btn"
        @click="out"
      >退出登录
      </mt-button>
    </div>
  </layout-page>
</template>

<script type="text/ecmascript-6">
  import {MessageBox} from "mint-ui";
  import {mapGetters, mapState, mapActions} from "vuex";
  import {logout_api} from "@/common/api";
  import LayoutPage from "@/vlayui/Layout/page";

  export default {
    components: {
      LayoutPage
    },
    computed: {
      ...mapGetters(["initData", "userInfo"]),
      ...mapState({
        isLogin: state => {
          return state.initData.isLogin;
        },
        siteBaseInfo: "siteBaseInfo"
      }),
      download_url: state => state.siteBaseInfo.download,
      username() {
        return this.initData.username;
      },
      avatar() {
        let a = require(`@/assets/wode/touxiang.png`);
        return this.userInfo.my_avatar || a;
      },
      balance() {
        return this.initData.balance || 0;
      },
      isShow() {
        return this.initData.isShow; // 是否绑定过银行卡
      },
      mobile() {
        return this.initData.mobile; // 是否绑定手机
      },
      setPwd() {
        return this.initData.setPwd; // 是否设置资金密码
      }
    },
    data() {
      return {
        popMsg: false,
        usernameNg: false, // 是否有用户名
        isloginPwd: true, //是否设置登录密码
        myUid: sessionStorage.user ? JSON.parse(sessionStorage.user).uid : ' `'
      };
    },
    created() {
      this.getHomeInfo();
      this.getUserInfo();
    },
		methods: {
			...mapActions({
				getHomeInfo: "GET_HOME_INFO",
				getUserInfo: "GET_USER_INFO",
			}),
			 out() {
					MessageBox.confirm("确定要退出吗", "提示")
						.then(action => {
							logout_api().then(res => {
								sessionStorage.clear();
								localStorage.clear();
								// console.log(res)
								this.$router.push("login");
							});
						})
						.catch(res => {
						});
				},
				unbound(route) {
					this.$router.push(route);
				}
			}
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../../style/global";

  .header {
    height: 20vh;
    color: #fff;
    font-size: 12px;
    background: -webkit-linear-gradient(
      left,
      #70aeff,
      #3d71ff
    ); /* Safari 5.1 - 6.0 */
    background: linear-gradient(to right, #70aeff, #3d71ff); /* 标准的语法 */
    background-size: 100% 100%;
    padding: 0.3rem;
    position: relative;

      > img {
				float: right;
        height: 0.4rem;
        width: 0.4rem;
      }
    .header_content {
			> img {
				width: 1.1rem;
				height: 1.1rem;
				border-radius: 0;
			 }
      display: flex;


      > div {
        margin-left: 0.3rem;

        > h3 {
          font-size: 20px;
          font-weight: normal;
          margin-bottom: 0.3rem;
					display: inline-block;
        }
      }
    }

    .header_msg {
      display: flex;
      justify-content: space-around;
      margin-top: 0.4rem;

      > a {
        display: flex;
        flex-direction: column;
        text-align: center;

        span {
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }

  .tab-bar2 {
    // height: 1.4rem;
    width: 82%;
    padding: 0.3rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    position: absolute;
    top: 3rem;
    box-shadow: 0px 4px 8px 0px rgba(207, 207, 207, 0.5);

    .tab-item {
      height: 60px;
    }

    .tab-item > img {
      width: 34px;
      height: 24px;
    }
  }

  .btn {
    background: #fff;
    box-shadow: 0px 4px 12px 0px rgba(179, 179, 179, 0.5);
    color: #3d71ff;
    width: 96%;
  }

  .tab-label {
    color: #333;
    margin-top: 8px;
    line-height: normal;
    width: 50px;
  }

  .list {
    background-color: #fff;
    border-radius: 4px;
    width: 90%;
    margin: 2rem 0.36rem 0 0.36rem;

    .mint-cell {
      background-color: rgba(0, 0, 0, 0);
      color: #333;
      background-image: none;
    }

    .list_box {
      border-radius: 8px;
      box-shadow: 0px 4px 18px 0px rgba(179, 179, 179, 0.5);
    }
  }

  .jifen {
    position: absolute;
    right: -5px;
    top: 1px;
    width: 35px;
    height: 14px;
    background: url('~@/assets/wode/zhuan.png') no-repeat;
    background-size: cover;
  }
</style>
