<template>
  <div class="page">
	<my-header title="个人信息" />
    <div class="v-modal" v-show="showQr" @click="closeCeode"></div>
    <div class="code_box" v-show="showQr">
      <div class="code_box_header">
        微信客户端扫一扫绑定
        <i class="iconfont icon-fork" @click="closeCeode"></i>
      </div>
      <div id="qrcodeA" ref="qrcode_box"></div>
    </div>
    <mt-cell title="头像"
		style="padding: 0 0.3rem; width: 7remm;margin-top:.2rem;"
		>
      <img :src="userInfo.my_avatar">
      <upload-img class="upload_btn" @avatar="avatarUrl" v-on:my-event="uploadOption"></upload-img>
    </mt-cell>
    <mt-cell title="用户名"
			style="padding: 0 0.3rem; width: 7remm;"
		>
      <span>{{userInfo.name}}</span>
    </mt-cell>
    <!--<mt-cell v-if="mobile" title="手机号">
      <span>{{mobile}}</span>
    </mt-cell>
    <mt-cell v-else title="手机号" @click="$router.push('bindMobile')">
      <span class="mint-cell-allow-right">绑定送豪礼</span>
    </mt-cell>-->
    <!--<mt-cell title="微信绑定" @click.native="wxbind">-->
    <!--<span>{{text}}</span>-->
    <!--</mt-cell>-->
    <!--<mt-cell title="声音设置" class="last">-->
    <!--<mt-switch v-model="switchValue" @change="changeAudioSwitch"></mt-switch>-->
    <!--</mt-cell>-->
    <!--<mt-button type="danger" size="large" @click="out">退出登录</mt-button>-->
    <div v-if="option.show" class="crop-con">
      <vueCropper
        ref="cropper3"
        :img="option.img"
        :autoCrop="option.autoCrop"
        :outputSize="option.size"
        :outputType="option.outputType"
        :autoCropWidth="option.autoCropWidth"
        :autoCropHeight="option.autoCropHeight"
        :fixedBox="option.fixedBox"
      ></vueCropper>
      <div class="slider-con">
        <mt-button @click="percentChange('-')">-</mt-button>
        <mt-button @click="percentChange('+')">+</mt-button>
      </div>
      <div class="crop-btn-con">
        <mt-button type="danger" size="large" @click="confirmCropImg">确定</mt-button>
        <mt-button type="danger" size="large" @click="option.show=false">取消</mt-button>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import UploadImg from "@/bass/uploadimg";
  import Slider from "@/bass/slider";
  import {logout_api, avatarApi_api, wxbind_api} from "@/common/api";
  import VueCropper from "vue-cropper";
  import {Toast, MessageBox, Indicator} from "mint-ui";
  import {baseUrl} from "@/config/app.config";
  import QRCode from "qrcodejs2";
  import {mapMutations, mapGetters, mapActions} from "vuex";

  export default {
    created() {
      this.getUserInfo();
      let audio = localStorage.getItem("audio");
			let a = require(`@/assets/admin.png`);
			this.userInfo.my_avatar	= a;
      if (!audio) {
        localStorage.setItem("audio", false);
        this.switchValue = false;
      } else {
        audio === "true" ? (this.switchValue = true) : (this.switchValue = false);
      }
      this.wechat ? (this.text = "已绑定") : (this.text = "点击绑定");
    },
    computed: {
      username() {
        return this.initData.username;
      },
      //avatar() {
      //  let a = require(`@/assets/admin.png`);
      //  return this.userInfo.my_avatar || a;
      //},
      balance() {
        return this.initData.balance || 0;
      },
      realname() {
        return this.initData.realname;
      },
      mobile() {
        return this.initData.mobile;
      },
      wechat() {
        return this.initData.wechat;
      },
      ...mapGetters(["initData", "userInfo"])
    },
    data() {
      return {
        option: {
          qrcodeShow: false,
          autoCrop: true,
          show: false,
          size: 1,
          outputType: "png",
          img: "",
          autoCropWidth: 200,
          autoCropHeight: 200,
          fixedBox: true,
          text: "点击绑定"
        },
        showQr: false,
        switchValue: false
      };
    },
    methods: {
      ...mapMutations({
        initData_Mua: "INIT_DATA", // 将 `this.initData_Mua()` 映射为 `this.$store.commit('INIT_DATA')`
        updateData_Mua: "UPDATE_DATA"
      }),
		...mapActions({
			getUserInfo: "GET_USER_INFO"
		}),
      changeAudioSwitch(value) {
        this.switchValue = !value;
        localStorage.setItem("audio", this.switchValue);
      },
      closeCeode() {
        this.$refs.qrcode_box.removeChild(this.$refs.qrcode_box.children[0]);
        this.$refs.qrcode_box.removeChild(this.$refs.qrcode_box.children[0]);
        this.showQr = false;
      },
      //微信绑定
      wxbind() {
        if (this.wechat) {
          Toast("您的微信账户已绑定其他账户");
          return;
        } else
          try {
            if (plus) {
              this.app_wechat();
            } else {
            }
          } catch (e) {
            this.qrcodeShow = true;
            this.showQr = true;
            wxbind_api({op: "qrcode"}).then(msg => {
              // console.log(msg);
              this.qrcode(msg.data);
              var timer = setInterval(() => {
                wxbind_api({op: "check"}).then(res => {
                  // console.log(res);
                  if (res.code == 200) {
                    Toast("微信绑定成功");
                    this.text = "已绑定";
                    this.updateData_Mua({
                      wechat: true
                    });
                    clearInterval(timer);
                    this.showQr = false;
                    this.closeCeode();
                  } else if (res.code == 400) {
                    Toast("该微信已绑定其他账号");
                    clearInterval(timer);
                    this.showQr = false;
                    this.closeCeode();
                  } else {
                    if (res.msg.length > 0) {
                      this.$Message.error(res.msg);
                    }
                  }
                });
              }, 1000);
            });
          }
      },
      qrcode(data) {
        let qrcode = new QRCode("qrcodeA", {
          width: 150,
          height: 150, // 高度
          text: data // 二维码内容
        });
      },
      // 原生方法
      app_wechat() {
        plus.oauth.getServices(function (services) {
          for (var i in services) {
            var s = services[i];
            if (s.id == "weixin") {
              s.authorize(
                function (e) {
                  wxbind_api({op: "wxcode", wxcode: e.code}).then(msg => {
                    if (msg.code == 200) {
                      this.text = "已绑定";
                      Toast("绑定成功");
                    } else {
                      Toast(msg.msg);
                    }
                  });
                },
                function (e) {
                  alert("授权失败：" + JSON.stringify(e));
                }
              );
            }
          }
        });
      },
      percentChange(value) {
        let minus;
        if (value === "+") {
          minus = 1;
        }
        if (value === "-") {
          minus = -1;
        }
        this.$refs.cropper3.changeScale(minus);
      },
      uploadOption(value) {
        if (value.img) {
          this.option.img = value.img;
          this.option.show = true;
        }
      },
      confirmCropImg() {
        this.$refs.cropper3.getCropData(data => {
				Indicator.open()
          avatarApi_api({Filedata: data}).then(res => {
					Indicator.close();
            if (+res.code === 200) {
							this.userInfo.my_avatar	= data;
              this.option.show = false;
              Toast(res.msg);
            } else {
              Toast(res.msg);
            }
          });
        });
      },
      bindMobile() {
        this.isLogin = sessionStorage.getItem("isLogin");
        if (this.isLogin == "false") {
          if (path == "share") {
            this.$router.push(path);
          } else {
            MessageBox.confirm("您还未登录")
              .then(action => {
                this.$router.push("login");
              })
              .catch(res => {
              });
          }
        } else if (this.isLogin == "yes") {
          MessageBox.confirm("正式会员才可以使用该功能", "提示", {
            confirmButtonText: "成为会员"
          })
            .then(action => {
              this.$router.push("reg");
            })
            .catch(res => {
            });
        } else {
          this.$router.push("bindMobile");
        }
      },
      out() {
        MessageBox.confirm("确定要退出吗", "提示")
          .then(action => {
            logout_api().then(res => {
              sessionStorage.clear();
              // console.log(res)
            });
            this.$router.push("login");
          })
          .catch(res => {
          });
      },
      avatarUrl(msg) {
        this.updateData_Mua({
          avatar: msg
        });
      },
      toast() {
        Toast("如需更改绑定手机号，请联系客服处理");
      }
    },
    mounted() {
      (function () {
        document.body.style.background = "#F2F2F2";
      })();
    },
    beforeDestroy() {
      (function () {
        document.body.style.background = "#fff";
      })();
    },
    components: {
      MyHeader,
      UploadImg,
      VueCropper,
      Slider
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .v-modal {
    z-index: 10;
  }

  .code_box {
    width: 340px;
    height: 260px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    background: #fff;

    .code_box_header {
      height: 40px;
      line-height: 40px;
      text-align: center;
      // color: #fff;
      font-size: 16px;
      // background: -webkit-linear-gradient(left, #68a5ff, #7740fa);

      .icon-fork {
        font-size: 14px;
        position: absolute;
        top: 0;
        right: 10px;
        color: #999;
      }
    }
  }

  #qrcodeA {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
  }

  .slider-con {
    padding: 0 0.3rem;
    margin-top: 0.3rem;
    text-align: center;
  }

  .crop-con {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
  }

  .crop-btn-con {
    padding: 0 1rem;
  }

  .vue-cropper {
    margin-top: 20%;
    margin-left: 10%;
    height: 6rem !important;
    width: 80% !important;
  }

  .mint-button--large {
    background: #fff;
    color: rgba(74, 115, 197, 1);
  }

  .mint-cell-value > span {
    margin-right: 10px;
    color: #999;
  }

  img {
    width: 40px;
    margin-right: 10px;
  }

  .last:after {
    display: none;
  }

  .mint-cell-allow-right {
    margin-right: 0.3rem;
    color: #fe3959;
  }

  .mint-cell-allow-right::after {
    width: 10px;
    height: 10px;
    right: 12px;
    border-color: #ddd;
  }

  .upload_btn {
    width: 13rem;
    height: 0.85rem;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
</style>
