<template>
  <div class="recharge">
    <mt-header title="充值详情">
      <mt-button
        slot="left"
        icon="back"
        @click.native="backto"
      ></mt-button>
    </mt-header>
    <div style="font-size:14px">
      <div class="recharge_list">
        <ul class=" mint-cellop">
          <li class="mint-cell">
            <img
              :src="icon"
              class="icontu"
              width="29"
              alt="">
            <div class="itemstye">
              <p>{{way_name}}</p>
              <p style="color:#ADADAD">{{dateline| moment}}</p>
            </div>
            <div class="itemstye">
              <p style="color:#000;text-align: right;">{{amount}}元</p>
              <p style="color:#FE3959;text-align: right;">{{status==='pending'?'待支付':''}}</p>
            </div>
          </li>
        </ul>
      </div>
      <div style="margin-top:10px;margin-left:10px">
        <p class="bor mint-celll">
          <span class="borderline">充值信息</span>
        </p>
        <p
          style=" display:flex "
          class="bor mint-celll"
          v-if="orderno">
          <span>订单编号</span>
          <em style="margin-left:5px">{{orderno}}</em>
          <small
            class="fuzhi"
            v-clipboard:copy="orderno"
            v-clipboard:success="onCopy"
            　　v-clipboard:error="onError"
          >复制
          </small>
        </p>

        <p class="bor mint-celll" v-if="account1">
          <span>存款账号</span>
          <em>{{account1}}</em>
        </p>

        <p class="bor mint-celll" v-if="username">
          <span>存款户名</span>
          <em>{{username}}</em>
        </p>

        <p class="bor mint-celll">
          <span class="borderline">收款信息</span>
        </p>

        <p class="bor mint-celll" v-if="bank">
          <span>收款银行</span>
          <em>{{bank}}</em>
        </p>

        <p class="bor mint-celll" v-if="account">
          <span>收款账号</span>
          <em>{{account}}</em>
        </p>

        <p class="bor mint-celll" v-if="person">
          <span>收款户名</span>
          <em>{{person}}</em>
        </p>

        <p class="bor mint-celll" v-if="remark">
          <span>备注</span>
          <em>{{remark}}</em>
        </p>

      </div>
    </div>

    <p class="bottom" v-show="status==='pending'">
      <span @click="rechargeCancel">放弃支付</span>
      <span @click="echargeRepay">立即支付</span>
    </p>

  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {
    offlineWayInfo_api,
    get_recharge_cancel,
    get_recharge_repay
  } from "@/common/api";
  import {Toast} from "mint-ui";

  export default {
    data() {
      return {
        relativeobj: {},
        onlineMsg: {},
        offlineMsg: {},
        icon: '',
        status: '',
        way_name: '',
        amount: '',
        username: '',
        orderno: '',
        dateline: '',
        id: '',
        account: '',
        person: "",
        account1: '',
        remark: '',
        bank: '',
        type: '',
        qrcode: '',
      };
    },
    created() {
      var objparse = JSON.parse(decodeURIComponent(this.$route.query.dataObj));
      this.icon = objparse.icon;
      this.title = objparse.title;
      this.type = objparse.type;
      this.status = objparse.type;
      this.way_name = objparse.way_name;
      this.amount = objparse.amount;
      this.username = objparse.username;
      this.remark = objparse.remark;
      this.orderno = objparse.orderno;
      this.dateline = objparse.dateline;
      this.qrcode = objparse.qrcode;
      this.person = (objparse.extension && objparse.extension.receiver.person) || '';
      this.account = (objparse.extension && objparse.extension.receiver.account) || '';
      this.account1 = (objparse.extension && objparse.extension.transfer.account) || '';

      this.bank = (objparse.extension && objparse.extension.transfer.bank) || "";
    },
    methods: {
      rechargeCancel() {
        get_recharge_cancel({orderno: this.orderno}).then(res => {
          if (res && res.code === 200) {
            this.$router.go(-1)
          } else {
            Toast(res.msg)
          }
        })
      },
      echargeRepay() {
        get_recharge_repay({orderno: this.orderno}).then(res => {

          if (res && res.code === 200) {

            const {data} = res;

            let path;

            if (data.type === 'bank') {
              path = 'bank';
            }
            if (data.type === 'alipay') {
              path = 'alipay';
            }
            if (data.type === 'wxpay') {
              path = 'wxpay';
            }

            // amount: "11.00"
            // dateline: "1555163311"
            // expire: 1555249711
            // extension: {receiver: {id: "25", name: "建设银行转账", account: "685412266541223", person: "张三"},…}
            // receiver: {id: "25", name: "建设银行转账", account: "685412266541223", person: "张三"}
            // account: "685412266541223"
            // id: "25"
            // name: "建设银行转账"
            // person: "张三"
            // transfer: {bank: "", account: "", person: "张三"}
            // account: ""
            // bank: ""
            // person: "张三"
            // orderno: "OOVINU2931542"
            // show: "offline"
            // timeout: 84035

            data.$router.push({
              path,
              query: {
                person: data.person,
                account: data.account,
                qrcode: data.qrcode,
                title: data.title,
                amount: data.amount,
                icon: data.icon,
                type: data.type
              }
            });

          } else {
            Toast(res.msg)
          }
        })
      },
      onCopy: function (e) {
        Toast("复制成功")
      },
      backto() {
        window.history.back();
      },
      goToRechargeReport() {
        this.$router.push('/rechargeRecord');
      },
      goRecharge(path, query) {
        this.$router.push({
          path: path,
          query: query
        })
      }
    },
    components: {
      MyHeader
    }
  };
</script>

<style scoped>

  .bottom {
    font-size: 16px;
    position: fixed;
    bottom: .2rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .bottom > span {
    display: inline-block;
    width: 40%;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    border-radius: 5px;
  }

  .bottom > span:first-child {
    border: 1px solid #6C2DFE;
    color: #6C2DFE;
  }

  .bottom > span:last-child {
    background: #6C2DFE;
    color: #fff;
  }

  em {
    font-style: normal
  }

  .mint-celll .fuzhi {
    color: #4A73C5;
    font-size: 14px;
    margin-left: 30px;

  }

  .itemstye {
    flex-grow: 1;
    padding: 0 10px
  }

  .itemstye p {
    line-height: 26px;
  }


  .mint-celll .borderline {
    color: #333333;
    font-size: 16px;
    display: inline-block;
    width: 24%;
  }

  .mint-celll span {
    color: #A4A4A4;
  }

  .mint-cellop {
    position: relative;
  }

  .borderline:before {
    content: "";
    display: block;
    width: 5px;
    height: 20px;
    background: #4A73C5;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 5px;
  }

  .mint-navbar .mint-tab-item.is-selected {
    border: 0;
    color: #fe3959;
  }

  .mint-tab-item {
    position: relative;
  }

  .
  .is-selected::after {
    margin-bottom: -3px;
    font-size: 15px;
    background-color: #fe3959;
    position: absolute;
    right: 0;
    top: 0.9rem;
    left: 30%;
    height: 3px;
    content: "";
    width: 40%;
    /* -webkit-transform: scaleY(.5); */
    /* transform: scaleY(.5); */
  }

  .mint-navbar .mint-tab-item-label {
    font-size: 15px;
  }

  .mint-tab-container {
    margin-top: 0.1rem;
  }

  .recharge ul {
    padding: .3rem;

  }

  .recharge ul > li {

    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    height: 1rem;;
  }

  .recharge ul > li span, img {
    vertical-align: middle;
  }

  .mint-celll-allow-right::after {
    right: 0;

  }

  .mint-cellop:after {
    position: absolute;
    background: red;
    width: 100px;
    right: 0;
    bottom: 0;
    height: 1px;
    content: '';
    width: 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    /*该颜色在火狐下会生成两条线*/
    background-color: rgba(0, 0, 0, .3);
  }


  .picker-toolbar > span {
    padding: 5px;
  }

  .bor {
    position: relative;
    font-size: 15px;
    background: #fff;
    margin: 0;
    padding-left: 0.3rem;
    color: #000;
  }

  .bor > i {
    font-style: normal;
    font-size: 14px;
  }

  .mint-field-core {
    width: 70%;
  }

  .mint-celll-allow-right {
    font-style: 14px;
    padding-right: 35px;
    color: #999;
  }

  .picker-toolbar > span {
    font-size: 16px;
    padding: 5px;
  }

  .none::after {
    display: none;
  }

  input::-webkit-input-placeholder {
    font-size: 14px;
  }


  .recharge_list {
    padding: 0rem;
    font-size: 15px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.2rem;
      padding-top: 0.2rem;
      background-color: #fff;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > p {
          font-size: 12px;
          margin: 0.1rem 0;
        }

        > h3 {
          font-size: 16px;
          font-weight: normal;
        }

        > span {
          font-size: 13px;
          color: #999;
        }

      }

      > img {
        flex-grow: 0;
        margin-right: 0.3rem;
      }

    }
  }


</style>
