<template>
  <div class="page">
    <my-header title="兑换记录"></my-header>
    <div class="recharge_list">
      <ul>
        <li class="mint-cell" v-for="(item,index) in regchargeList" :key="index">
          <div style="flex-grow:1;height:.8rem;">
            <h3>{{item.operation}}</h3>

            <span><span style="margin-right:.5rem">积分商城</span> {{item.dateline}}</span>
          </div>
          <div style="flex-grow:0;align-items:flex-end;">
            <span style="color:#3D71FF;font-size:24px;" v-html="item.credit"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import MyHeader from "@/bass/header";
  import {get_credit_record} from "@/common/api";

  export default {
    data() {
      return {
        regchargeList: [
          {
            operation: '......',
            dateline: '......',
            credit: '......'
          }
        ],
      };
    },
    created() {
      this.loadMore();
    },
    methods: {
      loadMore() {
        get_credit_record({}).then(res => {
          if (res && res.Variables.loglist) {
            if (res.Variables.loglist.length > 0) {
              this.regchargeList = res.Variables.loglist;
            }
          }
        });
      },
    },
    components: {
      MyHeader
    }
  };
</script>

<style scoped lang="less" rel="stylesheet/less">
  .recharge_list {
    padding: .3rem;
    font-size: 15px;
    background: #fff;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.2rem;
      padding-top: 0.2rem;
      background-color: #fff;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > p {
          font-size: 12px;
          margin: 0.1rem 0;
        }

        > h3 {
          font-size: 16px;
          font-weight: normal;
        }

        > span {
          font-size: 12px;
          color: #999;
        }
      }

      > img {
        flex-grow: 0;
        margin-right: 0.3rem;
      }
    }

    .mint-cell:after {
      left: 0;
      width: 100%;
    }
  }

</style>
