<template>
<div>
	<my-header title="我的提醒"></my-header>
	<person-tab :tab="tab" ref="tab" />
	<mt-tab-container v-if="active===''" class="list-msg">
		<mt-tab-container-item>
			<ul v-infinite-scroll="getMyFollower" infinite-scroll-disabled="listEnd" :infinite-scroll-distance="limit">
				<li class="mint-ce clear" v-for="(v,i) in myFollower" :key="i" >
							<img :src="`${imgUrl}/uc_server/avatar.php?uid=${v.uid}&size=small`" @click="goMyspace(v)">
							<p>{{v.username}}</p>
							<p>{{v.recentnote}}</p>
							<div>
								<button @click="eventAddFriend($event,v, i)"> {{ +v.mutual ? '取消关注' : '关注ta' }} </button>
							</div>
				</li>
			</ul>
			<div class="font" v-if="myFollower.length==0">暂无更多数据</div>
		</mt-tab-container-item>
	</mt-tab-container>
	<div v-if="active === 'bbs'">
		<ul v-infinite-scroll="getRemind" infinite-scroll-disabled="bbs.listEnd" :infinite-scroll-distance="bbs.limit"
		:class="active">
			<li v-for="(v, i) in bbs.list" :key="i">
        <router-link :to="'/mySpace/'+ v.authorid" >
					<img src="http://45.76.155.80/uc_server/avatar.php?uid=221451&amp;size=middle1565323324">
				</router-link>
				<h2>
					{{ new Date(+v.dateline).toLocaleString() }}
					<button>
						<svg t="1565327976606" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2766" width="200" height="200"><path d="M698.6 495.6c-10.5 0-19 8.5-19 19s8.5 19 19 19h98.9c10.5 0 19-8.5 19-19s-8.5-19-19-19h-98.9z" p-id="2767"></path><path d="M797.5 362.9c-10.6-23.1-26.3-43.8-46.1-60.2-30.5-25.2-69-39.1-108.6-39.1-45.3 0-88 17.6-120.2 49.6-4.3 4.3-8.4 8.8-12.2 13.4-3.8-4.7-7.9-9.2-12.2-13.4-32.1-32-74.8-49.6-120.2-49.6-94 0-170.4 76.4-170.4 170.4 0 64.6 44.6 109.7 74.1 139.6L511.2 803l143.5-143.5 11.7-9.8c8-6.8 9.1-18.8 2.3-26.8s-18.8-9.1-26.9-2.3L629 631.3 511.2 749.2 308.8 546.8c-28.1-28.4-63-63.8-63-112.7 0-71.4 56.8-129.8 127.6-132.2 36.9-1.3 72.9 13 98.9 39.3 8.5 8.6 15.7 18.2 21.5 28.6l16.6 29.8 16.6-29.8c6-10.8 13.5-20.7 22.4-29.5 25-24.8 58.1-38.5 93.3-38.5 30.8 0 60.7 10.8 84.4 30.4 14.9 12.3 26.8 27.8 35.1 45 0.1 0.2 0.2 0.5 0.3 0.7 3.9 9.4 14.9 13.5 24.1 9l2.5-1.2c8.3-4.1 12.2-13.9 8.6-22.5-0.2-0.2-0.2-0.2-0.2-0.3z" p-id="2768"></path><path d="M924.5 337.1C902 283.9 869.7 236 828.7 194.9c-41.1-41.1-88.9-73.3-142.2-95.9-55.2-23.3-113.8-35.2-174.2-35.2S393.3 75.7 338.1 99c-53.3 22.5-101.1 54.8-142.2 95.9-41.1 41.1-73.3 88.9-95.9 142.2-23.3 55.2-35.2 113.8-35.2 174.2 0 60.4 11.8 119 35.2 174.2 22.5 53.3 54.8 101.1 95.9 142.2 41.1 41.1 88.9 73.3 142.2 95.9 55.2 23.3 113.8 35.2 174.2 35.2s119-11.8 174.2-35.2c53.3-22.5 101.1-54.8 142.2-95.9 41.1-41.1 73.3-88.9 95.9-142.2 23.3-55.2 35.2-113.8 35.2-174.2-0.1-60.4-11.9-119-35.3-174.2zM512.3 915c-222.6 0-403.7-181.1-403.7-403.7s181.1-403.7 403.7-403.7S916 288.7 916 511.3 734.9 915 512.3 915z" p-id="2769"></path>
						</svg>
					</button>
				</h2>
				<p>
					<span class="name">
						{{ v.notevar.actorusername }}
					</span>
					<router-link class="text"
						:to="'publishSuccess/'+ v.notevar.tid"
					>
						{{ v.notevar.subject }}
					</router-link>
					<router-link class="see"
						:to="'publishSuccess/'+ v.notevar.tid"
					>查看</router-link>
				</p>
			</li>
		</ul>
		<div class="font" v-if="bbs.list.length==0">暂无更多数据</div>
	</div>


	<div v-if="active === 'interactive'">
		<nav>
			<button :class="interactive.active2 === v.type ? 'active' : ''"  v-for="(v, i) in interactive.btn" :key="i" @click="eventChangeType2(v)" >{{ v.text }}<span v-show="interactive.btn.length - 1 !== i ">/</span></button>
		</nav>
		<ul v-infinite-scroll="getRemind" infinite-scroll-disabled="interactive.listEnd" :infinite-scroll-distance="interactive.limit"
		:class="active">
			<li v-for="(v, i) in interactive.list" :key="i">
				<router-link :to="'/mySpace/'+ v.authorid" >
					<img src="http://45.76.155.80/uc_server/avatar.php?uid=221451&amp;size=middle1565323324">
				</router-link>
				<h2>
					{{ new Date(+v.dateline).toLocaleString() }}
					<button>
						<svg t="1565327976606" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2766" width="200" height="200"><path d="M698.6 495.6c-10.5 0-19 8.5-19 19s8.5 19 19 19h98.9c10.5 0 19-8.5 19-19s-8.5-19-19-19h-98.9z" p-id="2767"></path><path d="M797.5 362.9c-10.6-23.1-26.3-43.8-46.1-60.2-30.5-25.2-69-39.1-108.6-39.1-45.3 0-88 17.6-120.2 49.6-4.3 4.3-8.4 8.8-12.2 13.4-3.8-4.7-7.9-9.2-12.2-13.4-32.1-32-74.8-49.6-120.2-49.6-94 0-170.4 76.4-170.4 170.4 0 64.6 44.6 109.7 74.1 139.6L511.2 803l143.5-143.5 11.7-9.8c8-6.8 9.1-18.8 2.3-26.8s-18.8-9.1-26.9-2.3L629 631.3 511.2 749.2 308.8 546.8c-28.1-28.4-63-63.8-63-112.7 0-71.4 56.8-129.8 127.6-132.2 36.9-1.3 72.9 13 98.9 39.3 8.5 8.6 15.7 18.2 21.5 28.6l16.6 29.8 16.6-29.8c6-10.8 13.5-20.7 22.4-29.5 25-24.8 58.1-38.5 93.3-38.5 30.8 0 60.7 10.8 84.4 30.4 14.9 12.3 26.8 27.8 35.1 45 0.1 0.2 0.2 0.5 0.3 0.7 3.9 9.4 14.9 13.5 24.1 9l2.5-1.2c8.3-4.1 12.2-13.9 8.6-22.5-0.2-0.2-0.2-0.2-0.2-0.3z" p-id="2768"></path><path d="M924.5 337.1C902 283.9 869.7 236 828.7 194.9c-41.1-41.1-88.9-73.3-142.2-95.9-55.2-23.3-113.8-35.2-174.2-35.2S393.3 75.7 338.1 99c-53.3 22.5-101.1 54.8-142.2 95.9-41.1 41.1-73.3 88.9-95.9 142.2-23.3 55.2-35.2 113.8-35.2 174.2 0 60.4 11.8 119 35.2 174.2 22.5 53.3 54.8 101.1 95.9 142.2 41.1 41.1 88.9 73.3 142.2 95.9 55.2 23.3 113.8 35.2 174.2 35.2s119-11.8 174.2-35.2c53.3-22.5 101.1-54.8 142.2-95.9 41.1-41.1 73.3-88.9 95.9-142.2 23.3-55.2 35.2-113.8 35.2-174.2-0.1-60.4-11.9-119-35.3-174.2zM512.3 915c-222.6 0-403.7-181.1-403.7-403.7s181.1-403.7 403.7-403.7S916 288.7 916 511.3 734.9 915 512.3 915z" p-id="2769"></path>
						</svg>
					</button>
				</h2>
				<p>
					<span class="name">
						{{ v.notevar.actorusername }}
					</span>
					<router-link class="text"
						:to="'publishSuccess/'+ v.notevar.tid"
					>
						{{ v.notevar.subject }}
					</router-link>
					<router-link class="see"
						:to="'publishSuccess/'+ v.notevar.tid"
					>查看</router-link>
				</p>
			</li>
		</ul>
		<div class="font" v-if="interactive.list.length==0">暂无更多数据</div>
	</div>


	<div v-if="active === 'system'">
		<ul v-infinite-scroll="getRemind" infinite-scroll-disabled="system.listEnd" :infinite-scroll-distance="system.limit"
		:class="active">
			<li v-for="(v, i) in system.list" :key="i">
        <router-link :to="'/mySpace/'+ v.authorid" >
					<img src="http://45.76.155.80/uc_server/avatar.php?uid=221451&amp;size=middle1565323324">
				</router-link>
				<h2>
					{{ v.dateline }}
					<button>
						<svg t="1565327976606" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2766" width="200" height="200"><path d="M698.6 495.6c-10.5 0-19 8.5-19 19s8.5 19 19 19h98.9c10.5 0 19-8.5 19-19s-8.5-19-19-19h-98.9z" p-id="2767"></path><path d="M797.5 362.9c-10.6-23.1-26.3-43.8-46.1-60.2-30.5-25.2-69-39.1-108.6-39.1-45.3 0-88 17.6-120.2 49.6-4.3 4.3-8.4 8.8-12.2 13.4-3.8-4.7-7.9-9.2-12.2-13.4-32.1-32-74.8-49.6-120.2-49.6-94 0-170.4 76.4-170.4 170.4 0 64.6 44.6 109.7 74.1 139.6L511.2 803l143.5-143.5 11.7-9.8c8-6.8 9.1-18.8 2.3-26.8s-18.8-9.1-26.9-2.3L629 631.3 511.2 749.2 308.8 546.8c-28.1-28.4-63-63.8-63-112.7 0-71.4 56.8-129.8 127.6-132.2 36.9-1.3 72.9 13 98.9 39.3 8.5 8.6 15.7 18.2 21.5 28.6l16.6 29.8 16.6-29.8c6-10.8 13.5-20.7 22.4-29.5 25-24.8 58.1-38.5 93.3-38.5 30.8 0 60.7 10.8 84.4 30.4 14.9 12.3 26.8 27.8 35.1 45 0.1 0.2 0.2 0.5 0.3 0.7 3.9 9.4 14.9 13.5 24.1 9l2.5-1.2c8.3-4.1 12.2-13.9 8.6-22.5-0.2-0.2-0.2-0.2-0.2-0.3z" p-id="2768"></path><path d="M924.5 337.1C902 283.9 869.7 236 828.7 194.9c-41.1-41.1-88.9-73.3-142.2-95.9-55.2-23.3-113.8-35.2-174.2-35.2S393.3 75.7 338.1 99c-53.3 22.5-101.1 54.8-142.2 95.9-41.1 41.1-73.3 88.9-95.9 142.2-23.3 55.2-35.2 113.8-35.2 174.2 0 60.4 11.8 119 35.2 174.2 22.5 53.3 54.8 101.1 95.9 142.2 41.1 41.1 88.9 73.3 142.2 95.9 55.2 23.3 113.8 35.2 174.2 35.2s119-11.8 174.2-35.2c53.3-22.5 101.1-54.8 142.2-95.9 41.1-41.1 73.3-88.9 95.9-142.2 23.3-55.2 35.2-113.8 35.2-174.2-0.1-60.4-11.9-119-35.3-174.2zM512.3 915c-222.6 0-403.7-181.1-403.7-403.7s181.1-403.7 403.7-403.7S916 288.7 916 511.3 734.9 915 512.3 915z" p-id="2769"></path>
						</svg>
					</button>
				</h2>
				<p v-if="v.from_idtype === 'task'" :class="v.from_idtype">
					恭喜您完成任务：

					<router-link class="see"
						:to="'publishSuccess/'+ v.notevar.tid"
					>
						{{ v.notevar.name }}
					</router-link>
					获得{{ v.notevar.creditbonus }}

					<router-link class="see"
						:to="'mySpace/'+ undefined"
					>
						查看我的积分
					</router-link>
				</p>
				<p v-if="v.from_idtype === 'rate'" :class="v.from_idtype">
					您的主题
					<router-link class="see"
						:to="'publishSuccess/'+ v.notevar.tid"
					>
					{{ v.notevar.subject }}
					</router-link>
					的帖子被
					<router-link class="see"
						:to="'mySpace/'+ v.notevar.actoruid"
					>
					{{ v.notevar.actorusername }}
					</router-link>
					评分
					{{ v.notevar.ratescore }}
				</p>
				<!-- TODO 意念操作。。。-->
				<p v-if="v.from_idtype === 'e6_qmjc'" :class="v.from_idtype">
					{{ v.notevar.subject }} </br>
					{{ v.notevar.message }}
				</p>
				<p v-if="v.from_idtype === 'modthreads'" :class="v.from_idtype">
					<span class="name">
						{{ v.notevar.actorusername }}
					</span>
					<router-link class="text"
						:to="'publishSuccess/'+ v.notevar.tid"
					>
						{{ v.notevar.subject }}
					</router-link>
					<router-link class="see"
						:to="'publishSuccess/'+ v.notevar.tid"
					>查看</router-link>

				</p>
				<p v-if="v.from_idtype === 'welcomemsg'" :class="v.from_idtype" v-html="v.note">
				</p>

			</li>
		</ul>
		<div class="font" v-if="getRemind.length==0">暂无更多数据</div>
	</div>

</div>
</template>
<script type="text/ecmascript-6">
	import MyHeader  from "@/bass/header";
	import PersonTab from "@/components/personal/layour/table"
	import {get_my_follower, get_remind, add_friend_api} from "@/common/api";
  import {Toast, Indicator} from "mint-ui";
	import {dev} from '../../../config/index';
	export default {
		created: ()=> {
			this.imgUrl	= process.env.NODE_ENV === 'development' ? dev['proxyTable']['/api']['target'] : './';
		},
		data() {
			return {
				active: '',
        imgUrl: dev['proxyTable']['/api']['target'],
				myFollower: [],
				myRemind: [],
				page: 0,
				limit: 10,
				listEnd: false,
				loading: false,
				tab: [
					{txt: '我的粉丝', active: '', on: this.changeActive },
					{txt: '我的帖子', active: 'bbs', on: this.changeActive},
					{txt: '坛友互动', active: 'interactive', on: this.changeActive},
					{txt: '系统提醒', active: 'system', on: this.changeActive}
				]
				,
				bbs: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false
				},
				interactive: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false,
					btn: [
						{text: '打招呼', type: ''},
						{text: '好友', type: 'friend'},
						{text: '留言', type: 'wall'},
						{text: '评论', type: 'comment'},
						{text: '挺你', type: 'click'},
						{text: '分享', type: 'sharenotice'}
					],
					active2: "",
				},
				system: {
					page: 0,
					limit: 10,
					list: [],
					loading: false,
					listEnd: false
				},

			}
		},
		methods: {
		  changeActive(isPage) {
				this.active = this.$refs.tab.active;
				if (this.active === 'interactive') {
					this.eventChangeType2();
				};
			},
			eventChangeType2(item = {type: ''}) {
				let { type }	= item;
				this.interactive.active2 = type;
				this.resetInfo();
				this.getRemind();
			},
			async getMyFollower() {
				this.page +=1;
				if (this.listEnd || this.loading) return;
				Indicator.open();
				this.loading = true;
				let res =await get_my_follower({page: this.page, limit: this.limit})
				Indicator.close();
				this.loading = false;
				let list=Object.values(res.list)
				this.myFollower	= [...this.myFollower, ...list];
				if (this.page >= +res.count / this.limit) this.listEnd = true;
			},
			goMyspace(v) {
				console.log(v)
				this.$router.push(`/mySpace/${ v.uid }`)
			},
			// 关注和取消关注
			async eventAddFriend(event, item, i) {
				let {uid, mutual, followuid}	= item;
				let type						= this.active;
				let op	= +mutual === 0 ? 'add': 'del';;
				Indicator.open();
				let json	= {
					fuid: uid,
					op,
					hash: JSON.parse(sessionStorage.user).formhash,
					followuid
				};
				let res	= await add_friend_api(json);
				if (+res.code === 200) {
					if (this.active === '') {
						console.log(this.myFollower[i].mutual)
						this.myFollower[i].mutual	= mutual === 0 ? 1 : 0;
						console.log(this.myFollower[i].mutual)
					} else {
						this[type].list[i].mutual	= mutual === 0 ? 1 : 0;
					}
				};
				Indicator.close();
				Toast(res.msg);
				
			},
			async getRemind() {
				let type	= this.active;
				this[type].page	+=1;
				if (this[type].listEnd || this[type].loading) return;
				Indicator.open();
				this[type].loading = true;
				let	json;
				if (type === 'bbs'){
					json	= {page: this[type].page, limit: this[type].limit};
				} else {
					if (type === 'interactive') {
						json	= {page: this[type].page, limit: this[type].limit, type: this[type].active2, view: type}
					} else {
						json	= {page: this[type].page, limit: this[type].limit, view: type};
					}
				}
				let res =await get_remind(json);
				Indicator.close();
				this[type].loading = false;
				let list=Object.values(res.Variables.list)
				this[type].list= [...this[type].list, ...list];
				if (this[type].page >= +res.count / this[type].limit) this[type].listEnd = true;
			},
			resetInfo() {
				this[this.active].page		= 0;
				this[this.active].limit		= 10;
				this[this.active].list		= [];
				this[this.active].loading	= false;
				this[this.active].listEnd	= false;
			},
		},
		components: {
			MyHeader,
			PersonTab,
		},
		//watch: {
		//	active(nextProps, prevProps) {
		//		if (nextProps !== prevProps) {
		//			if (this.active === '') return '';
		//			setTimeout(()=>{
		//				// 第一次进入 如果list为空 && page为0 就强制加载一次
		//				if (!this[nextProps].list.length && this[nextProps].page < 1) {
		//					// 如果没有数据就从第一页开始；
		//					this.resetInfo();
		//					this.getRemind();
		//				};
		//			}, 100)
		//		}
		//	}
		//}
	}
</script>

<style scoped lang="less" rel="stylesheet/less">

	.list-msg {
		border-top: 2px solid #e5e5e5;
		padding-left: 15px;
		overflow: scroll;
		position: absolute;
		top: 2.3rem;
		left: 0;
		right: 0;
		bottom: 0;
		ul{
			li {
				border-bottom: 1px solid #e5e5e5;
				padding: 16px 16px 15px 0;
				overflow: hidden;
				img, p, div{
					float: left;
				}
				img {
					border-radius: 50px;
					width: 50px;
					height: 50px;
					margin-right: 15px;
				}
				p {
					line-height: 21px;
					font-size: 15px;
					color: #333;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					width: 4rem;
					display: inline-block;
					&:first-of-type {
						color: #D5739B;
					}
				}
				div {
					margin: 8px;
					font-size: 13px;
					color: #666;
					width: 200px;
					display: inline-block
				}
				span {
					float: right;
					color: #999;
					font-size: 14px;
				}
				button {
					border: 1px solid #F2F2F2;
					border-radius: 0.08rem;
					background-color: #fff;
					color: #D1D1D1;
					&:first-of-type {
						background-color: #71B8F4;
						border: 0;
						color: #fff;
					}
				}
			}
		}
	}
	nav {
		width: 100%;
		height: 0.4rem;
		line-height: 0.4rem;
		padding-top: 0.2rem;
		padding-left: 0.2rem;
		button {
			font-size: 0.28rem;
			line-height: 0.28rem;
			float: left;
			&:active, &.active {
				color: #6FBBF0;
				span {
					color: #000;
				}
			}
			span {
				padding-left: 0.2rem;
			}
		}
	}
	ul.bbs, ul.interactive, ul.system {
		overflow: scroll;
		position: absolute;
		top: 2.3rem;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #F3F3F3;
			margin-top: 0.2rem;
		li {
			width:	100%;
			padding: 0.24rem 0.24rem 0.2rem;
			background-color: #fff;
			overflow: hidden;
			margin-bottom: 0.2rem;
			img, h2, p{
				float: left;
			}
			img {
				width: 0.96rem;
				height: 0.96rem;
				margin-right: 0.1rem;
				float: left;
				border-radius: 50px;
			}
			h2 {
				color: #D4D4D4;
				font-size: 0.28rem;
				display: inline-block;
				width: 5.8rem;
				margin: 0;
				button {
					float: right;
					padding-top: 0;
					padding-bottom: 0;
					background-color: transparent;
					border: 0;
					.icon {
						width: 0.34rem;
						height: 0.34rem;
					}
				}
			}
			p {
				line-height: 0.32rem;
				display: inline-block;
				font-weight: 300;
				color: #999;
				display: inline-block;
				width: 5.5rem;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				//-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;

				span {
					font-size: 0.24rem;
					&.name{
						color: #333333;
					}
				}
				a {	
					font-size: 0.24rem;
					&.name, &.text {
						color: #333333;
					}
					&.text {
						color: #333333;
					}
					&.see {
						color: #53bcf5;
					}
				}
			}
		}
	}
	ul.interactive {
		top: 2.5rem;
	}
	ul.system {
		li {
			p {
				font-size: 0.24rem;
			}
		}
	}
	.font {
		text-align: center;
		font-size: 16px;
		margin-top: 3.5rem;
	}
</style>

