<template>
	<div>
		<my-header title="我的订单" />
		<div class="myAddress">
			<div class="box example">
					<span>姓名</span>
					<p> {{ info.usname }} <p/>
			</div>
			<div class="box example">
				<span>收件信息</span>
				<p> {{ info.addr }} </p>
			</div>
			<div class="box">
					<span>快递公司</span>
					<select v-model="selectExpress">
						<option v-for="(option, i) in express" :key="i">
							{{ option }}
						</option>
					</select>
			</div>
			<div class="box">
					<span>快递单号</span>
					<input type="text" placeholder="请输入快递单号" v-model="numbers"  />
			</div>
			<div class="box">
					<span>发货备注</span>
					<input type="text" placeholder="次备注仅自己可见" v-model="mono" />
			</div>
			<lay-button
				theme="positive"
				:block="true"
				size="middle"
				@click="transfer"
				style="width:84%;margin:10px auto 0"
			>提交
			</lay-button>
		</div>
	</div>
</template>
<script type="text/ecmascript-6">
	import MyHeader from "@/bass/header";
	import LayButton from "@/vlayui/LayButton";
import {get_sendInfo_api, add_sendInfo_api} from "@/common/api";
	import { Toast, Indicator} from "mint-ui";
export default {
		data () {
			return {
				// 快递公司
				express: [],
				selectExpress: '',
				// 备注
				mono: '',
				// 快递单号
				numbers: '',
				info: '',
				type: this.$route.params.type === 'read',
			}
		},
		created() {
			this.getInfo()
		},
		methods: {
			async getInfo() {
				let json	= {
					id: this.$route.params.tid,
					//selectExpress: this.selectExpress,
					//mono: this.mono,
				};
				let  res	= await get_sendInfo_api(json);
				if (+res.code != 200) return Toast(res.code);
				this.express	= res.kggs;
				this.info			= res.orderdata;
				this.numbers	= res.orderdata.dh;
				this.mono			= res.orderdata.bz;
				this.selectExpress	= res.orderdata.kd;
			},
			async transfer() {
				let json	= {
					formhash: JSON.parse(sessionStorage.user).formhash,
					id: this.$route.params.tid,
					logid: this.$route.params.tid,
					tid: this.info.tid,
					kd: this.selectExpress,
					hd: this.numbers,
					bz: this.mono,
				};
				Indicator.open();
				let  res	= await add_sendInfo_api(json);
				Indicator.close();
				if (+res.code != 200) return Toast(res.msg);
        this.$router.go(-1);//返回上一层

			}
		},
		components: {
			MyHeader,
			LayButton
		},
}
</script>
<style lang="less" scoped>
	.myAddress {
		padding-left: 0.4rem;
		.box {
			border-bottom: 1px solid #F0F0F0;
			line-height: 0.8rem;
			height: 0.8rem;
			overflow: hidden;
			padding-bottom: 0.2rem;
			&.example {
				height: auto;
				p {
					font-size: 0.3rem;
				}
			}
			span {
				font-size: 0.28rem;
				flaot: left;
				width: 2rem;
				
			}
			select {
				font-size: 0.28rem;
				border-radius: 1px;
				border: none;
				height: 0.56rem;
				line-height: 0.56rem;
				appearance: none;
				-moz-appearance: none;
				-webkit-appearance: none;
				padding: 0px 0.4rem 0px 0.2rem;
				background: url(../../assets/arrow.png) no-repeat scroll right center #eee;
			}
			input {
				font-size: 0.32rem;
				border: none;
			}
		}
	}

</style>
