<template>
	<div>
    <div class="header">
			<my-header title="我的收藏" />
			<iframe align="center"
				width="100%"
				height="100%"
				src="https://pc87.pechatshop.com/chat/Hotline/channel.jsp?cid=5011478&cnfid=6615&j=4822682392&s=1"
				frameborder="no"
				border="0"
				marginwidth="0"
				marginheight="0"
				></iframe>
    </div>

	</div>
</template>
<script type="text/ecmascript-6">
	import MyHeader from "@/bass/header";
	export default {
		data() {
		},
		methods: {
      backto() { window.history.back(); },
		},
		components: {
			MyHeader,
		}
	}
</script>
<style lang="less" scoped>
</style>


