<template>
  <div class="sing-pack">
    <div class="signIn-page">
      <div class="signIn-con" id="SignIn"> </div>
      <span class="iconfont icon-fork" @click="closeX"></span>
      <div class="tag">
        <div class="item">
          <img  src="../../assets/money.png"/>
          <span class="text" @click="goMoney">赚更多</span>
        </div>
        <div class="item">
          <img src="../../assets/gift.png"/>
          <span class="text"  @click="goGift">兑积分</span>
        </div>
      </div>
      <div v-if="popShow">
        <div class="signIn-pop-mask"></div>
        <div class="signIn-pop">
          <p v-if="money=='0.00'"></p>
          <p v-else>{{money}}元
            <br>彩金已到账,请查收
          </p>
          <button class="signIn-pop-btn" @click="closePop">确定</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script type="text/ecmascript-6">
  import { Toast } from "mint-ui";
  import {get_sign_show, post_signed} from "@/common/api";
  import SignIn from "@/utils/SignIn";

  export default {
    created() {
		document.body.style.background = '#F5CD46';
    },
	destroyed() {
		document.body.style	= '';
	},
    mounted() {
      setTimeout(() => {
        this.initData();
      }, 1000);
    },
    data() {
      return {
        money: "",
        popShow: false,
        showScroll: false,
        showPop: false,
        calData: {
          sigin: 0,
          lasted: 0,
          list: []
        }
      };
    },
    methods: {
      goMoney() {
        this.$router.push('/myCard')
      },
      goGift() {
        this.$router.push('/welfareCenter')
      },
      closeX() {
        window.history.back();
      },
      closePop() {
        this.popShow = false;
      },
      initData() {
        get_sign_show().then(res => {
          if (res && res.code === "200") {
            let {checkin, liantian, dates, gold} = res;

            let list = dates && dates.split(",");

            if (list.length > 0) {
              list = list.map(item => {
                item = item.slice(-3, -1);
                return Number(item);
              });
            }

            this.data = {
              checkin,
              liantian,
              list
            };
            if(checkin === '1'){
              Toast( gold ? `${res.msg}, 恭喜你获得+${gold}博币` : res.msg)
            }
            this.renderCal();
          }
        });
      },
      signedEvent() {
        post_signed().then(res => {
          if (res && res.code === 200) {
            this.money = res.data;
            this.initData();
            this.popShow = true;
          }
        });
      },
      renderCal() {
        let d = new Date();
        let year = d.getFullYear();
        let month = d.getMonth() + 1;

        SignIn.render({
          year: `${year}`,
          month: `${month}`,
          con: "SignIn",
          signed: this.data.list,
          continueDay: this.data.liantian,
          signing: this.data.checkin === 0,
          singCallback: this.signedEvent
        });
      }
    },
    components: {}
  };
</script>

<style lang="less" rel="stylesheet/less">

  .sing-pack {
    width: 100%;
    position: absolute;
    background: url(/static/sign_bg.png);
	background-color: #F5CD46;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
	left: 0; 
	top: 0;
	right: 0;
	bottom: 0;
	}
	

  .xxclons {
    position: absolute;
    width: 10px;
    height: 10px;
  }

  .signIn-pop-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
  }

  .footer p {
    line-height: 25px;
    font-size: 10px;
    color: #fff;
    text-align: center;
  }

  .icon-fork {
    width: 20px;
    height: 20px;
    right: 10px;
    position: absolute;
    top: 10px;
  }

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    color: rgb(153, 153, 153);
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .signIn-pop {
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 10000;
    width: 300px;
    height: 440px;
    margin-left: -150px;
    margin-top: -220px;
    background: url("/static/pop_pc.png") no-repeat;
    background-size: 100%;

    .signIn-pop-btn {
      position: absolute;
      left: 50%;
      bottom: 40px;
      cursor: pointer;
      float: right;
      width: 140px;
      height: 30px;
      margin-left: -70px;
      line-height: 30px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: #ff956e;
      border: none;
      border-radius: 45px;
      background: #fff;
      letter-spacing: 2px;
      box-shadow: 5px 6px 10px 1px rgba(255, 193, 162, 0.5);
    }

    p:nth-child(1) {
      width: 100%;
      position: absolute;
      text-align: center;
      height: 50px;
      bottom: 130px;
      font-size: 28px;
      font-weight: 600;
      color: rgba(255, 77, 63, 1);
      line-height: 50px;
      letter-spacing: 1px;
    }

    p:nth-child(2) {
      position: absolute;
      width: 100%;
      bottom: 100px;
      text-align: center;
      height: 30px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 30px;
      letter-spacing: 1px;
    }
  }

  .signIn-page {
    padding-top: 15px;
   .tag {
	background-color: transparent;
    line-height: 50px;
    color: #8C3131;
    font-size: 16px;
    padding-top: 20px;
     .item {
      width: 50%;
      float: left;
      text-align: center;
      cursor: pointer;
       img {
        width: 20px;
        vertical-align: middle;
       }
     }
   }
  }

  .signIn-con {
    margin-top: 200px;
  }

  .signIn-main {
    background: #fff;
    border-radius: 12px;
    margin: 0 0.3rem;
    padding: 0 0.3rem;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);

    .sign-btn-con {
      .continue {
        font-size: 18px;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
      }

      .red {
        display: inline-block;

        font-size: 18px;
        color: #d54b25;
      }

      button {
        font-size: 20px;
        cursor: pointer;
        float: right;
        margin-top: 20px;
        width: 100px;
        height: 40px;
        line-height: 40px;
        font-weight: 500;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        border: none;
        border-radius: 45px;
        background: linear-gradient(to bottom right, #ffddbb, #ffc1a2);
        box-shadow: 5px 6px 10px 1px rgba(255, 193, 162, 0.5);
      }

      .active {
        background: -webkit-linear-gradient(
          left,
          #ffa512,
          #ffcf03
        ); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(
          right,
          #ffa512,
          #ffcf03
        ); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(
          right,
          #ffa512,
          #ffcf03
        ); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, #ffa512, #ffcf03); /* 标准的语法 */
      }
    }

    .year-month-span {
      display: block;
      height: 42px;
      line-height: 42px;
      font-size: 14px;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
    }

    table {
      width: 100%;
      text-align: center;
    }

    thead {
      background: #f2f2f2;

      tr {
        height: 42px;
        line-height: 42px;
        font-size: 18px;
        font-weight: 500;
        color: rgba(153, 153, 153, 1);
      }
    }

    tbody {
      td {
        font-size: 14px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        padding: 5px 0;
        line-height: 30px;
        position: relative;
        height: 30px;
      }

      .signed {
        span {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -15px;
          margin-top: -15px;
          height: 30px;
          line-height: 30px;
          width: 30px;
          color: #fff;
          border-radius: 90px;
          text-align: center;
          background: linear-gradient(to bottom right, #ff9b43, #ff6b23);
          box-shadow: 5px 6px 10px 1px rgba(255, 107, 35, 0.3);
        }
      }
    }
  }
</style>
