<template>
  <div class="page">
    <mt-header title="账变记录"
               v-show="allShow">
      <mt-button slot="left"
                 icon="back"
                 @click.native="backto"></mt-button>
      <mt-button slot="right"
                 icon=" iconfont icon-shuaxin"
                 @click="refresh"></mt-button>
    </mt-header>
    <div class="mask"
         v-show="trade"></div>
    <div class="content"
         v-show="allShow">

      <div class="select">
        <span :class="{active : active == items.name}"
              @click="selected(items.name)"
              v-for="(items,i) in tradeData.slice(0,4)"
              :key="i">{{items.name}}</span>
        <span class="iconfont icon-sanjiao1"
              @click="tradeShow">{{tradeDataActive}}</span>
        <!--<span class="iconfont icon-sanjiao1" @click="showChild">时间筛选</span>-->
      </div>

      <div class="item"
           v-show="trade">
        <span :class="{active : active == items.name}"
              @click="selected(items.name,1)"
              v-for="(items,i) in tradeData.slice(4,tradeData.length)"
              :key="i">
          {{items.name}}
        </span>
      </div>
      <p class="padded"
         @click="showChild"
         v-if="data.stime.length>0">{{data.stime}} 至 {{data.etime}}</p>
      <div class="zb_list">
        <ul v-infinite-scroll="loadMore"
            infinite-scroll-disabled="loading"
            infinite-scroll-distance="10">
          <li class="mint-cell"
              v-for="(item,i) in zbList"
              :key="i">
            <img :src="item.icon"
                 alt="">
            <div>
              <p>
                <b>{{item.type}}</b>
                <small>{{ item.dateline}}</small>
                <span class="right"
                      :style="item.amount.indexOf('-')!= 0 ? 'color:#fe3959':'color:#333'">{{item.amount}}元</span>
              </p>
              <p>
                <span>{{item.orderno}}</span>
                <span class="right">余额:{{item.balance | fmoney}}元</span>
              </p>
            </div>
          </li>
        </ul>
        <div style="width:100%;text-align:center;vertical-align:middle;margin-top:3.5rem"
             v-show="zbList.length==0">
          <!-- <img src="@/assets/nomsg.png" style="width:80%; margin-bottom:.3rem"/> -->
          <p>暂无账变记录哦~</p>
        </div>
      </div>
      <!-- <div class="mint-cell bot" style="width: 100%;text-align: center;line-height: 3;"> -->
      <!-- <div>
        <span>总计：</span>

oney | fmoney}}元</span>
      </div> -->
      <!-- <div>
                  <span>成功</span>
                  <span style="color:#FE3959">416.00</span>
              </div>
              <div>
                  <span>盈利</span>
                  <span style="color:#28BF0D">416.00</span>
              </div> -->
      <!-- </div> -->
    </div>

    <date @getLinkage='showChildMsg'
          :defaultDate="defaultDate"
          @getLin="getLin"
          v-show="showLinkage"
          :data="data"></date>
  </div>
</template>

<script type="text/ecmascript-6">
import Date from "@/bass/date";
import MyHeader from "@/bass/header";
import { scoreLog_api } from "@/common/api";
import { Toast, Indicator } from "mint-ui";
import { t } from '@/common/config'
import moment from 'moment/moment'

export default {
  created () {
    let date = moment();
    this.defaultDate = {
      0: [
        `${date.year()}年`,
        `${date.month() + 1 >= 10 ? '' : '0'}${date.month() + 1}月`,
        `${date.date() - 7 >= 10 ? '' : '0'}${date.date() - 7}日`
      ],
      1: [
        `${date.year()}年`,
        `${date.month() + 1 >= 10 ? '' : '0'}${date.month() + 1}月`,
        `${date.date() >= 10 ? '' : '0'}${date.date()}日`
      ],
    };

  },
  data () {
    return {
      page: 0,
      trade: false, //交易
      listEnd: false,
      defaultDate: {},
      allShow: true,
      loading: false,
      showLinkage: false, //控制子组件的显示隐藏
      money: 0,
      zbList: [],  // 数据列表
      data: {
        type: "", // 类型
        stime: moment.unix(t.end).format('YYYY-MM-DD'), //结束时间
        etime: moment.unix(t.start).format('YYYY-MM-DD'), // 开始时间
        page: 0 // 页码
      },
      tradeDataActive: "其他",
      tradeData: [
        { name: "全部交易" },
        { name: "下注" },
        { name: "中奖" },
        { name: "提现" },
        { name: "其他" },
        { name: "充值" },
        // {name: "分红"},
        // {name: "返点"},
        { name: "转入" },
        { name: "转出" },
      ],
      active: "全部交易"
    };
  },
  mounted () {

  },
  methods: {

    backto () {
      window.history.back();
    },
    refresh () {
      this.data.page = 0
      Indicator.open("加载中...");
      setTimeout(() => {
        this.ajax(this.data)
      }, 1000);

    },
    getLin () {
      this.showLinkage = false;
      this.allShow = true
    },
    showChildMsg (msg) {
      //接收子组件数据
      msg.page = 1
      this.allShow = true
      msg.stime = msg.start_time
      msg.etime = msg.end_time
      this.data.stime = msg.start_time
      this.data.etime = msg.end_time
      console.log(msg);
      this.ajax(msg)
      this.showLinkage = false;
    },
    showChild () {
      this.allShow = false
      this.showLinkage = true;
      this.trade = false;
    },
    // list(msg){
    //     console.log(msg)
    //   this.data.stime = msg.stime
    //   this.data.etime = msg.etime
    // },
    loadMore () {

      if (this.listEnd || this.loading) return;
      Indicator.open("加载中...");
      this.loading = true;
      this.data.page = this.data.page + 1;

      scoreLog_api(this.data).then(res => {
        Indicator.close();
        this.loading = false;
        if (res.code == 200) {
          console.log(res)
          res.data.amount = res.data.amount | 0
          this.money = res.data.amount

          this.page = res.data.page;
          if (res.data.list.length > 0) {
            res.data.list.forEach(element => {
              element.dateline =
                moment.unix(element.dateline).format('YYYY-MM-DD HH:mm:ss')
            });
            this.zbList = this.zbList.concat(res.data.list);
          } else {
            this.listEnd = true;
            // res.data.page!=1?Toast("没有更多数据了!"):''
          }
        } else {
          if (res.code == 401) {
            this.listEnd = true
          }
          Toast(res.msg);
        }
      });
    },
    tradeShow () {
      this.trade = !this.trade;
      this.showLinkage = false;
      document.body.style.overflow = "hidden"
    },
    selected (name, num) {
      document.body.style.overflow = "scroll"
      // this.data.stime = '',
      // this.data.etime = '',
      if (num == 1) {
        this.tradeDataActive = name;
      }

      this.trade = false;
      this.active = name;
      name == '全部交易' ? this.data.type = '' : this.data.type = name;
      this.data.page = 0;
      Indicator.open("加载中...");
      this.ajax(this.data)
    },
    ajax (data) {
      scoreLog_api(data).then(res => {
        if (res.code == 200) {
          this.zbList = res.data.list;
        } else {
          Toast(res.msg);
        }
        Indicator.close();
      });
    },


  },
  watch: {
    showLinkage (o, l) {
      if (o) {
        document.body.style.overflow = "hidden"
      } else {
        document.body.style.overflow = "scroll"
      }
    },
  },
  components: {
    Date,
    MyHeader
  },
};
</script>

<style scoped lang="less" rel="stylesheet/less">
@import "../../style/global";

.content {
  font-size: 14px;
  position: relative;
}

.padded {
  padding: 0.2rem 0;
  background: #f2f2f2;
}

.zb_list {
  background: #fff;
  padding: 0.3rem;
  font-size: 15px;

  .mint-cell {
    background: #fff;
    display: flex;

    > div {
      flex: 2;
    }

    > img {
      /*flex: 1;*/
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }

  .mint-cell:after {
    width: 100%;
    left: 0;
  }

  p {
    margin-bottom: 0.3rem;
  }

  li {
    height: 1.2rem;
    margin-bottom: 0.3rem;
  }

  p > b {
    font-size: 16px;
    font-weight: normal;
    color: #333;
  }

  p > span {
    font-size: 12px;
    color: #999;
  }
}

.select > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot {
  position: fixed;
  bottom: 0;
  background-position: top;
  background-size: 100% 2px;
  padding-top: 5px;
  z-index: 1;
  color: #666;
}

.iconfont {
  font-size: 14px;
}

.select {
  height: 1rem;
  line-height: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 11;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #cdcdcd;
}

.select > span {
  text-align: center;
  /*padding: 0.3rem 0;*/
  color: #333;
  font-size: 0.25rem;
  flex: 1;
}

.item {
  position: fixed;
  background: #fff;
  z-index: 11;
  width: 100%;
  padding: 2%;
}

.item > span {
  color: #333;
  display: inline-block;
  width: 20%;
  padding: 1%;
  margin: 5px 1% 1% 1%;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  border-radius: 5px;
  background: #f2f2f2;
  font-size: 0.25rem;
}

.active {
  background: @hover_color !important;
  color: #fff !important;
}

.icon-sanjiao1:after {
  margin-left: 5px;
  color: #d8d8d8;
}
</style>
