<template>
  <div :class="classObject">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    props: {
      border: Boolean, // true or false
      padding: Boolean, // true or false
    },
    computed: {
      classObject: function () {
        let obj = {
          'lay-list': true,
          'lay-list-border': false,
        };

        if (this.border) {
          obj[`lay-list-border`] = true;
        }

        if (this.padding) {
          obj[`lay-list-padding`] = true;
        }

        return obj;
      }
    },
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  .lay-list {
    position: relative;
    padding-bottom: 1px;
    margin-bottom: 20px;
    padding-top: 2px !important;
    background: #FFF;

    .lay-item {
      border-bottom: 1px solid #E2E2E2;
    }

    .lay-item:nth-last-child(1) {
      border-bottom: none;
    }
  }

  .lay-list-border {
    border-width: 1px;
    border-style: solid none solid none;
    border-color: #E2E2E2;
  }

  .lay-list-padding {
    padding-left: 16px;
    padding-right: 16px;
  }
</style>
