<template>
  <div :class="classObject" @click="onClick($event)">
    <div class="lay-item-title">{{title}}</div>
    <div class="lay-item-right" :class="{'lay-right-arrow':arrow}">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      arrow: {
        type: Boolean,
      },
      title: String,
      border: Boolean, // true or false
      padding: Boolean, // true or false
    },
    computed: {
      classObject: function () {
        let obj = {
          'lay-item': true,
          'lay-item-border': false,
          'lay-item-padding': false,
        };

        if (this.border) {
          obj[`lay-item-border`] = true;
        }

        if (this.padding) {
          obj[`lay-item-padding`] = true;
        }

        return obj;
      }
    },
    methods: {
      onClick: function (e) {
        this.$emit("item-click");
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  .lay-item {
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 14px;
  }

  .lay-item-title {
    float: left;
  }

  .lay-item-right {
    float: right;
  }

  .lay-item-right {
    float: right;
  }

  .lay-right-arrow {

    padding-right: 18px;

    &:after {
      border: solid 2px #c8c8cd;
      border-bottom-width: 0;
      border-left-width: 0;
      content: " ";
      top: 50%;
      right: 20px;
      position: absolute;
      width: 8px;
      height: 8px;
      -webkit-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg);
    }
  }

  .lay-item-border {
    border-width: 1px;
    border-style: solid none solid none;
    border-color: #E2E2E2;
  }

  .lay-item-padding {
    height: 30px;
    line-height: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .lay-item-icon-left {
    padding-left: 54px;
  }
</style>
