<template>
  <div :class="classObject" @click="onClick($event)">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    props: {
      theme: String, //assertive,positive,balanced,energized,calm,royal,dark,light,violet,gray,orange,alink
      size: String, // large/middle/small
      block: Boolean, //true or false
      border: Boolean, // true or false
      disabled: Boolean, // true or false
      full: Boolean, // true or false
    },
    computed: {
      classObject: function () {
        let obj = {
          'md-button': false,
          'button': true,
        };

        if (this.block) {
          obj['button-block'] = true;
        }

        if (this.disabled) {
          obj['button-is-disabled'] = true;
        }

        if (this.size && this.size !== 'middle') {
          obj[`button-${this.size}`] = true;
        }

        if (this.theme) {
          obj[`button-${this.theme}`] = true;
        }

        if (this.full) {
          obj[`button-full`] = true;
        }

        return obj;
      }
    },
    methods: {
      onClick(e) {

        if (this.disabled) {
          return undefined;
        }

        e.preventDefault();
        // let btn = e.target;
        //
        // let ripple = document.createElement('div');
        // ripple.classList.add('md-ripple');
        // let x = e.pageX - btn.offsetLeft;
        // let y = e.pageY - btn.offsetTop;
        // ripple.style.height = btn.offsetHeight + 'px';
        // ripple.style.width = btn.offsetHeight + 'px';
        // ripple.style.left = x - btn.offsetHeight / 2 + 'px';
        // ripple.style.top = y - btn.offsetHeight / 2 + 'px';
        //
        // btn.appendChild(ripple);
        //
        // ripple.classList.add('md-ripple-effect');

        this.$emit("click");

        // setTimeout(() => {
        //   btn.removeChild(ripple)
        // }, 2000)
      }
    }
  }
</script>

<style scoped lang="less" rel="stylesheet/less">
  @import "../variables.less";

  .button {
    border: 1px solid transparent;
    background-color: #f5f5f5;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 44px;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 44px;
    cursor: pointer;
  }

  .button-block {
    display: block;
    clear: both;
  }

  .button-border {
    display: block;
    margin-right: 0;
    margin-left: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
  }

  .button-border, .button-block {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .button-full {
    padding: 0 !important;
  }


  .button-large {
    padding: 0 16px;
    min-width: 68px;
    min-height: 59px;
    font-size: 20px;
    line-height: 53px;
  }

  .button-small {
    padding: 2px 4px 1px;
    min-width: 36px;
    min-height: 36px;
    font-size: 14px;
    line-height: 32px;
  }

  .button-is-disabled {
    color: #b7b6b6 !important;
    border-color: #eeeeee !important;
    background: #f0f0f0 !important;
  }

  .button-style(@active-color) {
    border-color: transparent;
    background-color: @active-color;
    color: #fff;
  }

  //特殊颜色，表示禁用
  .button-gray {
    border-color: transparent;
    background: @gray;
    color: #333333;

    &:active {
      background-color: darken(#5751FB, 10%);
    }
  }

  //自定义渐变按钮
  .button-violet {
    border-color: transparent;
    background: @violet;
    color: #fff;
  }

  //自定义渐变按钮
  .button-orange {
    border-color: transparent;
    background: @orange;
    color: #fff;
  }

  //模拟a标签的样式
  .button-alink {
    .button-style(@light);
    color: #6C2DFE;
  }

  .button-assertive {
    .button-style(@assertive);
  }

  .button-positive {
    .button-style(@positive);
  }

  .button-balanced {
    .button-style(@balanced);
  }

  .button-energized {
    .button-style(@energized);
  }

  .button-calm {
    .button-style(@calm);
  }

  .button-royal {
    .button-style(@royal);
  }

  .button-light {
    .button-style(@light);
    color: #333;
  }

  .button-dark {
    .button-style(@dark);
  }

  .button-stable {
    .button-style(@stable);
  }

  .button-outline {
    &:active {
      color: #FFF !important;
    }
  }

  // Fab LayButton
  .button-fab {
    min-width: 44px !important;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 1px 0 0 0;
  }

  // MdButton
  .md-button {
    position: relative;
    overflow: hidden;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  .md-ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(#FFF, 0.4);
    min-width: 20px;
    min-height: 20px;
    opacity: 0;
  }


  .md-ripple-effect {
    animation: ripple 2s;
    -webkit-animation: ripple 2s;
  }

  @keyframes ripple {
    0% {
      transform: scale(1);
      opacity: 0.4;
    }
    100% {
      transform: scale(20);
      opacity: 0;
    }
  }

  @-webkit-keyframes ripple {
    0% {
      -webkit-transform: scale(1);
      opacity: 0.4;
    }
    100% {
      -webkit-transform: scale(20);
      opacity: 0;
    }
  }
</style>
