<!--我的动态-->
<template>
	<div @click="eventAll">
		<ul
			v-infinite-scroll="loadMore"
			infinite-scroll-disabled="loading"
			infinite-scroll-distance="10"
		>
			<li
				class="mint-cell"
				v-for="(item,i) in tradeData"
				:key="i">
				<p class="tiezi_title" @click="goMyspace(item)">
					<img
						:src="item.userimage"
						alt=""
						>
					<b>{{ item.author }}</b>
					<span class="jibie" :style="{background: item.grouptitle_color}">LV{{item.stars}}{{ item.grouptitle }}</span>
				</p>
				<b @click="goDetail(item)">{{ item.subject }}</b>
				<p @click="goDetail(item)">{{ item.message }}</p>
				<img
					class="img"
					v-for="(img, k) in item.imgurl"
					:src="img"
					:key="k"
					alt=""
				>
				<div class="tiezi_date">
					<span v-html="item.dateline"></span>
					<small @click="eventsChangeClassName">
						<span>●●</span>
						<!--<input @focus="e => {e.stopPropagation(), e.preventDefault()}"  @keyup.enter="eventsSubmitComment($event, item)"/>-->
					</small>
					<div class="wxlist_bottom_box"   :data-index="i">
						<div class="wxlist_bottom_showbox">
							<div class="wxlist_bottom_show">
							<a class="f_f comiis_recommend_addkey" @click="zan(item)">{{item.recommend =='0'?'赞':'取消'}}</a>
							<a class="dialog f_f" @click="eventCommentWrap(item)">评论</a>
							</div>
						</div>
					</div>
				</div>
				<ul class="comment_wrap">
					<li v-for="(v, i) in item.postlist">
						<span>{{ v.author }}:</span> {{v.message}}
					</li>
				</ul>
			</li>
		</ul>
		<div
			class="tiezi_reply"
			style="width:100%;text-align:center;margin-top:3.5rem;"
			v-show="tradeData.length==0">
			<p>暂无内容~</p>
		</div>
	</div>
</template>
<script type="text/ecmascript-6">
  import {Toast, Indicator, MessageBox} from "mint-ui";
  import {get_bbs, get_my_id_info, add_commnt, add_recommend, delete_recommend} from "@/common/api";
	export default {
		props: ['type'],
    data() {
      return {
        tradeData: [], //列表数据
        loading: false,
        listEnd: false,
        page: 0,
				zanDOM: '',
      };
    },
		methods: {
			eventAll (event) {
				event.stopPropagation();
				event.preventDefault();
				this.zanDomHidden();
			},
			zanDomHidden() {
				console.log(this.zanDOM)
				if (this.zanDOM) {
					this.zanDOM.className = 'wxlist_bottom_box';
					this.zanDOM						=null;
					return true;
				}
			},
      // 弹出点赞和评论按钮
      eventsChangeClassName(event) {
        event.stopPropagation();
        event.preventDefault()
        let popup = event.currentTarget.nextElementSibling;
				if (this.zanDOM && popup.dataset.index !== this.zanDOM.dataset.index) {
					this.zanDomHidden();
				}
        if (popup.className === 'wxlist_bottom_box') {
          popup.className = 'inputState wxlist_bottom_box';
					this.zanDOM	=	popup;
        } else {
          popup.className = 'wxlist_bottom_box';
          //popup.select();
        }
      },
      // 弹出评论输入框
      async eventCommentWrap(item) {
        let {tid, fid} = item;

        async function callback(value, action) {
          let data = {
            tid, fid,
            message: value
          };

          Indicator.open();
          this.loading = true;
          let res = await add_commnt(data);
          Indicator.close();
          this.loading = false;
          Toast(res.message);
          if (+res.code === 200) {
            //this.resetInfo();
            //this.loadMore();
			// TODO tid 跳到对应的帖子 下面
						this.goDetail(item);

          }
        }

        MessageBox.prompt('回复').then(({value, action}) => callback.call(this, value));
      },
	goMyspace(v) {
		this.$router.push(`/mySpace/${ v.groupid }`)
	},
	resetInfo() {
		this.page				= 0;
		this.tradeData	= [];
		this.loading		= false;
		this.listEnd		= false;
	},
	goDetail(item) {
        const {tid, special} = item;
        let path = "";

        if (special === "0") {
          path = "/publishSuccess";
        } else if (special === "1") {
          path = "/voteSuccess";
        } else if (special === "2") {
          path = "";
        } else if (special === "3") {
          path = "/rewardSuccess";
        } else if (special === "4") {
          path = "/activitySuccess";
        } else if (special === "5") {
          path = "/argueSuccess";
        }

        this.$router.push(`${path}/${tid}`);
			},
      loadMore() {
        if (this.listEnd || this.loading) return;
        Indicator.open();
				let data = {};
				console.log(this.types)
        this.page = this.page + 1;
				if (this.type) {
					data	= {uid: this.$route.params.uid, page: this.page, limit: this.limit, type: this.type}
				} else {
					data	= {uid: this.$route.params.uid, page: this.page, limit: this.limit}
				}
        this.loading = true;
        get_bbs(data).then(res => {
          Indicator.close();
          this.loading = false;
          if (+res.code == 200) {
            let data = Object.values(res.threadlist);
            if (data.length > 0) {
              this.tradeData = this.tradeData.concat(data);
            } else {
              this.listEnd = true;
              Toast("没有更多数据了!");
            }
          } else {
            this.listEnd = false;
            Toast('获取失败')
          }
        });
			},
      zan(item) {
        if (item.recommend === '0') {
          add_recommend({}, item.tid).then(res => {
            if (res.Message.messageval === 'recommend_succeed') {
              Toast(res.Message.messagestr);
							this.goDetail(item);

            } else {
              Toast(res.Message.messagestr);
            }
          })

        } else {
          delete_recommend({}, item.tid).then(res => {
            if (res.Message.messageval === 'recommend_succeed') {
              Toast(res.Message.messagestr);
							this.goDetail(item);
            } else {
              Toast(res.Message.messagestr);
            }
          })
        }
      },
		},
		destroyed() {
			//this.resetInfo();
		},
		watch: {
			type(next, load) {
				if (next !== load) {
					this.resetInfo()
					this.loadMore()
				}
			}
		}
	}
</script>

<style scoped lang="less" rel="stylesheet/less">
  ul {
    padding: 0 0.3rem 0.3rem;
    background-color: #fff;
    font-size: 14px;
  }
  .mint-cell {
    padding: 0.2rem 0;
    background: #fff;
    color: #999;

    .tiezi_title {
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 0.2rem;
      }

      b {
        font-weight: 500;
        color: #333;
        margin-right: 0.2rem;
      }

      span {
        color: #fff;
        font-size: 12px;
        background: #0091ff;
				padding: 0.02rem 0.04rem;
				border-radius: 2px;
      }
    }

    > b {
      display: block;
      font-size: 16px;
      color: #333;
      margin: 0.2rem 0;
    }

    > img {
      margin: 0.2rem 0;
			max-width: 2rem;
    }

    .tiezi_date {
      position: relative;
      line-height: 0.72rem;
      height: 0.72rem;

      > small {
        float: right;
        position: relative;
        z-index: 10;
        background-color: #fff;

        span {
          padding: 0.05rem 0.15rem;
          background: #ececec;
        }

        input {
          &.inputState {
            right: 30px;
            opacity: 1;
          }

          transition: 0.3s;
          position: absolute;
          opacity: 1;
          top: 0;
          right: -200px;
          width: 100px;
          border: 2px solid #f8f8f8;
        }
      }

      .wxlist_bottom_box {
        &.inputState {
          right: 0.76rem;
        }

        transition: 0.2s;
        width: 2rem;
        position: absolute;
        z-index: 1;
        top: 2px;
        right: -1.6rem;
        height: 0.66rem;
        line-height: 0.72rem;
        overflow: hidden;
        background-color: rgba(51, 51, 51, 1);
        border-radius: 4px;
        text-align: center;

        a {
          padding: 0 0.2rem;
        }
      }
    }

    .comment_wrap {
      background-color: rgba(248, 248, 248, 1);
      position: relative;
      padding: 4px 0 0 10px;

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 8px solid rgba(248, 248, 248, 1);
        position: absolute;
        left: 8px;
        top: -6px;
      }

      li {
        color: #666666;
        font-size: 14px;

        span {
          color: #5486CC;
        }
      }
    }

  }
	.tiezi_reply {
		padding: 0.2rem;
		font-size: 0.28rem;

		> p {
			line-height: 1.5;
		}
	}
</style>

