<!-- {
	txt: btn名称
	active: 选中状态
	on : 执行函数
} -->
<template>
	<div class="header-bar">
		<button class="lay-tab-bar" v-for="(item, i) in tab" :class="{'tab-active':active===item.active}"  :key="i"  @click="changeActive(item)">{{item.txt}}</button>
	</div>
</template>
<script type="text/ecmascript-6">
	export default {
	
		props: ['tab'],
		data() {
			return {
				active: this.tab[0].active
			}
		},
		methods: {
			changeActive(item) {
				this.active	= item.active;
				item.on(true);
			},
			fetchMyFans() {
				
			}
		},
		components: {
		},
		mounted() {
			// 占时只有我的订单使用
			delete sessionStorage.peraonslSelectTab;
			for (let v of this.tab) {
				if (v.select) {
					this.active	= v.active;
					return;
				};
			}
			//主动点击第一个tab
		}
	}
</script>

<style scoped lang="less" rel="stylesheet/less">
	.header-bar	{
		width: 100%;
		height: 40px;
    display: flex;
    justify-content: space-around;
		background-color: #fff;
    align-items: center;
		.lay-tab-bar {
			height: 100%;
			line-height: 1;
			font-size: 14px;
			text-align: center;
			display: inline-block;
			float: left;
			font-weight: 500;
			color: #333333;
			transition: 0.2s;
			padding: 0;
			background-color: transparent;
			border: 0;
			&:before {
				content: '';
				transition: 0.2s;
				display: block;
					display: block;
					position: absolute;
					content: '';
					bottom: 1px;
					left: 0;
					width: 0;
					height: 2px;
					background-color: #3d71ff;
			}
			&.tab-active {
				position: relative;
				color: #3d71ff;
				transition: 0.2s;
				&:before {
					width: 100%;
				}
			}
		}
	}
</style>

